<!doctype html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>管理中心</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link type="image/x-icon" href="{webroot:favicon.ico}" rel="icon">
	<link href="/resource/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="{theme:javascript/mui/css/mui.min.css}" rel="stylesheet" type="text/css" />
	<link href="{skin:css/common.css}" rel="stylesheet" type="text/css" />
	<link href="{skin:css/form.css}" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="/resource/scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="{theme:javascript/mui/js/mui.min.js}"></script>
	<script type="text/javascript" src="{theme:javascript/jquery.juploader.js}"></script>
	<script type="text/javascript" src="/resource/scripts/common.js"></script>
	<script type="text/javascript">mui.init();var SITE_URL = '{url:}';</script>
</head>
<body>
	{if: ($this->getId() == 'site' && $_GET['action'] == 'index') || ($this->getId() == 'site' && $_GET['action'] == '')}
	{else:}
	<header class="mui-bar mui-bar-nav">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    {if:$isctrl}
	    <a href="{url:$isctrl['url']}" class="mui-btn mui-btn-white mui-btn-link mui-pull-right">{$isctrl['text']}</a>
	    {else:}
		<a href="" class="mui-btn mui-btn-white mui-btn-link mui-pull-right"></a>
	    {/if}
	    <h1 class="mui-title">{echo:mb_substr($this->title,0,16,'utf-8');}</h1>
	</header>
	{/if}
	<div class="mui-content">
	{viewcontent}
	</div>
	<nav class="mui-bar mui-bar-tab">
	    <a class="mui-tab-item" href="{url:/seller/brand_edit}" id="ztelBtn">
	        <i class="mui-icon-my icon-book"></i>
	        <span class="mui-tab-label">页面信息</span>
	    </a>
	    <a class="mui-tab-item" href="{url:/seller/seller_edit}" id="ztelBtn">
	        <i class="mui-icon-my icon-globe"></i>
	        <span class="mui-tab-label">基本信息</span>
	    </a>
	    <!-- <a class="mui-tab-item mui-hot" href="{url:/seller/chit}">
	        <i class="mui-icon-my icon-github-alt"></i>
	        <span class="mui-tab-label">代金券</span>
	    </a> -->
	    <a class="mui-tab-item" href="{url:/seller/order_list}">
	        <i class="mui-icon-my icon-shopping-cart"></i>
	        <span class="mui-tab-label">学校订单</span>
	    </a>
	    <a class="mui-tab-item" href="{url:/seller/meau_index}" id="ltelBtn">
	        <i class="mui-icon-my icon-user"></i>
	        <span class="mui-tab-label">管理中心</span>
	    </a>
	</nav>
</body>
</html>
<script type="text/javascript">
mui('body').on('tap', 'a', function(){
    if(this.href != '#' && this.href != ''){
        mui.openWindow({
            url: this.href
        });
    }
    this.click();
});
</script>
