<html>
    <head>
      <title>课程列表</title>
    </head>
    <body>
	    <h2>八折</h2>
       <table border="1">
	       <tr>
		      <th>生活购物</th>
			  <th>汇吃美食</th>
			  <th>酒店住宿</th>
			  <th>休闲娱乐</th>
			  <th>生活服务</th>
			  <th>丽人</th>
			  <th>运动健身</th>
			  <th>汽车服务</th> 
              <th>教育培训</th>  			  
		   </tr>
		   <tr>
		      <td>内衣</td>
			  <td>烧烤烤肉</td>
			  <td>主题酒店</td>
			  <td>洗浴汗蒸</td>
			  <td>宠物服务</td>
			  <td>美容SPA</td>
			  <td>健身体操</td>
			  <td>汽车美容</td>
			  <td>音乐</td>
		   </tr>
		    <tr>
		      <td>箱包</td>
			  <td>甜点饮品</td>
			  <td>公寓型酒店</td>
			  <td>游船</td>
			  <td>眼镜配镜</td>
			  <td>美甲</td>
			  <td>羽毛球</td>
			  <td>维修</td>
			  <td>美术</td>
		   </tr>
		    <tr>
		      <td>鞋靴</td>
			  <td>西餐</td>
			  <td>&nbsp;</td>
			  <td>真人CS</td>
			  <td>家庭保洁</td>
			  <td>瑜伽/舞蹈</td>
			  <td>台球</td>
			  <td>打蜡</td>
			  <td>职业技术</td>
		   </tr>
		    <tr>
		      <td>美妆护肤</td>
			  <td>日韩料理</td>
			  <td>&nbsp;</td>
			  <td>骑马</td>
			  <td>电器数码</td>
			  <td>减肥</td>
			  <td>武术</td>
			  <td>镀金镀膜</td>
			  <td>升学辅导</td>
		   </tr>
		   <tr>
		      <td>配饰手表</td>
			  <td>海鲜</td>
			  <td>&nbsp;</td>
			  <td>足疗按摩</td>
			  <td>花鸟文娱</td>
			  <td>培训班</td>
			  <td>保龄球</td>
			  <td>保养</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>母婴玩具</td>
			  <td>香锅烤鱼</td>
			  <td>&nbsp;</td>
			  <td>KTV</td>
			  <td>家装建材</td>
			  <td>&nbsp;</td>
			  <td>篮球足球</td>
			  <td>汽车贴膜</td>
			  <td>&nbsp;</td>
		   </tr>
		    <tr>
		      <td>数码电器</td>
			  <td>火锅</td>
			  <td>&nbsp;</td>
			  <td>酒吧咖啡茶吧</td>
			  <td>医疗</td>
			  <td>&nbsp;</td>
			  <td>滑雪滑冰</td>
			  <td>租车</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>家具家装</td>
			  <td>生日蛋糕</td>
			  <td>&nbsp;</td>
			  <td>电玩城桌游</td>
			  <td>诊所</td>
			  <td>&nbsp;</td>
			  <td>射箭</td>
			  <td>汽车用品</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>汽车用品</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>DIY手工</td>
			  <td>母婴服务</td>
			  <td>&nbsp;</td>
			  <td>骑马</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>钓鱼</td>
			  <td>旅行社</td>
			  <td>&nbsp;</td>
			  <td>舞蹈</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>周边游</td>
			  <td>单车出粗</td>
			  <td>&nbsp;</td>
			  <td>瑜伽</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>网球</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
		   </tr>
		   <tr>
		      <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
			  <td>乒乓球</td>
			  <td>&nbsp;</td>
			  <td>&nbsp;</td>
		   </tr>
	   </table>
	   <h2>九折</h2>
       <table border="1">
	       <tr>
		      <th>生活购物</th>
			  <th>汇吃美食</th>
			  <th>酒店住宿</th>
			  <th>休闲娱乐</th>
			  <th>生活服务</th>
			  <th>汽车服务</th> 
              <th>教育培训</th>  			  
		   </tr>
		   <tr>
		      <td>日用百货（超市）</td>
			  <td>生鲜果蔬</td>
			  <td>旅社</td>
			  <td>农家乐</td>
			  <td>药店</td>
			  <td>加油站</td>
			  <td>驾校</td>
		   </tr>
		    <tr>
		      <td></td>
			  <td>休闲零食</td>
			  <td>招待所</td>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
		   </tr>	   
		    <tr>
		      <td></td>
			  <td>粮油调味</td>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
			  <td></td>
		   </tr>
		   
		   
		   
		   
		  
		   
		   
	   </table>
    </body>
</html>