<link href="{skin:css/index.css}" rel="stylesheet" type="text/css" />
<link href="{rs:/scripts/swiper/swiper.min.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{rs:/scripts/swiper/swiper.min.js}"></script>
<script type="text/javascript" src="{theme:javascript/index.js}"></script>
{template:'/views/mobile/site/index_header2.html'}

<!--栏目-->
<div class="index-category" style="margin-top: 15px;">
    <ul class="clearfix">
        <li>
            <a href="{url:/site/pro_list?&cat=1}">
                <div class="img"><img src="{skin:images/index_icon_1.png}" /></div>
                <div class="ct">婴幼儿</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/pro_list?&cat=2}">
                <div class="img"><img src="{skin:images/index_icon_2.png}" /></div>
                <div class="ct">中小学</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/pro_list?&cat=4}">
                <div class="img"><img src="{skin:images/index_icon_3.png}" /></div>
                <div class="ct">文学艺术</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/pro_list?&cat=196}">
                <div class="img"><img src="{skin:images/index_icon_4.png}" /></div>
                <div class="ct">益智体育</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/tutor}">
                <div class="img"><img src="{skin:images/index_icon_5.png}" /></div>
                <div class="ct">家教辅导</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/pro_list?&cat=6}">
                <div class="img"><img src="{skin:images/index_icon_6.png}" /></div>
                <div class="ct">职业技能</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/activity_zhuanti}">
                <div class="img"><img src="{skin:images/index_icon_7.png}" /></div>
                <div class="ct">热点专题</div>
            </a>
        </li>
        <!-- <li>
            <a href="{url:/site/activity_free_class}">
                <div class="img"><img src="{skin:images/index_icon_9.png}" /></div>
                <div class="ct">免费课</div>
            </a>
        </li> -->
        <li>
            <a href="{url:/site/article/cid/2}">
                <div class="img"><img src="{skin:images/index_icon_10.png}" /></div>
                <div class="ct">新闻资讯</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/chit}">
                <div class="img"><img src="{skin:images/index_icon_11.png}" /></div>
                <div class="ct">领券</div>
            </a>
        </li>
        <li>
            <a href="{url:/site/activity_discount}">
                <div class="img"><img src="{skin:images/index_icon_12.png}" /></div>
                <div class="ct">享优惠</div>
            </a>
        </li>
        <!-- <li>
            <a href="{url:/site/brand/category_id/14}">
                <div class="img"><img src="{skin:images/index_icon_13.png}" /></div>
                <div class="ct">学习用品</div>
            </a>
        </li> -->
        <li>
            <a href="{url:/site/user_tutor_list}">
                <div class="img"><img src="{skin:images/index_icon_14.png}" /></div>
                <div class="ct">找学生</div>
            </a>
        </li>
    </ul>
</div>
<!--栏目-->
