<style>
    .mui-content{background:#fff !important;}
.mui-content-padded h4 {
    color: black;
    font-size: 16px;
    font-weight: normal;
    border-bottom: solid 1px #c8c7cc;
    padding-bottom: 10px;
    line-height: 20px;
}
.mui-content .content {
  overflow:hidden;
  padding-bottom:25px;
  font-size:.9rem;
}
.mui-content .content img {
  margin-bottom: 10px;
  max-width:100%;
}
</style>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="{theme:javascript/article_detail.js}"></script>
<script language="javascript">

  var _thumb_url = '{url:/site/article_reply_thumb_ajax}';
  var _article_thumb_url = '{url:/site/article_thumb_ajax}';
  var _share_title = '{$article_info['title']}';
  var _share_desc = '点击进入';
  var _share_link = '{$share_url}';
  /*
   * 注意：
   * 1. 所有的JS接口只能在公众号绑定的域名下调用，公众号开发者需要先登录微信公众平台进入“公众号设置”的“功能设置”里填写“JS接口安全域名”。
   * 2. 如果发现在 Android 不能分享自定义内容，请到官网下载最新的包覆盖安装，Android 自定义分享接口需升级至 6.0.2.58 版本及以上。
   * 3. 常见问题及完整 JS-SDK 文档地址：http://mp.weixin.qq.com/wiki/7/aaa137b55fb2e0456bf8dd9148dd613f.html
   *
   * 开发中遇到问题详见文档“附录5-常见错误及解决办法”解决，如仍未能解决可通过以下渠道反馈：
   * 邮箱地址：weixin-open@qq.com
   * 邮件主题：【微信JS-SDK反馈】具体问题
   * 邮件内容说明：用简明的语言描述问题所在，并交代清楚遇到该问题的场景，可附上截屏图片，微信团队会尽快处理你的反馈。
   */
  wx.config({
    debug: false,
    appId: '{$sign_package_info["appid"]}',
    timestamp: {$sign_package_info["timestamp"]},
    nonceStr: '{$sign_package_info["noncestr"]}',
    signature: '{$sign_package_info["signature"]}',
    jsApiList: [
      // 所有要调用的 API 都要加到这个列表中
	  'onMenuShareAppMessage',
	  'onMenuShareTimeline'
    ]
  });
  wx.ready(function () {
    // 在这里调用 API

	// 分享给朋友
	wx.onMenuShareAppMessage({
		title: _share_title, // 分享标题
		desc: _share_desc, // 分享描述
		link: _share_link, // 分享链接
		imgUrl: _share_img_url, // 分享图标
		type: '', // 分享类型,music、video或link，不填默认为link
		dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		success: function () {
			// 用户确认分享后执行的回调函数
			//alert('success');
		},
		cancel: function () {
			// 用户取消分享后执行的回调函数
			//alert('cancel');
		}
	});

	// 分享到朋友圈
	wx.onMenuShareTimeline({
		title: _share_title, // 分享标题
		link: _share_link, // 分享链接
		imgUrl: _share_img_url, // 分享图标
		success: function () {
			// 用户确认分享后执行的回调函数
			//alert('success');
		},
		cancel: function () {
			// 用户取消分享后执行的回调函数
			//alert('cancel');
		}
	});
  });
</script>

<link href="{skin:css/article_detail.css}" rel="stylesheet" type="text/css" />
<div class="mui-content-padded article-content">
	<h4>{$article_info['title']}</h4>
	<p>
		{if:$article_info['user_name']}{$article_info['user_name']}{else:}第三课{/if}
		<span>{echo:date('m-d H:i',strtotime($article_info['create_time']))}</span>
	</p>
	<div class="content">
		{$article_info['content']}
    <div class="article_action" style="width: 100%;text-align:center;background-color:#fff;padding: 10px 0;">
      <a href="javascript:void(0);" id="{$id}">{$article_info['thumb_count']}</a>
    </div>
	</div>
	{if:$reply_list}
	<h5 style="line-height:30px;">全部评论</h5>
	<ul class="mui-table-view">
		{foreach:items=$reply_list}
		<li class="mui-table-view-cell">
      <div class="user_icon">
        <img src="{if:$item['head_ico']}{$item['head_ico']}{else:}{if:$item['sex'] != 2}/views/default/skin/default/images/man.jpg{else:}/views/default/skin/default/images/woman.jpg{/if}{/if}" />
      </div>
      <div class="user_info">
  			<p>{$user_list[$item['user_id']]['username']}&nbsp; &nbsp; {echo: date('m-d H:i', $item['add_time']);}</p>
  			<p>{$item['content']}</p>
      </div>
      <div class="action">
        <a href="javascript:void(0);" id="{$item['id']}">{$item['thumb_count']}</a>
      </div>
		</li>
		{/foreach}
	</ul>
	{/if}
</div>
<div class="reply-box">
	{if:$this->user}
	<form method="POST" action="{url:/site/article_reply}" id="form_reply">

		<input type="text" name="reply_content" id="reply_content" placeholder="写评论" />

		<input type="submit" class="reply_btn" value="发表" />

		<input type="hidden" name="article_id" value="{$this->article_id}" />

		<input type="hidden" name="type" value="mobile" />

	</form>
	{else:}
	<a href="{url:/simple/login}">登录</a>进行评论
	{/if}
</div>
