<?php    $site_config=new Config('site_config');	$dcommission = $site_config->dcommission;?>
<link rel="stylesheet" href="{skin:css/product.css}">
<link rel="stylesheet" href="{skin:css/home.css}">
<link rel="stylesheet" href="{rs:/scripts/swiper/swiper.min.css}">
<link rel="stylesheet" href="{theme:javascript/mui/css/mui.picker.min.css}">
<script type="text/javascript" charset="UTF-8" src="/runtime/_systemjs/artTemplate/artTemplate.js"></script>
<script type="text/javascript" charset="UTF-8" src="/runtime/_systemjs/artTemplate/artTemplate-plugin.js"></script>
<script type='text/javascript' src="{rs:/scripts/swiper/swiper.min.js}"></script>
<script type='text/javascript' src="{rs:/scripts/layer_mobile/layer.js}"></script>
<script type='text/javascript' src="{theme:javascript/mui/js/mui.picker.min.js}"></script>
<script type="text/javascript" src="{theme:javascript/openqq.js}"></script>
<style>
.shop-nav-bot.cxd-2 a {width:33.3%;}
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {height:220px;}
</style>
<script type="text/javascript">
	var _goods_list = {$seller_info['goods_list_json']};
	var _goods_id = 0;
	var _spec_id = 0;
	var _action = '';
	var _brand_id = {$brand_info['id']};
	var _seller_id = 0;
	var _hide_price = {$this->hide_price};
	var _hide_price_str = '{$this->hide_price_str}';
	var _is_buy_chit = false;
</script>

<!-- 推广信息 S -->
{if:$max_promotion_commission > 0}
<div class="promote_tips"><i></i>推荐好友赚&yen;{$max_promotion_commission}</div>
<div class="promote_content">
	<div class="promote_info">
		<div class="promote_image">
			<img src="{webroot:$seller_info['photo'][0]}" />
		</div>
		<div class="promote_infos">
			<div class="promote_names">
				<div class="promote_name">{$brand_info['shortname']}</div>
				<div class="promote_addr">{$seller_info['address']}</div>
				<div class="promote_brief">{$brand_info['brief']}</div>
				<div class="promote_price">&yen;{$seller_info['price_level']}</div>
			</div>
			<div class="promote_qrcode">
					<img src="http://www.dsanke.com/plugins/phpqrcode/index.php?data=http://www.dsanke.com{$_SERVER['REQUEST_URI']}" />
			</div>
		</div>
		<div class="promote_notice">“长按图片发送”或“转发此页面链接”给朋友，朋友购买并使用以后，您将最高可得到{$max_promotion_commission}元返利！</div>
	</div>
	<div class="promote_btn">
		<a href="javascript:void(0);" class="mui-btn mui-btn-block mui-btn-primary">我知道了</a>
	</div>
</div>
{/if}
<!-- 推广信息 E -->

<input type='hidden' id='product_id' alt='课程ID' value='' />
<div class="shop-nav-bot{if:$seller_info['is_authentication'] == 1}{if:$discount <= 0} cxd-1{/if}{else:} cxd-2{/if}">
		<a href="javascript: void(0);" onclick="seller_receipt('{$seller_info[id]}');" class="shopbtn">面对面付款</a>
		<a href="javascript: void(0);" onclick="joinCart();" class="add-shop" id="joinCarButton" style="display:none;">加入课表</a>
		<a href="javascript: void(0);" onclick="buy_now();" class="buy-btn" id="buyNowButton" >常规课报名</a>
</div>
<div class="swiper-container">
	<div class="swiper-wrapper">
		{if:$seller_info['photo']}
  		{foreach:items = $seller_info['photo']}
  		<div class="swiper-slide">
  			<img width="100%" src="{webroot:$item}" />
  		</div>
  		{/foreach}
		{/if}
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="shop_name">{$brand_info['shortname']}</div>

{if:$djq_list}
<div class="swiper-container2" style="height:100px;display:none;">
	<div class="mui-content-padded swiper-wrapper" style="background-color:#ebeff2;">
		{foreach:items=$djq_list item=$it}
		<ul class="djq_list c1 swiper-slide">
				{foreach:items=$it}
				<li>
						<a href="{url:/simple/cart2d/id/5280/num/1/type/product/chitid/$item['id']}">
							<div class="djq_info">
								<div class="t-left">&yen;<em>{$item['max_order_chit']}</em></div>
								<div class="t-right">
									<div class="name">代金券</div>
									<div class="subname">限指定课程使用</div>
								</div>
							</div>
							<div class="djq_btn">立即领取</div>
						</a>
				</li>
				{/foreach}
		</ul>
		{/foreach}
	</div>
</div>
{/if}

<div class="mui-content-padded" style="display:none;">
	<h5>{$name}</h5>
	<div class="pro-price goodsprice" {if:$seller_info['price_level'] == 0}style="display:none;"{/if}>
		{if:$promo == ''}
			{if:$seller_info['price_level'] != $this->hide_price}
			&yen;<i>{$seller_info['price_level']}</i>
			{else:}
			{$this->hide_price_str}
			{/if}
		{else:}
		&yen;{if:$minSellPrice != $maxSellPrice}{$minSellPrice} - {$maxSellPrice}{else:}{$sell_price}{/if}
		{/if}
		{if:$promo == 'time'}
			{if:isset($promotion) && $promotion}
			{set:$item=Api::run('getPromotionRowById',array('#id#',$active_id))}
			{set:$free_time = ITime::getDiffSec($item['end_time']);}
			<div class="pro-discount">抢购价：<span>&yen;{$promotion['award_value']}</span></br> <p id="rtime" endtime="{$item['end_time']}"><i>距离抢购结束还有</i><i class="discount-time">{echo:floor($free_time/3600);}</i>时<i class="discount-time">{echo:floor(($free_time%3600)/60);}</i>分<i class="discount-time">{echo:$free_time%60;}</i>秒</p>
			{/if}
			<script type="text/javascript">var promo = 'time';getRTime();</script>
		{/if}
		{if:$promo == 'groupon'}
			{if:isset($regiment) && $regiment}
			{set:$item=Api::run('getRegimentRowById',array('#id#',$active_id))}
			{set:$free_time = ITime::getDiffSec($item['end_time']);}
			<div class="pro-discount">团购价：<span>&yen;{$regiment['regiment_price']}</span></br> <p id="rtime" endtime="{$item['end_time']}"><i>距离团购结束还有</i><i class="discount-time">{echo:floor($free_time/3600);}</i>时<i class="discount-time">{echo:floor(($free_time%3600)/60);}</i>分<i class="discount-time">{echo:$free_time%60;}</i>秒</p>
			{/if}
			<script type="text/javascript">var promo = 'groupon';getRTime();</script>
		{/if}
	</div>
</div>

{if:$statement == 2 && $max_cprice >= $this->min_cprice && $max_order_chit > $this->min_order_chit && !$promo && !$active_id}
<div class="mui-content-padded" style="display:none;">
	<div class="card clearfix" id="data_dprice" onclick="buy_now_ding('{$statement}');">
		<span>优惠</span>
		<div class="cardbox">
			<p class="card-info-1">购券<em class="buy">￥{$max_cprice}</em> 可抵扣<em class="chit">￥{$max_order_chit}</em></p>
		</div>
		<i class="icon-chevron-right"></i>
	</div>
</div>
{/if}

<div class="mui-content-padded" style="display:none;">
		{if:$seller_info['goods_list']}
			<ul class="spec_list clearfix" id="spec_list_mao">
				<li name="specCols">
					{foreach:items=$seller_info['goods_list']}
						<a href="javascript:void(0);" onclick="sele_goods(this);" _id={$item['id']}>
							{$item['name']}
						</a>
					{/foreach}
				</li>
			</ul>
		{/if}

    <p class="spec_list_row">
      属性：<div class="specs"></div>
    </p>

		<p class="numberbox clearfix">
			<span>人数：</span>
			<a class="reduce" onclick="setAmount.reduce('#qty_item_1')" href="javascript:void(0)">
			-</a>
			<input type="text" name="qty_item_1" value="1" id="qty_item_1" onkeyup="setAmount.modify('#qty_item_1')" class="text">
			<a class="add" onclick="setAmount.add('#qty_item_1')" href="javascript:void(0)">
			+</a>
			人
		</p>
		<p class="selected_spec"><span></span></p>
</div>

{if:$dqk_list}
<div class="mui-content-padded dqk">
	<div class="hd">
		<div class="t-left">短期课</div>
		<div class="t-right"><a href="{url:/site/chit1_detail/id/$seller_info['id']}">更多</a></div>
	</div>
	<div class="bd">
		<ul>
			{foreach:items=$dqk_list}
			<li>
				<a href="{url:/site/chit1_detail/id/$seller_info['id']}">
					<div class="dqk_image"><img src="{if:$item['logo'] != ''}{webroot:$item['logo']}{else:}/views/mobile/skin/blue/images/dqk.png{/if}" /></div>
					<div class="dqk_info">
						<div class="dqk_goods_name">{$item['name']}短期课{$item['use_times']}节</div>
						<div class="dqk_price">&yen;<em>{$item['max_price']}</em></div>
					</div>
				</a>
			</li>
			{/foreach}
		</ul>
	</div>
</div>
{/if}

<div class="mui-content-padded" style="padding: 10px 0;">


  <div class="desc_content">

		<!-- 授权书 S -->
		{if:$seller_info['brand_info']['certificate_of_authorization']}
		<div class="module">
			<div class="module_bd">
				{foreach:items=$seller_info['brand_info']['certificate_of_authorization']}
					<img src="{webroot:$item}" />
				{/foreach}
			</div>
		</div>
		{/if}
		<!-- 授权书 E -->

    <div class="module" style="display:none;">
      <div class="module_bd">
        <div class="shop_info">
          <div class="shop_info_list">
            <ul>
              <li class="times_list">上课时间：<br />
                {foreach:items=$attrArr}
                <div>{$item}</div>
                {/foreach}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="module">
      <div class="module_hd module_hd2">
          课程介绍
      </div>
      <div class="module_bd module_bd2">
        <div class="class_list">
          <div class="class_list_hd">
            <img src="{skin:images/class_list_top_bg.png}" />
          </div>
          <div class="class_list_bd">
            <table cellspacing="0">
              <tr>
                <th width="30%">课程</th>
                <th>简介</th>
              </tr>
              {foreach:items=$seller_info['goods_list']}
              <tr>
                <td>{$item['name']}</td>
                <td>{$item['keywords']}</td>
              </tr>
              {/foreach}
            </table>
          </div>
        </div>
				{if:$seller_info['brand_info']['class_desc_img'][0] || $seller_info['brand_info']['class_desc_img'][1]}
					<div class="shop_desc">
					{if:$seller_info['brand_info']['class_desc_img'][1]}
	          <img src="{webroot:$seller_info['brand_info']['class_desc_img'][1]}" />
					{else:}
						<img src="{webroot:$seller_info['brand_info']['class_desc_img'][0]}" />
					{/if}
				</div>
				{else:}
					<div class="content">
						{$seller_info['brand_info']['description']}
					</div>
				{/if}
        <div class="class_list_desc">
          <div class="class_list_desc_hd">
            <img src="{skin:images/class_list_desc.jpg}" />
          </div>
          {if:$seller_info['goods_list']}
            {set:$index = 1}
            {foreach:items=$seller_info['goods_list']}
              <div class="class_list_desc_bd class_list_style_{$index}">
                <div class="class_title">
                  {$item['name']}<span>{$item['class_target']}</span>
                </div>
                <div class="clear"></div>
                {if:$item['content']}
                <div class="class_description">
                  {$item['content']}
                </div>
                {/if}

              </div>
              {if:$index == 9}
                {set:$index = 1}
              {else:}
                {set:$index++}
              {/if}
            {/foreach}
          {/if}
        </div>
      </div>
    </div>

    {if:$seller_info['teacher_list']}
    <div class="module">
      <div class="module_hd module_hd3">
        名师介绍
      </div>
      <div class="module_bd">
        <div class="teacher_list">
          <ul>
            {foreach:items=$seller_info['teacher_list']}
            <li>
              <div class="teacher_logo">
                <img src="{webroot:$item['icon']}" onerror="javascript:this.src='/views/default/skin/default/images/avatar.jpg';" />
              </div>
              <div class="teacher_desc">
								<div style="font-size:16px;font-weight:600;">{$item['name']}</div>
                <p>{$item['description']}</p>
              </div>
            </li>
            {/if}
          </ul>
        </div>
      </div>
    </div>
    {/if}

    {if:$seller_info['brand_info']['shop_desc_img']}
    <div class="module">
      <div class="module_hd module_hd4">
        学校展示
      </div>
      <div class="module_bd">
        <div class="shop_image_list">
          <ul>
            {foreach:items=$seller_info['brand_info']['shop_desc_img']}
              <li><img src="{webroot:$item}" /></li>
            {/foreach}
          </ul>
        </div>
      </div>
    </div>
    {/if}

		<div class="module">
			<div class="module_hd">
					商家位置
			</div>
		</div>
		{if:$seller_info['address']}
		 <div class="shop_map">
			 <div id="container"></div>
			 </div>
		{/if}
		<div class="font">
		<li>地址：{echo:join(' ',area::name($seller_info['province'],$seller_info['city'],$seller_info['area']))} {$seller_info['address']}</li>
		</div>

 </div>
</div>

<div class="pop_content">
	<div class="pop_contents">
        <div class="goods_info">
            <div class="goods_image">
                <img src="{webroot:$seller_info['photo'][0]}" />
            </div>
            <div class="goods_price">
	            <i>{$seller_info['price_level']}</i><br />
                交易：{$seller_info['sale']}<br />
                评价：{$seller_info['comments']}<br />
            </div>
        </div>
        <div class="goods_list">
        	<div class="hd">课程类型:</div>
            <div class="bd">
                {foreach:items=$seller_info['goods_list']}
                    <a href="javascript:void(0);" onclick="sele_goods(this);" _id={$item['id']}>
                        {$item['name']}
                    </a>
                {/foreach}
            </div>
        </div>
        <div class="spec_list">
        	<div class="hd">课程属性:</div>
            <div class="bd"><br  /></div>
        </div>
        <div class="input_num">
            <p class="numberbox clearfix">
                <span>人数：</span>
                <a class="reduce" onclick="setAmount.reduce('#qty_item_1')" href="javascript:void(0)">
                -</a>
                <input type="text" name="qty_item_2" value="1" id="qty_item_2" onkeyup="setAmount.modify('#qty_item_1')" class="text">
                <a class="add" onclick="setAmount.add('#qty_item_1')" href="javascript:void(0)">
                +</a>
                人
            </p>
        </div>
        <div class="pay_btn">
        	<input type="button" value="确定" onclick="save();" />
        </div>
    </div>
</div>

<!-- 弹窗 -->
<div class="quan" style="display:none;">
  <div class="quan_inner">
    <div class="card_left">
      <input type="hidden" class="prop" name="prop" {if:$chit_list}id="{$seller_info['id']}"{/if} />
      <p class="tochit"><span>{$ticket['prop']}</span></p>
    </div>
    <div class="card_right">
      <p class="totip"><em>专用券</em><span class="tobuy"><span>{$ticket['prop']}</span>元抢券</span></p>
			<p class="limittime"><span>此代金券仅限该课程使用</span></p>
      <a class="buycard" onclick="buy_now_ding_card('90', '25')">点击购买</a>
    </div>
  </div>
</div>

<script type='text/html' id='spec_list_template'>
	<a href="javascript:void(0);" onclick="sele_spec(this)" _spec="<%=id%>">
		<%if(cusval != ''){%><%=cusval%><%}%> <%if(classnum){%><%=classnum%>课时<%}%> <%if(month){%><%=month%>个月<%}%>
	</a>
</script>

{if:$seller_info['address']}
<script type="text/javascript">
var _shop_address = "{echo:join('',area::name($seller_info['province'],$seller_info['city'],$seller_info['area']))}{$seller_info['address']}";
</script>
<script src="http://webapi.amap.com/maps?v=1.3&key=2cd83299402829a3177894489a4cf556" type="text/javascript"></script>
<script type='text/javascript' src="/views/default/javascript/school_show_map.js"></script>
{/if}
<script type='text/javascript' src="{theme:javascript/brand_zone.js}"></script>

{if:$this->iswechat == 1}
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
<script type="text/javascript">
sharedata = {$this->sharedata};
wx.config({
    //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{$this->signPackage['appId']}', // 必填，公众号的唯一标识
    timestamp: '{$this->signPackage['timestamp']}' , // 必填，生成签名的时间戳
    nonceStr: '{$this->signPackage['nonceStr']}', // 必填，生成签名的随机串
    signature: '{$this->signPackage['signature']}',// 必填，签名，见附录1
    jsApiList: [
      'checkJsApi',
  		'onMenuShareTimeline',
  		'onMenuShareAppMessage',
  		'onMenuShareQQ',
  		'onMenuShareWeibo',
  		'hideMenuItems',
  		'showMenuItems',
  		'hideAllNonBaseMenuItem',
  		'showAllNonBaseMenuItem',
  		'translateVoice',
  		'startRecord',
  		'stopRecord',
  		'onRecordEnd',
  		'playVoice',
  		'pauseVoice',
  		'stopVoice',
  		'uploadVoice',
  		'downloadVoice',
  		'chooseImage',
  		'previewImage',
  		'uploadImage',
  		'downloadImage',
  		'getNetworkType',
  		'openLocation',
  		'getLocation',
  		'hideOptionMenu',
  		'showOptionMenu',
  		'closeWindow',
  		'scanQRCode',
  		'chooseWXPay',
  		'openProductSpecificView',
  		'addCard',
  		'chooseCard',
  		'openCard'
    ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});
wx.ready(function(){
  wx.onMenuShareAppMessage(sharedata);
  wx.onMenuShareTimeline(sharedata);
  wx.onMenuShareQQ(sharedata);
  wx.onMenuShareWeibo(sharedata);
});
wx.error(function (res) {
  	//alert("调用微信jsapi返回的状态:"+res.errMsg);
});
</script>
{/if}
