<link rel="stylesheet" href="{rs:/scripts/swiper/swiper.min.css}">
<script type='text/javascript' src="{rs:/scripts/swiper/swiper.min.js}"></script>
<script type='text/javascript' src="{rs:/scripts/layer_mobile/layer.js}"></script>
<link rel="stylesheet" href="{skin:css/chit1_detail.css}" rel="stylesheet" type="text/css" />
<script language="javascript">
var dqk_list = {$dqk_list_json};
var dqk_id = 0;
var dqk_join_ajax = '{url:/site/join_dqk_ajax}';
var dqk_info = new Array();
var id = {$seller_info['id']};
var user_id = {if:$user_id}{$user_id}{else:}0{/if};
var go_buy_url = '{url:/site/create_brand_chit_zuhe/ids/@ids@}';
var check_user_manual_ajax = '{url:/site/check_use_manual}';
var type = {if:$type}{$type}{else:}1{/if};
var choose_manual_url = '{url:/site/manual_choose/dqk_id/@dqk_id@}';

var manual_parents_name = '{$manual_info['name']}';
var manual_parents_tel = '{$manual_info['parents_tel']}';
var manual_id = {if:$manual_info}{$manual_info[id]}{else:}0{/if};
var appointment_ajax_url = '{url:/site/make_appointment_ajax}';
</script>

<!-- 推广信息 S -->
{if:$type != 2}
<div class="promote_tips"><i></i>推荐好友赚&yen;{$max_promotion_commission}</div>
<div class="promote_content">
	<div class="promote_info">
		<div class="promote_image">
			<img src="{webroot:$dqk_list[0]['logo']}" />
		</div>
		<div class="promote_infos">
			<div class="promote_names">
				<div class="promote_name">{$seller_info['shortname']}</div>
				<div class="promote_addr">{$seller_info['address']}</div>
				<div class="promote_brief">{$brand_info['brief']}</div>
				<div class="promote_price">&yen;{$price_level}</div>
			</div>
			<div class="promote_qrcode">
					<img src="http://www.dsanke.com/plugins/phpqrcode/index.php?data=http://www.dsanke.com{$_SERVER['REQUEST_URI']}" />
			</div>
		</div>
		<div class="promote_notice">“长按图片发送”或“转发此页面链接”给朋友，朋友购买并使用以后，您将最高可得到{$max_promotion_commission}元返利！</div>
	</div>
	<div class="promote_btn">
		<a href="#" class="mui-btn mui-btn-block mui-btn-primary">我知道了</a>
	</div>
</div>
{/if}
<!-- 推广信息 E -->

  <div class="swiper-container">
  	<div class="swiper-wrapper">
  		{if:$dqk_list}
    		<div class="swiper-slide">
    			<img width="100%" src="{webroot:$dqk_list[0]['logo']}" />
    		</div>
  		{/if}
  	</div>
  	<div class="swiper-pagination"></div>
    <div class="dqk_name">{$seller_info['shortname']}</div>
  </div>

  <div class="content_module">
    <div class="bd">
      <ul>
        <li class="price">&yen;<em>{$price_level}</em><span class="market_price"></span><span class="sale_count">已售：{$seller_info['sale']}</span></li>
        <li class="notice"></li>
      </ul>
    </div>
  </div>

  {if:$dqk_list}
  <div class="content_module">
    <div class="bd">
      <ul>
        <li class="dqk_list">
          {foreach:items=$dqk_list}
          <a href="javascript:void(0);" id="{$item['id']}">{$item['name']}</a>
          {/foreach}
        </li>
      </ul>
    </div>
  </div>
  {/if}

  <div class="content_module">
    <div class="hd">
      课程属性
    </div>
    <div class="bd">
      <ul>
        <li class="icon classnum classnum_info">课时：<span>请先选择课程</span></li>
        <li class="icon age_limit">年龄：<span></span></li>
        <li class="icon appointment">是否预约：<span></span></li>
        <li class="icon use_time">上课时间：<span></span></li>
        <li class="icon limit_time">有效期：<span></span></li>
        <li class="icon refunder">是否退款：此课程不支持退款</li>
				<li class="icon other_pay">其它费用：</li>
        <li class="icon use_notice">其它说明<span></span></li>
				<li class="icon remark">备注：<span>{if:$type == 2}所有课程任选其一{else:}每个小朋友只能购买一次{/if}</span></li>
      </ul>
    </div>
  </div>

  <div class="content_module">
    <div class="hd">
      权益说明
    </div>
    <div class="bd">
      <ul>
        <li>1、免费权益不可抵扣现金</li>
				{if:$type == 2 && $dqk_list2 }
					{foreach:items=$dqk_list2 key=$key}
						<li>{echo:$key + 2}、{$item['name']}</li>
					{/foreach}
				{/if}
      </ul>
    </div>
  </div>

  <div class="content_module">
    <div class="hd">
      适用学校
    </div>
    <div class="bd seller_info">
      <ul>
        <li>{$seller_info['shortname']}</li>
        <li>{if:$seller_info['area']}{echo:area::getName($seller_info['area'])}{/if}{$seller_info['address']}</li>
      </ul>
      {if:$seller_info['phone']}<div class="seller_tel"><a href="tel:{$seller_info['phone']}"></a></div>{/if}
    </div>
  </div>

  <div class="content_module">
    <div class="hd">
      什么是短期课
    </div>
    <div class="bd dqk">
      <img src="/views/mobile/skin/blue/images/dqk_desc_1.jpg" />
      <img src="/views/mobile/skin/blue/images/dqk_desc_2.jpg" />
    </div>
  </div>

	<div class="content_module">
		<div class="bd">
			{if:$brand_info['certificate_of_authorization']}
				{foreach:items=$brand_info['certificate_of_authorization']}
					<img src="{webroot:$item}" />
				{/foreach}
			{/if}
		</div>
	</div>

  <div class="content_module">
    <div class="hd">
      课程介绍
    </div>
    <div class="bd">
      {foreach:items=$dqk_list}
        {if:$item['name'] && $item['content']}
        <div class="goods_name">{$item['name']}</div>
        <div class="goods_content">{$item['content']}</div>
        {/if}
      {/foreach}
    </div>
  </div>

  <div class="content_module last">
    <div class="hd">
      学校介绍
    </div>
    <div class="bd">
      {if:$brand_info['class_desc_img']}
        <div class="seller_desc_img">
          {if:$brand_info['class_desc_img'][1]}
      　　  <img src="{webroot:$brand_info['class_desc_img'][1]}" />
          {else:}
            <img src="{webroot:$brand_info['class_desc_img'][0]}" />
          {/if}
        </div>
      {else:}
        <div class="seller_desc">
          {$brand_info['description']}
        </div>
      {/if}

      {if:$brand_info['shop_desc_img']}
      <div class="seller_album"><img src="/views/mobile/skin/blue/images/seller_album_icon.png" /></div>
      <ul class="seller_album_list">
        {foreach:items=$brand_info['shop_desc_img']}
        <li><img src="{webroot:$item}" /></li>
        {/foreach}
      </ul>
      {/if}

			{if:$teacher_list}
			<div class="teacher_list">
				<div class="seller_album"><img src="/views/mobile/skin/blue/images/teacher_album_icon.png" /></div>
				<ul>
					{foreach:items=$teacher_list}
					<li>
						<div class="teacher_logo">
							<img src="{webroot:$item['icon']}" onerror="javascript:this.src='/views/default/skin/default/images/avatar.jpg';" />
						</div>
						<div class="teacher_desc">
							<div style="font-size:16px;font-weight:600;">{$item['name']}</div>
							<p>{$item['description']}</p>
						</div>
					</li>
					{/if}
				</ul>
			</div>
			{/if}
    </div>
  </div>

  <div class="tocart">
		{if:$type != 2}
      <a href="javascript:void(0);" class="join_cart">加入购物车</a>
      <a href="javascript:void(0);" class="go_buy">立即购买</a>
		{else:}
      <a href="javascript:void(0);" class="use_manual">使用学习通</a>
			<a href="javascript:void(0);" class="make_appointment">预约上课</a>
		{/if}
  </div>
  <div class="tocart_notice"></div>

  <script type="text/javascript" src="{theme:javascript/chit1_detail.js}"></script>

  {if:$this->iswechat == 1}
  <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
  <script type="text/javascript">
  sharedata = {$this->sharedata};
  wx.config({
      //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '{$this->signPackage['appId']}', // 必填，公众号的唯一标识
      timestamp: '{$this->signPackage['timestamp']}' , // 必填，生成签名的时间戳
      nonceStr: '{$this->signPackage['nonceStr']}', // 必填，生成签名的随机串
      signature: '{$this->signPackage['signature']}',// 必填，签名，见附录1
      jsApiList: [
        'checkJsApi',
    		'onMenuShareTimeline',
    		'onMenuShareAppMessage',
    		'onMenuShareQQ',
    		'onMenuShareWeibo',
    		'hideMenuItems',
    		'showMenuItems',
    		'hideAllNonBaseMenuItem',
    		'showAllNonBaseMenuItem',
    		'translateVoice',
    		'startRecord',
    		'stopRecord',
    		'onRecordEnd',
    		'playVoice',
    		'pauseVoice',
    		'stopVoice',
    		'uploadVoice',
    		'downloadVoice',
    		'chooseImage',
    		'previewImage',
    		'uploadImage',
    		'downloadImage',
    		'getNetworkType',
    		'openLocation',
    		'getLocation',
    		'hideOptionMenu',
    		'showOptionMenu',
    		'closeWindow',
    		'scanQRCode',
    		'chooseWXPay',
    		'openProductSpecificView',
    		'addCard',
    		'chooseCard',
    		'openCard'
      ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
  });
  wx.ready(function(){
    wx.onMenuShareAppMessage(sharedata);
    wx.onMenuShareTimeline(sharedata);
    wx.onMenuShareQQ(sharedata);
    wx.onMenuShareWeibo(sharedata);
  });
  wx.error(function (res) {
    	//alert("调用微信jsapi返回的状态:"+res.errMsg);
  });
  </script>
  {/if}
