<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>康卓商城</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="{theme:javascript/mui2/js/mui.picker.js}"></script>
	<link rel="stylesheet" href="{theme:javascript/weui/weui.css}">
	<link rel="stylesheet" href="{theme:javascript/mui2/css/mui.min.css}">
	<link rel="stylesheet" href="{theme:javascript/mui2/css/icons-extra.css}">
	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/app.css}"/>
	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/common.css}"/>
</head>

<body>
<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item mui-active" href="#tabbar">
		<span class="mui-icon mui-icon-home"></span>
		<span class="mui-tab-label">首页</span>
	</a>
	<a class="mui-tab-item" href="#tabbar-with-chat">
		<span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
		<span class="mui-tab-label">购物车</span>
	</a>
	<a class="mui-tab-item" href="#tabbar-with-contact">
		<span class="mui-icon mui-icon-contact"><span class="mui-badge">1</span></span>
		<span class="mui-tab-label">个人中心</span>
	</a>
</nav>
		

<div class="mui-content">
	<div id="tabbar" class="mui-control-content mui-active">
		<header class="mui-bar mui-bar-nav" style="background-color: #5cc2d0;">
			<h1 class="mui-title" style="color:#fff">商 品 列 表</h1>
		</header>
		<div class="title" style="margin-top:52px">
          {foreach:items=$goods_list key=$key}
          {set:$i++;}
			<div class="mui-card">
				<div class="mui-card-header mui-card-media" style="height:45vw;background-image:url({$item['img']})">
				    <div class="layer"></div>
				    <div class="layertxt"> &nbsp; 已售:{$item['sale']} &nbsp; &nbsp; 原价：<del>￥{$item['market_price']}</del> &nbsp; ￥{$item['sell_price']}
				    </div>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link">{$item['name']}</a>
					<a href="{url:/site/products/id/$item['id']}" class="mui-card-link mui-btn mui-btn-warning" style="height:28px">购买</a>
				</div>
			</div>
          {/foreach}
			<br><br>
            <div class="weui-footer">
              <p class="weui-footer__text">Copyright © 2017 乐享生活</p>
            </div>
		</div>
	</div>
	
	
	<div id="tabbar-with-chat" class="mui-control-content">
		<header class="mui-bar mui-bar-nav" style="background-color: #5cc2d0;">
			<h1 class="mui-title" style="color:#fff">购 物 车 </h1>
		</header>
		<ul class="mui-table-view mui-table-view-chevron" style="margin-top:52px">
			<li class="mui-table-view-cell"><a href="" class="mui-navigate-right">订单000100000001</a></li>
			<li class="mui-table-view-cell"><a href="" class="mui-navigate-right">订单000100000001</a></li>
			<li class="mui-table-view-cell"><a href="" class="mui-navigate-right">订单000100000001</a></li>
		</ul>
	</div>
	
	
	<div id="tabbar-with-contact" class="mui-control-content">
		<header class="mui-bar mui-bar-nav" style="background-color: #5cc2d0;">
			<h1 class="mui-title" style="color:#fff">用 户 中 心</h1>
		</header>			    
        <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" style="margin-top:45px">
        	<li class="mui-table-view-cell">
        		<div class="mui-slider-cell">
        			<div class="oa-contact-cell mui-table">
        			    <a class="mui-navigate-right">
        					<div class="oa-contact-avatar mui-table-cell">
        						<img src="http://img1.imgtn.bdimg.com/it/u=381612112,4277065417&fm=15&gp=0.jpg" />
        					</div>
        					<div class="oa-contact-content mui-table-cell">
        						<div class="mui-clearfix">
        							<span class="oa-contact-position mui-h6"> 会员号：2456465</span>
        						</div>
        						<p class="oa-contact-email mui-h5"> 会员昵称：小米</p>
        						<p class="oa-contact-email mui-h6"> 推荐人：小米</p>
        					</div>
        		        </a>
        			</div>
        		</div>
        	</li>
        </ul>
    
        <div class="weui-grids" style="margin-top: 1px;">
            <a href="javascript:;" class="weui-grid" style="background: #fff;padding: 10px 10px">
                <div class="weui-grid__icon">
                    <img src="{theme:javascript/weui/}icon_tabbar.png" alt="">
                </div>
                <p class="weui-grid__label">我的订单</p>
            </a>
            <a href="javascript:;" class="weui-grid" style="background: #fff;padding: 10px 10px">
                <div class="weui-grid__icon">
                    <img src="{theme:javascript/weui/}icon_tabbar.png" alt="">
                </div>
                <p class="weui-grid__label">我的订单</p>
            </a>
            <a href="javascript:;" class="weui-grid" style="background: #fff;padding: 10px 10px">
                <div class="weui-grid__icon">
                    <img src="{theme:javascript/weui/}icon_tabbar.png" alt="">
                </div>
                <p class="weui-grid__label">我的订单</p>
            </a>
            <a href="javascript:;" class="weui-grid" style="background: #fff;padding: 10px 10px">
                <div class="weui-grid__icon">
                    <img src="{theme:javascript/weui/}icon_tabbar.png" alt="">
                </div>
                <p class="weui-grid__label">我的订单</p>
            </a>
            <a href="javascript:;" class="weui-grid" style="background: #fff;padding: 10px 10px">
                <div class="weui-grid__icon">
                    <img src="{theme:javascript/weui/}icon_tabbar.png" alt="">
                </div>
                <p class="weui-grid__label">我的订单</p>
            </a>
            <a href="javascript:;" class="weui-grid" style="background: #fff;padding: 10px 10px">
                <div class="weui-grid__icon">
                    <img src="{theme:javascript/weui/}icon_tabbar.png" alt="">
                </div>
                <p class="weui-grid__label">我的订单</p>
            </a>
        </div>

        <h5 class="mui-content-padded">我的会员</h5>
        <div class="weui-navbar" style="position: relative;background-color: #FFF;">
          <div class="weui-navbar__item weui_bar__item_on">
            已购买会员：<span class="mui-badge mui-badge-success mui-badge-inverted">525</span>
          </div>
          <div class="weui-navbar__item">
            未购买会员：<span class="mui-badge mui-badge-danger mui-badge-inverted">5</span>
          </div>
        </div>	
    
        <ul class="mui-table-view mui-table-view-chevron">
    		<li class="mui-table-view-cell mui-media">
    			<a class="mui-navigate-right">
    				<span class="mui-icon mui-icon-location"></span>
    				<label stlye="font-size:5px">评测地址</label>
    			</a>
    		</li>
    		<li class="mui-table-view-cell mui-media">
    			<a class="mui-navigate-right">
    				<span class="mui-icon mui-icon-extra mui-icon-extra-prech"></span>
    				<label stlye="font-size: 10px;">我的消费额</label>
    			</a>
    		</li>
    	</ul>

	</div>

</div>
    {if:$this->iswechat == 1}
        <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
        <script type="text/javascript">
        sharedata = {$this->sharedata};
        wx.config({
            //debug: true, // 开启调试模式
            appId: '{$this->signPackage['appId']}', // 必填，公众号的唯一标识
            timestamp: '{$this->signPackage['timestamp']}' , // 必填，生成签名的时间戳
            nonceStr: '{$this->signPackage['nonceStr']}', // 必填，生成签名的随机串
            signature: '{$this->signPackage['signature']}',// 必填，签名，见附录1
            jsApiList: [
              'checkJsApi',
          		'onMenuShareTimeline',
          		'onMenuShareAppMessage',
          		'onMenuShareQQ',
          		'onMenuShareWeibo',
          		'hideMenuItems',
          		'showMenuItems',
          		'hideAllNonBaseMenuItem',
          		'showAllNonBaseMenuItem',
          		'translateVoice',
          		'startRecord',
          		'stopRecord',
          		'onRecordEnd',
          		'playVoice',
          		'pauseVoice',
          		'stopVoice',
          		'uploadVoice',
          		'downloadVoice',
          		'chooseImage',
          		'previewImage',
          		'uploadImage',
          		'downloadImage',
          		'getNetworkType',
          		'openLocation',
          		'getLocation',
          		'hideOptionMenu',
          		'showOptionMenu',
          		'closeWindow',
          		'scanQRCode',
          		'chooseWXPay',
          		'openProductSpecificView',
          		'addCard',
          		'chooseCard',
          		'openCard'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
          wx.onMenuShareAppMessage(sharedata);
          wx.onMenuShareTimeline(sharedata);
          wx.onMenuShareQQ(sharedata);
          wx.onMenuShareWeibo(sharedata);
        });
        wx.error(function (res) {
          	//alert("调用微信jsapi返回的状态:"+res.errMsg);
        });
        </script>
    {/if}
<script src="{theme:javascript/mui2/js/mui.min.js}"></script>
<script>
	mui.init({swipeBack:true});
</script>
</body>
</html>