<?php    $site_config=new Config('site_config');	$dcommission = $site_config->dcommission;?>
<link rel="stylesheet" href="{skin:css/product.css}">
<link rel="stylesheet" href="{rs:/scripts/swiper/swiper.min.css}">
<link rel="stylesheet" href="{theme:javascript/mui/css/mui.picker.min.css}">
<style>
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
		height: auto;
}
.shop-nav-bot.cxd-1 a:last-child {
	width: 100%;
}
.container_2 img {
	max-width: 100%;
	display: block;
}
p {
	margin-bottom:0px;
}
</style>
<script type='text/javascript' src="{rs:/scripts/swiper/swiper.min.js}"></script>
<script type='text/javascript' src="{theme:javascript/payfor.js}"></script>
<script type='text/javascript' src="{theme:javascript/mui/js/mui.picker.min.js}"></script>

<div class="container_2 wrapper clearfix w-bg">
	<div class="main f_r article-con">
		<h3 class="hc_title" style="display:none;">{$name}</h3>
		<div class="c_box">
			<div class="textcontent">
				<img src="/views/mobile/skin/blue/images/lq01.jpg" />
				<img src="/views/mobile/skin/blue/images/lq02.jpg" />
				<a href="{url:/site/chit_show/id/361}"><img src="/views/mobile/skin/blue/images/lq03.jpg" /></a>
				<img src="/views/mobile/skin/blue/images/lq04.jpg" />
				<img src="/views/mobile/skin/blue/images/lq05.jpg" />
				<img src="/views/mobile/skin/blue/images/lq06.jpg" />
				<a href="{url:/site/chit_show/id/361}"><img src="/views/mobile/skin/blue/images/lq07.jpg" /></a>
				<img src="/views/mobile/skin/blue/images/lq08.png" />
			</div>
		</div>
	</div>
</div>
