<link href="{skin:css/manual_info.css}" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="{rs:/scripts/layer_mobile/layer.js}"></script>
<style>
.mui-media-footer .btns a:last-child {margin-left:14%;}
.qrcode {width:300px;height:300px;}
</style>
<div class="mui-content">
  <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:void(0);">
            <img class="mui-media-object mui-pull-left" src="<?php echo empty($manual_info['logo'])?'/views/default/skin/default/images/women.jpg':'/' . $manual_info['logo'] ?>">
            <div class="mui-media-body">
              <p>姓名：{$manual_info['name']}</p>
              <p>年龄：{$manual_info['year']}岁</p>
              <p>性别：{echo: get_sex($manual_info['sex'])}</p>
            </div>
          </a>
        </li>
        <li class="mui-table-view-cell mui-media last">
          <div class="mui-media-footer">
            签发机构：{$seller_info['shortname']}<br />
            有效期限：{echo:date('Y.m.d', $manual_info['end_time'])}
          </div>
        </li>
        <li class="mui-table-view-cell">
          <center>核销验证码
          <img src="http://{echo:$_SERVER['SERVER_NAME']}/plugins/phpqrcode/index.php?data=http://www.dsanke.com/site/manual_check_use/id/{$id}/manual_id/{$manual_id}" class="qrcode" />
          <br />请将此页面展示给前台人员
          </center>
        </li>
  </ul>
</div>
