<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<link href="{skin:css/manual.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/chit1.css}" rel="stylesheet" type="text/css" />
<script language="javascript">
var dqk_detail_url = '{url:/site/chit1_detail/id/@id@/type/2}';
var catdata = {if:$category_list}{$category_list}{else:}new Array(){/if};
</script>
<div class="mui-content" style="position:fixed;top:43px;left:0px;z-index:3;padding-bottom:0px;">
	<div class="hd" style="padding-top:0px;">
		<div class="category" id="choose_category">
			全部分类
		</div>
		<div class="search_form" style="margin-top:11px;">
			<form method="get" onsubmit="return check_search();">
				<input type="text" name="keyword" id="keyword" placeholder="搜索您感兴趣的内容" {if:$keywords != ''}value="{$keywords}"{/if}/>
				<input type="button" name="button" id="search_btn" value="" />
				<i></i>
			</form>
		</div>
	</div>
	<div class="bd">
		<input type="hidden" id="pagenum" value="1">
		<input type="hidden" id="cat_id" value="0">
		<div class="mui-chit mui-scroll-wrapper card-list-box" id="goodslist">
			<div class="mui-scroll">
			    <ul class="mui-table-view"></ul>
			</div>
		</div>
	</div>
</div>


<ul class="mui-table-view manual_intro">
  <a href="{url:/site/manual_info}">
    <li>
      <img src="/views/mobile/skin/blue/images/manual_img_1.png" />
    </li>
    <li>
      <img src="/views/mobile/skin/blue/images/manual_img_2.png" />
    </li>
    <li>
      <img src="/views/mobile/skin/blue/images/manual_img_3.png" />
    </li>
    <li>
      <img src="/views/mobile/skin/blue/images/manual_img_4.png" />
    </li>
    <li>
      <img src="/views/mobile/skin/blue/images/manual_img_5.png" />
    </li>
  </a>
</ul>

<div class="category" style="display:none;">
  <div class="choose_category" id="choose_category">选择分类</div>
</div>

<div class="mui-table-view">
  {if:$chits}
  <ul class="dqk_list">
    {foreach:items=$chits}
    <li>
      <a href="/site/chit1_detail/id/{$item['seller_id']}/type/2">
      	<div class="mui-card" id="{$item['seller_id']}">
      		<div class="mui-card-header mui-card-media">
      			<img src="{webroot:$item['logo']}">
      			<div class="mui-card-bg"></div>
      			<div class="mui-card-info">
      				<div class="t-left">已售：{$item['c_sale']}</div>
      			     <div class="t-right"><span>原价：{$item['max_order_chit']}</span><i>¥</i>{$item['max_price']}</div>
            </div>
          </div>
          <div class="mui-card-content">
            <div class="t-left">
              <img src="{webroot:$item['b_logo']}">
            </div>
            <div class="t-right">
              <div class="goods-name">{$item['seller_name']}短期课-{$item['use_times']}课时</div>
              <div class="goods-addr">{$item['address']}</div>
              <div class="goods-content">{$item['brief']}</div>
            </div>
          </div>
        </div>
      </a>
    </li>
    {/foreach}
  </ul>
  {/if}
</div>

<!-- <div class="mui-content-padded">
    <a href="{url:/site/products/id/1980}" class="mui-btn mui-btn-primary mui-btn-block" id="confirm">去购买一本学习通</a>
</div> -->

<div class="manual">
	<div class="manual_bg"></div>
	<div class="manual_info">
		<div class="manual_logo"></div>
		<div class="manual_desc">
			<div class="hd">学习通</div>
			<div class="bd">购买学习通，免费上短期课</div>
		</div>
		<div class="manual_open"><a href="{url:/site/products/id/1980}" style="padding:0 15px;">立即查看</a></div>
		<div class="manual_close"><a href="javasript:void(0);"></a></div>
	</div>
</div>

<script type="text/javascript" src="{theme:javascript/manual.js}"></script>
