<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<link href="{skin:css/manual.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/chit1.css}" rel="stylesheet" type="text/css" />
<ul class="mui-table-view manual_intro">
  <li>
    <img src="/views/mobile/skin/blue/images/manual_img_1.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_img_2.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_img_3.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_img_4.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_img_5.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_1.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_2.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_3.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_4.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_5.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_6.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_7.png" />
  </li>
  <li>
    <img src="/views/mobile/skin/blue/images/manual_info_img_8.png" />
  </li>
</ul>

<div class="manual">
	<div class="manual_bg"></div>
	<div class="manual_info">
		<div class="manual_logo"></div>
		<div class="manual_desc">
			<div class="hd">学习通</div>
			<div class="bd">购买学习通，免费上短期课</div>
		</div>
		<div class="manual_open"><a href="{url:/site/products/id/1980}" style="padding:0 15px;">立即查看</a></div>
		<div class="manual_close"><a href="javasript:void(0);"></a></div>
	</div>
</div>
