<link rel="stylesheet" href="{rs:/scripts/swiper/swiper.min.css}">
<script type='text/javascript' src="{rs:/scripts/swiper/swiper.min.js}"></script>
<script type='text/javascript' src="{rs:/scripts/layer_mobile/layer.js}"></script>
<link rel="stylesheet" href="{skin:css/chit1_detail.css}" rel="stylesheet" type="text/css" />
<script language="javascript">
var dqk_list = {$dqk_list_json};
var dqk_id = 0;
var dqk_join_ajax = '{url:/site/join_dqk_ajax}';
var dqk_info = new Array();
var id = {$seller_info['id']};
var user_id = {if:$user_id}{$user_id}{else:}0{/if};
var go_buy_url = '{url:/site/create_brand_chit_zuhe/ids/@ids@}';
var check_user_manual_ajax = '{url:/site/check_use_manual}';
var type = {if:$type}{$type}{else:}1{/if};
var choose_manual_url = '{url:/site/manual_choose/dqk_id/@dqk_id@}';
</script>

  <div class="swiper-container">
  	<div class="swiper-wrapper">
  		{if:$dqk_list}
    		<div class="swiper-slide">
    			<img width="100%" src="{webroot:$dqk_list[0]['logo']}" />
    		</div>
  		{/if}
  	</div>
  	<div class="swiper-pagination"></div>
    <div class="dqk_name">{$seller_info['shortname']}</div>
  </div>

	{if:$dqk_list}
  <div class="content_module">
    <div class="hd">
      优惠名称
    </div>
    <div class="bd">
      <ul>
				<li class="dqk_list">
          {foreach:items=$dqk_list}
          {$item['name']}
          {/foreach}
        </li>
      </ul>
    </div>
  </div>
	{/if}

  <div class="content_module">
    <div class="hd">
      适用学校
    </div>
    <div class="bd seller_info">
      <ul>
        <li>{$seller_info['shortname']}</li>
        <li>{if:$seller_info['area']}{echo:area::getName($seller_info['area'])}{/if}{$seller_info['address']}</li>
      </ul>
      {if:$seller_info['phone']}<div class="seller_tel"><a href="tel:{$seller_info['phone']}"></a></div>{/if}
    </div>
  </div>

  <div class="content_module">
    <div class="hd">
      使用说明
    </div>
    <div class="bd">
      <ul>
        <!-- <li class="classnum">1、报名正式课程可抵扣<span></span>课学费</li> -->
        <li>1、此优惠仅限学习通用户使用</li>
      </ul>
    </div>
  </div>

  {if:$dqk_list}
  <div class="content_module">
    <div class="hd">
      优惠详情
    </div>
    <div class="bd">
      <ul>
        {foreach:items=$dqk_list}
        <li>{$item['content']}</li>
        {/foreach}
      </ul>
    </div>
  </div>
  {/if}

	{if:$brand_info['class_desc_img'] || $brand_info['description'] || $brand_info['shop_desc_img']}
  <div class="content_module last">
    <div class="hd">
      学校介绍
    </div>
    <div class="bd">
      {if:$brand_info['class_desc_img']}
        <div class="seller_desc_img">
          {if:$brand_info['class_desc_img'][1]}
      　　  <img src="{webroot:$brand_info['class_desc_img'][1]}" />
          {else:}
            <img src="{webroot:$brand_info['class_desc_img'][0]}" />
          {/if}
        </div>
      {else:}
        {if:$brand_info['description']}
        <div class="seller_desc">
          {$brand_info['description']}
        </div>
        {/if}
      {/if}

      {if:$brand_info['shop_desc_img']}
      <div class="seller_album"><img src="/views/mobile/skin/blue/images/seller_album_icon.png" /></div>
      <ul class="seller_album_list">
        {foreach:items=$brand_info['shop_desc_img']}
        <li><img src="{webroot:$item}" /></li>
        {/foreach}
      </ul>
      {/if}

      {if:$teacher_list}
      <div class="teacher_list">
        <div class="seller_album"><img src="/views/mobile/skin/blue/images/teacher_album_icon.png" /></div>
        <ul>
          {foreach:items=$teacher_list}
          <li>
            <div class="teacher_logo">
              <img src="{webroot:$item['icon']}" onerror="javascript:this.src='/views/default/skin/default/images/avatar.jpg';" />
            </div>
            <div class="teacher_desc">
              <div style="font-size:16px;font-weight:600;">{$item['name']}</div>
              <p>{$item['description']}</p>
            </div>
          </li>
          {/if}
        </ul>
      </div>
      {/if}

    </div>
  </div>
	{/if}

  <div class="tocart" style="display:none;">
		<a href="javascript:void(0);" class="use_manual">使用学习通</a>
  </div>
  <div class="tocart_notice"></div>

  <script type="text/javascript" src="{theme:javascript/chit1_detail.js}"></script>

  {if:$this->iswechat == 1}
  <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
  <script type="text/javascript">
  sharedata = {$this->sharedata};
  wx.config({
      //debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '{$this->signPackage['appId']}', // 必填，公众号的唯一标识
      timestamp: '{$this->signPackage['timestamp']}' , // 必填，生成签名的时间戳
      nonceStr: '{$this->signPackage['nonceStr']}', // 必填，生成签名的随机串
      signature: '{$this->signPackage['signature']}',// 必填，签名，见附录1
      jsApiList: [
        'checkJsApi',
    		'onMenuShareTimeline',
    		'onMenuShareAppMessage',
    		'onMenuShareQQ',
    		'onMenuShareWeibo',
    		'hideMenuItems',
    		'showMenuItems',
    		'hideAllNonBaseMenuItem',
    		'showAllNonBaseMenuItem',
    		'translateVoice',
    		'startRecord',
    		'stopRecord',
    		'onRecordEnd',
    		'playVoice',
    		'pauseVoice',
    		'stopVoice',
    		'uploadVoice',
    		'downloadVoice',
    		'chooseImage',
    		'previewImage',
    		'uploadImage',
    		'downloadImage',
    		'getNetworkType',
    		'openLocation',
    		'getLocation',
    		'hideOptionMenu',
    		'showOptionMenu',
    		'closeWindow',
    		'scanQRCode',
    		'chooseWXPay',
    		'openProductSpecificView',
    		'addCard',
    		'chooseCard',
    		'openCard'
      ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
  });
  wx.ready(function(){
    wx.onMenuShareAppMessage(sharedata);
    wx.onMenuShareTimeline(sharedata);
    wx.onMenuShareQQ(sharedata);
    wx.onMenuShareWeibo(sharedata);
  });
  wx.error(function (res) {
    	//alert("调用微信jsapi返回的状态:"+res.errMsg);
  });
  </script>
  {/if}
