<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>康卓商城</title>
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <script type="text/javascript" src="{theme:javascript/mui2/js/mui.picker.js}"></script>
        <link rel="stylesheet" href="{theme:javascript/weui/weui.css}">
        <link rel="stylesheet" href="{theme:javascript/mui2/css/mui.min.css}">
        <link rel="stylesheet" href="{theme:javascript/mui2/css/icons-extra.css}">
        <link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/app.css}" />
    	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/common.css}"/>
    	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/preview.css}"/>
	<script type="text/javascript" src="{rs:/scripts/jquery-3.1.1.min.js}"></script>
	<script type="text/javascript" src="{theme:javascript/mui/js/mui.min.js}"></script>
	<script type="text/javascript" src="{rs:/scripts/common.js}"></script>
    </head>
    
    <body>
        <div class="mui-content">
            <div id="tabbar" class="mui-control-content mui-active">
                
                <header class="mui-bar mui-bar-nav" style="background-color: #5cc2d0;">
                    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
                    	<h1 class="mui-title" style="color:#fff">商 品 详 情</h1>
                </header>
                
                <div class="mui-slider" style="margin-top:44px">
                    <div class="mui-slider-group">
                        <div class="mui-slider-item">
                            <a href="#">
                                <img src="{webroot:$photo[0]['img']}" height="200px" data-preview-src="" data-preview-group="1" />
                            </a>
                            <div class="layer"></div>
        				    <div class="layertxt"> &nbsp;  &nbsp;  <b style="color:#FFF">{$name}</b></div>
                        </div>
                        <div class="mui-slider-item">
                            <a href="#">
                                <img src="{webroot:$photo[0]['img']}" height="200px" data-preview-src="" data-preview-group="1" />
                            </a>
                            <div class="layer"></div>
        				    <div class="layertxt"> &nbsp;  &nbsp;  <b style="color:#FFF">{$name}</b></div>
                        </div>
                    </div>
                </div>
                
                <div class="mui-card" style="margin: 2px;">
                    <div class="mui-card-footer">
                        <span style="color:red;font-size:1.5em">￥{$sell_price}</span>
                        <span>原价:<del> ￥{$market_price} &nbsp;</del>  &nbsp;  &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; </span>
                        已售：{$sale}
                    </div>
                </div>
                
                <div class="mui-card" style="margin: 2px;">
                    <form class="mui-input-group">
                        <div class="mui-input-row" style="height:46px">
                            <label><b style="font-size:1.2em">购买数量</b></label>
                            <div class="mui-numbox" data-numbox-min="1" data-numbox-max="9" style="margin:5px;margin-right:16px">
                                <button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
                                <input class="mui-input-numbox" type="number" id="goodsnum" value="1">
                                <button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
                            </div>
                        </div>
                    </form>
                </div>
                
                <div class="mui-content" style="padding-top: 0px;">
                	<div class="mui-content-padded" style="background-color:#FFF;margin: 0px;">
                    	<div class="mui-content-padded" style="background-color:#FFF;margin: 12px;padding-top: 5px;">
                        	    {$content}
                    	</div>
                	</div>
                </div>

                <!--div class="mui-card" style="margin: 2px;">
                    <div class="mui-card-footer">
                        <span>  &nbsp; &nbsp; 评价:</span>({$comments})&nbsp; &nbsp; 
                    </div>
                </div-->
                <br><br>
            </div>
        </div>
        
        
      
    <footer class="mui-bar mui-bar-footer" style="width: 100%;left: 0;z-index: 9;padding-right: 0px;padding-left: 0px;">
        <div class="weui-navbar" style="background-color: #FFF;bottom:0px;height:50px">
    <a class="mui-btn mui-btn-warning" onclick="joincart();" style="width:50%;height:100%;float: left;text-align: center;top:0px;font-size:18px;line-height:2;">
			加入购物车
	</a>
    <a class="mui-btn mui-btn-danger" onclick="goodsbuy();" style="width:50%;height:100%;float: left;text-align: center;top:0px;font-size:18px;line-height:2;">
			立即购买
	</a>
        </div>
    </footer>
    
<div id="__MUI_PREVIEWIMAGE" class="mui-slider mui-preview-image mui-fullscreen">
    <div class="mui-preview-header"><span class="mui-preview-indicator"></span>
    </div>
    <div class="mui-slider-group"></div>
    <div class="mui-preview-footer mui-hidden"></div>
    <div class="mui-preview-loading"><span class="mui-spinner mui-spinner-white"></span>
    </div>
</div>

    <script src="{theme:javascript/mui2/js/mui.min.js}"></script>
    <script src="{theme:javascript/mui2/js/mui.zoom.js}"></script>
    <script src="{theme:javascript/mui2/js/mui.previewimage.js}"></script>
    <script> 
        mui.init({swipeBack:true});
		mui.previewImage();
	</script>
    {if:$this->iswechat == 1}
        <script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"> </script>
        <script type="text/javascript">
        sharedata = {$this->sharedata};
        wx.config({
            //debug: true, // 开启调试模式
            appId: '{$this->signPackage['appId']}', // 必填，公众号的唯一标识
            timestamp: '{$this->signPackage['timestamp']}' , // 必填，生成签名的时间戳
            nonceStr: '{$this->signPackage['nonceStr']}', // 必填，生成签名的随机串
            signature: '{$this->signPackage['signature']}',// 必填，签名，见附录1
            jsApiList: [
              'checkJsApi',
          		'onMenuShareTimeline',
          		'onMenuShareAppMessage',
          		'onMenuShareQQ',
          		'onMenuShareWeibo',
          		'hideMenuItems',
          		'showMenuItems',
          		'hideAllNonBaseMenuItem',
          		'showAllNonBaseMenuItem',
          		'translateVoice',
          		'startRecord',
          		'stopRecord',
          		'onRecordEnd',
          		'playVoice',
          		'pauseVoice',
          		'stopVoice',
          		'uploadVoice',
          		'downloadVoice',
          		'chooseImage',
          		'previewImage',
          		'uploadImage',
          		'downloadImage',
          		'getNetworkType',
          		'openLocation',
          		'getLocation',
          		'hideOptionMenu',
          		'showOptionMenu',
          		'closeWindow',
          		'scanQRCode',
          		'chooseWXPay',
          		'openProductSpecificView',
          		'addCard',
          		'chooseCard',
          		'openCard'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });
        wx.ready(function(){
          wx.onMenuShareAppMessage(sharedata);
          wx.onMenuShareTimeline(sharedata);
          wx.onMenuShareQQ(sharedata);
          wx.onMenuShareWeibo(sharedata);
        });
        wx.error(function (res) {
          	//alert("调用微信jsapi返回的状态:"+res.errMsg);
        });
        </script>
    {/if}
    

<script type='text/javascript'>

    function goodsbuy(){
        var buyurl = '{url:/simple/cart2/type/goods/id/$id/num}';
        buyurl =  buyurl + '/' + document.getElementById('goodsnum').value;
        window.location.href=buyurl;
    }
    
    
    function joincart(){ 
    	var buyNums   = document.getElementById('goodsnum').value;
		var productId = {$id} ;
		var type      = 'goods';
		var goods_id  = {$id} ;
		$.getJSON(creatUrl("simple/joinCart"),{"goods_id":goods_id,"type":type,"goods_num":buyNums,"random":Math.random},function(content)
		{
			if(content.isError == false)
			{
				mui.toast("已加入购物车~");
				/*    获取购物车信息
				$.getJSON(creatUrl("simple/showCart"),{"random":Math.random},function(json)
				{		//	$('[name="mycart_count"]').text(json.count);$('[name="mycart_sum"]').text(json.sum);
				mui.toast("目前选购商品共"+json.count+"件，合计：￥"+json.sum);
				});
				*/
			}
			else
			{
			    mui.toast(content.message);
			}
		});
    }
		
</script>
    </body>
</html>