<link href="{skin:css/service.css}" rel="stylesheet" type="text/css" />
<div class="service_warp">
    <div class="service">
        <h2><img src="{skin:images/contact_us.png}" alt=""></h2>
        <p class="position">地址：中心广场大汉希尔顿1栋2601</p>
        <p class="qq">QQ：2821518520</p>
        <p class="email">邮箱：disanke@dsanke.com</p>
        <p class="tel"><a href="tel:28308258">电话：0731-28308258</a></p>
        <p class="wx">微信：hnlxsh2017</p>
        <p class="bus">公交：T2路、T18路、T21路、T17路、T48路、T68路、T42路、T28路、T35路、D168路、T40路、67路、T60路到中心广场下车，或乘公交T1路/T5路/T9路到口腔医院下车</p>
        <ul>
            <li><img src="{skin:images/ewm_wx.png}" alt=""></li>
            <li><img src="{skin:images/ewm_service.jpg}" alt=""></li>
        </ul>
    </div>
</div>

<script language="javascript">
$(document).ready(function(){
  $('.mui-title').html('联系我们');
})
</script>
