



<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>康卓商城 我的会员</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="{theme:javascript/mui2/js/mui.picker.js}"></script>
	<link rel="stylesheet" href="{theme:javascript/weui/weui.css}">
	<link rel="stylesheet" href="{theme:javascript/mui2/css/mui.min.css}">
	<link rel="stylesheet" href="{theme:javascript/mui2/css/icons-extra.css}">
	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/app.css}"/>
	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/common.css}"/>
	<script type="text/javascript" src="{rs:/scripts/jquery-3.1.1.min.js}"></script>
	<script type="text/javascript" src="{theme:javascript/mui/js/mui.min.js}"></script>
	<script type="text/javascript" src="{rs:/scripts/common.js}"></script>
</head>

<body>

<nav class="mui-bar mui-bar-tab">
	<a class="mui-tab-item" href="/">
		<span class="mui-icon mui-icon-home"></span>
		<span class="mui-tab-label">首页</span>
	</a>
	<a class="mui-tab-item" href="{url:/simple/cart}">
		<span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
		<span class="mui-tab-label">购物车</span>
	</a>
	<a class="mui-tab-item mui-active" href="{url:/ucenter}">
		<span class="mui-icon mui-icon-contact"></span>
		<span class="mui-tab-label">个人中心</span>
	</a>
</nav>

<div class="mui-content">
	<div id="tabbar-with-contact" class="mui-control-content mui-active">
		<header class="mui-bar mui-bar-nav" style="background-color: #5cc2d0;">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" style="color:#fff">{$this->title}</h1>
		</header>
        
        <div class="mui-content">
            
<?php $this->title = '提示'; ?>
<?php $noback = true; ?>
{template:'/views/mobile/layouts/header2.html'}{set: $is_seller = IFilter::act(IReq::get('is_seller'),'int')}
<style>
.caozuocgbox { font-size: 90%; margin-top: 30px; color:#666; }
.caozuocgbox .notice { width:150px; margin: 20px auto; text-align: center; clear: both;}
.caozuocgbox .notice .notice_str { margin-left: 18px; line-height: 35px; color:#f90; font-weight:600; font-size:1.2em;margin-top:10px;}
.caozuocgbox .go_action { width: 80%; margin: 0px auto; clear: both; padding-top: 15px;text-align:center; color:#666;line-height:30px;}
.caozuocgbox .go_action a { margin-top: 10px;background:#00A1EA;font-weight:400;color:#fff;height:35px;display:block;width:100%;line-height:35px; }
</style>
<div class="caozuocgbox">
	<div class="caozuocg-box">
		<div class="czbox">
			<div class="czboxnr">
						<div class="notice clearfix">
                        	<div class="notice_icon">
                                <div class="icon-box">
                                    <i class="weui-icon-success weui-icon_msg"></i>
                                </div>
                             </div>

                             <div class="notice_str">
                             	{echo:IReq::get('message') ? IFilter::act(IReq::get('message'),'text') : '操作成功！'}
                             </div>
                        </div>

						<div class="go_action">
							{set:$callback = IFilter::act(IReq::get('callback'),'text')}
							{set:$callback_str = IFilter::act(IReq::get('callback_str'))}
							{if:$callback}
							<center>
							<button type="button" class="mui-btn mui-btn-primary mui-btn-block" id="withdraw" href="{url:$callback}"
                            style="width: 80%;margin:10px 10px 10px;padding: 10px 15px;border: 1px solid #5cc2d0;background-color: #5cc2d0;">{if:$callback_str}{$callback_str}{else:}返回{/if}</button>
							{/if}
							<br/>
							    
							</center>
							{set:$email = IFilter::act(IReq::get('email'))}
							{if:$email}
							<a class="blue" href="{url:/simple/send_check_mail/email/$email}" style="">重新发送验证邮件</a>
							{/if}
						</div>

			</div>
		</div>
	</div>
</div>
            
        </div>
	</div>

</div>

<script src="{theme:javascript/mui2/js/mui.min.js}"></script>
<script>
	mui.init({swipeBack:true});
	mui('nav').on('tap','a',function(){document.location.href=this.href;});
</script>
</body>
</html>