<link href="{skin:css/prolist.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.lazyload.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.lazyload.img.js}"></script>
<script type="text/javascript">mui.init({swipeBack:true});var SITE_URL = '/';</script>
<div class="mui-content">
    <input type="hidden" id="pagenum" value="1">
    <input type="hidden" id="cat" value="0">
    <input type="hidden" id="teaching_time" value="0">
    <input type="hidden" id="region" value="0">
    <div class="pro-tab">
      <a href="javascript:;" id="attrtext0">课程分类</a>
      <a href="javascript:;" class="attr1" id="attrtext1">性别</a>
      <a href="javascript:;" class="attr2" id="attrtext2">授课地区</a>
    </div>
    <div class="mui-scroll-wrapper list" id="goodslist">
        <div class="mui-scroll">
            <ul class="mui-table-view">

            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var isrefesh = false;
        mui.init({
            pullRefresh: {
                container: '#goodslist',
                up: {
                    contentrefresh: '正在加载...',
                    callback: pullupRefresh
                }
            }
        });
        mui.ready(function(){
            document.getElementById('pagenum').value = 1;

            var attrPicker1 = new mui.PopPicker();
            var attrdata = "[{value: '', text: '性别'}";
            attrdata += ",{value: 1, text: '男'}";
            attrdata += ",{value: 2, text: '女'}";
            attrdata += ']';
            attrPicker1.setData(eval('(' + attrdata + ')'));
            document.getElementById('attrtext1').addEventListener('tap', function(event) {
                attrPicker1.show(function(items) {
                    $('#teaching_time').val(items[0].value);
                    document.getElementById('attrtext1').innerText = items[0].text;
                    document.getElementById('pagenum').value = 1;
                    isrefesh = true;
                    mui('#goodslist').pullRefresh().pullupLoading();
                });
            }, false);
            var attrPicker2 = new mui.PopPicker();
            var attrdata = "[{value: '', text: '授课地区'}";
            {foreach:items=$region_list}
            attrdata += ",{value: {$item['area_id']}, text: '{$item['area_name']}'}";
            {/foreach}
            attrdata += ']';
            attrPicker2.setData(eval('(' + attrdata + ')'));
            document.getElementById('attrtext2').addEventListener('tap', function(event) {
                attrPicker2.show(function(items) {
                    $('#region').val(items[0].value);
                    document.getElementById('attrtext2').innerText = items[0].text;
                    document.getElementById('pagenum').value = 1;
                    isrefesh = true;
                    mui('#goodslist').pullRefresh().pullupLoading();
                });
            }, false);
            var attrPicker3 = new mui.PopPicker();
            var attrdata = "[{value: '', text: '课程分类'}";
            {foreach:items=$cates_arr key=$key}
            attrdata += ",{value: {$key}, text: '{$item}'}";
            {/foreach}
            attrdata += ']';
            attrPicker3.setData(eval('(' + attrdata + ')'));
            document.getElementById('attrtext0').addEventListener('tap', function(event) {
                attrPicker3.show(function(items) {
                    $('#cat').val(items[0].value);
                    document.getElementById('attrtext0').innerText = items[0].text;
                    document.getElementById('pagenum').value = 1;
                    isrefesh = true;
                    mui('#goodslist').pullRefresh().pullupLoading();
                });
            }, false);
        });

        function pullupRefresh() {
            setTimeout(function() {
                var table = document.body.querySelector('.mui-table-view');
                var cells = document.body.querySelectorAll('.mui-table-view-cell');
                var page = document.getElementById('pagenum').value,
                    cat = document.getElementById('cat').value,
                    teaching_time = document.getElementById('teaching_time').value,
                    region = document.getElementById('region').value,
                    attr = '';
                var params = 'page=' + page, attr = '';
                if(cat){
                    params += '&cat=' + cat;
                }
                if(teaching_time){
                    params += '&sex=' + teaching_time;
                }
                if(region){
                    params += '&region=' + region;
                }
                //console.log(params);
                $('.attrlist').each(function(i, el){
                    if($(el).attr('data-id') != '' && $(el).attr('data-value') != ''){
                        attr += '&attr[' + $(el).attr('data-id') + ']=' + $(el).attr('data-value');
                        $('.attr' + $(el).attr('data-id')).text($(el).attr('data-value'));
                    }
                });

                params += attr;
                if(isrefesh){
                    table.innerHTML = '';
                }
                mui.get(SITE_URL + 'site/get_user_tutor_list_ajax', params, function(json){
                    if(json.num < 10){
                        mui('#goodslist').pullRefresh().endPullupToRefresh(true);
                    }else{
                        mui('#goodslist').pullRefresh().endPullupToRefresh();
                    }

                    for (var i = 0; i < json.num; i++) {
                        var li = document.createElement('li');
                        li.className = 'mui-table-view-cell mui-media';
                        li.innerHTML = '<a href="' + json[i].link + '"><img class="mui-media-object mui-pull-left" src="/' + json[i].head_ico  + '">'+
                                            '<div class="mui-media-body">' + json[i].true_name +
                                                '<p class="mui-ellipsis">' + json[i].grade +
                                                '</p>' +
                                                '<div class="goodsprice" style="color:#dd137b;">学费：￥' + json[i].price + '</div>' +
                                            '</div>' +
                                          '</a>';
                        table.appendChild(li);
                    }
                    document.getElementById('pagenum').value = json.page;
                    isrefesh = false;
                }, 'json');
            }, 500);
        }
        if (mui.os.plus) {
            mui.plusReady(function() {
                setTimeout(function() {
                    mui('#goodslist').pullRefresh().pullupLoading();
                }, 1000);

            });
        } else {
            mui.ready(function() {
                mui('#goodslist').pullRefresh().pullupLoading();
            });
        }
    </script>
</div>

<script type="text/javascript">
    mui('body').on('tap', 'a', function(){
        if(this.href != '#' && this.href != ''){
            mui.openWindow({
                url: this.href
            });
        }
        this.click();
    });

    (function($) {
        $(document).imageLazyload({
            placeholder: '/views/mobile/skin/blue/images/lazyload.jpg'
        });
    })(mui);
</script>
