{js:artTemplate}
<style>
.hide { display: none;}
</style>

<div class="wrapper clearfix">
	<div class="position mt_10"><span>您当前的位置：</span> <a href="{url:}"> 首页</a> » 填写核对订单信息</div>
	<div class="myshopping m_10">
		<ul class="order_step">
			<li class="current_prev"><span class="first"><a href='{if:IReq::get('id')}javascript:window.history.go(-1);{else:}{url:/site/transfer_show/id/$order['transferid']}{/if}'>1、查看转让信息</a></span></li>
			<li class="current"><span>2、填写核对订单信息</span></li>
			<li class="last"><span>3、成功提交订单</span></li>
		</ul>
	</div>

	<form action='{url:/simple/transferupdate}' method='post' name='order_form'>

		<input type='hidden' name='orderid' value='{$order['id']}' />

		<div class="cart_box m_10">
			<div class="title">填写核对订单信息</div>
			<div class="cont">

				<!--地址管理 开始-->
				<div class="wrap_box">
					<h3>
						<span class="orange">联系人信息</span>
					</h3>
					<!--收货表单信息 开始-->
					<div class="box">
						<table class="form_table">
							<col width="90px" />
							<col />

							<tbody>
								<tr>
									<th>联系人姓名：</th><td><input class="normal" type="text" name="acceptname" pattern='required' alt='姓名不能为空' /> <span>(*) 联系人的姓名</span> </td>
								</tr>
								<tr>
									<th>手机号码：</th><td><input class="middle" name='telephone' type="text" pattern='mobi' alt='格式不正确' /> <span>(*)</span></td>
								</tr>
							</tbody>
						</table>
					</div>
					<!--收货表单信息 结束-->
				</div>
				<!--地址管理 结束-->

				<!--支付方式 开始-->
				<div class="wrap_box" id='paymentBox'>
					<h3>
						<span class="orange">支付方式</span>
					</h3>

					<table width="100%" class="border_table" id='payment_form'>
						<colgroup>
							<col width="200px" />
							<col />
						</colgroup>
						{set:$paymentList=Api::run('getPaymentList')}
						{foreach:items = $paymentList}
						{set:$paymentPrice = CountSum::getGoodsPaymentPrice($item['id'],$this->sum);}
						<tr>
							<th><label><input class="radio" name="payment" alt="{$paymentPrice}" title="{$item['name']}" type="radio" value="{$item['id']}" paytype="{$item['name']}" onclick="setPayType(this)" />{$item['name']}</label></th>
							<td>&nbsp;</td>
						</tr>
						{/foreach}
					</table>
					<input type="hidden" name="paytype" id="paytype" value="">
				</div>
				<!--支付方式 结束-->

				<!--订单留言 开始-->
				<div class="wrap_box">
					<h3>
						<span class="orange">订单附言</span>
					</h3>

					<table width="100%" class="form_table" id='message_form'>
						<col width="120px" />
						<col />
						<tr>
							<th>订单附言：</th>
							<td><input class="normal" type="text" name='mark' /></td>
						</tr>
					</table>
				</div>
				<!--订单留言 结束-->

				<!--购买清单 开始-->
				<div class="wrap_box">

					<h3><span class="orange">购买的课程</span></h3>

					<table width="100%" class="cart_table t_c">

						<thead>
							<tr>
								<th>图片</th>
								<th>课程</th>
								<th>单价</th>
								<th>手续费</th>
								<th>数量</th>
								<th class="last">小计</th>
							</tr>
						</thead>

						<tbody>
							<!-- 课程展示 开始-->
							<tr>
								<td><img src="{url:/pic/thumb/img/$order['goods'][img]/w/66/h/66}" width="66px" height="66px" alt="{$order['goods']['name']}" title="{$order['goods']['name']}" /></td>
								<td class="t_l">
									<a href="{url:/site/transfer_show/id/$order[transferid]}" class="blue">{$order['goods']['name']}</a>
								</td>
								<td><b>￥{$order['price']}</b></td>
								<td>￥{$order['commission']}</td>
								<td>{$order['num']}</td>
								<td><b class="red2">￥{$order['amount']}</b></td>
							</tr>
							<!-- 课程展示 结束-->
						</tbody>
					</table>
				</div>
				<!--购买清单 结束-->

			</div>
		</div>

		<!--金额结算-->
		<div class="cart_box" id='amountBox'>
			<div class="cont_2">
				<strong>结算信息</strong>
				<div class="pink_box">
					<p class="f14 t_l orange">单价：<b>{$order['price']}</b> + 手续费：<b name='ticket_value'>{$order['commission']}</b> = <b id='tax_fee'>{$order['amount']}</b>
					{set:$site_config=new Config('site_config');}
					<span>(平台收取{$site_config->tbcommission}%的手续费)</span>
				</div>
				<hr class="dashed" />
				<div class="pink_box gray m_10">
					<table width="100%" class="form_table t_l">
						<colgroup>
							<col width="220px" />
							<col />
							<col width="250px" />
						</colgroup>

						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td class="t_r"><b class="price f14">应付总额：<span class="red2">￥<b id='final_sum'>{$order['amount']}</b></span>元</b></td>
						</tr>
					</table>
				</div>
				<p class="m_10 t_r"><input type="submit" class="submit_order" /></p>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
function setPayType(obj){
    $('#paytype').val($(obj).attr('paytype'));
}
</script>
