<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{js:kindeditor}
{js:my97date}
{set:$swfloadObject = new Swfupload();$swfloadObject->show($this->admin['admin_name'],$this->admin['admin_pwd']);}
{js:artTemplate}
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
<script language="javascript">
{if:$form['course_imgs_json'] != ''}var _course_imgs_arr = {$form['course_imgs_json']};{else:}var _course_imgs_arr = new Array();{/if}
{if:$form['students_imgs_json'] != ''}var _students_imgs_arr = {$form['students_imgs_json']};{else:}var _students_imgs_arr = new Array();{/if}
</script>
{set:
$site_config=new Config('site_config');
}
<style>
#thumbnails2, #thumbnails3 {
	margin-top: 12px;
}
#thumbnails2 .pic, #thumbnails3 .pic {
	width: 12%;
}
#thumbnails2 .pic img, #thumbnails3 .pic img {
	max-width: 100%;
}
.form_table input[type=radio] {
	vertical-align: middle;
	margin-right: 3px;
	cursor: pointer;
}
.form_table .statement_label {
	cursor: pointer;
}
.hide {
	display: none;
}
</style>

<div class="headbar clearfix">
	<!-- <div class="position"> -->
			<!-- <span>课程</span> -->
			<!-- <span>></span> -->
			<!-- <span>课程管理</span> -->
			<!-- <span>></span> -->
			<!-- <span>课程编辑</span> -->
	<!-- </div> -->
	<ul class="tab" name="menu1">
		<li id="li_1" class="selected"><a href="javascript:void(0)" hidefocus="true" onclick="select_tab('1')">课程编辑</a></li>
	</ul>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/goods/goods_update}" name="goodsForm" method="post">
			<input type="hidden" name="id" value="" />
			<input type='hidden' name="img" value="" />
			<input type='hidden' name="_imgList" value="" />
			<input type='hidden' name="callback" value="{url:/goods/goods_list/page/$page}" />

			<div id="table_box_1">
				<table class="form_table">
					<col width="70px" />
					<col />

					<tr>
						<th>课程名称：</th>
						<td>
							<input class="normal" name="name" type="text" value="" pattern="required" alt="课程不能为空" onblur="wordsPart()" value="{$form['name']}" />
							<label>*</label>
						</td>
					</tr>

					<tr>
						<th>关键词：</th>
						<td>
							<input type='text' class='middle' name='search_words' value='{$form['search_words']}' />
						</td>
					</tr>
					<tr class="bianhao">
						<th>课程号：</th>
						<td>
							<input type='text' class='middle' name='goods_no' value='{$form['goods_no']}' />
							<label></label>
						</td>
					</tr>
					<tr>
		        		<th>一句话简介：</th>
		            <td>
		            	<textarea name="goods_brief" id="goods_brief" style="width:95%;height:50px;" >{$form['goods_brief']}</textarea>
		            </td>
		          </tr>
					<tr>
						<th>所属商户：</th>
						<td>
							<select class="auto" name="seller_id" id="seller_id" onchange="getDiscount(this)">
								<option value="0">平台自营 </option>
								{query:name=seller where=is_del eq 0}
								<option value="{$item['id']}">{$item['true_name']}-{$item['seller_name']}</option>
								{/query}
							</select>
							<label><a href='{url:/member/brand_edit}' class='orange'>点击添加商户</a></label>
						</td>
					</tr>

					<script type="text/javascript">
						function getDiscount(obj){
							$.getJSON('{url:/goods/getdiscount}', {seller_id: $(obj).val()}, function(json){
								$('input[name="discount[]"]').val(json.discount);
							});
						}
					</script>

					<tr>
						<th>所属分类：</th>
						<td>
							<div id="__categoryBox" style="margin-bottom:8px"></div>
							<button class="btn" type="button" name="_goodsCategoryButton"><span class="add">设置分类</span></button>
							{set:plugin::trigger('goodsCategoryWidget',array("type" => "checkbox","name" => "_goods_category[]","value" => isset($goods_category) ? $goods_category : ""))}
							<a href='{url:/goods/category_edit}' class='orange'>请点击添加分类</a>
						</td>
					</tr>


					<tr>
						<th>课程相册：</th>
						<td>
							<input class="middle" type="text" disabled style="display: none;" />
							<div class="upload_btn">
								<span id="uploadButton"></span>
							</div>
							<label>&nbsp; 可以上传多张图片，分辨率为800x800像素，大小不得超过{echo:IUpload::getMaxSize()}</label>
						</td>
					</tr>

					<tr>
						<td></td>
						<td id="divFileProgressContainer"></td>
					</tr>

					<tr>
						<td></td>
						<td id="thumbnails"></td>
						<!--图片模板-->
						<script type='text/html' id='picTemplate'>
							<span class='pic'>
								<img onclick="defaultImage(this);" style="margin:5px; opacity:1;width:100px;height:100px" src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /><br />
								<a class='orange' href='javascript:void(0)' onclick="$(this).parent().remove();">删除</a>
							</span>
						</script>

					   <script type='text/html' id='picTemplate2'>
            	<div class='pic'>
	              <div class='pic_image'><img src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /></div>
                <div class='pic_dels'><a href='javascript:void(0)'>删除</a></div>
              </div>
             </script>
					</tr>
					<tr>
						<th>基本资料：</th>
						<td>
							<a href="javascript:;" onclick="addSpec()">增加一行</a>
						</td>
					</tr>
					<tr>
						<!-- <th>&nbsp;</th> -->
						<td>
							<table class="tablesorter clear" id="sepc_list">
								<style type="text/css">#sepc_list th,#sepc_list td{text-align: center; font-size: 12px;}</style>
								<!-- <tr> -->
									<th><input class="small" type="text" name="specname" value="{$product[0]['cusname']}" placeholder="例如：班级"></th>
									<th>招生人数</th>
									<th>授课老师</th>
									<th>课时</th>
									<th>每学期月数</th>
									<th>市场价</th>
									<th>折扣%</th>
									<th>成本价</th>
									<th>销售价</th>
									<!-- <th>定金(支持定金支付时填写)</th> -->
									<th>是否显示</th>
									<th>操作</th>
								</tr>
								{if:$product}
								{foreach:$items=$product}
								<tr>
									<td><input class="small" name="specval[]" type="text" value="{$item['cusval']}" placeholder="例如：突破班" /></td>
									<td><input class="tiny" name="student[]" type="text" value="{$item['student']}" /></td>
									<td>
										<select name="teacher[]">
											<option value="">无</option>
											{foreach:items=$teacher_list item=$val}
												<option value="{$val['id']}"{if:$item['teacher'] == $val['id']} selected{/if}>
													{$val['name']}
												</option>
											{/foreach}
										</select>

									</td>
									<td><input class="tiny" name="classnum[]" type="text" value="{$item['classnum']}" /></td>
									<td><input class="tiny" name="month[]" type="text" value="{$item['month']}" /></td>
									<td><input class="tiny market_price" tt="3" name="market_price[]" type="text" value="{$item['market_price']}" /></td>
									<td><input class="tiny discount" tt="1" name="discount[]" type="text" value="{$item['discount']}" /></td>
									<td><input class="tiny cost_price" tt="2" name="cost_price[]" type="text" value="{$item['cost_price']}" /></td>
									<td><input class="tiny sell_price" name="sell_price[]" type="text" value="{$item['sell_price']}" /></td>
									<td><input name="is_show[]" type="checkbox" value="1"{if:$item['is_show'] == 1} checked{/if} /></td>
									<!-- <td>
										<input class="small" name="dprice[]" type="text" value="" />
									</td> -->
									<td><a href="javascript:void(0)" onclick="delProduct(this, '{$item['id']}');">删除</a></td>
								</tr>
								{/foreach}
								{else:}
								<tr>
									<td><input class="small" name="specval[]" type="text" value="" placeholder="例如：突破班" /></td>
									<td><input class="tiny" name="student[]" type="text" value="100" /></td>
									<td>
										<select name="teacher[]">
											<option value="">无</option>
											{foreach:items=$teacher_list}
												<option value="{$item['id']}">
													{$item['name']}
												</option>
											{/foreach}
										</select>

									</td>
									<td><input class="tiny" name="classnum[]" type="text" value="" /></td>
									<td><input class="tiny" name="month[]" type="text" value="" /></td>
									<td><input class="tiny market_price" tt="3" name="market_price[]" type="text" value="" /></td>
									<td><input class="tiny discount" tt="1" name="discount[]" type="text" value="" /></td>
									<td><input class="tiny cost_price" tt="2" name="cost_price[]" type="text" value="" /></td>
									<td><input class="tiny sell_price" name="sell_price[]" type="text" value="" /></td>
									<td><input name="is_show[]" type="checkbox" value="1" checked /></td>
									<!-- <td>
										<input class="small" name="dprice[]" type="text" value="" />
									</td> -->
									<td><a href="javascript:void(0)" onclick="delProduct(this);">删除</td>
								</tr>
								{/if}
							</table>
						</td>
					</tr>


					<tr>
						<th>商品模型：</th>
						<td>
							<select class="auto" name="model_id" onchange="create_attr(this.value)">
								{query:name=model}
								<option value="{$item['id']}"{if:$from['model_id'] == $item['id']} selected{/if}>{$item['name']}</option>
								{/query}
							</select>
							<label>可以加入商品扩展属性，比如：型号，年代，款式...</label>
						</td>
					</tr>
					<tr id="properties" style="display:none">
						<th>扩展属性：</th>
						<td>
							<table class="border_table1" id="propert_table">
							<script type='text/html' id='propertiesTemplate'>
							<%for(var item in templateData){%>
							<%item = templateData[item]%>
							<%var valueItems = item['value'].split(',');%>
							<tr>
								<th><%=item["name"]%></th>
								<td>
									<%if(item['type'] == 1){%>
										<%for(var tempVal in valueItems){%>
										<%tempVal = valueItems[tempVal]%>
											<label class="attr"><input type="radio" name="attr_id_<%=item['id']%>" value="<%=tempVal%>" /><%=tempVal%></label>
										<%}%>
									<%}else if(item['type'] == 2){%>
										<%for(var tempVal in valueItems){%>
										<%tempVal = valueItems[tempVal]%>
											<label class="attr"><input type="checkbox"<%if(item['id'] == 1 && (tempVal == '每周一' || tempVal == '每周二' || tempVal == '每周三' || tempVal == '每周四' || tempVal == '每周五' || tempVal == '每周六' || tempVal == '每周日')){%> checked<%}%> name="attr_id_<%=item['id']%>[]" value="<%=tempVal%>"/><%=tempVal%></label>
										<%}%>
									<%}else if(item['type'] == 3){%>
										<select class="auto" name="attr_id_<%=item['id']%>">
										<%for(var tempVal in valueItems){%>
										<%tempVal = valueItems[tempVal]%>
										<option value="<%=tempVal%>"><%=tempVal%></option>
										<%}%>
										</select>
									<%}else if(item['type'] == 4){%>
										<input type="text" name="attr_id_<%=item['id']%>" value="<%=item['value']%>" class="normal" />
									<%}%>
								</td>
							</tr>
							<%}%>
							</script>
							</table>
						</td>
					</tr>

					<tr>
          	<th>课程简介：</th>
            <td>
            	<textarea name="content" id="content" style="width:95%;height:200px;" >{$form['content']}</textarea>
            </td>
          </tr>

					<!-- <tr>
						<th>交通信息：</th>
						<td>
							<input type="text" class="normal" name="traffic_information" />
						</td>
					</tr> -->

					<tr>
						<th>销量：</th>
						<td>
							<input type="text" class="normal" name="sale" />
						</td>
					</tr>

					<tr>
						<th>限购数量：</th>
						<td>
							<input type="text" class="normal" name="limit_num" />
						</td>
					</tr>

					<tr>
						<th>限购时间：</th>
						<td>
							<input type="text" class="normal" name="limit_start_time" onFocus="WdatePicker()"/>
							<input type="text" class="normal" name="limit_end_time" onFocus="WdatePicker()"/>
						</td>
					</tr>

					<tr>
						<th>推荐：</th>
						<td>
							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="1" checked />最新商品</label>
							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="2" />特价商品</label>
							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="3" />热卖商品</label>
							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="4" />推荐商品</label>
						</td>
					</tr>

					<tr>
						<th>是否上架：</th>
						<td>
							<label class='attr'><input type="radio" name="is_del" value="0" checked> 是</label>
							<label class='attr'><input type="radio" name="is_del" value="2"> 否</label>
							<label>只有上架的课程才会在前台显示出来，客户是无法看到下架课程</label>
						</td>
					</tr>

					<tr>
						<th>转让：</th>
						<td>
							<label class='attr'><input type="radio" name="is_refer" value="1" {if:$form['is_refer']}checked{/if}> 是</label>
							<label class='attr'><input type="radio" name="is_refer" value="0" {if:!$form['is_refer']}checked{/if}> 否</label>
							<label>课程剩余课时可在平台自由转让</label>
						</td>
					</tr>

					<tr>
						<th>免费试听：</th>
						<td>
							<label class='attr'><input type="radio" name="is_preview" value="1" {if:$form['is_preview']}checked{/if}> 有</label>
							<label class='attr'><input type="radio" name="is_preview" value="0" {if:!$form['is_preview']}checked{/if}> 无</label>
							<label>享受免费试听课</label>
						</td>
					</tr>

				</table>
			</div>


			<div id="table_box_3" cellpadding="0" cellspacing="0" style="display:none">
				<table class="form_table">
					<col width="150px" />
					<col />
					<tr>
						<th>关键词：</th><td><input class="normal" name="keywords" type="text" value="" /></td>
					</tr>
					<tr>
						<th>推广描述：</th><td><textarea name="description"></textarea></td>
					</tr>
				</table>
			</div>

			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<td></td>
					<td>
          	<input type="hidden" name="course_imgs" id="course_imgs" value="{$item['course_imgs']}" />
            <input type="hidden" name="students_imgs" id="students_imgs" value="{$item['students_imgs']}" />
            <button class="submit" type="submit" onclick="return checkForm()" style="width: 140px;"><span>发&nbsp; &nbsp; 布</span></button>
					</td>
				</tr>
			</table>

		</form>
	</div>
</div>

<script language="javascript">
var formObj = new Form('goodsForm');
var defaultProductNo = '{echo:goods_class::createGoodsNo()}';

$(function()
{
	initProductTable();
	var goods = {echo:JSON::encode($form)};
	formObj.init(goods);
	{if:!$from['model_id']}
	create_attr(1);
	{else:}
	$('[name="model_id"]').change();
	{/if}
	{if:isset($from['goods_no'])}
		$('[name="goods_no"]').val($from['goods_no']);
	{else:}
		$('[name="goods_no"]').val(defaultProductNo);
	{/if}


	{if:isset($goods_commend)}
			formObj.setValue('_goods_commend[]',"{echo:join(';',$goods_commend)}");
	{/if}

	{if:isset($goods_category)}
			{set:$categoryId = join(",",$goods_category)}
			{query:name=category items=$categoryData where=id in ($categoryId)}{/query}
			createGoodsCategory({echo:JSON::encode($categoryData)});
	{/if}

	{if:isset($goods_photo)}
			var goodsPhoto = {echo:JSON::encode($goods_photo)};
			for(var item in goodsPhoto)
			{
				var picHtml = template.render('picTemplate',{'picRoot':goodsPhoto[item].img});
				$('#thumbnails').append(picHtml);
			}
	{/if}

	{if:isset($form['img']) && $form['img']}
			$('#thumbnails img[alt="{echo:$form['img']}"]').addClass('current');
	{/if}

	// 删除图片
	$("body").on("click", ".pic .pic_dels a", function(){

		var _img_src = $(this).parent().parent().find('img').attr('true_src');
		var _parent_id = $(this).parent().parent().parent().attr('id');
		if ( _parent_id == 'thumbnails2')
			var _parent_img_arr = _course_imgs_arr;
		else
			var _parent_img_arr = _students_imgs_arr;

		$(this).parent().parent().remove();

		for( var i = 0; i < _parent_img_arr.length; i++ )
		{
			if( _parent_img_arr[i] == _img_src )
				_parent_img_arr.splice( i, 1 );
		}

		update_pics();
	});

	$('.cost_price').on('keyup',function(){
		calculation_price($(this));
	});

	$('.discount').on('keyup',function(){
		calculation_price($(this));
	});

	$('.market_price').on('keyup',function(){
		calculation_price($(this));
	});

	// 付款方式的切换
	$('input[name=statement]').change(function(){
		if ( $(this).val() == '1')
		{
			$('.statement_td').hide();
		}
		else
		{
			$('.statement_td').show();
		}
	})

	{if:$form['statement'] != 2}
		$('.statement_td').hide();
	{/if}

	$('.dprice_input').on('change', function(){
		var _dprice = $(this).val();
		var _rprice = _dprice * 0.3;
		_rprice = _rprice.toFixed(0);
		$(this).parent().parent().find(".rprice_input").val(_rprice);
	})
});

function calculation_price(obj)
{
	var rcommission = '{$site_config->rcommission}';
	var _val = obj.val();
	_val = parseFloat( _val );
	var _market_price = obj.parent().parent().find(".market_price").val();
	_market_price = parseFloat( _market_price );
	var _tt = obj.attr('tt');

	if ( _val >= 0 && _market_price >= 0 )
	{
		switch( _tt )
		{
			case '1':
				var sell_discount =  (_val / 100) * (rcommission / 100);
				var _cost_price = _market_price - (_market_price * ( _val / 100 ));
				var _sell_price = _market_price - (_market_price * sell_discount);

				obj.parent().parent().find(".cost_price").val(_cost_price.toFixed(2));
				obj.parent().parent().find(".sell_price").val(_sell_price.toFixed(2));
				break;
			case '2':
				var _discount = ( 1 - ( _val / _market_price )) * 100;
				var _sell_price = ( _market_price - _val ) * ( rcommission / 100 ) + _val;

				obj.parent().parent().find(".discount").val(_discount.toFixed(2));
				obj.parent().parent().find(".sell_price").val(_sell_price.toFixed(2));
				break;
		}
	}
}


function create_attr(model_id)
{
	$.getJSON("{url:/block/attribute_init}",{'model_id':model_id,'random':Math.random()}, function(json)
	{
		if(json && json.length > 0)
		{
			var templateHtml = template.render('propertiesTemplate',{'templateData':json});
			$('#propert_table').html(templateHtml);
			$('#properties').show();
			{if:isset($goods_attr)}
				{set:$attrArray = array();}
				{foreach:items = $goods_attr}
				{set:$valArray = explode(',',$item);}
				{set:$attrArray[] = '"attr_id_'.$key.'[]":"'.join(";",IFilter::act($valArray)).'"'}
				{set:$attrArray[] = '"attr_id_'.$key.'":"'.join(";",IFilter::act($valArray)).'"'}
				{/foreach}
				formObj.init({{echo:join(',',$attrArray)}});
			{/if}
		} else {
			$('#properties').hide();
		}
	});
}

function addSpec(){
	var html = '<tbody><tr><td><input class="small" name="specval[]" type="text" value="" /></td><td><input class="tiny" name="student[]" type="text" value="100" /></td><td><select name="teacher[]"><option value="">无</option>{foreach:items=$teacher_list}<option value="{$item['id']}">{$item['name']}</option>{/foreach}</select></td><td><input class="tiny" name="classnum[]" type="text" value="" /></td><td><input class="tiny" name="month[]" type="text" value="" /></td><td><input class="tiny market_price" name="market_price[]" type="text" value="" tt="3" /></td><td><input class="tiny discount" tt="1" name="discount[]" type="text" value="" /></td><td><input class="tiny cost_price" tt="2" name="cost_price[]" type="text" value="" /></td><td><input class="tiny sell_price" name="sell_price[]" type="text" value="" /></td><td><input name="is_show[]" type="checkbox" value="1" checked /></td><td><a href="javascript:void(0)" onclick="delProduct(this);">删除</a></td></tr></tbody>';
	$('#sepc_list').append(html);
	$('.cost_price').on('keyup',function(){
		calculation_price($(this));
	});

	$('.discount').on('keyup',function(){
		calculation_price($(this));
	});

	$('.market_price').on('keyup',function(){
		calculation_price($(this));
	});
}

function delProduct(_self, productid)

{
	productid = typeof productid != 'undefined' ? productid : false;
	if(productid){
		$.getJSON('{url:/goods/delpro}/productid/' + productid, {}, function(json){
			if(json.msg == 1){
				$(_self).parent().parent().remove();
			}
		})
	}else{
		$(_self).parent().parent().remove();
	}

}
</script>

<script type="text/javascript" charset="UTF-8" src="/views/sysdefault/javascript/goods_edit.js"></script>
