<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="headbar">
	<div class="position"><span>学习券列表</span></div>
</div>
<div class="content">
	<form method='post' action='{url:/market/brand_chit_update_sort}'>
    <table class="list_table" cellspacing="0">
  		<colgroup>
        <col width="8%" />
        <col width="12%" />
  			<col width="12%" />
  			<col width="40%" />
        <col width="25%" />
  			<col />
  		</colgroup>
  		<thead>
  			<tr>
   
          <th>排序</th>
  				<th>抵用</th>
  				<th>券额</th>
          <th>商户</th>
  				<th>时间</th>
  			</tr>
  		</thead>

  		<tbody>
  			{foreach:items=$brand_chit_list}
  			<tr>
          <td><input type="text" value="{$item['sort']}" name="id[{$item['id']}]" class="normal" style="width: 30px;text-align:center;" /></td>
  				<td><em>￥</em>{$item['max_order_chit']}</td>
  				<td>{$item['max_price']}</td>
          <td>{$item['shortname']}</td>
  				<td>{echo:date('Y-m-d', $item['limittime'])}结束</td>
          <td>
  					<a href="{url:/seller/chit_edit/id/$item['id']}" style="display:none;">编辑</a>
  					&nbsp; &nbsp; <a href="{url:/seller/chit_del/id/$item['id']}" style="display:none;">删除</a>
  				</td>
  			</tr>
  			{/foreach}
        {if:$page_info}
        <tr>
            <td colspan="9">{$page_info}</td>
        </tr>
        {/if}
        <tr>
          <td colspan="9">
            <button class="submit" type="submit"><span>排序</span></button></td>
        </tr>
  		</tbody>
  	</table>
	</form>
</div>
