<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{set:

$this->startDate = IFilter::act(IReq::get('startDate'));

$this->endDate   = IFilter::act(IReq::get('endDate'));

$countData = statistics::sellerAmount($this->seller['seller_id'],$this->startDate,$this->endDate);

}

{js:my97date}

{js:chart}



<article class="module width_full">

	<header>

		<div class="headtext">

	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>

	   <div class="biaoxi"><h4>销售统计</h4></div>

	   <div class="biaoduo"></div> 

	</div>

		<ul class="tabs" style="margin-top:50px;">

			<li>

				<form action="{url:}" method="get">

					<p><input type='hidden' name='controller' value='seller' /></p>

					<p><input type='hidden' name='action' value='account' /></p>

					<br/>

					<p>开始日期:</p>

					<p><input type="text" name='startDate' class="textwen"value='{$this->startDate}' class="Wdate" pattern='date' onFocus="WdatePicker()" empty /></p>

					<p>结束日期:</p>

					<p><input type="text" name='endDate'class="textwen" value='{$this->endDate}' class="Wdate" pattern='date' onFocus="WdatePicker()" empty /></p>

					<p><input type="submit" class="alt_btn" value="查询" /></p>

				</form>

			</li>

		</ul>

	</header>



	<div class="module_content">

		<div id="myChart" style="width:100%;min-height:320px;"></div>

	</div>

</article>



<script type='text/javascript'>

//图表生成

$(function()

{

	//图标模板

	userHighChart = $('#myChart').highcharts(

	{

		title:

		{

			text:'销售统计'

		},

		xAxis:

		{

			title:

			{

				text:'时间'

			},

			categories:{echo:JSON::encode(array_keys($countData))},

		},

		yAxis:

		{

			title:

			{

				text:'销售额(元)'

			},

		},

		series:

		[

			{

				name:'销售额',

				data:{echo:JSON::encode(array_values($countData))}

			}

		],

		tooltip:

		{

			valueSuffix:'元'

		}

	});

})

</script>