<?php $this->title="结算账单"; ?>
{template:'/views/msysseller/layouts/header.html'}
{set:$seller_id = $this->seller['seller_id']}
{set:$siteConfig = new Config("site_config")}

<style>
  .uinn-a6 { padding: 1em 0.65em 0 0.65em; }
  .alt_btn { padding: 5px; }
  .uinn-t-rank {font-size: 80%; margin-top: 12px; font-family:"微软雅黑"; }
  .uinn-t-rank li { width: 96%; padding-left: 2%; padding-right: 2%; background-color: #fff; margin-bottom: 10px; }
  .uinn-t-rank li > div { width: 90%; margin: 0px auto; }
  .uinn-t-rank li a { color: #000; text-decoration: none; }
  .uinn-t-rank .order_no, .uinn-t-rank .order_static { height: 25px; line-height: 25px; }
  .uinn-t-rank .order_action { height: 25px; overflow: hidden; width: 100%; }
  .uinn-t-rank .order_action .t-right { width: 20%; }
  .uinn-t-rank .order_action a.send { width: 100%; height: 23px; line-height: 23px; overflow: hidden; background-color: #ff5500; color: #fff; text-align: center; display: block; border-radius: 5px; }
  .uinn-t-rank .gray { color: #919090; }
  .uinn-t-rank .order_goods_list { clear: both; overflow: hidden; }
  .uinn-t-rank .order_goods_list .goods_info { margin-top: 5px; margin-bottom: 5px; clear: both; }
  .uinn-t-rank .order_static .format { color: #ff5500; }
  .uinn-t-rank .order_goods_list .goods_image { float: left; width: 50px; height: 50px; background-color: #f4f4f4; }
  .uinn-t-rank .order_goods_list .goods_image img { max-width: 100%; height: 100%; }
  .uinn-t-rank .order_goods_list .goods_infos { float: left; margin-left: 2%; line-height: 25px; }
  .uinn-t-rank .order_goods_list .goods_amount { float: left; color: #ff5500; margin-left: 3%; line-height: 25px; }
  .uinn-t-rank .notice { height: 25px; line-height: 25px; color: red; }
  .pages_bar { text-align: center; }
  .pages_bar a { color: red; margin-right: 3px; }
  .green { color: green; }
  .orange { color: orange; }
</style>


<div class="ub ub-ver">
    <div class="uinn-a6 t-gra3 ulev-app1">
        <input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/bill_edit}';" value="申请结算货款"
    </div>
    <div class="ub ub-ver uinn-a1">
        <div class="ub-img-rank rank-bg uinn-t-rank">
            <ul>
			{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
			{query: name=bill where=seller_id eq $seller_id page=$page}     
                <li>
                    <div class="order_no">
                        <div class="t-left">
                            结算周期：{$item['start_time']} ~ {$item['end_time']}
                        </div>
                    </div>
                    <div class="order_static">
                        申请时间：{$item['apply_time']}
                    </div>
                    
                    <div class="order_static">
                        结算状态:{if:$item['is_pay'] == 1}
        
                            <label class="green">已结算</label>
        
                            {else:}
        
                            <label class="orange">未结算</label>
        
                            {/if}
                    </div>
                    
                    <div class="order_static">
	                    结算时间:{$item['pay_time']}<br/>
                    </div>
                    
                    <div class="order_static">
                    	管理员回复:{$item['pay_content']}<br/>
                    </div>
                    
                    <div class="order_action">
                    	<div class="t-right">
	                        <a href="{url:/seller/bill_edit/id/$item[id]}" class="send">详情</a>
                        </div>
                    </div>
                </li>
            {/query}
            </ul>
            {$query->getPageBar()}
        </div>
    </div>
</div>
