{set:$brand = seller_class::get_brand_info_by_seller_id($this->seller['seller_id'])}
{js:cropper}
<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<link href="{rs:/scripts/layer/skin/layer.css}" rel="stylesheet" type="text/css" />
<style>
.part_tit {color:#ff4b2b;}
.mui-btn-primary {width:90%;border-radius:5px;background:linear-gradient(to right,#ff9638,#ff4b2b);border:0px;}
</style>
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
<script type="text/javascript" src="{rs:/scripts/layer/layer.js}"></script>
<script type="text/javascript" src="{theme:javascript/goods_edit2.js}"></script>

{set:$seller_id = $this->seller['seller_id']}
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" action="{url:/seller/brand_save}" name="sellerForm" method="post" enctype='multipart/form-data' id="brandFrom">
		<div class="mui-input-row">
			<label>学校名称</label>
				<input type="text" name="name" value="{$brand['name']}" placeholder="学校名称不能为空" readonly="readonly"/>
		</div>
		<div class="mui-input-row" style="display:none;">
			<label>二级域名</label>
				<input type="text" name="url" value="{$brand['url']}" placeholder="二级域名" />
		</div>
		<p>logo（PC端）</p>
		<div id="pc_logoPics" class="row image-list">
			<div class="image-item space" id="pc_logo"></div>
			{if:$brand['pc_logo']}
			<div class="image-item space">
				<img src="/{$brand['pc_logo']}"/>
				<div class="image-close">删除</div>
				<input type="hidden" name="pc_logo[]" value="{$brand['pc_logo']}" />
			</div>
			{/if}
		</div>
		<p>logo（手机端）</p>
		<div id="logoPics" class="row image-list">
			<div class="image-item space" id="logo"></div>
			{if:$brand['logo']}
			<div class="image-item space">
				<img src="/{$brand['logo']}"/>
				<div class="image-close">删除</div>
				<input type="hidden" name="logo[]" value="{$brand['logo']}" />
			</div>
			{/if}
		</div>
		<div class="mui-input-row" id="sextxt" style="display:none;">
			<label>学校分类：</label>
			<span>
				{query:name=brand_category}{/query}
				{foreach:items=$items}
					{if:isset($brand) && stripos(','.$brand['category_ids'].',',','.$item['id'].',') !== false}{$item['name']}{/if}
				{/foreach}
			</span>
			<input type="hidden" name="category[]" id="category" value="{if:$teacher_info['sex']}{$teacher_info['sex']}{else:}1{/if}" />
			<i class="icon-angle-right"></i>
		</div>
		<p style="display:none;">学校介绍</p>
		<div id="schoolIntroPics" class="row image-list" style="display:none;">
			<div class="image-item space" id="schoolIntro"></div>
			{if:$brand['class_desc_img']}
	        {foreach:items = $brand['class_desc_img']}
			<div class="image-item space">
				<img src="/{$item}"/>
				<div class="image-close">删除</div>
				<input type="hidden" name="class_desc_img[]" value="{$item}" />
			</div>
			{/foreach}
	        {/if}
		</div>
		<p>学校展示</p>
		<div id="schoolShowPics" class="row image-list">
			<div class="image-item space" id="schoolShow"></div>
			{if:$brand['shop_desc_img']}
	        {foreach:items = $brand['shop_desc_img']}
			<div class="image-item space">
				<img src="/{$item}"/>
				<div class="image-close">删除</div>
				<input type="hidden" name="shop_desc_img[]" value="{$item}" />
			</div>
			{/foreach}
	        {/if}
		</div>

		<!-- 裁剪框 start -->
		<div class="cropper">
			<div class="cropper-wrapper"><img src="" alt=""></div>
			<!-- <div class="preview preview-lg"></div> -->
		</div>
		<div class="cropper_flag"></div>
		<!-- end -->

		<p>详细介绍</p>
		<textarea name="description" id="description" class="txt" style="width:90%;height:100px;" placeholder="请填写学校简介">{$brand['description']}</textarea>

		<div class="mui-button-row submit_btn">
			<input type="hidden" name="brand_id" value="{$brand['id']}" />
			<button type="submit" class="mui-btn mui-btn-primary">提交信息</button>
		</div>
	</form>


	<div id="loading">
		<div class="progress"></div>
		<div class="progress_text"></div>
	</div>

<style>
	.image-list{height:auto;}
	.part_tit{text-align: center;font-size:125%;color:#08c;margin-top: 10px;}
	.addNew{text-align: center;color:#08c;}

	.cropper{width:100%;height:300px;display:none;}
	.cropper-wrapper {width:100%;height:300px; box-shadow: inset 0 0 5px rgba(0,0,0,.25); background-color: #fcfcfc; overflow: hidden;}
	.cutPic{display:none;}
	.cropper_flag{width:98%;border:1px solid #fff;margin:0 auto;}
	.image-item img{width:100%;height:100%;}
	.mui-table-view .mui-media-object{width:50px;height:50px;}

	#loading{width:80%;height:50px; position:fixed;left:10%;top:50%;background:rgba(0,0,0,0.2);padding:10px;border-radius: 5px;display: none;}
	#loading .progress{background:#08c;border:1px solid #ccc;width:1%;height:10px;border-radius: 5px;}
	#loading .progress_text{text-align: center;text-indent:-70px;}
	.mui-toast-container {bottom: 45% !important;}
</style>
</div>

<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>

<script language="javascript">
var data = "[{vaue: '', text: '请选择'}";
{query:name=brand_category}{/query}
{foreach:items=$items}
data += ",{value: '{$item['id']}', text: '{$item['name']}'}";
{/foreach}
data += ']';

var userPicker = new mui.PopPicker();
userPicker.setData(eval('(' + data + ')'));
var showUserPickerButton = document.getElementById('sextxt');
showUserPickerButton.addEventListener('tap', function(event) {
	userPicker.show(function(items) {
		$('#category').val(items[0].value);
		$('#sextxt').find('span').text(items[0].text);
	});
}, false);
</script>
