<?php $this->title = '课后评价回复'; ?>
{template:'/views/msysseller/layouts/header.html'}
{set:$items=$this->comment;}

<style>
.module_content {
	width: 86%;
	margin: 0px auto;
	padding-left: 3%;
	padding-top: 3%;
	background-color: #fff;
	font-size: 80%;	
	margin-top: 10px;
}
.module_content .box {
	line-height: 25px;	
}
.module_content input { margin-right: 8px; width: 40%; height: 25px; line-height: 25px; overflow: hidden; background-color: #ff5500; color: #fff; text-align: center; display: block; border-radius: 5px; border: 0px;}
</style>

<article class="module width_full">

	<form action="{url:/seller/comment_update}" method="post" name="comment_edit">

		<input type="hidden" value="{$items['id']}" name="id" />

		<div class="module_content">


				<div class="box">评论人：{$items['username']}</div>

				<div class="box">评价时间：{$items['time']}</div>

				<div class="box">评价课程：<a href="{url:/site/products/id/$items['goods_id']}" target="_blank">{$items['name']}</a></div>

				<div class="box">评价内容：{$items['contents']}</div>

				<div class="box">评价分数：{$items['point']}分</div>

				<div class="box">回复评价：<br /><textarea name='recontents' style='height:100px;'>{$items['recontents']}</textarea></div>
                
                
                <footer>
        
                    <div class="submit_link">
        
                        <input type="submit" class="alt_btn" value="确 定" />
        
                    </div>
        
                </footer>
		</div>





	</form>

</article>

{template:'/views/msysseller/layouts/footer.html'}