<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<h5 class="mui-content-padded">课程编辑</h5>
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
{set:$seller_id = $this->seller['seller_id']}
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" action="{url:/seller/goods_update}" method="post" enctype='multipart/form-data'>
		<input type="hidden" name="id" value="{$form['id']}" />
		<input type='hidden' name="callback" value="{echo:IUrl::getRefRoute()}" />
		<input name="goods_no" id="goods_no" type="hidden" value="{$form['goods_no']}"  />
		<input name="img" id="img" type="hidden" value="{$form['img']}"  />
		<input type='hidden' name="_imgList" value="" />
		<div class="mui-input-row">
			<label>课程名称</label>
			<input type="text" name="name" value="{$form['name']}" placeholder="课程名称" />
		</div>
		<div class="mui-input-row">
			<label>一句话简介</label>
			<input type="text" name="goods_brief" value="{$form['goods_brief']}" placeholder="一句话简介" />
		</div>
		<div class="mui-input-row">
			<label>关键词</label>
			<input type="text" name="search_words" value="{$form['keywords']}" placeholder="关键词" />
		</div>
		<div class="mui-input-row" id="categorytxt">
			<label>课程分类</label>
			<span>{if:$catname}{$catname}{else:}请选择{/if}</span>
			<i class="icon-angle-right"></i>
			<div id="catlist">
			{foreach:$items=$goods_category}
			<input type="hidden" value="{$item}" name="_goods_category[]">
			{/foreach}
			</div>
		</div>
		<p>课程相册</p>
		<div id="image-list" class="row image-list">
			{foreach:$items=$goods_photo}
			<div class="image-item space" style="background:url({webroot:$item['img']}) no-repeat center center;background-size:100% auto;"></div>
			<span class="imgListprocess" style="display:none;">{$item['img']}</span>
			{/foreach}
			<div class="image-item space" id="uploadButton"></div>
		</div>
		<script type="text/javascript">
		var uploader = new plupload.Uploader({
            runtimes: 'html5,flash,silverlight,html4',
            browse_button: 'uploadButton',
            url: "{url:/seller/goods_img_upload}",
            filters: {
                max_file_size: '2048kb',
                mime_types: [
                    {title: "files", extensions: "jpg,png,gif,JPG,JPEG"}
                ]
            },
            multi_selection: true,
            init: {
                FilesAdded: function(up, files) {
                    if ($(".image-item").length > 31) {
                        mui.toast("最多30张！");
                        uploader.destroy();
                    }else{
                    	uploader.start();
                    }
                },
                UploadProgress: function(up, file) {
                },
                FileUploaded: function(up, file, info) {
                   	var data = eval("(" + info.response + ")");
                    uploadPicCallback(data);

                },
                Error: function(up, err) {
                    mui.toast(err.message);
                }
            }
        });

        uploader.init();


        function uploadPicCallback(picJson)

		{
			if ( picJson.flag == -10 )
			{
				mui.toast('上传失败,请上传{$default_goods_photo_width}x{$default_goods_photo_height}像素的图片');
				return false;
			}
			$('#image-list').prepend('<div class="image-item space" style="background:url(/' + picJson.img + ') no-repeat center center;background-size:100% auto;"></div><span class="imgListprocess" style="display:none;">' + picJson.img + '</span>');

		}
        </script>
        <div class="mui-input-row">
			<label>课程排序</label>
			<input type="text" name="sort" value="{$form['sort']}" placeholder="排序" />
		</div>
        <p>是否有试听课</p>
        <div class="mui-input-row">
        	<div class="mui-radio mui-left mui-check-left">
			<label class="auto">有</label>
			<input type="radio" name="is_preview" value="1" checked>
			</div>
			<div class="mui-radio mui-left mui-check-left">
			<label class="auto">无</label>
			<input type="radio" name="is_preview" value="0">
			</div>
		</div>
		<p>是否支持转让课程</p>
        <div class="mui-input-row">
        	<div class="mui-radio mui-left mui-check-left">
			<label class="auto">支持</label>
			<input type="radio" name="is_refer" value="1" checked>
			</div>
			<div class="mui-radio mui-left mui-check-left">
			<label class="auto">不支持</label>
			<input type="radio" name="is_refer" value="0">
			</div>
		</div>
		<p>是否上架</p>
        <div class="mui-input-row">
        	<div class="mui-radio mui-left mui-check-left">
			<label class="auto">上架</label>
			<input type="radio" name="is_del" value="3" checked>
			</div>
			<div class="mui-radio mui-left mui-check-left">
			<label class="auto">下架</label>
			<input type="radio" name="is_del" value="2">
			</div>
		</div>
		<p>课程简介</p>
		<textarea name="content" id="content" class="txt">{$form['content']}</textarea>
		<input type="hidden" name="model_id" value="1" />
		<div id="attrbox">

		</div>
		<p>基本信息</p>
		<div id="sepc_list">
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-input-row">
						<label>属性名称</label>
						<input type="text" name="specname" value="{$product[0]['cusname']}" placeholder="例如：班级" />
					</div>
				</div>
			</div>
			{if:$product}
			{foreach:$items=$product}
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-input-row">
						<label>属性值</label>
						<input name="specval[]" type="text" value="{$item['cusval']}" placeholder="例如：突破班" />
					</div>
					<div class="mui-input-row">
						<label>招生人数</label>
						<input name="student[]" type="text" value="{$item['student']}" placeholder="例如：100" />
					</div>
					<div class="mui-input-row">
						<label>授课老师</label>
						<input name="teacher[]" type="text" value="" />
					</div>
					<div class="mui-input-row">
						<label>课时</label>
						<input name="classnum[]" type="text" value="{$item['classnum']}" placeholder="例如：12课时" />
					</div>
					<div class="mui-input-row">
						<label>每学期月数</label>
						<input name="month[]" type="text" value="{$item['month']}" placeholder="例如：1个月" />
					</div>
					<div class="mui-input-row">
						<label>市场价</label>
						<input class="market_price" name="market_price[]" tt="3" type="text" value="{$item['market_price']}" placeholder="例如：1500" />
					</div>
					<div class="mui-input-row">
						<label>折扣</label>
						<input class="discount" name="discount[]" tt="1" type="text" value="{$item['discount']}" placeholder="例如：10" />
						<input class="cost_price" tt="2" name="cost_price[]" type="hidden" value="{$item['cost_price']}" /></td>
						<input class="sell_price" name="sell_price[]" type="hidden" value="{$item['sell_price']}" /></td>
					</div>
					<div class="mui-input-row">
						<div class="mui-checkbox mui-right mui-check-left">
							<label class="auto">是否显示</label>
							<input type="checkbox" name="is_show[]" value="1"{if:$item['is_show'] == 1} checked{/if}>
						</div>
					</div>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link" onclick="delProduct(this, '{$item['id']}');">删除</a>
				</div>
			</div>
			{/foreach}
			{else:}
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-input-row">
						<label>属性值</label>
						<input name="specval[]" type="text" value="" placeholder="例如：突破班" />
					</div>
					<div class="mui-input-row">
						<label>招生人数</label>
						<input name="student[]" type="text" value="100" placeholder="例如：100" />
					</div>
					<div class="mui-input-row">
						<label>授课老师</label>
						<input name="teacher[]" type="text" value="" />
					</div>
					<div class="mui-input-row">
						<label>课时</label>
						<input name="classnum[]" type="text" value="" placeholder="例如：12课时" />
					</div>
					<div class="mui-input-row">
						<label>每学期月数</label>
						<input name="month[]" type="text" value="" placeholder="例如：1个月" />
					</div>
					<div class="mui-input-row">
						<label>市场价</label>
						<input class="market_price" name="market_price[]" tt="3" type="text" value="" placeholder="例如：1500" />
					</div>
					<div class="mui-input-row">
						<label>折扣</label>
						<input class="discount" name="discount[]" tt="1" type="text" value="" placeholder="例如：10" />
						<input class="cost_price" tt="2" name="cost_price[]" type="hidden" value="" /></td>
						<input class="sell_price" name="sell_price[]" type="hidden" value="" /></td>
					</div>
					<div class="mui-input-row">
						<div class="mui-checkbox mui-right mui-check-left">
							<label class="auto">是否显示</label>
							<input type="checkbox" name="is_show[]" value="1">
						</div>
					</div>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link" onclick="delProduct(this);">删除</a>
				</div>
			</div>
			{/if}
		</div>
		<div class="mui-button-row">
			<button type="submit" class="mui-btn mui-btn-primary" onclick="return checkForm()">确认提交</button>
			<button type="button" class="mui-btn mui-btn-danger" onclick="addSpec()">增加一行</button>
		</div>
	</form>
</div>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<script type="text/javascript">
mui.init();
mui.ready(function(){
	var userPicker = new mui.PopPicker({
		layer: 2
	});
	userPicker.setData({$jsoncats});
	var showUserPickerButton = document.getElementById('categorytxt');
	showUserPickerButton.addEventListener('tap', function(event) {
		userPicker.show(function(items) {
			$('#catlist').html('');
			$('#catlist').append('<input type="hidden" value="' + items[0].value + '" name="_goods_category[]">');
			$('#catlist').append('<input type="hidden" value="' + items[1].value + '" name="_goods_category[]">');
			$('#categorytxt').find('span').text(items[0].text + ',' + items[1].text);
		});
	}, false);
});
</script>


<script language="javascript">
var defaultProductNo = '{echo:goods_class::createGoodsNo()}';
$(function()
{
	{if:!$form['model_id']}
	create_attr(1);
	{else:}
	create_attr(1);
	{/if}
	{if:!empty($form['goods_no'])}
		$('[name="goods_no"]').val('{$form['goods_no']}');
	{else:}
		$('[name="goods_no"]').val(defaultProductNo);
	{/if}

	$('.discount').on('keyup',function(){
		calculation_price($(this));
	});

});

function calculation_price(obj)
{
	var rcommission = '{$site_config->rcommission}';
	var pcommission = '{$site_config->pcommission}';
	var _val = obj.val();
	_val = parseFloat( _val );
	var _market_price = obj.parent().parent().find(".market_price").val();
	_market_price = parseFloat( _market_price );
	var _tt = obj.attr('tt');

	if ( _val > 0 && _market_price > 0 )
	{
		switch( _tt )
		{
			case '1':
				var sell_discount =  (_val / 100) * (rcommission / 100);
				var _cost_price = _market_price - (_market_price * ( _val / 100 ));
				var _sell_price = _market_price - (_market_price * sell_discount);
				var _new_sell_price = ( _market_price - _sell_price ) * pcommission / 100 + _sell_price;

				obj.parent().parent().find(".cost_price").val(_cost_price.toFixed(2));
				obj.parent().parent().find(".sell_price").val(_new_sell_price.toFixed(2));
				break;
			case '2':
				var _discount = ( _val / _market_price ) * 100;
				var _sell_price = ( _market_price - _val ) / 2 + _val;
				var _new_sell_price = ( _market_price - _sell_price ) * pcommission / 100 + _sell_price;

				obj.parent().parent().find(".discount").val(_discount.toFixed(2));
				obj.parent().parent().find(".sell_price").val(_new_sell_price.toFixed(2));
				break;
		}
	}
}





function checkForm()

{



	var goodsPhoto = [];

	$('.imgListprocess').each(function(){

		goodsPhoto.push($(this).text());

	});

	if(goodsPhoto.length > 0)

	{

		$('input[name="_imgList"]').val(goodsPhoto.join(','));

		$('input[name="img"]').val(goodsPhoto[0]);

	}

	return true;
}


function create_attr(model_id)

{

	$.getJSON("{url:/block/attribute_init}",{'model_id':model_id}, function(json)

	{
		{if:isset($goods_attr)}
		{set:$attrArray = '';}
		{foreach:items = $goods_attr}
		{set:$attrArray .= $item . ','}
		{/foreach}
		{else:}
		{set:$attrArray = '每周一,每周二,每周三,每周四,每周五,每周六,每周日';}
		{/if}

		if(json && json.length > 0)

		{
			var html = '';
			for(var i in json)
			{
				html += '<div class="mui-input-row mui-input-row-auto clearfix">';
				var valueItems = json[i]['value'].split(',');
				html += '<p>' + json[i]['name'] + '</p>';
				for(var j in valueItems)
				{
					var checkattr = '{$attrArray}';
					var checked = '';
					checkattr = checkattr.split(',');
					for(var k = 0; k< checkattr.length; k++){
						if(checkattr[k] == valueItems[j]){
							checked = " checked";
						}
					}

					html += '<div class="mui-checkbox mui-left mui-check-left"><label class="auto">' + valueItems[j] + '</label><input type="checkbox" name="attr_id_' + json[i]['id'] + '[]" value="' + valueItems[j] + '"' + checked + '></div>';
				}
				html += '</div>';
			}


			$('#attrbox').html(html);
		}

		else

		{
			$('#attrbox').hide();

		}

	});

}


function wordsPart(){

	var goodsName = $('input[name="name"]').val();

	if(goodsName)

	{

		$.getJSON("{url:/goods/goods_tags_words}",{"content":goodsName},function(json)

		{

			if(json.result == 'success')

			{

				$('input[name="search_words"]').val(json.data);

			}

		});

	}

}

function addSpec(){
	var html = '<div class="mui-card">'+
				'<div class="mui-card-content">'+
					'<div class="mui-input-row">'+
						'<label>属性值</label>'+
						'<input name="specval[]" type="text" value="" placeholder="例如：突破班" />'+
					'</div>'+
					'<div class="mui-input-row">'+
						'<label>招生人数</label>'+
						'<input name="student[]" type="text" value="100" placeholder="例如：100" />'+
					'</div>'+
					'<div class="mui-input-row">'+
						'<label>授课老师</label>'+
						'<input name="teacher[]" type="text" value="" />'+
					'</div>'+
					'<div class="mui-input-row">'+
						'<label>课时</label>'+
						'<input name="classnum[]" type="text" value="" placeholder="例如：12课时" />'+
					'</div>'+
					'<div class="mui-input-row">'+
						'<label>每学期月数</label>'+
						'<input name="month[]" type="text" value="" placeholder="例如：1个月" />'+
					'</div>'+
					'<div class="mui-input-row">'+
						'<label>市场价</label>'+
						'<input class="market_price" name="market_price[]" tt="3" type="text" value="" placeholder="例如：1500" />'+
					'</div>'+
					'<div class="mui-input-row">'+
						'<label>折扣</label>'+
						'<input class="discount" name="discount[]" tt="1" type="text" value="" placeholder="例如：10" />'+
						'<input class="cost_price" tt="2" name="cost_price[]" type="hidden" value="" /></td>'+
						'<input class="sell_price" name="sell_price[]" type="hidden" value="" /></td>'+
					'</div>'+
					'<div class="mui-checkbox mui-right mui-check-left">'+
						'<label class="auto">是否显示</label>'+
						'<input type="checkbox" name="is_show[]" value="1">'+
					'</div>'+
				'</div>'+
				'<div class="mui-card-footer">'+
					'<a class="mui-card-link" onclick="delProduct(this);">删除</a>'+
				'</div>'+
			'</div>';
	$('#sepc_list').append(html);
}

function delProduct(_self, productid)

{
	productid = typeof productid != 'undefined' ? productid : false;
	if(productid){
		$.getJSON('{url:/seller/delpro}/productid/' + productid, {}, function(json){
			if(json.msg == 1){
				$(_self).parent().parent().remove();
			}
		})
	}else{
		$(_self).parent().parent().remove();
	}

}
</script>
