<link rel="stylesheet" type="text/css" href="{skin:css/index.css}" />
<style>
.mui-btn-primary {background:linear-gradient(to right,#ff9638,#ff4b2b);border:0px;}
</style>
<div class="mui-content" style="background-color:#fff;">
  <ul class="mui-table-view" style="display:none;">
    <li class="mui-table-view-cell">课程老师</li>
  </ul>

  <ul class="mui-table-view mui-grid-view mui-grid-12" style="display:none;">
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/goods_list_1}">
        <img src="/views/msysseller/skin/blue/images/icon_3.png" />
        <div class="mui-media-body">课程列表</div>
      </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/teacher_list}">
        <img src="/views/msysseller/skin/blue/images/icon_2.png" />
        <div class="mui-media-body">教师列表</div>
      </a>
    </li>
  </ul>

  <ul class="mui-table-view">
    <li class="mui-table-view-cell">学校设置</li>
  </ul>

  <ul class="mui-table-view mui-grid-view mui-grid-12">
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/brand_edit}">
        <img src="/views/msysseller/skin/blue/images/icon_1.png" />
        <div class="mui-media-body">页面信息</div>
      </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/seller_edit}">
        <img src="/views/msysseller/skin/blue/images/icon_2.png" />
        <div class="mui-media-body">基本信息</div>
      </a>
    </li>
    <!-- <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/seller_edit3}">
        <img src="/views/msysseller/skin/blue/images/icon_4.png" />
        <div class="mui-media-body">功能设置</div>
      </a>
    </li> -->
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/seller_edit4}">
        <img src="/views/msysseller/skin/blue/images/icon_3.png" />
        <div class="mui-media-body">结算账户</div>
      </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/seller_edit5}">
        <img src="/views/msysseller/skin/blue/images/icon_4.png" />
        <div class="mui-media-body">账户安全</div>
      </a>
    </li>
    <!-- <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/seller_edit6}">
        <img src="/views/msysseller/skin/blue/images/icon_5.png" />
        <div class="mui-media-body">认证信息</div>
      </a>
    </li> -->
  </ul>

  <ul class="mui-table-view">
    <li class="mui-table-view-cell">订单及售后</li>
  </ul>

  <ul class="mui-table-view mui-grid-view mui-grid-12">
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/order_list}">
        <img src="/views/msysseller/skin/blue/images/icon_5.png" />
        <div class="mui-media-body">正式课列表</div>
      </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/order_list_dqk}">
        <img src="/views/msysseller/skin/blue/images/icon_6.png" />
        <div class="mui-media-body">短期课列表</div>
      </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/order_list_receive}">
        <img src="/views/msysseller/skin/blue/images/icon_7.png" />
        <div class="mui-media-body">商户收款列表</div>
      </a>
    </li>
    <!-- <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/order_verification}">
        <img src="/views/msysseller/skin/blue/images/icon_7.png" />
        <div class="mui-media-body">上课确认</div>
      </a>
    </li> -->
    <!-- <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/chit}">
        <img src="/views/msysseller/skin/blue/images/icon_8.png" />
        <div class="mui-media-body">代金券发布</div>
      </a>
    </li> -->
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/refundment_list}">
        <img src="/views/msysseller/skin/blue/images/icon_8.png" />
        <div class="mui-media-body">退款申请</div>
      </a>
    </li>
  </ul>


  <ul class="mui-table-view">
    <li class="mui-table-view-cell">商户提现</li>
  </ul>

  <ul class="mui-table-view mui-grid-view mui-grid-12">
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/sale_tixian}">
        <img src="/views/msysseller/skin/blue/images/icon_9.png" />
        <div class="mui-media-body">账户交易额</div>
      </a>
    </li>
    <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
      <a href="{url:/seller/tixian_list}">
        <img src="/views/msysseller/skin/blue/images/icon_4.png" />
        <div class="mui-media-body">提现记录</div>
      </a>
    </li>
  </ul>

  <div class="mui-content-padded">
      <a href="/systemseller/logout" class="mui-btn mui-btn-primary mui-btn-block" id="confirm"><i class="icon-off"></i> 安全退出</a>
  </div>


</div>
