{set:$countData = statistics::sellerAmount($this->seller['seller_id']);}
<style>
	.mui-input-row label{width:60%;}
</style>
{if:$this->seller_info['is_equity'] == 1 && $this->seller_info['equity_status'] > 0}
<h5 class="mui-content-padded">股权综合信息</h5>
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" >
		<div class="mui-input-row">
			<label>剩余可分配股权比例：</label>
			{$total_equity}%
		</div>
		<div class="mui-input-row">
			<label>正在分配的股权需要的成交金额：</label>
			￥{$equity_stall['stall_price']}
		</div>
		<div class="mui-input-row">
			<label>正在分配的股权需要的成交人数：</label>
			{$equity_stall['stall_num']}
		</div>		

	</form>
</div>

<h5 class="mui-content-padded">我的股权信息</h5>
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" >
		<div class="mui-input-row">
			<label>已获得股权数：</label>
			{$equity_num}%
		</div>
		<div class="mui-input-row">
			<label>总成交金额：</label>
			￥{$total_price}
		</div>
		<div class="mui-input-row">
			<label>总成交人数：</label>
			{$total_num}
		</div>
		<div class="mui-input-row">
			<label>当前排名：</label>
			{$sort}
		</div>
		<div class="mui-input-row">
			<label>当前剩余交易额：</label>
			￥{$surplus_price}
		</div>
		<div class="mui-input-row">
			<label>当前剩余人数：</label>
			{$surplus_num}
		</div>
		<div class="mui-input-row">
			<label>距下一次股权分配金额：</label>
			￥{$next_price}
		</div>
		<div class="mui-input-row">
			<label>距下一次股权分配人数：</label>
			{$next_num}
		</div>
		<div class="mui-input-row">
			<label>距上一名成交额：</label>
			￥{$prev_rank_price}
		</div>
		<div class="mui-input-row">
			<label>距上一名成交人数：</label>
			{$prev_rank_num}
		</div>
		<div class="mui-input-row">
			<label>下一名距成交额：</label>
			￥{$next_rank_price}
		</div>
		<div class="mui-input-row">
			<label>下一名距成交人数：</label>
			{$next_rank_num}
		</div>


	</form>
</div>

<div class="mui-card">
    <div class="mui-card-header">股权分配明细</div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <table width="100%" cellpadding="0" cellspacing="0" class="dingtable">
                <tbody><tr>
                    <th>获取时间</th>
                    <th>获得股权时剩余可分配股权</th>
                </tr> 
                {foreach:items = $list}      
                <tr>
                    <td align="center">{echo: date('Y-m-d H:i', $item['create_time'])}</td>
                    <td align="center">{$item['point']}%</td>
                </tr>
                {/foreach}

            </tbody></table>
        </div>
    </div>

</div>
{else:}
<div class="mui-card">
	<div class="mui-card-header">您尚未参与股权分配，请点击按钮申请！</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<form action="{url:/seller/equity_apply}" name="goodsForm" method="post">
				<button type="submit" class="mui-btn mui-btn-primary" {if:$this->seller_info['is_equity'] != 0} disabled="disabled"{/if}>申请股权分配</button>
				{if:$this->seller_info['is_equity'] == -1}
				<p>您已提交申请，请等待管理员审核！</p>
				{elseif:$this->seller_info['is_equity'] == -2}
				<p>您的股权分配申请已被拒绝！</p>
	        	{/if}
			</form>
		</div>
	</div>
	
</div>

{/if}
