{set:$seller_id = $this->seller['seller_id']}
<div class="mui-card">
	<div class="mui-card-header">学员信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>姓名：{$accept_name}</p>
			<p>手机：{$mobile}</p>
			{if:$send_time}
			<p>报名时间：{$send_time}</p>
			{/if}

			{if:in_array( order_class::getOrderStatus( $orderRow ), array(4))}
				<input type="button" class="alt_btn" onclick="finish_order('{$orderRow['order_id']}');" value="订单完成" />
			{/if}
		</div>
	</div>
</div>

{if:$statement != 4}
<div class="mui-card">
	<div class="mui-card-header">基本信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			{set:$orderInstance = new Order_Class();$orderRow = $orderInstance->getOrderShow($id)}
			{set:$is_order_refund = Refundment_doc_class::is_order_refund( $orderRow['id']);}
			{query:name=order_goods where=order_id eq $order_id and seller_id eq $seller_id}
			<p>课程清单：
				{set:$goodsRow = JSON::decode($item['goods_array'])}
				<a href="javascript:void(0);" target="_blank">{$goodsRow['name']} &nbsp;&nbsp; {$goodsRow['value']}</a>
			</p>
			{if:$statement == 2}
			<p>代金券：{$payable_amount}元代金券{$item['goods_nums']}张，抵用{$chit}元</p>
			{/if}

			{if:$statement == 1}
			<!-- <p>课程学费：￥{$item['market_price']}</p> -->
			{else:}
			<p>课程原价：￥{$item['goods_price']}</p>
			<p>实际价格：￥{$item['real_price']}</p>
			{/if}

			<p>{if:$statement != 2}报名人数{else:}数量{/if}：{$item['goods_nums']}</p>
			<p style="display:none;">是否验证：
				{if:order_class::getOrderStatus( $orderRow ) == 4}
					{if:$verification_code == $item['verification_code']}
						未验证
					{else:}
						{if: $item['verification_code'] != ''}
						<input type="button" class="alt_btn" onclick="deliver_with_verifi('{$item['order_id']}', '{$item['goods_id']}')" value="点击验证" style="cursor: pointer;" />
						{else:}
						<input type="button" class="alt_btn" onclick="deliver('{$item['order_id']}', '{$item['goods_id']}')" value="点击验证" style="cursor: pointer;" />
						{/if}
					{/if}
				{else:}
					{echo:Order_Class::goodsSendStatus($item['is_send'])}
				{/if}
			</p>
			{/query}
		</div>
	</div>
</div>
{/if}

{set: $cost_price = $item['cost_price']; }
{set: $goods_nums = $item['goods_nums']; }

<div class="mui-card">
	<div class="mui-card-header">订单信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>订单号：{$order_no}</p>
			<p>下单时间：{echo: date('Y-m-d H:i', strtotime($create_time))}</p>
			<p>{if:$statement == 1}总金额{elseif:$statement == 2}代金券{elseif:$statement == 4}商户收款{else:}定金{/if}:</th><td>￥
				{if:$statement == 1}
					{$order_amount}
				{elseif:$statement == 3 && $coupon_nums <= 0}
				￥{echo:$cost_price - $rest_price}
				{else:}
				{$payable_amount}
				{/if}
			</p>
			{if:$statement == 2}
			<p>抵用：￥{$chit}</p>
			<p>付全款：￥{$rest_price}</p>
			{elseif:$statement == 3}
			<p>尾款：￥{$rest_price}</p>
			{/if}
			<p>订单状态：{echo:order_class::orderStatusText(order_class::getOrderStatus($orderRow),2, $orderRow['statement'])}</p>
		</div>
	</div>
</div>

{if:$statement != 4}
<div class="mui-card" style="padding-bottom:50px;display:none;">
	<div class="mui-card-header">订单日志</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			{query: name=order_log as ol where=ol.order_id eq $order_id}
			<p>时间：{$item['addtime']}</p>
			<p>动作：{echo:order_log_class::read_log($item)}</p>
			{/query}
		</div>
	</div>
</div>
{/if}

{if:$postscript}
<div class="mui-card" style="padding-bottom:50px;">
	<div class="mui-card-header">订单留言</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>{$postscript}</p>
		</div>
	</div>
</div>
{/if}

<script language="javascript">
function finish_order()
{
	url = "{url:/seller/order_finish/order_id/$orderRow['order_id']}";
	window.location.href = url;
}
</script>
