<?php $this->title = '订单发货'; ?>
{template:'/views/msysseller/layouts/header.html'}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<script type="text/javascript" src="/resource/scripts/layer_mobile/layer.js" ></script>
{js:form}
{js:validate}
{js:dialog}
{js:artTemplate}
<style>
.module {
	width: 98%;
	margin: 0px auto;
	margin-top: 12px;
	background-color: #fff;
	font-size: 80%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2%;
	padding: 10px;
}
.gridtable, .gridtable2 {
	margin-bottom: 20px;
	border: 1px solid #ccc;
	width: 98%;
	margin: 0px auto;
	margin-bottom: 12px;
}
.gridtable th, .gridtable2 th {
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: 400;
}
.gridtable td, .gridtable2 td {
	text-align: center;
	padding: 4px 0;
}
.gridtable2 td {
	text-align: left;
}
p {
	line-height: 25px;
}
p input {
	height: 25px;
}
footer input { width: 20%; padding: 5px 0; color: #fff; background-color: #ff5500; border: 0px; border-radius: 3px; }
.submit_link {text-align:center;}
</style>
<article class="module width_full">

	<form action="{url:/seller/order_delivery_doc}" method="post" id="deliver_form">

		<input type="hidden" name="order_no" value="{$order_no}"/>

		<input type="hidden" name="id" value="{$order_id}"/>

		<input type="hidden" name="weight_total" id="weight_total" value="{$goods_weight}"/>

		<input type="hidden" name="user_id" value="{$user_id}"/>

		<input type="hidden" name="freight" value="{$real_freight}" />


			<table class="gridtable clear" cellpadding="0" cellspacing="0">

				<thead>

					<tr style="background-color: #a0bbed;">

						<th width="45%">课程</th>

						<th width="15%">学费</th>

						<th width="16%">数量</th>

						<th width="25%" onclick="selectAll('sendgoods[]')">确认课程</th>

					</tr>

				</thead>



				<tbody>

					{set:$seller_id = $this->seller['seller_id']}

					{query:name=order_goods where=order_id eq $order_id and seller_id eq $seller_id}

					<tr>

						<td>

							{set:$goodsRow = JSON::decode($item['goods_array'])}

							{$goodsRow['name']} &nbsp;&nbsp; {$goodsRow['value']}

						</td>

						<td>{$item['real_price']}</td>

						<td>{$item['goods_nums']}</td>

						<td>

							{if:$item['is_send'] == 0}

							<input type="checkbox" name="sendgoods[]" value="{$item['id']}" />

							{else:}

							{echo:Order_class::goodsSendStatus($item['is_send'])}

							{/if}

						</td>

					</tr>

					{/query}

				</tbody>

			</table>


			<table class="gridtable2 clear">

				<tbody>

					<tr>
                    	<td width="30%;">&nbsp; 订单号：</td>
                        <td>{$order_no}</td>
                    </tr>

					<tr>
                    	<td>&nbsp; 下单时间：</td>
                        <td>{$create_time}</td>
                    </tr>

					<tr style="display:none;">
                    	<td>配送方式：</td>
                        <td>
                        	{query:name=delivery where=is_delete eq 0}

							{if:$distribution == $item['id']}

							<input type='hidden' value='{$item['id']}' name='delivery_type' />

							{$item['name']}

							{/if}

							{/query}
                        </td>
                    </tr>

					<tr style="display:none;">
                    	<td>配送费用：</td>
                        <td>&yen;{$real_freight}</td>
                    </tr>

					<tr style="display:none;">
                    	<td>消费保证费用：</td>
                        <td>&yen;{$insured}</td>
                    </tr>

					<tr>
                    	<td>&nbsp; 买家姓名：</td>
                        <td><input type="text" style="height:22px;width:60%;" class="small" name="name" value="{$accept_name}" pattern="required"/></td>
                    </tr>

					<tr>
                    	<td>&nbsp; 电话：</td>
                        <td><input type="text" class="small" style="height:22px;width:60%;"name="telphone" value="{$telphone}" pattern="phone" empty /></td>
                    </tr>

					<tr>
                    	<td>&nbsp; 手机：</td>
                        <td><input type="text" class="small"style="height:22px;width:60%;" name="mobile" value="{$mobile}" pattern="mobi"/></td>
                    </tr>

					<tr style="display: none;">
                    	<td>邮政编码：</td>
                        <td><input type="text"style="height:25px;width:60%;" name="postcode" class="small" value="{$postcode}" pattern="zip" empty /></td>
                    </tr>

					<tr style="display: none;">
                    	<td></td>
                        <td>

                            <p>物流公司:

                                <select name="freight_id" pattern="required" style="height:25px;width:48%;"alt='<br/>选择物流公司' class="auto">

                                <option value="">选择物流公司</option>

                                        {query:name=freight_company where=is_del eq 0}

                                <option value="{$item['id']}">{$item['freight_name']}</option>

                                        {/query}

                                </select><br/>

                                    <label class="tip"(选择物流公司)</label>

                            </p>

                            <p>配送单号:<input type="text" style="height:25px;width:50%;"class="normal" name="delivery_code" pattern="required"/></p>

                            <p>地区:

                                    <select name="province" style="height:25px;width:25%;"child="city,area" onchange="areaChangeCallback(this);" class="auto"></select>

                                    <select name="city" style="height:25px;width:25%;"child="area" parent="province" onchange="areaChangeCallback(this);" class="auto"></select>

                                    <select name="area"style="height:25px;width:25%;"parent="city" pattern="required" class="auto"></select>

                            </p>

                            <p>地址:<input type="text" style="height:25px;width:60%;"class="normal" name="address" value="{$address}"  pattern="required"/></p>

                            <p>发货单备注:<p></p><textarea style="height:80px;width:70%;"name="note" class="normal"></textarea>

                            </p>


                        </td>
                    </tr>

				</tbody>

			</table>

		<footer>

			<div class="submit_link">

				<input type="submit" class="alt_btn" value="确 定" onclick="return checkForm()" />

			</div>

		</footer>

	</form>

</article>

{template:'/views/msysseller/layouts/footer.html'}


<script type="text/javascript">

//DOM加载完毕

$(function(){

	//初始化地域联动

	template.compile("areaTemplate",areaTemplate);



	createAreaSelect('province',0,{$province});

	createAreaSelect('city',{$province},{$city});

	createAreaSelect('area',{$city},{$area});

});



/**

 * 生成地域js联动下拉框

 * @param name

 * @param parent_id

 * @param select_id

 */

function createAreaSelect(name,parent_id,select_id)

{

	//生成地区

	$.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)

	{

		$('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));

	});

}



//表单提交前检测

function checkForm()

{

	var checkedNum = $('input[name="sendgoods[]"]:checked').length;

	if(checkedNum == 0)

	{

		//信息框
		layer.open({
			content: '请选择需要确认的课程'
			,btn: '好的'
		});

		return false;

	}

	return true;

}

</script>
