
<h5 class="mui-content-padded">短期课列表</h5>
{foreach:items = $order_list}
<div class="mui-card">
    <div class="mui-card-header">{$item['order_no']}</div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p class="ordbigbt"><span>联系人：</span>{$item['accept_name']}</p>
            <p class="ordbigbt"><span>联系电话：</span>{$item['mobile']}</p>
            <p>订单状态：{echo:order_class::orderStatusText(order_class::getOrderStatus($item), 2, $item['statement'])}</p>
            <p>下单时间：{$item['create_time']}</p>
            <p>小计：&yen;{$item['order_amount']}</p>
        </div>
    </div>
    <div class="mui-card-footer">
        <a href="{url:/seller/order_show_dqk/id/$item[id]}" class="mui-card-link">查看详情</a>
    </div>
</div>
{/foreach}
