{set:$seller_id = $this->seller['seller_id']}
{set:$orderInstance = new Order_Class();$orderRow = $orderInstance->getOrderShow($id)}
{if:$accept_name}
<div class="mui-card">
	<div class="mui-card-header">学员信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>姓名：{$accept_name}</p>
			<p>手机：{$mobile}</p>
			{if:$send_time}
			<p>报名时间：{$send_time}</p>
			{/if}

			{if:in_array( order_class::getOrderStatus( $orderRow ), array(4))}
				<input type="button" class="alt_btn" onclick="finish_order('{$orderRow['order_id']}');" value="订单完成" />
			{/if}

			{if:$orderRow['statement'] == 4 && !$orderRow['is_tutor_lecture'] && $brand_info['category_ids'] == 16}
				<input type="button" class="alt_btn" onclick="location.href='{url:/seller/update_order_lecture/id/$orderRow['id']}'" value="确认试讲" />
			{/if}
		</div>
	</div>
</div>
{/if}

<div class="mui-card">
	<div class="mui-card-header">基本信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">

			{set:$is_order_refund = Refundment_doc_class::is_order_refund( $orderRow['id']);}
			{query:name=order_goods where=order_id eq $order_id}
			<p>课程清单：
				{set:$goodsRow = JSON::decode($item['goods_array'])}
				{$goodsRow['name']} &nbsp;&nbsp; {$goodsRow['value']}
			</p>
			<p>学费总额：&yen;{echo:$orderRow['order_amount']}</p>

			<p>{if:$statement != 2}报名人数{else:}数量{/if}：{$item['goods_nums']}</p>
			<p style="display:none;">是否验证：
				{if:order_class::getOrderStatus( $orderRow ) == 4}
					{if:$verification_code == $item['verification_code']}
						未验证
					{else:}
						{if: $item['verification_code'] != ''}
						<input type="button" class="alt_btn" onclick="deliver_with_verifi('{$item['order_id']}', '{$item['goods_id']}')" value="点击验证" style="cursor: pointer;" />
						{else:}
						<input type="button" class="alt_btn" onclick="deliver('{$item['order_id']}', '{$item['goods_id']}')" value="点击验证" style="cursor: pointer;" />
						{/if}
					{/if}
				{else:}
					{echo:Order_Class::goodsSendStatus($item['is_send'])}
				{/if}
			</p>
			{/query}
		</div>
	</div>
</div>

{set: $cost_price = $item['cost_price']; }
{set: $goods_nums = $item['goods_nums']; }
{set: $orderRow = order_class::get_order_info($id)}
<div class="mui-card">
	<div class="mui-card-header">订单信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>订单号：{$order_no}</p>
			<p>下单时间：{echo: date('Y-m-d H:i', strtotime($create_time))}</p>
			<p>订单状态：
				{if:$chit > 0 }
					{echo:order_class::orderStatusText2(order_class::getOrderStatus($orderRow))}
				{else:}
					{echo:order_class::orderStatusText(order_class::getOrderStatus($orderRow),2, $orderRow['statement'])}
				{/if}
			</p>
			{if:order_class::get_order_notice(order_class::getOrderStatus($orderRow), 2) != ''}<p>提示：{echo:order_class::get_order_notice(order_class::getOrderStatus($orderRow), 2, $orderRow['statement'])}</p>{/if}
		</div>
	</div>
</div>

<!-- 详细家教信息 start -->
{if:$tutor_info}
<div class="mui-card">
    <div class="mui-card-header">家教详情</div>
    <div class="mui-card-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><span>性别：</span>{echo: get_gender_title($tutor_info['gender'])}</li>
            <li class="mui-table-view-cell"><span>年级：</span>{echo:tutor_class::get_grade_title($tutor_info['grade_level'], $tutor_info['grade'])}</li>
            <li class="mui-table-view-cell"><span>分类：</span>{$cates_arr[$tutor_info['category_id']]}</li>
            <li class="mui-table-view-cell"><span>最近考分：</span>{$tutor_info['lastest_scores']}</li>
            <li class="mui-table-view-cell"><span>期望考分：</span>{$tutor_info['expected_scores']}</li>
            <li class="mui-table-view-cell"><span>最低报酬：</span>{$tutor_info['lowest_reward']}</li>
            <li class="mui-table-view-cell"><span>最高报酬：</span>{$tutor_info['highest_reward']}</li>
            <li class="mui-table-view-cell"><span>路费：</span>{if:$tutor_info['is_provide_transportation_fee'] == 1}是{else:}否{/if}</li>
            <li class="mui-table-view-cell"><span>就餐：</span>{if:$tutor_info['is_provide_repast'] == 1}是{else:}否{/if}</li>
            <li class="mui-table-view-cell"><span>地址：</span>{echo:area::getName($tutor_info['region_id'])} {$tutor_info['address']}{$tutor_info['address2']}</li>
        </ul>
    </div>
</div>
{/if}
<!-- 详细家教信息 end -->

<div class="mui-card" style="padding-bottom:50px;">
	<div class="mui-card-header">订单日志</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			{query: name=order_log as ol where=ol.order_id eq $order_id}
			<p>时间：{$item['addtime']}</p>
			<p>动作：{echo:order_log_class::read_log($item)}</p>
			{/query}
		</div>
	</div>
</div>


<script language="javascript">
function finish_order()
{
	url = "{url:/seller/order_finish/order_id/$orderRow['order_id']}";
	window.location.href = url;
}
</script>
