{set:$seller_id = $this->seller['seller_id']}
{set:$searchParam = http_build_query(Util::getUrlParam('search'))}
{set:$condition = Util::search(IReq::get('search'));
	$where = $condition ? " and ".$condition : "";
}
{query:name=delivery }
	{set:$delivery_id=$item['id']}
	{set:$kuaidi["$delivery_id"] = $item['name']}
{/query}
<h5 class="mui-content-padded">订单列表</h5>
{set:$page = IReq::get('page') ? IFilter::act(IReq::get('page'),'int') : 1}
{query:name=order_goods as og join=left join goods as go on go.id eq og.goods_id left join order as o on o.id eq og.order_id fields=o.* page=$page where=o.pay_status eq 1 and o.seller_id eq $seller_id and o.if_del eq 0 and o.statement eq 4 and o.status not in(3,4) $where group=og.order_id id=$orderObject order=o.id desc}
{set:$order_status_t = Order_Class::getOrderStatus($item);}
{set:$goods_list = Order_Class::get_order_goods_list($item['id'])}
{set:$goods = $goods_list[0]}
{set:$goods_array = $goods['goods_array']}
<?php
	$order_goods_list = Order_Class::get_order_goods_list( $item['id'] );
?>
<div class="mui-card">
    <div class="mui-card-header">{$item['order_no']}</div>
    <div class="mui-card-content">
        <ul class="mui-table-view">
        	{foreach:items=$order_goods_list item=$it}
            <li class="mui-table-view-cell mui-media">
                <a href="{url:/seller/order_show/id/$item[id]}">
                    <img class="mui-media-object mui-pull-left" src="/{$it['img']}">
                    <div class="mui-media-body">
                    	<?php $goods_array = $it['goods_array']; ?>
                        <p class="ordbigbt">{$goods_array->name} {$goods_array->value}</p>
                        <p class="ordbigbt">{$goods['goods_price']} x {$it['goods_nums']}</p>
                    </div>
                </a>
            </li>
            {/foreach}
        </ul>
        <div class="mui-card-content-inner">
            <p class="ordbigbt"><span>联系人：</span>{$item['accept_name']}</p>
            <p class="ordbigbt"><span>联系电话：</span>{$item['mobile']}</p>
            <p>订单状态：{echo:order_class::orderStatusText(order_class::getOrderStatus($item), 2, $item['statement'])}</p>
            <p>下单时间：{$item['create_time']}</p>
            <p>小计：&yen;{$item['order_amount']}</p>
        </div>
    </div>
    <div class="mui-card-footer">
    	{if:Order_class::isGoDelivery($item)}
    	<a href="{url:/seller/order_deliver/id/$item[id]}" class="mui-card-link">确认授课</a>
    	{/if}
        <a href="{url:/seller/order_show/id/$item[id]}" class="mui-card-link">查看详情</a>
    </div>
</div>
{/query}
