{set:$seller_id = $this->seller['seller_id']}
<style>
td {text-align:center;}
</style>
<div class="mui-card">
	<div class="mui-card-header">学员信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>姓名：{$accept_name}</p>
			<p>手机：{$mobile}</p>
			{if:$send_time}
			<p>报名时间：{$send_time}</p>
			{/if}

			{if:in_array( order_class::getOrderStatus( $orderRow ), array(4))}
				<input type="button" class="alt_btn" onclick="finish_order('{$orderRow['order_id']}');" value="订单完成" />
			{/if}
		</div>
	</div>
</div>
<div class="mui-card">
	<div class="mui-card-header">基本信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<table class="tablesorter clear">
				<colgroup>
					<col width="25%" />
					<col width="25%" />
					<col width="25%" />
				</colgroup>

				<thead>
					<tr>
						<th>短期课名称</th>
						<th>价格</th>
						<th>可用次数</th>
					</tr>
				</thead>

				<tbody>
					{foreach:$items=$dqk_list}
					<tr>
						<td>{$item['name']}</td>
						<td>￥{$item['max_price']}</td>
						<td>{if:$item['availeble_use_times'] > 0 }{echo:floor($item['availeble_use_times'] / $item['each_times'])}次{$item['availeble_use_times']}课时{else:}0课时{/if}</td>
					</tr>
					{/query}
				</tbody>
			</table>
		</div>
	</div>
</div>

{set: $cost_price = $item['cost_price']; }
{set: $goods_nums = $item['goods_nums']; }

<div class="mui-card">
	<div class="mui-card-header">订单信息</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			<p>订单号：{$order_no}</p>
			<p>下单时间：{echo: date('Y-m-d H:i', strtotime($create_time))}</p>
			<p>{if:$statement == 1}总金额{elseif:$statement == 2}代金券{else:}定金{/if}:</th><td>￥
				{if:$statement == 1}
					{$order_amount}
				{elseif:$statement == 3 && $coupon_nums <= 0}
				￥{echo:$cost_price - $rest_price}
				{else:}
				{$payable_amount}
				{/if}
			</p>
			{if:$statement == 2}
			<p>抵用：￥{$chit}</p>
			<p>付全款：￥{$rest_price}</p>
			{elseif:$statement == 3}
			<p>尾款：￥{$rest_price}</p>
			{/if}
			<p>订单状态：{echo:order_class::orderStatusText(order_class::getOrderStatus($orderRow),2, $orderRow['statement'])}</p>
		</div>
	</div>
</div>
<div class="mui-card" style="padding-bottom:50px;">
	<div class="mui-card-header">订单日志</div>
	<div class="mui-card-content">
		<div class="mui-card-content-inner">
			{query: name=order_log as ol where=ol.order_id eq $order_id}
			<p>时间：{$item['addtime']}</p>
			<p>动作：{echo:order_log_class::read_log($item)}</p>
			{/query}
		</div>
	</div>
</div>


<script language="javascript">
var _update_dqk_ajax = '{url:/seller/update_dqk_status}';
var _order_id = {$order_id};

function finish_order()
{
	url = "{url:/seller/order_finish/order_id/$orderRow['order_id']}";
	window.location.href = url;
}
//DOM加载完毕后运行
$(function()
{
	$('.confirm_dqk').click(function(){
		var _id = $(this).attr('id');
		var btnArray = ['取消','确定'];
		mui.confirm('您确定用户已经使用了短期课吗？', '提示信息', btnArray, function(e) {
				if (e.index == 1)
				{
					$.post(_update_dqk_ajax,{id:_id,order_id:_order_id},function(result){
							if ( result == '1')
							{
								location.reload();
							} else {
								if ( result == '-1')
								{
									layer.alert('参数不正确');
								} else {
									layer.alert('操作失败');
								}
							}
					})
				}
		});
	});
});
</script>
