<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{set:$seller_id = $this->seller['seller_id']}
<article class="module width_full">
	<header>
		<div class="headtext">
	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>
	   <div class="biaoxi"><h4>活动列表</h4></div>
	   <div class="biaoduo" onclick="return click_a('divOne_1')">...</div> 
	   <div class="biao_gai"id="divOne_1">
	     <ul class="tabs">
		    <li><input type="button" class="alt_btn" onclick="selectAll('id[]');" value="全选" style="font-weight:bold;"/></li>
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/pro_rule_edit}';" value="添加活动" /></li>
			<li><input type="button" class="alt_btn" onclick="delModel();" value="批量删除" /></li>
		 </ul>
	   </div>
	   <script>
	      function click_a(divOne_1){
		    if(document.getElementById(divOne_1).style.display!="block")
		     {
		       document.getElementById(divOne_1).style.display="block";
			   }
			   else{
			      document.getElementById(divOne_1).style.display="none";
			   }
		 }
	</script>
		
	</header>
    <div class="zhu">
    {query:name=promotion where=seller_id eq $seller_id and type eq 0}
		
		<form method='post' action='{url:/seller/pro_rule_del}'>
				名称:<a href='{url:/seller/pro_rule_edit/id/$item[id]}'class="zla">{$item['name']}</a><br/>
			    活动时间:<br/>
				<span style="color:#4CAF50;">{$item['start_time']} ～ {$item['end_time']}</span><br/>
				状态:{echo:($item['is_close']==1) ? '关闭':'开启'}<br/>
				介绍:{$item['intro']}<br/>	
				<p>操作:&nbsp;<a href='{url:/seller/pro_rule_edit/id/$item[id]}'><img class="operator" src="{skin:images/main/icn_edit.png}" alt="修改" title="修改" /></a>&nbsp;
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/seller/pro_rule_del/id/$item[id]}'});"><img class="operator" src="{skin:images/main/icn_del.png}" alt="删除" title="删除"/></a>&nbsp;
						<input class="dian" name="id[]" type="checkbox" value="{$item['id']}" /></p>
				{/query}
	</form>
	</div>
</article>