<link href="/views/mobile/skin/blue/css/ucenter.css" rel="stylesheet" type="text/css" />
<div class="mui-card">
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            我的推广码：<span class="ordbigbt-price">{$my_promote_code}</span>

            <table class="card-table info" width="100%">
                <tr>
                    <th width="30%">类型</th>
                    <th width="35%">总推广</th>
                    <th width="35%"><a href="{url:/seller/promote_previous_month}">上月推广</a></th>
                </tr>
                <tr>
                    <td>个人用户</td>
                    <td><a href="{url:/seller/promote_user_list}">{$promote_statics['user_count']}</a></td>
                    <td>{$promote_statics['user_count_by_month']}</td>
                </tr>
                <tr>
                    <td>个人返佣</td>
                    <td>{$promote_statics['user_prommission_count']}</td>
                    <td>{$promote_statics['user_prommission_count_by_month']}</td>
                </tr>
                <tr>
                    <td>培训机构</td>
                    <td><a href="{url:/seller/promote_seller_list}">{$promote_statics['seller_count']}</a></td>
                    <td>{$promote_statics['seller_count_by_month']}</td>
                </tr>
                <tr>
                    <td>机构返佣</td>
                    <td>{$promote_statics['seller_prommission_count']}</td>
                    <td>{$promote_statics['seller_prommission_count_by_month']}</td>
                </tr>
                <tr>
                    <td>下级推广</td>
                    <td><a href="{url:/seller/promote_subordinate_user_list}">{$promote_statics['get_promote_list_by_account']}</a></td>
                    <td>{$promote_statics['get_promote_list_by_account_by_month']}</td>
                </tr>
                <tr>
                    <td>下级返佣</td>
                    <td>{$promote_statics['other_commision_count']}</td>
                    <td>{$promote_statics['other_commision_count_by_month']}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="mui-content-padded">
    <div class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-primary">
        <a class="mui-control-item mui-active" href="#item1">
            我的推广
        </a>
        <a class="mui-control-item" href="#item2">
            商家用户
        </a>
        <a class="mui-control-item" href="#item3">
            个人用户
        </a>
    </div>
</div>
<div class="mui-control-content mui-active" id="item1">
    <div class="mui-card">
        <div class="mui-card-content">
            <div class="mui-card-content-inner">
                <h5>最新成交</h5>
                <table class="card-table" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <th width="20%">用户</th>
                      <th width="25%">课程</th>
                      <th width="20%">日期</th>
                      <th width="15%">预计提成</th>
                    </tr>
                    {foreach:items = $promotelistorder}
                    <tr>
                        <td>{$item['username']}</td>
                        <td>{$item['goods_name']}</td>
                        <td>{echo:date('Y-m-d',strtotime($item['create_time']))}</td>
                        <td>{$item['commission']}</td>
                    </tr>
                    {/foreach}
                </table>
                <h5>最新推广</h5>
                <table class="card-table" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <th width="10%">编号</th>
                        <th width="25%">用户</th>
                        <th width="30%">日期</th>
                    </tr>
                    {foreach:items = $promotelist item=$list}
                    <tr>
                        <td>{$list['id']}</td>
                        <td>{$list['username']}</td>
                        <td>{if:$item['create_time']}{echo:date('Y-m-d',strtotime($item['create_time']))}{/if}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="mui-control-content" id="item2">
    <div class="mui-card">
        <div class="mui-card-content">
            <div class="mui-card-content-inner">
                <h5>推广商户</h5>
                <table class="card-table" cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                        <th>编号</th>
                        <th>用户</th>
                        <th>日期</th>
                    </tr>
                    {foreach:items = $promotelistseller item=$seller}
                    <tr>
                        <td>{$seller['id']}</td>
                        <td>{$seller['username']}</td>
                        <td>{$seller['create_time']}</td>
                    </tr>
                    {/foreach}
                </table>
            </div>
        </div>
    </div>
</div>
