{set:

$this->startDate = IFilter::act(IReq::get('startDate'));

$this->endDate   = IFilter::act(IReq::get('endDate'));

$countData = statistics::sellerAmount($this->seller['seller_id'],$this->startDate,$this->endDate);

}

{js:my97date}

{js:chart}



<div class="quesbox">
  <div class="ques-box">
    <p class="question"><b>1、</b>销售额余额账户是指？</p>
    <p class="answer">销售额账户即营业收入账户，它记录的是商户在平台的营业收入，可<span class="red">全额提现</span>。</p>
    <p class="question"><b>2、</b>返利账户是指？</p>
    <p class="answer">返利账户即返利辅助金账户，它是用来对消费者进行消费返利的准备金账户，只可<span class="red">部分提现</span>。</p>
    <p class="question"><b>3、</b>返利账户是如何获得的？</p>
    <p class="answer">商户返利账户余额由<span class="red">商户自充值</span>和<span class="red">平台补贴</span>两部分组成。<br/>商户自充值部分称<span class="red">返利金</span>，返利金归商户所有，商户可对返利金提现。<br/>平台补贴部分称<span class="red">辅助金</span>，辅助金为商户对消费者返利后平台给与消费者的返利补充，平台补充的辅助金金额以商户返利金为基数，按照事先与商户约定的比例在消费者消费时与商户付出的返利金同步减少，在商户对补充返利余额补充充值时同步增加。</p>
    <p class="question"><b>4、</b>消费者通过平台消费后，商户要给的返利比例为？</p>
    <p class="answer">入驻平台的商户在消费者消费后需返还部分利润的给消费者，具体返还比例以乐享生活公布的各行业返还比例标准为准。</p>
    <p class="question"><b>5、</b>商户如何充值返利账户？</p>
    <p class="answer">商户可通过<span class="red">银行转账</span>或平台提供的<span class="red">第三方支付手段</span>对返利账户进行充值，也可使用结算后的<span class="red">营业额</span>对返利账户充值。</p>
    <p class="question"><b>6、</b>加盟平台需要什么条件？</p>
    <p class="answer">（1）入驻商户需经营有实体店铺，所经营内容符合国家法律法规的规定，并经工商管理部门批准，办理了合法手续。<br/>
（2）商户入驻需提供营业执照。<br/>
（3）入驻商户需提供与营业执照店名一致或与营业执照登记的经营者姓名一致的银行账户或乐享生活提供的第三方支付平台的账户做为商户在乐享生活的真实。</p>
    
  </div>
</div>