<?php $this->title ='退款详情'; ?>

{set:$isWrite = ($pay_status == 0 && Order_Class::isSellerRefund($id,$this->seller['seller_id']) == 2) ? true : false}

<style>
.module_content { font-size: 80%; width: 90%; margin: 0px auto; padding-left: 3%; padding-right: 3%; background-color: #fff; margin-top: 12px; padding-top: 10px; font-family:"微软雅黑";}
.module_content p { line-height: 25px; }
footer { width: 90%; margin: 0px auto; background-color: #fff; padding-left: 3%; padding-right: 3%; }
footer input { width: 20%; padding: 5px 0; color: #fff; background-color: #ff5500; border: 0px; border-radius: 3px; }
</style>

<article class="module width_full">

	<form action="{url:/seller/refundment_update}" name="refundForm" method="post">

		<div class="module_content">

			<p>订单号：{$order_no}</p>

			<p>订单时间：{$create_time}</p>

			<p style="display: none;">订单应付金额：￥{$payable_amount}</p>

			{if:$statement != 4}<p>订单实付金额：￥{$real_amount}</p>{/if}

			{if:$insured > 0 }<p>订单消费保证金额：￥{$insured}</p>{/if}

			{if:$taxes > 0}<p>订单税金金额：￥{$taxes}</p>{/if}

			{if:$promotions > 0}<p>订单促销活动优惠金额：￥{$promotions}</p>{/if}

			<p>订单总额：￥{$order_amount}</p>



			{query:name=order where=id eq $order_id items=$orderList}{/query}

			{set:$refundRowCount = CountSum::countSellerOrderFee($orderList)}

			{if:$refundRowCount['refundFee'] > 0}<p>订单已退金额：￥{$refundRowCount['refundFee']}</p>{/if}

            <hr />

			<p>退款课程：



					{set:$refundAmount = 0}

					{query:name=order_goods where=id in ($order_goods_id)}

					{set:$goods = JSON::decode($item['goods_array'])}

					{set:$refundAmount += $item['goods_nums'] * $item['real_price']}

					<p>

					{$goods['name']} X {$item['goods_nums']}

					{if:$statement != 4}

					<span class="green">【{echo:Order_Class::goodsSendStatus($item['is_send'])}】</span>

					<span class="red">【课程费用：￥{echo:$item['goods_nums'] * $item['real_price']}】</span>

					{/if}

					</p>

					{/query}

			</p>



			{if:$refundRowCount['refundFee']}<p>此退款单已退款金额：￥{$amount}</p>{/if}

			<p>退款原因：{$content}</p>



			{if:$isWrite == true}

			<input type="hidden" name="id" value="{$id}" />





			<p>退款课程金额：

				<input type="text" class="small" name="amount" id="amount" value="{$refundAmount}" {if:$statement == 2 || $statement == 4}disabled="disabled"{/if}/>元

			</p>



			<p>处理回复：

				<textarea class="textarea" name="dispose_idea"></textarea></p>


			<p>处理状态：

					<input type='radio' name='pay_status' value='2' />同意

					<input type='radio' name='pay_status' value='1' />拒绝

			</p>
			{else:}



			<p>处理状态：{echo:Order_Class::refundmentText($pay_status)}</p>

			<p>处理时间：{$dispose_time}</p>

			<p>处理回复：{$dispose_idea}</p>



			{/if}



		</div>


		<footer>

			<div class="submit_link">

				{if:$isWrite == true}

				<input type="submit" class="alt_btn" value="确 定" />

				<input type="reset" value="重 置" />

				{else:}

				{/if}

			</div>

		</footer>

	</form>

</article>
