<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{set:$seller_id = $this->seller['seller_id'];}
<article class="module width_full">
	<header>
	<div class="headtext">
	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>
	   <div class="biaoxi"><h4>促销活动列表</h4></div>
	   <div class="biaoduo" onclick="return click_a('divOne_1')">...</div> 
	   <div class="biao_gai"id="divOne_1">
	        <ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="selectAll('id[]');" value="全选" style="font-weight:bold;"/></li>
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/regiment_edit}';" value="添加促销活动" /></li>
			<li><input type="button" class="alt_btn" onclick="delModel();" value="批量删除" /></li>
		</ul>
	   </div>
	   <script>
	      function click_a(divOne_1){
		    if(document.getElementById(divOne_1).style.display!="block")
		     {
		       document.getElementById(divOne_1).style.display="block";
			   }
			   else{
			      document.getElementById(divOne_1).style.display="none";
			   }
		 }
	  </script>
	</header>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query:name=regiment where=seller_id eq $seller_id order=sort asc page=$page}
	<div class="zhu" >
		<form method='post' action='{url:/seller/regiment_del}'>
					标题:<a href='{url:/site/groupon/id/$item[id]}' target='_blank' class="orange" title="{$item['title']}">{$item['title']}</a><br/>
					促销活动时间:{$item['start_time']} ～ {$item['end_time']}<br/>
					排序:{$item['sort']}<br/>
					状态:{echo:($item['is_close']==1) ? '关闭':'开启'}<br/>
					销售情况:{$item['sum_count']}/{$item['store_nums']}<br/>
					操作:&nbsp;<a href='{url:/seller/regiment_edit/id/$item[id]}'><img src="{skin:images/main/icn_edit.png}" alt="修改" title="修改" /></a>&nbsp;
					<a href='javascript:void(0)' onclick="delModel({link:'{url:/seller/regiment_del/id/$item[id]}'});"><img src="{skin:images/main/icn_del.png}" alt="删除" title="删除" /></a>&nbsp;
					<input class="dian" type='checkbox' name='id[]' value='{$item['id']}' />
					
				{/query}
			<div>
	</form>
	{$query->getPageBar()}
</article>