<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<article class="module width_full">
	<header>
		<div class="headtext">
	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>
	   <div class="biaoxi"><h4 class="alert_info">普通账户充值</h4></div>
	   <div class="biaoduo"></div> 
	   <script>
	      function click_a(divOne_1){
		    if(document.getElementById(divOne_1).style.display!="block")
		     {
		       document.getElementById(divOne_1).style.display="block";
			   }
			   else{
			      document.getElementById(divOne_1).style.display="none";
			   }
		 }
	  </script>	
	</header>
	<div class="module_content">

		<div class="form_content">

		<form action="/block/doPay" method="post" novalidate="true">
			<table class="border_table" cellpadding="0" cellspacing="0" width="100%">
				<colgroup><col width="100%">
				<col>
				</colgroup>
				<tbody>
				<tr>
					<th>充值金额：</th><br/>
					<input type="hidden" name="seller_id" value="69">
				</tr>
				<tr>
					<td><input type="text" class="textwen"class="small" name="sale" pattern="float" alt="<br/>请输入充值的金额"><label></label></td>
				</tr>

				<tr>
					<th>充值方式：</th>
				<tr>
				</tr>
										<td>
					<label class="attr"><input class="radio" name="payment_id" title="支付宝即时到帐" type="radio" value="10">支付宝即时到帐</label>
						，手续费：0.00%						<br>
												<label class="attr"><input class="radio" name="payment_id" title="支付宝网银直连" type="radio" value="11">支付宝网银直连</label>
						，手续费：0.00%						<br>
												<label class="attr"><input class="radio" name="payment_id" title="微信移动支付" type="radio" value="13">微信移动支付</label>
						，手续费：0.00%						<br>
																	</td>
				</tr>
				<tr>
					<td><label class="btn"><input type="submit" style="height:30px;width:80%;"value="确定充值" onclick="return check_form();"></label></td>
				</tr>

			</tbody></table>
		</form>
	</div>

	</div>