<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<article class="module width_full">
	<header>
		<div class="headtext">
	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>
	   <div class="biaoxi"><h4 class="alert_info">销售收入补充返利金</h4></div>
	   <div class="biaoduo"></div> 
	   <script>
	      function click_a(divOne_1){
		    if(document.getElementById(divOne_1).style.display!="block")
		     {
		       document.getElementById(divOne_1).style.display="block";
			   }
			   else{
			      document.getElementById(divOne_1).style.display="none";
			   }
		 }
	  </script>	
	</header>
	<form action="/seller/sale_withdraw/type/3" method="post" name="bill_edit" novalidate="true">

		<div class="module_content">

			<fieldset>
				<label>补充金额：</label>
				<div class="box">
					<input type="text" class="textwen"pattern="float" name="sale" alt="<br/>输错了！">
				</div>
				<label>您普通账户余额为1119.01元。</label>
			</fieldset>
		</div>
		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" value="确 定" onclick="return check_form();">
			</div>
		</footer>
	</form>