<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<article class="module width_full">
	<header>
		<div class="headtext">
	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>
	   <div class="biaoxi"><h4 class="alert_info">账户信息</h4></div>
	   <div class="biaoduo" onclick="return click_a('divOne_1')">...</div> 
	   <div class="biao_gai"id="divOne_1">
	        <ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/sale_fanli}';" value="补充返利金" /></li>
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/sale_tixian}';" value="提现申请" /></li>
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/sale_chongzhi}';" value="账户充值" /></li>
		</ul>
	   </div>
	   <script>
	      function click_a(divOne_1){
		    if(document.getElementById(divOne_1).style.display!="block")
		     {
		       document.getElementById(divOne_1).style.display="block";
			   }
			   else{
			      document.getElementById(divOne_1).style.display="none";
			   }
		 }
	  </script>	
	</header>
	<div class="module_content">
		<table class="tablesorter" cellspacing="0" >
			<thead></thead>
			<tbody>
				<tr>
					<td>账户余额：1119.01元</td>
				</tr>
			</tbody>
		</table>
	</div>
	<table class="gridtable" cellspacing="0"style="margin-top:0px;">
		<colgroup>
			<col width="40%" />
			<col width="10%" />
			<col width="10%" />
			<col width="10%" />
			<col width="15%" />
		</colgroup>

		<thead>
			<tr>
				<th>事件</th>
				<th>收入</th>
				<th>支出</th>
				<th>账户余额</th>
				<th>时间</th>
			</tr>
		</thead>

		<tbody>
			
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				
			</tr>
			
		</tbody>
	</table>
    <div class="pages_bar"><a href="/seller/sale_balance?page=1">首页</a><a class="current_page" href="/seller/sale_balance?page=1">1</a><a href="/seller/sale_balance?page=1">尾页</a><span>当前第1页/共1页</span></div>
</article>