<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{skin:css/brand_edit2.css}" />
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" action="{url:/seller/seller_add}" method="post" enctype='multipart/form-data' id="brandFrom">
		<div class="mui-input-row">
			<label>登陆用户名：</label>
			{$this->sellerRow['seller_name']}
		</div>
		<div class="mui-input-row">
			<label>座机电话</label>
			<input type="text" name="phone" value="{$this->sellerRow['phone']}" placeholder="请填写座机电话" />
		</div>
		<div class="mui-input-row" id="region">
			<label>学校区域</label>
			<span id="province">{if:$sellerRow['provinceval']}{$sellerRow['provinceval']}{else:}湖南省{/if}</span>
			<span id="city">{if:$sellerRow['cityval']}{$sellerRow['cityval']}{else:}株洲市{/if}</span>
			<span id="discrict">{if:$sellerRow['discrictval']}{$sellerRow['discrictval']}{else:}市辖区{/if}</span>
			<input type="hidden" name="province" id="provinceval" value="{if:$this->brandRow['province']}{$this->brandRow['province']}{else:}430000{/if}" />
			<input type="hidden" name="city" id="cityval" value="{if:$this->brandRow['city']}{$this->brandRow['city']}{else:}430200{/if}" />
			<input type="hidden" name="area" id="discrictval" value="{if:$this->brandRow['discrict']}{$this->brandRow['discrict']}{else:}430201{/if}" />
			<i class="icon-angle-right"></i>
		</div>
		<div class="mui-input-row">
			<label>学校地址</label>
			<input type="text" name="address" value="{$this->sellerRow['address']}" placeholder="请填写详细地址" />
		</div>
		<div class="mui-input-row">
			<label>客服QQ</label>
			<input type="text" name="server_num" value="{$this->sellerRow['server_num']}" placeholder="请填写QQ" />
		</div>
		<div class="mui-button-row">
			<input type="hidden" name="brand_id" value="{$this->sellerRow['id']}">
			<input type="hidden" name="is_mobile" value="1" />
			<button type="button" class="mui-btn mui-btn-primary" onclick="setAdImg()">确认</button>
		</div>
	</form>
</div>
<!-- 弹出菜单 -->

<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<script type="text/javascript">
mui.init();
mui.ready(function(){
	var regionPicker = new mui.PopPicker({
		layer: 3
	});

	var province = {if:$this->brandRow['province']}{$this->brandRow['province']}{else:}430000{/if};
	var city = {if:$this->brandRow['city']}{$this->brandRow['city']}{else:}430200{/if};
	var discrict = {if:$this->brandRow['discrict']}{$this->brandRow['discrict']}{else:}430201{/if};

	regionPicker.setData({$regiondata});
	regionPicker.pickers[0].setSelectedValue(province, 0,function(){
		regionPicker.pickers[1].setSelectedValue(city, 0,function(){
			regionPicker.pickers[2].setSelectedValue(discrict, 0);
		});
	});

	var PickerButton = document.getElementById('region');
	PickerButton.addEventListener('tap', function(event) {
		regionPicker.show(function(items) {
			$('#provinceval').val(items[0].value);
			$('#province').text(items[0].text);
			$('#cityval').val(items[1].value);
			$('#city').text(items[1].text);
			$('#discrictval').val(items[2].value);
			$('#discrict').text(items[2].text);
		});
	}, false);
});

</script>
<script language="javascript">

function del(obj){
	$(obj).parent().parent().remove();
}

function setAdImg(){
	$('#brandFrom').submit();
	// $.getJSON($('#brandFrom').attr('action'),$('#brandFrom').serialize(),function(data){
	// 	if(data.status == 1){
	// 		mui.toast(data.info);
	// 		setTimeout(function() {
	// 			mui.back();
	// 		}, 1200);
	// 	}else{
	// 		mui.toast(data.info);
	// 	}
	// })
}
</script>
