<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{skin:css/seller_edit.css}" />
<div class="mui-content-padded" style="margin:0;">
	<form action="{url:/seller/seller_add6}" method="post" id="sellerForm" enctype='multipart/form-data' class="mui-input-group">
		<div class="mui-input-row">
			<label>商户真实全称：</label>
			<input name="true_name" type="text" value="{$this->sellerRow['true_name']}" />
			<span class="mui-required-right">*</span>
		</div>
		<div class="mui-input-row">
			<label>营业执照号码</label>
			<input name="papersn" type="text" placeholder="营业执照号码" value="{$this->sellerRow['papersn']}" />
			<span class="mui-required-right">*</span>
		</div>
		<p>营业执照上传<span class="mui-required-right">*</span></p>
		<div id="paper-image-list" class="row image-list">
			{if:$this->sellerRow['paper_img']}
			<div class="image-item space" id="paper_img_prev" style="background:url(/{$this->sellerRow['paper_img']}) no-repeat center center;background-size:100% auto;"><div class="image-close" onclick="deloneimage(this, 'paper_img_val')">删除</div></div>
			{/if}
			{if:$this->sellerRow['is_auth'] != 1}
			<div class="image-item space" id="paper_img"><input type="file" accept="image/*" id="image-1"></div>
			<input type="hidden" name="paper_img" id="paper_img_val" value="{$this->sellerRow['paper_img']}">
			{/if}
		</div>
		<div class="mui-input-row">
			<label>法人代表姓名</label>
			<input name="legal" type="text" value="{$this->sellerRow['legal']}" placeholder="法人代表" />
			<span class="mui-required-right">*</span>
		</div>
		<div class="mui-input-row">
			<label>法人身份证号</label>
			<input name="cardsn" type="text" value="{$this->sellerRow['cardsn']}" placeholder="法人身份证号" />
			<span class="mui-required-right">*</span>
		</div>
		<p>法人身份证正面上传<span class="mui-required-right">*</span></p>
		<div id="upphoto-image-list" class="row image-list">
			{if:$this->sellerRow['upphoto']}
			<div class="image-item space" id="upphoto_img_prev" style="background:url(/{$this->sellerRow['upphoto']}) no-repeat center center;background-size:100% auto;"><div class="image-close" onclick="deloneimage(this, 'upphoto_val')">删除</div></div>
			{/if}
			{if:$this->sellerRow['is_auth'] != 1}
			<div class="image-item space" id="upphoto"><input type="file" accept="image/*" id="image-1"></div>
			<input type="hidden" name="upphoto" id="upphoto_val" value="{$this->sellerRow['upphoto']}">
			{/if}
		</div>
		<p>法人身份证背面上传<span class="mui-required-right">*</span></p>
		<div id="downphoto-image-list" class="row image-list">
			{if:$this->sellerRow['downphoto']}
			<div class="image-item space" id="downphoto_img_prev" style="background:url(/{$this->sellerRow['downphoto']}) no-repeat center center;background-size:100% auto;"><div class="image-close" onclick="deloneimage(this, 'downphoto_val')">删除</div></div>
			{/if}
			{if:$this->sellerRow['is_auth'] != 1}
			<div class="image-item space" id="downphoto"><input type="file" accept="image/*" id="image-1"></div>
			<input type="hidden" name="downphoto" id="downphoto_val" value="{$this->sellerRow['downphoto']}">
			{/if}
		</div>
		<div class="mui-input-row">
			<label>安全手机号码</label>
			<input name="safe_mobile" id="mobile_val" type="text" value="{$this->sellerRow['safe_mobile']}" placeholder="安全手机号码" />
		</div>
		<div class="mui-input-row">
			<label>联系人</label>
			<input name="contacter" type="text" value="{$this->sellerRow['contacter']}" placeholder="联系人" />
			<span class="mui-required-right">*</span>
		</div>
		<div class="mui-input-row">
			<label>联系人身份证号</label>
			<input name="contactcardsn" type="text" value="{$this->sellerRow['contactcardsn']}" placeholder="联系人身份证号" />
			<span class="mui-required-right">*</span>
		</div>
		<p>联系人身份证正面上传<span class="mui-required-right">*</span></p>
		<div id="cupphoto-image-list" class="row image-list">
			{if:$this->sellerRow['cupphoto']}
			<div class="image-item space" id="cupphoto_img_prev" style="background:url(/{$this->sellerRow['cupphoto']}) no-repeat center center;background-size:100% auto;"><div class="image-close" onclick="deloneimage(this, 'cupphoto_val')">删除</div></div>
			{/if}
			{if:$this->sellerRow['is_auth'] != 1}
			<div class="image-item space" id="cupphoto"><input type="file" accept="image/*" id="image-1"></div>
			<input type="hidden" name="cupphoto" id="cupphoto_val" value="{$this->sellerRow['cupphoto']}">
			{/if}
		</div>
		<p>联系人身份证背面上传<span class="mui-required-right">*</span></p>
		<div id="cdownphoto-image-list" class="row image-list">
			{if:$this->sellerRow['cdownphoto']}
			<div class="image-item space" id="cdownphoto_img_prev" style="background:url(/{$this->sellerRow['cdownphoto']}) no-repeat center center;background-size:100% auto;"><div class="image-close" onclick="deloneimage(this, 'cdownphoto_val')">删除</div></div>
			{/if}
			{if:$this->sellerRow['is_auth'] != 1}
			<div class="image-item space" id="cdownphoto"><input type="file" accept="image/*" id="image-1"></div>
			<input type="hidden" name="cdownphoto" id="cdownphoto_val" value="{$this->sellerRow['cdownphoto']}">
			{/if}
		</div>
		<div class="mui-button-row">
			<button type="button" id="infopost" class="mui-btn mui-btn-primary">提交认证</button>
		</div>
	</form>
</div>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<script language="javascript">
mui.init();
$(function(){
	$.jUploader({
		button: 'paper_img',
		action: '{url:/seller/pic_upload}',
		allowedExtensions: ['jpg', 'png', 'gif', 'jpeg', 'JPG', 'JPEG'],
		onUpload: function(fileName){
	    	Lx.common.loading();
	    },
		onComplete: function(fileName, response){
			if(response.success){
				$('#paper_img_val').val(response.fileurl);
	      		if($('#paper_img_prev').length == 1){
	      			$('#paper_img_prev').css('background-image', 'url(/' + response.fileurl + ')');
	      		}else{
	      			$('#paper-image-list').prepend('<div class="image-item space" id="paper_img_prev" style="background:url(/' + response.fileurl + ') no-repeat center center;background-size:100% auto;"></div>');
	      		}
			}else{
				mui.toast('上传失败');
			}
			Lx.common.loadingClose();
		}
	});

	$.jUploader({
		button: 'upphoto',
		action: '{url:/seller/pic_upload}',
		allowedExtensions: ['jpg', 'png', 'gif', 'jpeg', 'JPG', 'JPEG'],
		onUpload: function(fileName){
	    	Lx.common.loading();
	    },
		onComplete: function(fileName, response){
			if(response.success){
				$('#upphoto_val').val(response.fileurl);
	      		if($('#upphoto_img_prev').length == 1){
	      			$('#upphoto_img_prev').css('background-image', 'url(/' + response.fileurl + ')');
	      		}else{
	      			$('#upphoto-image-list').prepend('<div class="image-item space" id="upphoto_img_prev" style="background:url(/' + response.fileurl + ') no-repeat center center;background-size:100% auto;"></div>');
	      		}
			}else{
				mui.toast('上传失败');
			}
			Lx.common.loadingClose();
		}
	});

	$.jUploader({
		button: 'downphoto',
		action: '{url:/seller/pic_upload}',
		allowedExtensions: ['jpg', 'png', 'gif', 'jpeg', 'JPG', 'JPEG'],
		onUpload: function(fileName){
	    	Lx.common.loading();
	    },
		onComplete: function(fileName, response){
			if(response.success){
				$('#downphoto_val').val(response.fileurl);
	      		if($('#downphoto_img_prev').length == 1){
	      			$('#downphoto_img_prev').css('background-image', 'url(/' + response.fileurl + ')');
	      		}else{
	      			$('#downphoto-image-list').prepend('<div class="image-item space" id="downphoto_img_prev" style="background:url(/' + response.fileurl + ') no-repeat center center;background-size:100% auto;"></div>');
	      		}
			}else{
				mui.toast('上传失败');
			}
			Lx.common.loadingClose();
		}
	});

	$.jUploader({
		button: 'cupphoto',
		action: '{url:/seller/pic_upload}',
		allowedExtensions: ['jpg', 'png', 'gif', 'jpeg', 'JPG', 'JPEG'],
		onUpload: function(fileName){
	    	Lx.common.loading();
	    },
		onComplete: function(fileName, response){
			if(response.success){
				$('#cupphoto_val').val(response.fileurl);
	      		if($('#cupphoto_img_prev').length == 1){
	      			$('#cupphoto_img_prev').css('background-image', 'url(/' + response.fileurl + ')');
	      		}else{
	      			$('#cupphoto-image-list').prepend('<div class="image-item space" id="cupphoto_img_prev" style="background:url(/' + response.fileurl + ') no-repeat center center;background-size:100% auto;"></div>');
	      		}
			}else{
				mui.toast('上传失败');
			}
			Lx.common.loadingClose();
		}
	});

	$.jUploader({
		button: 'cdownphoto',
		action: '{url:/seller/pic_upload}',
		allowedExtensions: ['jpg', 'png', 'gif', 'jpeg', 'JPG', 'JPEG'],
		onUpload: function(fileName){
	    	Lx.common.loading();
	    },
		onComplete: function(fileName, response){
			if(response.success){
				$('#cdownphoto_val').val(response.fileurl);
	      		if($('#cdownphoto_img_prev').length == 1){
	      			$('#cdownphoto_img_prev').css('background-image', 'url(/' + response.fileurl + ')');
	      		}else{
	      			$('#cdownphoto-image-list').prepend('<div class="image-item space" id="cdownphoto_img_prev" style="background:url(/' + response.fileurl + ') no-repeat center center;background-size:100% auto;"></div>');
	      		}
			}else{
				mui.toast('上传失败');
			}
			Lx.common.loadingClose();
		}
	});
});

function deloneimage(obj, item){
	$(obj).parent().remove();
	$('#' + item).val('');
}
</script>
