<link rel="stylesheet" href="{theme:javascript/mui/css/mui.picker.min.css}">
<script type='text/javascript' src="{theme:javascript/mui/js/mui.picker.min.js}"></script>
<h5 class="mui-content-padded">发布家教信息</h5>
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" action="{url:/seller/seller_tutor_save}" method="post" enctype='multipart/form-data'>
		<div class="mui-input-row mui-input-row-grade_level">
			<label>学级</label>
			<input type="text" name="grade_level_str" id="grade_level_str" value="{$grade_arr[$tutor_info['grade_level']]}" placeholder="请选择学级" />
		</div>
    <div class="mui-input-row mui-input-row-grade">
      <label>年级</label>
      <input type="text" name="grade_str" id="grade_str" value="{$tutor_info['grade']}" placeholder="请选择年级" />
    </div>
		<div class="mui-input-row mui-input-row-category">
			<label>分类</label>
			<input type="text" name="category_name" id="category_name" value="{$tutor_info['category_name']}" placeholder="请选择分类" />
		</div>

    <div class="mui-input-row">
      <label>价格</label>
      <input type="text" name="price" value="{$tutor_info['price']}" placeholder="请输入价格" />
    </div>

    <div class="mui-input-row">
      <label>授课方式</label>
      {foreach:items=$teaching_type_arr key=$key}
      <input type="checkbox" style="float: none;width:auto;" name="teaching_type[]" value="{$key}" {if:!$tutor_info['teaching_type'] || in_array($key, $tutor_info['teaching_type'])}checked{/if} id="teaching_type_{$key}" />{$item}&nbsp; &nbsp;
      {/if}
    </div>

		<div class="mui-input-row">
			<label>对学生的要求</label>
			<input type="text" name="student_reqiures" value="{$tutor_info['student_reqiures']}" placeholder="请输入对学生的要求" />
		</div>

		<div class="mui-input-row">
			<label>是否接受预约</label>
			<input type="radio" name="is_receive_booking" value="1" id="irb_1" style="float: none;width:auto;" checked /><label for="irb_1" style="width: auto;float: none;padding: 0">是</label>&nbsp; &nbsp;
			<input type="radio" name="is_receive_booking" value="0" id="irb_0" style="float: none;width:auto;" {if:$tutor_info['is_receive_booking'] == 0}checked{/if}/>否
		</div>

		<p>说明</p>
		<textarea name="description" id="description" class="txt">{$tutor_info['description']}</textarea>
		<div class="mui-button-row">
		  <input type="hidden" name="id" value="{$tutor_info['id']}" />
      <input type="hidden" name="grade_level" id="grade_level" value="{$tutor_info['grade_level']}" />
      <input type="hidden" name="grade" id="grade" value="{$tutor_info['grade']}" />
      <input type="hidden" name="category_id" id="category_id" value="{$tutor_info['category_id']}" />
			<button type="submit" class="mui-btn mui-btn-primary">确认</button>
		</div>
	</form>
</div>

<script language="javascript">
mui('.mui-input-row-category').on('tap','input', function(e) {
  var picker = new mui.PopPicker();
  picker.setData({$tutor_cate_list_json});
  picker.show(function(rs){
      $('#category_name').val(rs[0].text);
      $('#category_id').val(rs[0].value);
  });
});

mui('.mui-input-row-grade_level').on('tap','input', function(e){
  var picker = new mui.PopPicker();
  picker.setData({$grade_arr_json});
  picker.show(function(rs){
      $('#grade_level_str').val(rs[0].text);
      $('#grade_level').val(rs[0].value);
  });
});

mui('.mui-input-row-grade').on('tap','input', function(e){
  var picker = new mui.PopPicker();
  picker.setData({$grade_level_arr_json});
  picker.show(function(rs){
      $('#grade_str').val(rs[0].text);
      $('#grade').val(rs[0].value);
  });
});
</script>
