{js:my97date}
<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />

<h5 class="mui-content-padded">功能设置</h5>
<div class="mui-content-padded" style="margin:0;">
	<form action="{url:/seller/seller_add3}" method="post" id="sellerForm" enctype='multipart/form-data' class="mui-input-group">
		<div class="mui-input-row">
			<label>在线课堂</label>
			<input type="radio" name="is_support_zxkt" value="0" {if:!$this->sellerRow['is_support_zxkt']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">不开通</label>&nbsp; &nbsp;
			<input type="radio" name="is_support_zxkt" value="1" {if:$this->sellerRow['is_support_zxkt']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">开通</label>
		</div>
		<div class="mui-input-row">
			<label>订票系统</label>
			<input type="radio" name="is_support_dp" value="0" {if:!$this->sellerRow['is_support_dp']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">不开通</label>&nbsp; &nbsp;
			<input type="radio" name="is_support_dp" value="1" {if:$this->sellerRow['is_support_dp']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">开通</label>
		</div>
		<div class="mui-input-row">
			<label>虚拟商品</label>
			<input type="radio" name="is_virtual" value="0" {if:!$this->sellerRow['is_virtual']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">不开通</label>&nbsp; &nbsp;
			<input type="radio" name="is_virtual" value="1" {if:$this->sellerRow['is_virtual']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">开通</label>
		</div>
		<div class="mui-input-row">
			<label>投票功能</label>
			<input type="radio" name="is_vote" value="0" {if:!$this->sellerRow['is_vote']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">不开通</label>&nbsp; &nbsp;
			<input type="radio" name="is_vote" value="1" {if:$this->sellerRow['is_vote']}checked{/if} style="width: auto;float: none;"/><label style="width: auto;float: none;">开通</label>
		</div>
		<div class="mui-button-row">
			<button type="submit" class="mui-btn mui-btn-primary">确定</button>
		</div>
	</form>
</div>
