<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{skin:css/brand_edit2.css}" />
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" action="{url:/seller/seller_add5}" method="post" enctype='multipart/form-data' id="brandFrom">
		<div class="mui-input-row">
			<label>登录密码：</label>
			<input type="password" name="password" value="" placeholder="需要更改时填写登录密码" />
		</div>
		<div class="mui-input-row">
			<label>确认登录密码：</label>
			<input type="password" name="repassword" value="" placeholder="需要更改时填写确认登录密码" />
		</div>
		<div class="mui-input-row">
			<label>交易密码：</label>
			<input type="password" name="draw_password" value="" placeholder="需要更改时填写交易密码" />
		</div>
		<div class="mui-input-row">
			<label>确认交易密码：</label>
			<input type="password" name="re_draw_password" value="" placeholder="需要更改时填写确认交易密码" />
		</div>
		<div class="mui-input-row">
			<label>接收信息手机：</label>
			<input type="number" name="mobile" value="{$this->sellerRow['mobile']}" placeholder="用户接收网站提醒的手机号码，不可用于修改结算的账户信息" />
		</div>
		<div class="mui-button-row">
			<button type="submit" class="mui-btn mui-btn-primary">确认</button>
		</div>
	</form>
</div>
