<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
{set:$ship=$this->data}

<article class="module width_full">
	<header>
	<div class="headtext">
	   <div class="biao"><a href="javascript:history.go(-1)"><img src="{skin:images/fanhui.png}"></a></div>
	   <div class="biaoxi"><h4>商家发货信息</h4></div>
	   <div class="biaoduo"></div> 
	</div>
	</header>

	<form name="ModelForm" action="{url:/seller/ship_info_update}" method="post">
		<input type="hidden" name="sid" value="{$ship['id']}"/>
		<div class="module_content">
			<fieldset>
				<label>发货点名称:</label><br/>
				<input name="ship_name" class="textwen"class="normal" type="text" pattern="required" value="{$ship['ship_name']}" alt='<br/>发货点名称'//><br/>
				<label class="tip">(*发货地点名称)</label>
			</fieldset>

			<fieldset>
				<label>商家姓名:</label><br/>
				<input name="ship_user_name" class="textwen"class="normal" type="text" pattern="required" value="{$ship['ship_user_name']}"  alt='<br/>商家姓名'/><br/>
				<label class="tip">(*商家名称)</label>
			</fieldset>

			<fieldset>
				<label>性别:</label><br/>
				<label><input type="radio" name="sex" value="1" checked/>先生</label>
				<label><input type="radio" name="sex" value="0" {if:$ship['sex']==0}checked='checked'{/if}/>女士</label>
			</fieldset>

			<fieldset>
				<label>地区:</label><br/>
				<select name="province" style="height:35px;width:25%;"child="city,area" onchange="areaChangeCallback(this);" class="auto"></select>
				<select name="city" style="height:35px;width:25%;"child="area" parent="province" onchange="areaChangeCallback(this);" class="auto"></select>
				<select name="area" style="height:35px;width:24%;"parent="city" pattern="required" class="auto"></select>
			</fieldset>

			<fieldset>
				<label>地址:</label><br/>
				<input name="address" class="textwen"class="large" type="text" pattern="required" value="{$ship['address']}"  alt='<br/>具体地址错误'/><br/>
				<label class="tip">(*具体地址)</label>
			</fieldset>

			<fieldset>
				<label>邮编:</label><br/>
				<input class="textwen"class="normal" name="postcode" type="text" pattern="zip" value="{$ship['postcode']}" empty alt='<br/>邮编错误'/>
			</fieldset>

			<fieldset>
				<label>手机:</label><br/>
				<input name="mobile"class="textwen" class="normal" type="text" pattern='mobi' value="{$ship['mobile']}" />
			</fieldset>

			<fieldset>
				<label>固定电话:</label><br/>
				<input name="telphone"class="textwen" class="normal" type="text" pattern="phone" empty alt='<br/>电话号码错误' value="{$ship['telphone']}" />
			</fieldset>

			<fieldset>
				<label>默认收获地址:</label><br/>
				<input type="checkbox" name="is_default" value="1" {if:$ship['is_default']==1}checked='checked'{/if}/>&nbsp;设置为默认地址
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" class="alt_right"value="重 置" />
			</div>
		</footer>
	</form>
</article>

<script type='text/javascript'>
//DOM加载完毕
$(function(){
	//初始化地域联动
	template.compile("areaTemplate",areaTemplate);

	{if:isset($ship) && $ship}
	createAreaSelect('province',0,{$ship['province']});
	createAreaSelect('city',{$ship['province']},{$ship['city']});
	createAreaSelect('area',{$ship['city']},{$ship['area']});
	{else:}
	createAreaSelect('province',0,'');
	{/if}
});

/**
 * 生成地域js联动下拉框
 * @param name
 * @param parent_id
 * @param select_id
 */
function createAreaSelect(name,parent_id,select_id)
{
	//生成地区
	$.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)
	{
		$('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
	});
}
</script>