/*.sty{height:3.5em;width:3em;}*/
.res-bg{background-image:url(../css/image/logo.png);}
.t-btn1{background-image:url(../css/image/t-btn1.png);}
.bg-a{background-image:url(../css/image/login.jpg);}
.logowh{width:14.8em;height:5.1em;}
/*.c-407{background-color:#407fac;}*/
.bg-c{background-color:#005490;}
/*.borderw{height:auto;width:15.6em;}*/
.inputs{border-style:none;margin-top:2em;}
/*.bg{
 background-image:-webkit-gradient(radial,50% 22%,0,50% 55%,550,from(rgba(0,131,224,0.2)),to(rgba(0,131,224,1)));
 }*/
.bn{background: transparent;}
.font{font-family:'华文细黑';font-size:1.125em;}
.t-sty{border-bottom:2px solid;}
.mar1{margin:1.8em 1.7em 1.3em;}
.btnwh{	width:1.75em;height:1.75em;}
.mar2{margin:0.5em 1.7em;}
.umw5{min-width:10em;}
/*.ulim1{max-width:16em;}*/
/*.cont{width:20em;height:27em;}*/
.bto{}
