input.send_sms {
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	background-color: #f2f2f2;
	color: #000;
	border-radius: 3px;
	text-decoration: none;
	border: 1px solid #c5c5c5;
	cursor: pointer;
}
input.disable {
	color: #ccc;
}
.send_sms_notice {
	margin-top: 10px;
	background: url(/views/mobile/skin/blue/images/right.png) 0 1px no-repeat;
	background-size: 13px 13px;
	padding-left: 18px;
	display: none;
}
