.free_class_content .free_class_hd img {width:auto;float:none;}
.free_class_content .free_class_hd {text-align:center;padding: 20px 0;}
.free_class_content .free_class_bd {background:transparent;}
.free_class_content .free_class_bd li:first-child{margin-top:15px;}