{js:artTemplate}
{js:kindeditor}
{js:my97date}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<style>
.hide { display: none; }
</style>

<article class="module width_full">
	<header>
		<h3>{if:$ad_info}编辑{else:}添加{/if}广告</h3>
	</header>

	<form action="{url:/seller/ad_edit_act}" method="post" name="sellerForm" enctype='multipart/form-data'>
		<div class="module_content">
			<fieldset>
				<label>广告标题：</label>
				<input type='text' class='normal' name='name' pattern='required' value="{$ad_info['name']}" alt="填写名称" /><label>* （必填）</label>
			</fieldset>

			<fieldset>
				<label>广告图片：</label>
				<input type="file" name="img" class="file" /><label>*（尺寸为：1920x450像素）</label>
        {if:$ad_info['content']}
          <p><img src="{webroot:$ad_info['content']}" width="100" /></p>
        {/if}
			</fieldset>

			<fieldset>
				<label>广告链接：</label>
				<input type='text' class='normal' name='link' empty pattern='url' value="{$ad_info['link']}" alt='请填写正确URL地址' />
        <label>点击广告后页面链接的URL地址，为空则不跳转</label>
			</fieldset>

			<fieldset>
				<label>排序：</label>
				<input type='text' class='small' name='order' pattern='int' value="{if:$ad_info['order']}{$ad_info['order']}{else:}0{/if}" alt='填写正确的数字' />
        <label>数字越小，排列越靠前</label>
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="hidden" name="id" value="{$ad_info['id']}" />
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>
