	<header>
		<h3 class="tabs_involved">发布学习券</h3>
	</header>

	<div class="operating">
		<a href="javascript:;"><button class="operating_btn" type="button" onclick="window.location='{url:/views/sysseller/chit_edit}'"><span class="addition">添加券</span></button></a>
	</div>


<div class="content">
	<table id="list_table" class="list_table">

		<thead>
			<tr>
				<th>学校名称</th>
				<th>券面值</th>
				<th>抵扣值</th>
				<th>结束时间</th>
				<th>限制数量</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>

			{foreach:items=$brand_chit_list}
			<tr>
				<td>{$item['name']}</td>
				<td>{$item['max_price']}</td>
				<td>{$item['max_order_chit']}</td>
				<td>{echo:date('Y-m-d', $item['limittime'])}</td>
				<td>{$item['limitnum']}</td>
				<td>
					<a href="{url:/sysseller/brand_chit_edit}">修改</a>
					<a href="{url:/sysseller/brand_chit_del}">删除</a>
				</td>
			</tr>
			{/foreach}
			<tr>
					<td colspan="6">{$page_info}</td>
			</tr>
		</tbody>
	</table>
</div>