{js:artTemplate}
{js:areaSelect}

<style>
.image-item {width:120px;height:60px;float:left;position:relative;margin-right: 10px;}
.image-close {position:absolute;top:0px;right:0px;}
#thumbnails3 {margin-top: 8px;}
.moduleco dl dt{width:100%}
</style>

<article class="module width_full">
	<header>
		<h3>学校管理</h3>
	</header>

	<form action="{url:/seller/brand_base_add}" method="post" name="sellerForm" enctype='multipart/form-data'>
		<div class="moduleco">
			<dl>
				<dt>登陆用户名：</dt><dd>{$this->brandRow['username']}</dd>
			</dl>
			<dl>
				<dt>学校简称：</dt><dd>
				<input type="text" name="shortname" pattern="required" maxlength="8" /></dd>
			</dl>
			</dl>
			

			<dl>
					<dt>所属分类：
					</dt><dd>
						{query:name=brand_category}{/query}
						{if:$items}
						<ul class="select">
							{foreach:items=$items}
							<li><dt><input type="checkbox" value="{$item['id']}"  name="category[]" {if:strstr($this->brandRow['category_ids'],$item['id']) !== false}checked="checked"{/if} />{$item['name']}</label></dt></li>
							{/foreach}
						</ul>
						{else:}
						系统暂无分类
						{/if}
					</dd>
				</dl>
		<dl>
			
		
	
					<dl>
				<dt>固定电话：
				</dt><dd><input type="text" name="telephone" pattern="phone" /></dd>
			</dl>
			<dl>
				<dt>邮箱：
				</dt><dd><input type="text" name="email" pattern="email" empty /></dd>
			</dl>

			<dl>
				<dt>商家位置：
				</dt><dd><div class="box">
					<select name="province" id="province" child="city,area" onchange="changeProvince()"></select>
					<select name="city" id="city" child="area" onchange="changeCity()"></select>
					<select name="area" id="district"></select>
				</div></dd>
			</dl>

			<dl>
				<dt>详细地址：
				</dt><dd><input name="address" type="text" empty value="" /></dd>
			</dl>

			<dl>
				<dt>QQ号码：
				</dt><dd><input name="qq" class="small" type="text" empty value="" />
				<label class="tip"></label></dd>
			</dl>
			
		</div>

		<footer>
			<div class="submit_link">
				<input type="hidden" name="brand_id" value="{$this->brandRow['id']}">
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>

</article>

<script language="javascript">
var formObj = new Form('sellerForm');
formObj.init({echo:JSON::encode($this->brandRow)});

setProvince('{$this->brandRow['province']}', '{$this->brandRow['city']}' , '{$this->brandRow['discrict']}');


function changeProvince(){
    setCity($("#province").val());
}

function changeCity(){
    setCity($("#province").val(), $("#city").val());
}
function setProvince(provinceVal, cityVal, districtVal){
    var province = $("#province");
    var city = $("#city");
    province.get(0).options.length = 0;
    city.get(0).options.length = 0;
    $.getJSON("{url:/block/area_child_my}/aid/0", function(json){
        if(json!=null){
            $.each(json, function(i, n){
                var option = new Option(n, i);
                if (i == provinceVal) {
                    option.selected = true;
                }
                province.get(0).options.add(option);
            });
            if(province.val())
                province.show();
            else
                province.hide();
            setCity(province.val(), cityVal, districtVal);
        }else{
            province.hide();
            city.hide();
        }
    });
}
function setCity(provinceVal, cityVal, districtVal){
    var city = $("#city");
    city.get(0).options.length = 0;
    provinceVal = provinceVal == null ? '' : provinceVal;
    $.getJSON("{url:/block/area_child_my}/aid/" + provinceVal, function(json){
        if(json!=null){
            $.each(json, function(i, n){
                var option = new Option(n, i);
                if (i == cityVal) {
                    option.selected = true;
                }
                city.get(0).options.add(option);
            });
            if(city.val())
                city.show();
            else
                city.hide();
            setDistrict(city.val(), districtVal);
        }else{
            city.hide();
        }
    });
}

function setDistrict(cityVal, districtVal){
    var district = $("#district");
    district.get(0).options.length = 0;
    cityVal = cityVal == null ? '' : cityVal;
    $.getJSON("{url:/block/area_child_my}/aid/" + cityVal, function(json){
        if(json!=null){
            $.each(json, function(i, n){
                var option = new Option(n, i);
                if (i == districtVal) {
                    option.selected = true;
                }
                district.get(0).options.add(option);
            });
            if(district.val())
                district.show();
            else
                district.hide();
        }else{
            district.hide();
        }
    });
}


</script>
