<article class="module width_full">
	<header>
		<h3 class="tabs_involved">代金券列表</h3>
    <ul class="tabs">
      <li><input type="button" class="alt_btn" onclick="window.location.href = '{url:/seller/chit_edit}'" value="发布代金券" /></li>
    </ul>
	</header>

	<table class="tablesorter" cellspacing="0">
		<colgroup>
			<col width="150px" />
			<col width="150px" />
			<col width="120px" />
			<col width="85px" />
      <col width="85px" />
	  <col width="50px" />
			<col />
		</colgroup>
		<thead>
			<tr>
				<th>代金券售价</th>
				<th>抵扣现金金额</th>
				<th>类型</th>
				<th>时间</th>
				<th>限购</th>
             <th>操作</th>
			</tr>
		</thead>

		<tbody>
			{foreach:items=$brand_chit_list}
			<tr>
				<td>{$item['max_price']}</td>
				<td><em>￥</em>{$item['max_order_chit']}</td>
				<td>专用券</em>{$item['shortname']}</td>
				<td>{echo:date('Y-m-d', $item['limittime'])}结束</td>
				<td>每人限购{$item['limitnum']}张</td>
                <td>
					 <a href="{url:/seller/chit_edit/id/$item['id']}">编辑</a>
					 
				</td> 
			</tr>
			{/foreach}
		</tbody>
	</table>
</article>
