{set:

$this->startDate = IFilter::act(IReq::get('startDate'));

$this->endDate   = IFilter::act(IReq::get('endDate'));

$countData = statistics::sellerAmount($this->seller['seller_id'],$this->startDate,$this->endDate);

}

{js:my97date}

{js:chart}

<div class="fanligzbox">
  <div class="fanligz-box">
   <div class="gzbt">乐享生活入驻商户返利金规则</div>
   <div class="gznr">
     <p>1.商户返利账户体现的余额由商户自己充值部分和平台补充部分两部分组成，商户和平台各自拥有所投入部分的所有权。</p>
     
     <p>2.商户自充部分和平台补充部分的数额等比例同步增减。</p>
     
     <p>3.商户应保证返利账户内有足够的余额对消费者进行返利。</p>
     
     <p>4.消费者在使用个人返利账户余额完成交易后，商户按交易额的10%向平台交纳服务费，该笔费用在商户与平台进行结算时支付。</p>
     
     <p>5.在商户返利账户余额不足时，商户可通过支付宝、网银、微信等第三方支付方式对返利账户进行补充，也可以使用普通账户（营业账户）内的余额对返利账户余额进行补充。在商户完成充值后，平台将按约定提供同等比例的返利辅助金。</p>
     
     <p>6.商户首次入驻平台，且通过乐享生活的审核，新入驻商户的返利账户可获赠100元返利金，返利金只可用于对消费者的返现，不可提现。</p>
     
     <p>7.平台赠送的100元返利金使用后，商户累计对消费者返利不足2500元（包括平台补充的部分在内）时，在申请提现时账户内需保留100元余额，在商户累计返利金额超过2500元或合同自然终止时此限制取消。</p>
     
     <p>8.商户只能对返利账户内的自充部分进行提现，且除乐享生活主动与商户解除合作关系和双方合同到期不再续约外，合同期内返利账户内的余额不能提现。</p>
     
     <p class="lelele">湖南乐享生活租赁服务有限公司</p>
   </div>
  </div>
</div>