{set:$seller_id = $this->seller['seller_id']}

{set:$seller_fanli =Lexiangshenghuo::getsellerFanli($seller_id);}

<article class="module width_full">

	<header>
		<h3 class="tabs_involved" >返利账户信息</h3>
		<ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/fanli_tixian}';" value="返利账户提现" /></li>
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/fanli_chongzhi}';" value="返利账户充值" /></li>
			

		</ul>
	</header>

	<div class="module_content">

		<table class="tablesorter" cellspacing="0">

			<thead></thead>

			<tbody>

				<tr>

					<td>返利账户总余额：{echo:($seller_fanli['real_fanli']+$seller_fanli['zengsong_fanli'])}元</td>

				</tr>
				<tr>

					<td>用户自充余额：{echo:($seller_fanli['real_fanli'])}元</td>

				</tr>

			</tbody>

		</table>

	</div>

</article>




<article class="module width_full">

	<header>

		<h3 class="tabs_involved">返利账户详单</h3>

	</header>



	<table class="tablesorter" cellspacing="0">

		<colgroup>

			<col width="500px" />

			<col width="155px" />

			<col width="155px" />

			<col width="155px" />

			<col />

			<col width="100px" />

		</colgroup>



		<thead>

			<tr>

				<th>事件</th>

				<th>收入</th>

				<th>支出</th>
				
				<th>返利账户余额</th>

				<th>时间</th>

			</tr>

		</thead>



		<tbody>

			{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}

			{query: name=fanlilog where=seller_id eq $seller_id page=$page order=id desc}

			<tr>

				<td>{$item['note']}</td>
				{if:$item['sale_num']>0}
				<td></td>
				<td>-{$item['sale_num']}</td>
				{else:}
				<td>{echo:number_format((0-$item['sale_num']), 2, '.', '')}</td>
				<td></td>
				{/if}
				<td>{$item['seller_fanli']}</td>
				<td>{echo:date('Y-m-d H:m',$item['time'])}</td>

			</tr>

			{/query}

		</tbody>

	</table>



	{$query->getPageBar()}

</article>