{js:my97date}
{set:$swfloadObject = new Newupload();$swfloadObject->show($this->seller['seller_name'],$this->seller['seller_pwd']);}
{set:$seller_id = $this->seller['seller_id']}
{js:artTemplate}
{js:cropper}
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
<script type="text/javascript" src="/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/plugins/ueditor/ueditor.all.min.js"></script>
<link rel="stylesheet" href="/resource/scripts/layer/skin/layer.css">
<script type="text/javascript" src="/resource/scripts/layer/layer.js"></script>
<script type='text/javascript' src="{theme:javascript/goods_edit2.js}"></script>
<script language="javascript">
{if:$form['course_imgs_json'] != ''}var _course_imgs_arr = {$form['course_imgs_json']};{else:}var _course_imgs_arr = new Array();{/if}
{if:$form['students_imgs_json'] != ''}var _students_imgs_arr = {$form['students_imgs_json']};{else:}var _students_imgs_arr = new Array();{/if}
</script>
{set:
$site_config=new Config('site_config');
}
<style>
.btn, a.btn {
	background-color: transparent;
	font-size: 14px;
	padding: 2px;
	text-decoration: none;
	background-color: #696969;
	border: 1px solid #555555;
	color: #fff;
	border-radius: 5px;
	margin-left: 10px;
	margin-top: 8px;
}
.btn:hover {
	text-decoration: none;
}
#thumbnails2, #thumbnails3 {
	margin-top: 12px;
}
#thumbnails2 .pic, #thumbnails3 .pic {
	width: 18%;
}
#thumbnails2 .pic img, #thumbnails3 .pic img {
	max-width: 100%;
}
.box input[type=radio] {
	vertical-align: middle;
	margin-right: 3px;
	cursor: pointer;
}
.box .statement_label {
	cursor: pointer;
}
.hide {
	display: none;
}
.ke-statusbar-right-icon{display:none;}
.iframe.ke-edit-iframe{width:960px;height:500px;}
.class_details_row li {	margin-bottom: 5px;}

.goodsList li,.teacherList li{padding:5px 0;}
.goodsList li img,.teacherList li img{width:20px;}
.goodsList li span,.teacherList li span{margin-right:10px;}
.goodsList li em,.teacherList li em{font-style:normal;}

#goodsForm{display:none;}
#teacherForm{display:none;}
h2.lesson_tit{text-align: center;color:#1651DA !important;}
.cropper{width:860px;height:390px;padding:15px;display:none;}
.cropper-wrapper {height: 364px; width: 650px; box-shadow: inset 0 0 5px rgba(0,0,0,.25); background-color: #fcfcfc; overflow: hidden; float:left;}
.preview{width:240px;float:right;height:100px;overflow:hidden;margin-top:50px;}

.submit_link{text-align: center;margin-bottom:15px;}
input[type=submit]{background: #a4c639 url(../images/main/btn_submit_2.png) repeat-x !important;border: 1px solid #a4c639;text-align: center;margin:0 auto;padding:0 20px;}
fieldset label{display: inline-block;width:auto;}
fieldset input[type=text], fieldset input[type=password]{display: inline-block;width:60%;}
fieldset label.tip{width:60%;}
fieldset .box{display:inline-block;}

</style>

<article class="module width_full">

	<header>
		<h3 class="tabs_involved">课程编辑</h3>

		<ul class="tabs" name="menu1">
			<li id="li_1" class="active"><a href="javascript:select_tab('1');">课程信息</a></li>
            <li id="li_3"><a href="javascript:select_tab('3');" style="display: none;">推广优化</a></li>
		</ul>
	</header>

		<!--课程信息 开始-->

		<div class="module_content" id="table_box_1">
			<h2 class="lesson_tit">商家信息</h2>
			<form action="{url:/seller/brand_add2}" method="post" name="sellerForm" enctype='multipart/form-data'>
			<fieldset>
				<label>商家LOGO（PC端）：</label>
				<div class="demo" style="margin-top: 8px;">
	               <a class="btn" id="pcLogo" style="padding: 4px 13px;">选择...</a>
	               <label class="tip"></label>
	               <ul id="pcLogoPics" class="pcLogoPics clearfix">
	               		{if:$brand['pc_logo']}
	               		<li class="pic">
	               			<img style="margin:5px;opacity:1;width:150px;" src="/{$brand['pc_logo']}" class="current"><br><a href="javascript:void(0)" onclick="$(this).parent().remove();">删除</a><input type="hidden" name="pcLogo[]" value="{$brand['pc_logo']}" />
	               		</li>
	               		{/if}
	               </ul>
	            </div>
			</fieldset>
             <fieldset>
				<label>商家LOGO（手机端）：</label>
				<div class="demo" style="margin-top: 8px;">
	               <a class="btn" id="logo" style="padding: 4px 13px;">选择...</a>
	               <label class="tip"></label>
	               <ul id="logoPics" class="logoPics clearfix">
	               		{if:$brand['logo']}
	               		<li class="pic">
	               			<img style="margin:5px;opacity:1;width:150px;" src="/{$brand['logo']}" class="current"><br><a href="javascript:void(0)" onclick="$(this).parent().remove();">删除</a><input type="hidden" name="logo[]" value="{$brand['logo']}" />
	               		</li>
	               		{/if}
	               </ul>
	            </div>
			</fieldset>

			<fieldset>
				<label>学校介绍：</label>
				<div class="demo" style="margin-top: 8px;">
	               <a class="btn" id="schoolIntro" style="padding: 4px 13px;">选择...</a>
	               <label class="tip"></label>
	               <ul id="schoolIntroPics" class="schoolIntroPics clearfix">
	               		{if:$brand['school_intro_img']}
	               		{foreach:items = $brand['school_intro_img']}
	               		<li class="pic">
	               			<img style="margin:5px;opacity:1;width:150px;" src="/{$item}" class="current"><br><a href="javascript:void(0)" onclick="$(this).parent().remove();">删除</a><input type="hidden" name="schoolIntro[]" value="{$item}" />
	               		</li>
	               		{/foreach}
	               		{/if}
	               </ul>
	            </div>
			</fieldset>

			<fieldset>
				<label>学校展示：</label>
				<div class="demo" style="margin-top: 8px;">
	               <a class="btn" id="schoolShow" style="padding: 4px 13px;">选择...</a>
	               <label class="tip">不超过2M的图片</label>
	               <ul id="schoolShowPics" class="schoolShowPics clearfix">
	               		{if:$brand['school_img']}
	               		{foreach:items = $brand['school_img']}
	               		<li class="pic">
	               			<img style="margin:5px;opacity:1;width:150px;" src="/{$item}" class="current"><br><a href="javascript:void(0)" onclick="$(this).parent().remove();">删除</a><input type="hidden" name="schoolShow[]" value="{$item}" />
	               		</li>
	               		{/foreach}
	               		{/if}
	               </ul>
	            </div>
			</fieldset>
			<fieldset>
				<label>学校简介</label>
				<div class="box">
					<textarea name="content" id="school_content" style="width:960px;height:250px;">{$content['content']}</textarea>
				</div>
			</fieldset>
			<div class="submit_link">
				<input type="hidden" name="brand_id" value="{$brand['id']}" />
				<input type="submit" class="alt_btn1" value="确 定" />
			</div>
			
			</form>
		
		<h2 class="lesson_tit">课程信息</h2>
		<fieldset>
			<a name="goods_list"></a>
			<ul class="goodsList">

				{foreach:items = $goods_list}
				<li>
					<img src="/{$item['img']}" alt="">
					<span>{$item['name']}</span>
					<em><a href="javascript:void(0);" class="goods_item" data-id="{$item['id']}">编辑</a></em>
				</li>
				{/foreach}
				
			</ul>
		</fieldset>

		<a href="javascript:void(0);" id="addLesson">添加新课程</a>
		
		<div id="goodsForm">
		<form action="{url:/seller/goods_update2}" name="goodsForm" method="post">
			<input type="hidden" name="id" value="0" />
			<input type='hidden' name="img" value="" />
			<input type='hidden' name="_imgList" value="" />
			<input type='hidden' name="model_id" value="{if:isset($form['model_id'])}$form['model_id']{else:}1{/if}" />
			<input type='hidden' name="callback" value="{echo:IUrl::getRefRoute()}" />

			<fieldset>
				<label>课程名称：</label>
				<input name="name" type="text" value="" initmsg="课程填写正确" pattern="required" alt="课程不能为空" onblur="wordsPart()" />
			</fieldset>
			<fieldset>
				<label>一句话简介：</label>
				<input name="goods_brief" type="text" value="" initmsg="课程简介填写正确" pattern="required" alt="课程简介不能为空"  />
			</fieldset>

			<fieldset>
			<label>课程相册</label>
            <div class="demo" style="margin-top: 8px;">
                <a class="btn" id="uploadButton" style="padding: 4px 13px;">选择...</a>
               <label class="tip">上传不超过2M的图片，此图片显示在商家页面顶部幻灯！</label>
                <ul id="ul_pics" class="ul_pics clearfix"></ul>
            </div>			 


				<div class="box" id="divFileProgressContainer" style="margin-bottom:10px;"></div>
				<div class="box" id="thumbnails"></div>
				<script type='text/html' id='picTemplate'>
				<span class='pic'>

					<img onclick="defaultImage(this);" style="margin:5px; opacity:1;width:150px;height:150px" src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /><br />

					<a href='javascript:void(0)' onclick="$(this).parent().remove();">删除</a>

				</span>

				</script>

			   <script type='text/html' id='picTemplate2'>
                <div class='pic'>
                    <div class='pic_image'><img src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /></div>
                    <div class='pic_dels'><a href='javascript:void(0)'>删除</a></div>
                </div>
                </script>

			</fieldset>

			<fieldset>
				<div class="box">
					<div id="__categoryBox" style="margin-bottom:8px"></div>
					<input class="alt_btn" type="button" name="_goodsCategoryButton" value="设置课程" />
					{set:plugin::trigger('goodsCategoryWidget',array("type" => "checkbox","name" => "_goods_category[]","value" => isset($goods_category) ? $goods_category : ""))}
				</div>
			</fieldset>


            {if:$seller_info['is_system_seller'] && $seller_info['id'] == 365}<fieldset><label>课程来源：</label><div class="box"><button type='button' onclick="searchGoods('{url:/block/search_goods/type/radio}',searchGoodsCallback);" class='btn'><span>选择商品</span></button><input type="hidden" name="relative_goods_id" value="{$form['relative_goods_id']}" /><div class="selected_goods">{$form['relative_goods_info']['name']}</div></div></fieldset>{/if}


			<fieldset>
				<label>课程价格设置： <a href="javascript:;" onclick="addSpec()">添加课程价格</a></label>
			</fieldset>
			<fieldset>
				<!-- <label>基本数据</label> -->
				<table class="tablesorter clear" id="sepc_list">
					<style type="text/css">#sepc_list th,#sepc_list td{text-align: center;}</style>
					<thead>
					<tr>
						<th><input class="small" type="text" name="specname" value="{$product[0]['cusname']}" placeholder="例如：班级" empty pattern="required" style="display:none;"></th>
						<th>招生人数</th>
						<!-- <th>授课老师</th> -->
						<th>课时</th>
						<th>每学期月数</th>
						<th>市场价</th>
						<th style="display:none;">销售价</th>
						<th>是否显示</th>
						<th>操作</th>
					</tr>
					</thead>
					{if:$product}
					{foreach:$items=$product}
					<tr>
									<td><input class="small" name="specval[]" type="text" value="{$item['cusval']}" placeholder="例如：突破班" /></td>
									<td><input class="tiny" name="student[]" type="text" value="{$item['student']}" /></td>
						<!-- <td>
							<select name="teacher[]">
											<option value="">无</option>
								{foreach:items=$teacher_list item=$val}
									<option value="{$val['id']}"{if:$item['teacher'] == $val['id']} selected{/if}>
										{$val['name']}
									</option>
								{/foreach}
							</select>
						
							<input class="tiny" name="teacher[]" pattern="required" type="text" value="" />
						</td> -->
						<td><input class="tiny" name="classnum[]" type="text" value="{$item['classnum']}" /></td>
						<td><input class="tiny" name="month[]" type="text" value="{$item['month']}" /></td>
						<td><input class="tiny market_price" tt="3" name="market_price[]" type="text" value="{$item['market_price']}" /></td>
						<td style="display:none;"><input class="tiny sell_price" name="sell_price[]" type="text" value="{$item['sell_price']}" /></td>
						<td><input name="is_show[]" type="checkbox" value="1"{if:$item['is_show'] == 1} checked{/if} /></td>
						<td><a href="javascript:void(0)" onclick="delProduct(this, '{$item['id']}');">删除</a></td>
					</tr>
					{/foreach}
					{else:}
					<tr>
									<td><input class="small" name="specval[]" type="text" value="" placeholder="例如：突破班" /></td>
									<td><input class="tiny" name="student[]" type="text" value="100" /></td>
						<!-- <td>
							<select name="teacher[]">
											<option value="">无</option>
								{foreach:items=$teacher_list}
									<option value="{$item['id']}">
										{$item['name']}
									</option>
								{/foreach}
							</select>
						</td> -->
						<td><input class="tiny" name="classnum[]" type="text" value="" /></td>
						<td><input class="tiny" name="month[]" type="text" value="" /></td>
						<td><input class="tiny market_price" tt="3" name="market_price[]" type="text" value="" /></td>
						<td style="display:none;"><input class="tiny sell_price" name="sell_price[]" type="text" value="" /></td>
						<td><input name="is_show[]" type="checkbox" value="1" checked /></td>
									<td><a href="javascript:void(0)" onclick="delProduct(this);">删除</td>
					</tr>
					{/if}
				</table>
			</fieldset>

			<fieldset id="properties" style="display:none">
				<label>扩展属性</label>
				<table class="tablesorter clear" id="propert_table">
				</table>

				<!--课程属性模板 开始-->
				<script type='text/html' id='propertiesTemplate'>
				<%for(var item in templateData){%>
				<%item = templateData[item]%>
				<%var valueItems = item['value'].split(',');%>
				<tr>
					<td>
						<%=item["name"]%>：
						<%if(item['type'] == 1){%>
							<%for(var tempVal in valueItems){%>
							<%tempVal = valueItems[tempVal]%>
								<input type="radio" name="attr_id_<%=item['id']%>" value="<%=tempVal%>" /><%=tempVal%>
							<%}%>
						<%}else if(item['type'] == 2){%>
							<%for(var tempVal in valueItems){%>
							<%tempVal = valueItems[tempVal]%>
								<input type="checkbox"<%if(item['id'] == 1 && (tempVal == '每周一' || tempVal == '每周二' || tempVal == '每周三' || tempVal == '每周四' || tempVal == '每周五' || tempVal == '每周六' || tempVal == '每周日')){%> checked<%}%> name="attr_id_<%=item['id']%>[]" value="<%=tempVal%>"/><%=tempVal%>
							<%}%>
						<%}else if(item['type'] == 3){%>
							<select name="attr_id_<%=item['id']%>">
							<%for(var tempVal in valueItems){%>
							<%tempVal = valueItems[tempVal]%>
							<option value="<%=tempVal%>"><%=tempVal%></option>
							<%}%>
							</select>
						<%}else if(item['type'] == 4){%>
							<input type="text" name="attr_id_<%=item['id']%>" value="<%=item['value']%>" class="small" />
						<%}%>
					</td>
				</tr>
				<%}%>
				</script>
				<!--课程属性模板 结束-->
			</fieldset>

			<fieldset>
				<label>课程简介</label>
				<div class="box">
					<textarea name="content" id="content" style="width:960px;height:150px;">{$form['content']}</textarea>
				</div>
			</fieldset>
			<fieldset>
				<label>是否上架</label>
				<div class="box">
					{if:$seller_info['is_authentication'] == 1}
					<input type='radio' name='is_del' value='0' checked="checked" />上架销售
					<input type='radio' name='is_del' value='2' />下架
					{else:}
					<input type='radio' name='is_del' value='2' checked />下架
					{/if}
				</div>
			</fieldset>
			<fieldset>
				<label>限购数量：</label>
				<div class="box">
					<input type="text" class="normal" name="limit_num" />
				</div>
			</fieldset>
			<fieldset>
				<label>限购时间：</label>
				<div class="box">
					<input type="text" class="normal" name="limit_start_time" onFocus="WdatePicker()"/>
					<input type="text" class="normal" name="limit_end_time" onFocus="WdatePicker()"/>
				</div>
			</fieldset>			


			<div class="submit_link">
				<input name="goods_no" id="goods_no" type="hidden" value=""  />
                <input type="hidden" name="course_imgs" id="course_imgs" value="{$item['course_imgs']}" />
                <input type="hidden" name="students_imgs" id="students_imgs" value="{$item['students_imgs']}" />
				<input type="submit" class="alt_btn2" value="确 定"  />
			</div>

	</form>
	</div>

	<h2 class="lesson_tit">教师信息</h2>		
		<fieldset>
			<a name="teacher_list"></a>
			<ul class="teacherList">
				{foreach:items = $teacher_list}
				<li>
					<img src="/{$item['icon']}" alt="">
					<span>{$item['name']}</span>
					<em><a href="javascript:void(0);" class="teacher_item" data-id="{$item['id']}">编辑</a></em>
				</li>
				{/foreach}				
			</ul>
		</fieldset>

		<a href="javascript:void(0);" id="addTeacher">添加新教师</a>
		<div id="teacherForm">
		<form action="{url:/seller/teacher_save2}" method="post" name="teacherForm" enctype='multipart/form-data'>
			<input type="hidden" name="id" value="0" />
			<fieldset>
				<label>教师姓名：</label>
				<input class="normal" name="name" type="text" pattern="required" alt="请输入教师姓名" value="" /><label>* 教师名称（必填）</label>
			</fieldset>

			<fieldset>
				<label>性别：</label>
				<input type="radio" name="sex" value="1" id="sex_1" /><label for="sex_1">男</label>&nbsp; &nbsp; <input type="radio" name="sex" value="2" id="sex_2" /><label for="sex_2">女</label>
			</fieldset>

			<fieldset>
				<label>形象照片：</label>
		        <div class="demo" style="margin-top: 8px;">
	               <a class="btn" id="teacherIcon" style="padding: 4px 13px;">选择...</a>
	               <label class="tip"></label>
	               <ul id="teacherIconPics"></ul>
	            </div>

			</fieldset>

			<fieldset>
				<label style="float:left;">教师介绍：</label><br />
				<textarea name="description" id="description" style="float:left;width:600px;height:100px;"></textarea>
			</fieldset>

			<div class="submit_link">
				<input type="submit" class="alt_btn3" value="确 定" />
			</div>
		</form>
	</div>

</article>

<!-- 裁剪框 start -->
<div class="cropper">
	<div class="cropper-wrapper"><img src="" alt=""></div>
	<div class="preview preview-lg"></div>
</div>
<!-- end -->




<script language="javascript">

var formObj = new Form('goodsForm');
var defaultProductNo = '{echo:goods_class::createGoodsNo()}';

{if:$seller_info['is_system_seller']}
var ue = UE.getEditor('content');
var ue2 = UE.getEditor('school_content');
{else:}
var ue = UE.getEditor('content',{
	toolbars: [
        ['justifyleft', 'justifyright', 'justifycenter', 'justifyjustify' ]
    ],
});
var ue2 = UE.getEditor('school_content',{
	toolbars: [
        ['justifyleft', 'justifyright', 'justifycenter', 'justifyjustify' ]
    ],
});
{/if}

$(function()
{
	create_attr(1);
	initProductTable();
	{if:isset($form)}
	var goods = {echo:JSON::encode($form)};
	//var goodsRowHtml = template.render('goodsRowTemplate',{'templateData':[goods]});
	//$('#goodsBaseBody').html(goodsRowHtml);
	
	formObj.init(goods);
	{if:!$form['model_id']}
	create_attr(1);
	{else:}
	create_attr(1);
	{/if}
	{/if}
	{if:isset($from['goods_no'])}
		$('[name="goods_no"]').val($from['goods_no']);
	{else:}
		$('[name="goods_no"]').val(defaultProductNo);
	{/if}
    {if:isset($product)}
	//var spec_array = {echo:$product[0]['spec_array']};

	var product    = {echo:JSON::encode($product)};



	//var goodsHeadHtml = template.render('goodsHeadTemplate',{'templateData':spec_array});

	//$('#goodsBaseHead').html(goodsHeadHtml);



	//var goodsRowHtml = template.render('goodsRowTemplate',{'templateData':product});

	//$('#goodsBaseBody').html(goodsRowHtml);

	{/if}



	{if:isset($goods_category)}

	{set:$categoryId = join(",",$goods_category)}

	{query:name=category items=$categoryData where=id in ($categoryId)}{/query}

	createGoodsCategory({echo:JSON::encode($categoryData)});

	{/if}


	{if:isset($goods_photo)}

	var goodsPhoto = {echo:JSON::encode($goods_photo)};

	for(var item in goodsPhoto)

	{

		var picHtml = template.render('picTemplate',{'picRoot':goodsPhoto[item].img});

		$('#thumbnails').append(picHtml);

	}

	{/if}



	{if:isset($form['img']) && $form['img']}

	$('#thumbnails img[alt="{echo:$form['img']}"]').addClass('current');

	{/if}


	// 删除图片
	$("body").on("click", ".pic .pic_dels a", function(){
		var _img_src = $(this).parent().parent().find('img').attr('true_src');
		var _parent_id = $(this).parent().parent().parent().attr('id');
		if ( _parent_id == 'thumbnails2')
			var _parent_img_arr = _course_imgs_arr;
		else
			var _parent_img_arr = _students_imgs_arr;

		$(this).parent().parent().remove();

		for( var i = 0; i < _parent_img_arr.length; i++ )
		{
			if( _parent_img_arr[i] == _img_src )
				_parent_img_arr.splice( i, 1 );
		}

		update_pics();
	});

	$('.discount').on('keyup',function(){
		calculation_price($(this));
	});

	// 付款方式的切换
	$('input[name=statement]').change(function(){
		if ( $(this).val() == '1')
		{
			$('.statement_td').hide();
		}
		else
		{
			$('.statement_td').show();
		}
	})

	{if:$form['statement'] != 2}
		$('.statement_td').hide();
	{/if}

	$('.add_class_details').click(function(){
		var _td_html = $('.class_details_row ul').html();
		$('.class_details_row ul').append("<li><input type='text' class='normal' name='class_details[]' value='' onkeyup=\"CountWords(this,'show')\" />&nbsp; <a href='javascript:void(0);' class='del_class_details'>删除</a>&nbsp; 还能输入<i></i>个字<li>");
	});

	// 删除课程内容
	$('.del_class_details').on('click', function(){
		$(this).parent().remove();
	})

});

function calculation_price(obj)
{
	var rcommission = '{$site_config->rcommission}';
	var _val = obj.val();
	_val = parseFloat( _val );
	var _market_price = obj.parent().parent().find(".market_price").val();
	_market_price = parseFloat( _market_price );
	var _tt = obj.attr('tt');

	if ( _val > 0 && _market_price > 0 )
	{
		switch( _tt )
		{
			case '1':
				var sell_discount =  (_val / 100) * (rcommission / 100);
				var _cost_price = _market_price - (_market_price * ( _val / 100 ));
				var _sell_price = _market_price - (_market_price * sell_discount);

				obj.parent().parent().find(".cost_price").val(_cost_price.toFixed(2));
				obj.parent().parent().find(".sell_price").val(_sell_price.toFixed(2));
				break;
			case '2':
				var _discount = ( 1 - ( _val / _market_price )) * 100;
				var _sell_price = ( _market_price - _val ) * ( rcommission / 100 ) + _val;

				obj.parent().parent().find(".discount").val(_discount.toFixed(2));
				obj.parent().parent().find(".sell_price").val(_sell_price.toFixed(2));
				break;
		}
	}
}

function update_pics()
{
	var _str = '';
	for( i in _course_imgs_arr )
	{
		_str = ( _str == '' ) ? _course_imgs_arr[i] : _str + ',' + _course_imgs_arr[i];
	}
	$('#course_imgs').val( _str );

	var _str = '';
	for( i in _students_imgs_arr )
	{
		_str = ( _str == '' ) ? _students_imgs_arr[i] : _str + ',' + _students_imgs_arr[i];
	}
	$('#students_imgs').val( _str );
}

function initProductTable()
{
	/*var goodsHeadHtml = template.render('goodsHeadTemplate',{'templateData':[]});
	$('#goodsBaseHead').html(goodsHeadHtml);
	var goodsRowHtml = template.render('goodsRowTemplate',{'templateData':[[]]});
	$('#goodsBaseBody').html(goodsRowHtml);*/
}

function delProduct(_self)
{
	$(_self).parent().parent().remove();
	if($('#goodsBaseBody tr').length == 0)
	{
		initProductTable();
	}
}





function addSpec()
{
	var tempUrl  = $('input:hidden[name^="_spec_array"]').length > 0 ? '{url:/goods/search_spec}' : '{url:/goods/search_spec/model_id/@model_id@/goods_id/@goods_id@}';
	var model_id = $('[name="model_id"]').val();
	var goods_id = $('[name="id"]').val();
	tempUrl = tempUrl.replace('@model_id@',model_id);
	tempUrl = tempUrl.replace('@goods_id@',goods_id);
	tempUrl = "/index.php?controller=goods&action=select_spec&seller_id={$this->seller['seller_id']}";
	art.dialog.open(tempUrl, {
		title:'添加属性2',
		okVal:'保存',
		ok:function(iframeWin,topWin)
		{
			var addSpecObject = $(iframeWin.document).find('#specs');
			if ( typeof(addSpecObject) != 'object')
			{
				return;
			} else {
				var specIsHere    = getIsHereSpec();
				var specValueData = specIsHere.specValueData;
				var specData      = specIsHere.specData;

				addSpecObject.find('.current input').each(function(){
					var json = $.parseJSON($(this).val());
					eval("var json_value ="+json.value);

					// 字符串处理，兼容原始不规范的规则
					var json_value_temp = new Array();
					for( i in json_value )
					{
						var temp_arr = new Array();
						temp_arr = json_value[i].split(',');
						for( j in temp_arr )
						{
							json_value_temp.push( temp_arr[j] );
						}
					}

					json_value = json_value_temp;
					for( i in json_value )
					{
						var json_temp = json;
						json_temp.value = json_value[i];
						specData[json_temp.id]      = json;

						if ( !specValueData[json_temp.id] )
							specValueData[json_temp.id] = [];
						if ( $.inArray(json_temp.value, specValueData[json_temp.id] ) == -1 )
							specValueData[json_temp.id].push(json_temp.value);
					}

				});

				createProductList(specData,specValueData);
			}
		}
	});
}

function selSpec()
{
	var tempUrl  = $('input:hidden[name^="_spec_array"]').length > 0 ? '{url:/goods/search_spec/seller_id/@seller_id@}' : '{url:/goods/search_spec/model_id/@model_id@/goods_id/@goods_id@/seller_id/@seller_id@}';
	var model_id = $('[name="model_id"]').val();
	var goods_id = $('[name="id"]').val();
	var seller_id= {$seller_id};

	tempUrl = tempUrl.replace('@model_id@',model_id);
	tempUrl = tempUrl.replace('@goods_id@',goods_id);
	tempUrl = tempUrl.replace('@seller_id@',seller_id);

	art.dialog.open(tempUrl,{
		title:'设置扩展属性',
		okVal:'保存',
		ok:function(iframeWin, topWin)
		{
			var addSpecObject = $(iframeWin.document).find('[id^="vertical_"]');
			if(addSpecObject.length == 0)
			{
				return;
			}

			var specIsHere    = getIsHereSpec();
			var specValueData = specIsHere.specValueData;
			var specData      = specIsHere.specData;

			addSpecObject.each(function()
			{
				$(this).find('input:hidden[name="specJson"]').each(function()
				{
					var json = $.parseJSON(this.value);
					if(!specValueData[json.id])
					{
						specData[json.id]      = json;
						specValueData[json.id] = [];
					}
					specValueData[json.id].push(json['value']);
				});
			});

			createProductList(specData,specValueData);
		}
	});
}


function descartes(list,specData)
{
	var point  = {};
	var result = [];
	var pIndex = null;
	var tempCount = 0;
	var temp   = [];

	for(var index in list)
	{
		if(typeof list[index] == 'object')
		{
			point[index] = {'parent':pIndex,'count':0}
			pIndex = index;
		}
	}

	if(pIndex == null)
	{
		return list;
	}

	while(true)
	{
		for(var index in list)
		{
			tempCount = point[index]['count'];
			temp.push({"id":specData[index].id,"type":specData[index].type,"name":specData[index].name,"value":list[index][tempCount]});
		}

		result.push(temp);
		temp = [];

		while(true)
		{
			if(point[index]['count']+1 >= list[index].length)
			{
				point[index]['count'] = 0;
				pIndex = point[index]['parent'];
				if(pIndex == null)
				{
					return result;
				}
				index = pIndex;
			}
			else
			{
				point[index]['count']++;
				break;
			}
		}
	}
}


function create_attr(model_id)
{
	$.getJSON("{url:/block/attribute_init}",{'model_id':model_id}, function(json)
	{
		if(json && json.length > 0)
		{
			var templateHtml = template.render('propertiesTemplate',{'templateData':json});
			$('#propert_table').html(templateHtml);
			$('#properties').show();

			{if:isset($goods_attr)}
			{set:$attrArray = array();}
			{foreach:items = $goods_attr}
			{set:$valArray = explode(',',$item);}
			{set:$attrArray[] = '"attr_id_'.$key.'[]":"'.join(";",$valArray).'"'}
			{set:$attrArray[] = '"attr_id_'.$key.'":"'.join(";",$valArray).'"'}
			{/foreach}
			formObj.init({{echo:join(',',$attrArray)}});
			{/if}
		}
		else
		{
			$('#properties').hide();
		}
	});
}



/**
 *
 * @param picJson => {'flag','img','list','show'}
 */

function uploadPicCallback(picJson)
{
	//alert( picJson.flag );
	if ( picJson.flag == -10 )
	{
		alert('上传失败,请上传{$default_goods_photo_width}x{$default_goods_photo_height}像素的图片');
		return false;
	}

	var picHtml = template.render('picTemplate',{'picRoot':picJson.img});
	$('#thumbnails').append(picHtml);

	if($('#thumbnails img[class="current"]').length == 0)
	{
		$('#thumbnails img:first').addClass('current');
	}

}

//running running upload img 处理课堂照片的图片上传
function uploadPicCallback2(id, picJson)
{
	if ( picJson.flag == -1 )
	{
		return false;
	}

	var _div = 'thumbnails' + id;
	var picHtml = template.render('picTemplate2',{'picRoot':picJson.img});
	$('#' + _div).append(picHtml);
	if($('#' + _div + ' img[class="current"]').length == 0)
	{
		$('#' + _div + ' img:first').addClass('current');
	}

	var _img_arr = ( id == 2 ) ? _course_imgs_arr : _students_imgs_arr;
	_img_arr.push( picJson.img );

	update_pics();
}


function defaultImage(_self)
{
	$('#thumbnails img').removeClass('current');
	$(_self).addClass('current');
}


function wordsPart(){
	var goodsName = $('input[name="name"]').val();
	if(goodsName)
	{
		$.getJSON("{url:/goods/goods_tags_words}",{"content":goodsName},function(json)
		{
			if(json.result == 'success')
			{
				$('input[name="search_words"]').val(json.data);
			}
		});
	}
}


function collectAct()
{
	var collectUrl  = $('#collectUrl').val();

	if(!collectUrl)
	{
		alert("");
		return;
	}

	$.getJSON("{url:/goods/collect_goods_detail}",{"collectUrl":collectUrl},function(json)
	{
		if(json.result == 'success')
		{
			KindEditorObj.html(json.data);
			KindEditorObj.sync();
		}
		else
		{
			alert(json.msg);
		}
	});
}



/**
 *
 * @param obj
 */

function memberPrice(obj)
{
	var sellPrice = $(obj).siblings('input[name^="_sell_price"]')[0].value;
	if($.isNumeric(sellPrice) == false)
	{
		alert('请设置课程价格');
		return;
	}

	var groupPriceValue = $(obj).siblings('input[name^="_groupPrice"]');
	art.dialog.data('groupPrice',groupPriceValue.val());

	var tempUrl = '{url:/goods/member_price/sell_price/@sell_price@/seller_id/$seller_id}';
	tempUrl = tempUrl.replace('@sell_price@',sellPrice);

	art.dialog.open(tempUrl,{
		id:'memberPriceWindow',
	    title: '特殊会员组价格',
	    ok:function(iframeWin, topWin)
	    {
	    	var formObject = iframeWin.document.forms['groupPriceForm'];
	    	var groupPriceObject = {};
	    	$(formObject).find('input[name^="groupPrice"]').each(function(){
	    		if(this.value != '')
	    		{
		    		var groupId = this.name.replace('groupPrice','');
		    		groupPriceObject[groupId] = this.value;
	    		}
	    	});

    		var temp = [];
    		for(var gid in groupPriceObject)
    		{
    			temp.push('"'+gid+'":"'+groupPriceObject[gid]+'"');
    		}

    		groupPriceValue.val('{'+temp.join(',')+'}');
    		return true;
		}
	});
}

function delSpec(specId)
{
	$('input:hidden[name^="_spec_array"]').each(function()
	{
		var json = $.parseJSON(this.value);
		if(json.id == specId)
		{
			$(this).remove();
		}
	});

	var specIsHere = getIsHereSpec();
	createProductList(specIsHere.specData,specIsHere.specValueData);
}

function getIsHereSpec()
{
	var specValueData = {};
	var specData      = {};

	if($('input:hidden[name^="_spec_array"]').length > 0)
	{
		$('input:hidden[name^="_spec_array"]').each(function()
		{
			var json = $.parseJSON(this.value);
			if(!specValueData[json.id])
			{
				specData[json.id]      = json;
				specValueData[json.id] = [];
			}

			if(jQuery.inArray(json['value'],specValueData[json.id]) == -1)
			{
				specValueData[json.id].push(json['value']);
			}
		});
	}
	return {"specData":specData,"specValueData":specValueData};

}



/**
 * @brief
 * @param object specData
 * @param object specValueData
 */

function createProductList(specData,specValueData)
{
	var specMaxData = descartes(specValueData,specData);
	var productJson = {};

	$('#goodsBaseBody tr:first').find('input[type="text"]').each(function(){
		productJson[this.name.replace(/^_(\w+)\[\d+\]/g,"$1")] = this.value;
	});

	var productList = [];
	for(var i = 0;i < specMaxData.length;i++)
	{
		var productItem = {};
		for(var index in productJson)
		{
			if(index == 'goods_no')
			{
				if(productJson[index] == '')
				{
					productJson[index] = defaultProductNo;
				}

				if(productJson[index].match(/(?:\-\d*)$/) == null)
				{
					productItem['goods_no'] = productJson[index]+'-'+(i+1);
				}
				else
				{
					productItem['goods_no'] = productJson[index].replace(/(?:\-\d*)$/,'-'+(i+1));
				}

			}
			else
			{
				productItem[index] = productJson[index];
			}
		}

		productItem['spec_array'] = specMaxData[i];
		productList.push(productItem);
	}

	var goodsHeadHtml = template.render('goodsHeadTemplate',{'templateData':specData});
	$('#goodsBaseHead').html(goodsHeadHtml);

	var goodsRowHtml = template.render('goodsRowTemplate',{'templateData':productList});
	$('#goodsBaseBody').html(goodsRowHtml);

	if($('#goodsBaseBody tr').length == 0)
	{
		initProductTable();
	}

	if ( $("input[name=statement]:checked").val() == '1')
	{
		$('.statement_td').hide();
	}

}

function addSpec(){
	var html = '<tbody><tr><td><input class="small" name="specval[]" pattern="required" type="text" value="" /></td><td><input class="tiny" name="student[]" pattern="required" type="text" value="100" /></td><td><input class="tiny" name="classnum[]" type="text" value="" /></td><td><input class="tiny" name="month[]" type="text" value="" /></td><td><input class="tiny market_price" name="market_price[]" pattern="required" type="text" value="" tt="3" /></td><td><input name="is_show[]" type="checkbox" value="1" checked /></td><td><a href="javascript:void(0)" onclick="delProduct(this);">删除</a></td></tr></tbody>';
	$('#sepc_list').append(html);
}

function delProduct(_self, productid)

{
	productid = typeof productid != 'undefined' ? productid : false;
	if(productid){
		$.getJSON('{url:/seller/delpro}/productid/' + productid, {}, function(json){
			if(json.msg == 1){
				$(_self).parent().parent().remove();
			}
		})
	}else{
		$(_self).parent().parent().remove();
	}

}

function searchGoodsCallback(goodsList)
{
	goodsList.each(function(){
		var temp = $.parseJSON($(this).attr('data'));
		var content = {"data":{"id":temp.goods_id,"name":temp.name,"img":temp.img,"sell_price":temp.sell_price}};
		relationCallBack(content);
	});
}
function relationCallBack(content)
{
	if(content)
	{
		$('.selected_goods').html(content['data']['name']);
		$('input[name=relative_goods_id]').val(content['data']['id']);
	}
}

function CountWords(obj, show_id){
 var fullStr = obj.value;
 var charCount = fullStr.length;
 var count = 28;
 var rExp = /[^A-Za-z0-9]/gi;
 var spacesStr = fullStr.replace(rExp, ' ');
 var cleanedStr = spacesStr + ' ';
 if ( charCount > count )
 {
	 $(obj).val(fullStr.substring(0, count));
 }
 do{
  var old_str = cleanedStr;
  cleanedStrcleanedStr = cleanedStr.replace(' ', ' ');
 }while( old_str != cleanedStr );
  var splitString = cleanedStr.split(' ');
	$(obj).parent().find("i").html(count - charCount);
}


function uploadPicHandle(picJson)

{
	//alert( picJson.flag );
	if ( picJson.flag == -10 )
	{
		alert('上传失败,请上传{$default_goods_photo_width}x{$default_goods_photo_height}像素的图片');
		return false;
	}

	var picHtml = template.render('picTemplate',{'picRoot':picJson.img});
	$('#thumbnails').append(picHtml);

	if($('#thumbnails img[class="current"]').length == 0)
	{
		$('#thumbnails img:first').addClass('current');
	}
}
</script>
