{set:$countData = statistics::sellerAmount($this->seller['seller_id']);}

{if:$this->seller_info['is_equity'] == 1 && $this->seller_info['equity_status'] > 0}
<article class="module width_full">

	<header><h3>股权综合信息</h3></header>

	<div class="module_content">

		<table class="tablesorter" cellspacing="0">

			<thead></thead>

			<tbody>
				{if:$this->seller_info['is_equity'] == 1 && $this->seller_info['equity_status'] > 0}
				<tr>

					<td>剩余可分配股权比例：<a href="javascript:void(0);">{$total_equity}%</a></td>

					<td>正在分配的股权需要的成交金额：<a href="javascript:void(0);">￥{$equity_stall['stall_price']}</a></td>

					<td>正在分配的股权需要的成交人数：<a href="javascript:void(0);">{$equity_stall['stall_num']}</a></td>

					
				</tr>


				{else:}
				<tr>

					<form action="{url:/seller/equity_apply}" name="goodsForm" method="post" enctype="multipart/form-data">
					<td colspan="3">

			        	<button class="submit" type="submit" onclick="return checkForm()" style="width: 140px;" {if:$this->seller_info['is_equity'] != 0} disabled="disabled"{/if}><span>申请股权分配</span></button>
			        	{if:$this->seller_info['is_equity'] == -1}
			        	<span>您已提交申请，请等待管理员审核！</span>
			        	{/if}

					</td>
					</form>
				</tr>
	
				{/if}
				

			</tbody>

		</table>
		

	</div>

</article>

<article class="module width_full">

	<header><h3>我的股权信息</h3></header>

	<div class="module_content">

		<table class="tablesorter" cellspacing="0">

			<thead></thead>

			<tbody>
				
				<tr>

					<td>已获得股权数：<a href="javascript:void(0);">{$equity_num}%</a></td>

					<td>总成交金额：<a href="javascript:void(0);">￥{$total_price}</a></td>

					<td>总成交人数：<a href="javascript:void(0);">{$total_num}</a></td>

					<td>当前排名：<a href="javascript:void(0);">{$sort}</a></td>

					
				</tr>

				<tr>

					<td>当前剩余交易额：<a href="javascript:void(0);">￥{$surplus_price}</a></td>

					<td>当前剩余人数：<a href="javascript:void(0);">{$surplus_num}</a></td>

					<td>距下一次股权分配金额：<a href="javascript:void(0);">￥{$next_price}</a></td>

					<td>距下一次股权分配人数：<a href="javascript:void(0);">{$next_num}</a></td>
	
					
				</tr>

				<tr>
					
					
					<td>距上一名成交金额：<a href="javascript:void(0);">￥{$prev_rank_price}</a></td>

					<td>距上一名成交人数：<a href="javascript:void(0);">{$prev_rank_num}</a></td>

					<td>下一名跟你成交金额：<a href="javascript:void(0);">￥{$next_rank_price}</a></td>

					<td>下一名跟你成交人数：<a href="javascript:void(0);">{$next_rank_num}</a></td>
					
				</tr>


				
					
				
				

			</tbody>

		</table>
		

	</div>

</article>

<article class="module width_full">

	<header>

		<h3 class="tabs_involved">股权分配明细</h3>


	</header>



	<table class="tablesorter" cellspacing="0">

		<colgroup>

			<col width="205px" />

			<col width="150px" />

			<col width="120px" />

			<col width="85px" />

      <col width="85px" />

			<col />

		</colgroup>

		<thead>

			<tr>

				<th>获取时间</th>

				<th>获得股权时剩余可分配股权比例</th>


			</tr>

		</thead>



		<tbody>

			{foreach:items = $list}

			<tr>

				<td>{echo: date('Y-m-d H:i', $item['create_time'])}</td>

				<td>{$item['point']}%</td>


			</tr>

			{/foreach}

		</tbody>

	</table>

</article>

{else:}

<article class="module width_full">

	<header><h3>我的股权信息</h3></header>

	<div class="module_content">

		<table class="tablesorter" cellspacing="0">

			<thead></thead>

			<tbody>
				
				<tr>
					
					<td>您尚未参与股权分配，请点击按钮申请！</td>
				</tr>


				
				<tr>

					<form action="{url:/seller/equity_apply}" name="audit" method="post">
					<td colspan="3">

			        	<button class="submit" type="submit" style="width: 140px;" {if:$this->seller_info['is_equity'] != 0} disabled="disabled"{/if}><span>申请股权分配</span></button>
			        	{if:$this->seller_info['is_equity'] == -1}
			        	<span>您已提交申请，请等待管理员审核！</span>
			        	{elseif:$this->seller_info['is_equity'] == -2}
			        	<span style="color:#f00">您的股权分配申请已被拒绝！</span>
			        	{/if}

					</td>
					</form>
				</tr>
	
				
				

			</tbody>

		</table>
		

	</div>

</article>
<link rel="stylesheet" href="{rs:}/scripts/layer/skin/layer.css"/>
<script type="text/javascript" src="{rs:}/scripts/layer/layer.js"></script>
<script>
	$(function(){
		$('.submit').on('click',function(){			
			$('form[name=audit]').submit(function(){
				return false;
			});
			$.ajax({
				type:'post',
				url:$('form[name=audit]').attr('action'),
				data:'',
				success:function(data){
					var parseData = $.parseJSON(data);
					if(parseData.status == 1){
						layer.alert(parseData.info,{icon:1},function(){
							location.reload();
						});
					}else{
						layer.alert(parseData.info,{icon:2});
					}
				}
			})
		})
	})
</script>

{/if}

