{set:$seller_id = $this->seller['seller_id']}

{set:$searchParam = http_build_query(Util::getUrlParam('search'))}

{set:$condition = Util::search(IReq::get('search'));

	$where = $condition ? " and ".$condition : "";

}

{query:name=delivery }

	{set:$delivery_id=$item['id']}

	{set:$kuaidi["$delivery_id"] = $item['name']}

{/query}
<style>
	.tab_current{background:#24b408 !important;color:#fff !important;}
</style>
<article class="module width_full">

	<header>

		<h3 class="tabs_involved">定金列表</h3>

		<ul class="tabs">

			<!-- <li><input type="button" class="alt_btn" onclick="filterResult();" value="搜索订单" /></li> -->
			<li><input type="button" class="alt_btn" onclick="javascript:location.href='/seller/order_list'" value="全款订单" /></li>
			<li><input type="button" class="alt_btn" onclick="javascript:location.href='/seller/order_prop_list'" value="推荐订单" /></li>
			<li><input type="button" class="alt_btn tab_current" onclick="javascript:location.href='/seller/order_list2'" value="定金订单" /></li>
			<li><input type="button" class="alt_btn" onclick="javascript:location.href='/seller/order_seat_list'" value="购票订单" /></li>
			<li><input type="button" class="alt_btn" onclick="javascript:location.href='/seller/sale_tixian'" value="帐务中心" /></li>

		</ul>

	</header>



	<table class="tablesorter" cellspacing="0">

		<colgroup>

			<col width="205px" />

			<col width="150px" />

			<col width="120px" />

			<col width="105px" />

			<col width="105px" />

			<col width="105px" />

			<col width="115px" />

			<col width="115px" />

			<col width="115px" />

			<col width="115px" />

			<col />

		</colgroup>

		<thead>

			<tr>

				<th>订单号</th>

				<th>课程名称</th>

				<th>课程属性</th>

				<th>学员姓名</th>

				<th>联系电话</th>

				<th>服务保证金</th>

				<th>未付学费</th>

				<th>课程学费</th>

				<th>订单状态</th>

				<th>下单时间</th>

				<th>入学时间</th>

				<th>提示</th>

				<th>操作</th>

			</tr>

		</thead>



		<tbody>

			{set:$page = IReq::get('page') ? IFilter::act(IReq::get('page'),'int') : 1}

			{query:name=order_goods as og join=left join goods as go on go.id eq og.goods_id left join order as o on o.id eq og.order_id fields=o.* page=$page where=o.pay_status eq 1 and go.seller_id eq $seller_id and o.if_del eq 0 and o.statement eq 3 and o.status not in(3,4) $where group=og.order_id id=$orderObject order=o.id desc}

			{set:$order_status_t = Order_Class::getOrderStatus($item);}

			{set:$goods_list = Order_Class::get_order_goods_list($item['id'])}

			{set:$goods = $goods_list[0]}

			{set:$goods_array = $goods['goods_array']}

			<tr>

				<td title="{$item['order_no']}" name="orderStatusColor{$item['status']}">{$item['order_no']}</td>

				<td><a href="{url:/site/products/id/$goods['goods_id']}" target="_blank">{$goods_array->name}</a></td>

				<td>{$goods_array->value}</td>

				<td title="{$item['accept_name']}">{$item['accept_name']}</td>

				<td title="{$item['mobile']}">{$item['mobile']}</td>

				<td>{echo:number_format($goods['cost_price'] - $item['rest_price'], 2, '.', '');}</td>

				<td>{$item['rest_price']}</td>

				<td>{$goods['cost_price']}</td>

				<td><b class="{if:$order_status_t >= 6}green{else:}orange{/if}">{echo:order_class::orderStatusText(order_class::getOrderStatus($item),2, $item['statement'])}</b></td>

				<td title="{$item['create_time']}">{echo: date('Y-m-d H:i', strtotime($item['create_time']))}</td>

				<td>{echo:date('Y-m-d',$item['choose_date']);}</td>

				<td>{echo:order_class::get_order_notice(order_class::getOrderStatus($item),2)}</td>

				<td>

					{if:in_array( order_class::getOrderStatus( $item ), array(4))}

						<a href="{url:/seller/order_finish/order_id/$item['id']}">确认收款</a>

					{/if}

					<a href="{url:/seller/order_show_ding/id/$item[id]}">详情</a>

				</td>

			</tr>

			{/query}

		</tbody>

	</table>

	{$orderObject->getPageBar()}

</article>



<script type="text/html" id="orderTemplate">

	<form action="{url:/}" method="get" name="filterForm">

		<input type='hidden' name='controller' value='seller' />

		<input type='hidden' name='action' value='order_list2' />

		<div class="module_content">

			<fieldset>

				<label>订单号</label>

				<input name="search[order_no=]" value="" type="text" />

			</fieldset>



			<fieldset>

				<label>学员姓名</label>

				<input name="search[accept_name=]" value="" type="text" />

			</fieldset>



			<fieldset>

				<label>选择支付状态</label>

				<select name="search[pay_status=]">

					<option value="">全部</option>

					<option value="0">未支付</option>

					<option value="1">已支付</option>

					<option value="2">退款成功</option>

				</select>

			</fieldset>



			<fieldset>

				<label>选择发货状态</label>

				<select name="search[distribution_status=]">

					<option value="">全部</option>

					<option value="0">未进行</option>

					<option value="1">已完成</option>

					<option value="2">部分完成</option>

				</select>

			</fieldset>



			<fieldset>

				<label>订单状态</label>

				<select name="search[o.status=]">

					<option value="">全部</option>

					<option value="1">新订单</option>

					<option value="2">确认订单</option>

					<option value="3">取消订单</option>

					<option value="4">作废订单</option>

					<option value="5">完成订单</option>

				</select>

			</fieldset>

		</div>

	</form>

</script>



<script language="javascript">

	//检索课程

	function filterResult(){

		var ordersHeadHtml = template.render('orderTemplate');

		art.dialog(	{		"init":function()

		{

			var filterPost = {echo:JSON::encode(IReq::get('search'))};

			var formObj = new Form('filterForm');

			for(var index in filterPost)

			{

				formObj.setValue("search["+index+"]",filterPost[index]);

			}

		},

		"title":"检索条件",

		"content":ordersHeadHtml,

		"okVal":"立即检索",

		"ok":function(iframeWin, topWin)

		{

			iframeWin.document.forms[0].submit();

		}

	});

}



//DOM加载结束

$(function(){

	//高亮色彩

	$('[name="payStatusColor1"]').addClass('green');

	$('[name="disStatusColor1"]').addClass('green');

	$('[name="orderStatusColor3"]').addClass('red');

	$('[name="orderStatusColor4"]').addClass('red');

	$('[name="orderStatusColor5"]').addClass('green');

});

</script>

