{js:my97date}
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">订单列表</h3>
		<ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="filterResult();" value="检索" /></li>
			<li><input type="button" class="alt_btn" onclick="window.open('{url:/seller/order_report/?$searchParam}')" value="导出Excel" /></li>
		</ul>
	</header>

	<table class="tablesorter" cellspacing="0">
		<colgroup>
			<col width="150px" />
			<col width="120px" />
			<col width="120px" />
			<col width="120px" />
			<col width="120px" />
			<col width="120px" />
			<col width="150px" />
			<col />
		</colgroup>

		<thead>
			<tr>
				<th>订单号</th>
				<th>联系人</th>
				<th>联系电话</th>
				<th>课程</th>
				<th>支付状态</th>
				<th>订单状态</th>
				<th>报名时间</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			{foreach:items = $this->orderHandle->find()}
			<tr>
				<td title="{$item['order_no']}" name="orderStatusColor{$item['status']}"><a href="{url:/seller/order_show/id/$item[id]}">{$item['order_no']}</a></td>
				<td title="{$item['accept_name']}">{$item['accept_name']}</td>
				<td title="{$item['mobile']}">{$item['mobile']}</td>
				<td name="disStatusColor{$item['distribution_status']}">{echo:Order_class::getOrderDistributionStatusText($item)}</span></td>
				<td name="payStatusColor{$item['pay_status']}">
					{if:$item['pay_type']==0}到校交费{/if}
					&nbsp;&nbsp;
					{echo:Order_class::getOrderPayStatusText($item)}
				</td>
				<td>{echo:order_class::orderStatusText(order_class::getOrderStatus($item))}</td>
				<td title="{$item['create_time']}">{$item['create_time']}</td>
				<td>
					<a href="{url:/seller/order_show/id/$item[id]}"><img title="订单详情" alt="订单详情" src="{skin:images/main/icn_settings.png}" /></a>
				</td>
			</tr>
		   {/foreach}
		</tbody>
	</table>
	{$this->orderHandle->getPageBar()}
</article>

<script type="text/html" id="orderTemplate">
<form action="{url:/}" method="get" name="filterForm">
	<input type='hidden' name='controller' value='seller' />
	<input type='hidden' name='action' value='order_list' />
	<div class="module_content">
		<fieldset>
			<label>订单号</label>
			<input name="search[order_no]" value="" type="text" />

			<label>联系人</label>
			<input name="search[accept_name]" value="" type="text" />

			<label>联系电话</label>
			<input name="search[mobile]" value="" type="text" />
		</fieldset>
    </div>
</form>
</script>
<script type='text/javascript'>

//检索商品
function filterResult()
{
	var ordersHeadHtml = template.render('orderTemplate');
	art.dialog(
	{
		"init":function()
		{
			var filterPost = {echo:JSON::encode(IReq::get('search'))};
			var formObj = new Form('filterForm');
			for(var index in filterPost)
			{
				formObj.setValue("search["+index+"]",filterPost[index]);
			}
		},
		"title":"检索条件",
		"content":ordersHeadHtml,
		"okVal":"立即检索",
		"ok":function(iframeWin, topWin)
		{
			iframeWin.document.forms[0].submit();
		}
	});
}

//DOM加载结束
$(function(){
	//高亮色彩
	$('[name="payStatusColor1"]').addClass('green');
	$('[name="disStatusColor1"]').addClass('green');
	$('[name="orderStatusColor3"]').addClass('red');
	$('[name="orderStatusColor4"]').addClass('red');
	$('[name="orderStatusColor5"]').addClass('green');
});
</script>
