{set:$seller_id = $this->seller['seller_id']}
<script src="{rs:/scripts/layer/layer.js}"></script>

<style>

.content { padding-left: 30px; padding-bottom: 25px;padding-top: 20px;}

input[type=text] { height: 25px; line-height: 25px;margin-right: 8px;text-indent:3px;}

input[type=submit] {height: 25px; line-height: 25px; cursor: pointer;}

</style>

<article class="module width_full">

	<header>

		<h3 class="tabs_involved">上课确认</h3>

	</header>



  <div class="content">

    <form name="form" id="form_1" action="{url:/seller/order_verification_update}" method="post">

      请输入要核销的听课券号码：<input type="text" class="normal small" name="verification_code"  id="verification_code" />

      <input type="button" class="normal" value="核销"  /><a>请在学员上课后核销对应的听课券号码</a>

    </form>

  </div>

<script language="javascript">

  $('input[type=button]').click(function(){

    var _code = $('#verification_code').val();

    if ( _code == '')

    {

			layer.alert('请输入听课券号码');

    } else {

      $('#form_1').submit();

    }

  })

</script>
