{set:$seller_id = $this->seller['seller_id']}
<script src="{rs:/scripts/layer/layer.js}"></script>
<article class="module width_full">
	<header>
		<h3 class="tabs_involved">{if:$order_info['statement'] == 1}课程详情{elseif:$order_info['statement'] == 2}代金券详情{/if}</h3>
	</header>

	<div class="module_content" id="tab-1">
		<fieldset>
			<table class="tablesorter clear">
				<colgroup>
					<col />
					<col width="340px" />
					<col width="90px" />
					<col width="90px" />
					<col width="90px" />
					<col width="150px" style="display: none;" />
				</colgroup>
				<thead>
					<tr>
            <th>{if:$order_info['statement'] == 1}课程详情{elseif:$order_info['statement'] == 2}代金券详情{/if}</th>
						<th>{if:$order_info['statement'] == 1}课程属性{elseif:$order_info['statement'] == 2}代金券介绍{/if}</th>
						<th>课程学费</th>
						<th>数量</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>{if:$order_info['statement'] == 1}{$order_goods_list['goods_array']->name}{elseif:$order_info['statement'] == 2}{$chit_info['max_price']}元抵{$chit_info['max_order_chit']}元{/if}</td>
						<td>{if:$order_info['statement'] == 1}{$order_goods_list['goods_array']->value}{elseif:$order_info['statement'] == 2}{$chit_info['limitinfo']}{/if}</td>
            <td>{if:$order_info['statement'] == 1}{$order_info['order_amount']}{elseif:$order_info['statement'] == 2}{$chit_info['max_price']}元{/if}</td>
						<td>{$order_goods_list['goods_nums']}</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		<fieldset>
			<table class="tablesorter clear">
				<colgroup>
					<col width="120px" />
					<col />
				</colgroup>
				<thead>
					<tr><th colspan="2">订单信息</th></tr>
				</thead>
				<tbody>
					<tr>
						<th>订单号:</th><td>{$order_info['order_no']}</td>
					</tr>
					<tr>
						<th>下单时间:</th><td>{echo: date('Y-m-d H:i', strtotime($order_info['create_time']))}</td>
					</tr>
					<tr>
						<th>已付学费:</th><td>&yen;{echo: $order_info['order_amount']}</td>
					</tr>
					<tr>
						<th>订单状态:</th><td>{echo:order_class::orderStatusText(order_class::getOrderStatus($order_info),1, $order_info['statement'])}</td>
					</tr>
				</tbody>
			</table>
		</fieldset>

		<fieldset>
			<table class="tablesorter clear">
				<colgroup>
					<col width="120px" />
					<col />
				</colgroup>
				<thead>
					<tr><th colspan="2">学员信息</th></tr>
				</thead>
				<tbody>
					<tr>
						<th>姓名:</th><td>{$order_info['accept_name']}</td>
					</tr>
					<tr>
						<th>手机 :</th><td>{$order_info['mobile']}</td>
					</tr>
					{if:$order_info['send_time']}
					<tr>
						<th>报名时间:</th><td>{$order_info['send_time']}</td>
					</tr>
					{/if}
				</tbody>
			</table>
		</fieldset>

		{if:$order_info['pay_status'] == 1 && $order_info['status'] != 5}
		<fieldset>
			<input type="hidden" name="order_id" value="{$order_info['id']}" />
				<input type="button" value="确认使用" class="sub_btn" />
		</fieldset>
		{/if}
	</div>

</article>

<script language="javascript">
$(document).ready(function(){
	$('.sub_btn').click(function(){
		layer.confirm('您确定要验证该{if:$order_info['statement'] == 1}订单{elseif:$order_info['statement'] == 2}代金券{/if}吗？', {
			btn: ['验证','取消'] //按钮
		}, function(){
			document.location.href = '{url:/seller/order_prop_verification_confirm/id/$order_info['id']}';
		}, function(){
		});
	})
})
</script>
