<link href="{skin:css/ucenter_promote.css}" rel="stylesheet" type="text/css" />

<article class="module width_full">
	<header><h3>推广个人用户列表</h3></header>
	<div class="module_content">
    <div class="main f_r">
        <div class="new-box">
            <div class="">
                <table class="tablesorter info">
                  <thead>
                    <tr>
                      <th></th>
                      <th>用户名</th>
                      <th>注册时间</th>
                      <th>消费次数</th>
                    </tr>
                  </thead>
                    <tbody>

                      {foreach:items=$promote_user_list}
                      <tr>
                        <td></td>
                        <td>{$item['username']}</td>
                        <td>{$item['time']}</td>
                        <td>{$item['pay_count']}</td>
                      </tr>
                      {/foreach}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
</article>
