{set:$seller_id = $this->seller['seller_id']}

{set:$seller_fanli =Lexiangshenghuo::getsellerFanli($seller_id);}

<article class="module width_full">

	<header>
		<h3 class="tabs_involved" >账户信息</h3>
		<ul class="tabs">
			<li><input type="button" class="alt_btn" onclick="window.location.href='{url:/seller/sale_tixian}';" value="账户提现" /></li>
		</ul>
	</header>

	<div class="module_content">

		<table class="tablesorter" cellspacing="0">

			<thead></thead>

			<tbody>

				<tr>

					<td>账户余额：{echo:$seller_fanli['sale_balance']}元</td>

				</tr>

			</tbody>

		</table>

	</div>

</article>
