{js:artTemplate}
{js:kindeditor}
{js:my97date}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>
<style>
.hide { display: none; }
#allmap { width: 700px; height: 400px; }
.pic { margin-bottom: 15px;}
.pic img { width: 100px; height: 100px;}
#thumbnails2 { margin-top: 10px; }
#uploadButton2 { width: 228px; padding: 3px 10px;font-size: 12px; text-align: center; border: 1px solid #959595; background-color: #e9e9e9; margin-left: 10px; }
#uploadButton2:hover { text-decoration: none;}
.demo { margin-top: 6px; }
</style>

<script language="javascript">
	{if:isset($this->sellerRow['album_json'])}
	var _album_arr = {$this->sellerRow['album_json']};
	{else:}
	var _album_arr = new Array();
	{/if}
</script>

<article class="module width_full">
	<header>
		<h3>教师资料</h3>
	</header>

	<form action="{url:/seller/seller_add2}" method="post" name="sellerForm" enctype='multipart/form-data' onSubmit="check_form();">
		<div class="module_content">
			<fieldset>
				<label>用户名：</label>
				<?php echo $this->sellerRow['seller_name']; ?>
			</fieldset>

			<fieldset>
				<label>教师姓名：</label>
				<input type="text" name="true_name" pattern="required" alt="请输入教师姓名" />
			</fieldset>

			<fieldset>
				<label>手机号码：</label>
				<?php echo $this->sellerRow['mobile']; ?>
			</fieldset>

			<fieldset>
				<label>性别：</label>
				<input type="radio" name="sex" value="1" id="sex_1" {if:!$teacher_info || $teacher_info['sex'] != 2}checked{/if} />
				<label for="sex_1">男</label>&nbsp; &nbsp;
				<input type="radio" name="sex" value="2" id="sex_2" {if:$teacher_info['sex'] == 2}checked{/if} /><label for="sex_2">女</label>
			</fieldset>

			<fieldset>
				<label>教师个人身份证：</label>
				<div class="box">
					<input type='file' name='paper_img' />
					{if:isset($this->sellerRow['paper_img']) && $this->sellerRow['paper_img']}
					<p><a target="_blank" href="{webroot:}{$this->sellerRow['paper_img']}"><img src='{webroot:}{$this->sellerRow['paper_img']}' style='width:320px;border:1px solid #ccc' /></a></p>
					{else:}
					暂无教师个人身份证
					{/if}
				</div>
			</fieldset>

			<fieldset>
				<label>出生日期：</label>
				<input type="text" class="normal" name="birth_date" pattern="date" tempty alt="请选择出生日期" onFocus="WdatePicker()" value="{$teacher_info['birth_date']}" />
			</fieldset>

			<fieldset>
				<label>个人头像：</label>
				<div class="box">
					<input type='file' name='icon' />
					{if:isset($teacher_info['icon']) && $teacher_info['icon']}
					<p><a target="_blank" href="{webroot:}{$teacher_info['icon']}"><img src='{webroot:}{$teacher_info['icon']}' style='width:320px;border:1px solid #ccc' /></a></p>
					{/if}
				</div>
			</fieldset>

			<fieldset>
				<label>相册：</label>
				<div class="demo">
					<a class="btn" id="uploadButton2">上传图片</a>
				</div>
				<ul id="thumbnails2" class="ul_pics clearfix">
					{if:$this->sellerRow['album']}
						{foreach:items = $this->sellerRow['album']}
							<div class='pic'>
								<div class='pic_image'><img src="{webroot:$item}" alt="<%=picRoot%>" true_src="{$item}" /></div>
								<div class='pic_dels'><a href='javascript:void(0)'>删除</a></div>
							</div>
						{/foreach}
					{/if}
				</ul>
			</fieldset>

			<fieldset>
				<label>毕业院校：</label>
				<input type="text" class="normal" name="graduate" pattern="required" alt="请填写您的毕业院校" value="{$teacher_info['graduate']}" />
			</fieldset>

			<fieldset>
				<label>学习专业：</label>
				<input type="text" class="normal" name="major" pattern="required" alt="请填写您的学习专业" value="{$teacher_info['major']}" />
			</fieldset>

			<fieldset>
				<label>授课方向：</label>
				<input type="text" class="normal" name="teaching_direction" pattern="required" alt="请填写您的授课方向" value="{$teacher_info['teaching_direction']}" />
			</fieldset>

			<fieldset>
				<label>个人介绍：</label><br />
				<textarea name="description" id="description" style="width:600px;height:300px;">{$teacher_info['description']}</textarea>
			</fieldset>

			<fieldset>
				<label>教学经历：</label>
				<textarea name="teaching_experience" id="teaching_experience" style="width:600px;height:300px;">{$teacher_info['teaching_experience']}</textarea>
			</fieldset>

			<fieldset>
				<label>获奖荣誉：</label><br />
				<textarea name="awards" id="awards" style="width:600px;height:300px;">{$teacher_info['awards']}</textarea>
			</fieldset>

			<fieldset>
				<label>地区：</label>
				<div class="box">
					<select name="province" child="city,area" onchange="areaChangeCallback(this);" class="auto"></select>
					<select name="city" child="area" parent="province" onchange="areaChangeCallback(this);" class="auto"></select>
					<select name="area" parent="city" class="auto"></select>
				</div>
			</fieldset>

			<fieldset>
				<label>授课地址：</label>
				<input name="address" type="text" value="" />
			</fieldset>

		</div>

		<footer>
			<div class="submit_link">
				<input type="hidden" name="id" value="{$id}" />
				<input type="hidden" name="teacher_id" value="{$teacher_info['id']}" />
				<input type="hidden" name="album" id="album" value="{$this->sellerRow['album']}" />
				<input type="submit" class="alt_btn" value="提 交" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>

<script type='text/html' id='picTemplate2'>
 <div class='pic'>
		 <div class='pic_image'><img src="<?php echo IUrl::creatUrl("")."<%=picRoot%>";?>" alt="<%=picRoot%>" /></div>
		 <div class='pic_dels'><a href='javascript:void(0)'>删除</a></div>
 </div>
 </script>

<script language="javascript">
//DOM加载完毕
$(function(){
	//初始化地域联动
	template.compile("areaTemplate",areaTemplate);

	//修改模式
	{if:isset($this->sellerRow)}
		var formObj = new Form('sellerForm');
		formObj.init({echo:JSON::encode($this->sellerRow)});
		//城市设置
		{if:isset($this->sellerRow['area'])}
			createAreaSelect('province',0,"{$this->sellerRow['province']}");
			createAreaSelect('city',"{$this->sellerRow['province']}","{$this->sellerRow['city']}");
			createAreaSelect('area',"{$this->sellerRow['city']}","{$this->sellerRow['area']}");
		{else:}
			createAreaSelect('province',0,"");
		{/if}
	{else:}
		createAreaSelect('province',0,'');
	{/if}

	//编辑器载入
	KindEditor.ready(function(K){
		K.create('#teaching_experience');
		K.create('#description');
		K.create('#awards');
	});

	// 删除图片
	$("body").on("click", ".pic .pic_dels a", function(){
		var _img_src = $(this).parent().parent().find('img').attr('true_src');
		$(this).parent().parent().remove();

		for( var i = 0; i < _album_arr.length; i++ )
		{
			if( _album_arr[i] == _img_src )
				_album_arr.splice( i, 1 );
		}

		update_pics();
	});
});

function check_form()
{
	return false;
}

/**
 * 生成地域js联动下拉框
 * @param name
 * @param parent_id
 * @param select_id
 */
function createAreaSelect(name,parent_id,select_id)
{
	//生成地区
	$.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)
	{
		$('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
	});
}

//running running upload img 处理课堂照片的图片上传
function uploadPicCallback(picJson)
{
	if ( picJson.flag == -1 )
	{
		return false;
	}

	var _div = 'thumbnails2';
	var picHtml = template.render('picTemplate2',{'picRoot':picJson.img});
	$('#' + _div).append(picHtml);
	if($('#' + _div + ' img[class="current"]').length == 0)
	{
		$('#' + _div + ' img:first').addClass('current');
	}

	_album_arr.push( picJson.img );

	update_pics();
}

function update_pics()
{
	var _str = '';
	for( i in _album_arr )
	{
		_str = ( _str == '' ) ? _album_arr[i] : _str + ',' + _album_arr[i];
	}
	$('#album').val( _str );
}

		 var uploader2 = new plupload.Uploader({
				 runtimes: 'html5,flash,silverlight,html4',
				 browse_button: 'uploadButton2',
				 url: "{url:/goods/goods_upload_class_pics}",
				 filters: {
						 max_file_size: '1024kb',
						 mime_types: [
								 {title: "files", extensions: "jpg,png,gif"}
						 ]
				 },
				 multi_selection: true,
				 init: {
						 FilesAdded: function(up, files) {
								 if ($("#thumbnails2").children("li").length > 30) {
										 alert("您上传的图片太多了！");
										 uploader.destroy();
								 } else {
										 var li = '';
										 plupload.each(files, function(file) {
										 });
										 $("#thumbnails2").append(li);
										 uploader2.start();
								 }
						 },
						 UploadProgress: function(up, file) {
						 },
						 FileUploaded: function(up, file, info) {
								var data = eval("(" + info.response + ")");
								 if ( info.response == '{"flag":-10}' )
								 {
										 alert('上传失败，尺寸不正确');
										 return false;
								 }
								 uploadPicCallback(data);
						 },
						 Error: function(up, err) {
								 alert(err.message);
						 }
				 }
		 });
		 uploader2.init();
</script>
