{js:artTemplate}
{js:areaSelect}
<article class="module width_full">
	<header>
		<h3>功能设置</h3>
	</header>

	<form action="{url:/seller/seller_add3}" method="post" name="sellerForm" enctype='multipart/form-data'>
		<div class="module_content">
			<fieldset>
			<label>在线课堂</label>
				<td>
					<label class='attr'><input type='radio' name='is_support_zxkt' value='0' checked='checked' />不开通</label>
					<label class='attr'><input type='radio' name='is_support_zxkt' value='1' />开通</label>
				</td>
			</fieldset>
				<fieldset>
			<label>订票系统</label>
				<td>
					<label class='attr'><input type='radio' name='is_support_dp' value='0' checked='checked' />不开通</label>
					<label class='attr'><input type='radio' name='is_support_dp' value='1' />开通</label>
				</td>
			</fieldset>
					<fieldset>
						<label>虚拟商品</label>
						<td>
							<label class='attr'><input type='radio' name='is_virtual' value='0' checked='checked' />不开通</label>
							<label class='attr'><input type='radio' name='is_virtual' value='1' />开通</label>
						</td>
					</fieldset>	
					<fieldset>
						<label>投票功能</label>
						<td>
							<label class='attr'><input type='radio' name='is_vote' value='0' checked='checked' />不开通</label>
							<label class='attr'><input type='radio' name='is_vote' value='1' />开通</label>
						</td>
					</fieldset>						
					<fieldset>
						<td></td><td><button class="submit" type="submit"><span>确 定</span></button></td>
					</fieldset>
	
</div>
		</form>


</article>
<script language="javascript">
//DOM加载完毕
$(function()
{
	//修改模式
	{if:$this->sellerRow}
	var formObj = new Form('sellerForm');
	formObj.init({echo:JSON::encode($this->sellerRow)});

	//锁定字段一旦注册无法修改
	if($('[name="id"]').val())
	{
		var lockCols = ['seller_name'];
		for(var index in lockCols)
		{
			$('input:text[name="'+lockCols[index]+'"]').addClass('readonly');
			$('input:text[name="'+lockCols[index]+'"]').attr('readonly',true);
		}
	}
	{/if}

	//地区联动插件
	var areaInstance = new areaSelect('province');
	areaInstance.init({echo:JSON::encode($this->sellerRow)});
});
</script>
