{js:artTemplate}
{js:kindeditor}
{js:my97date}
<style>
.hide { display: none; }
#allmap { width: 700px; height: 400px; }
.account_tab { height: 35px; line-height: 35px;margin-top: 15px;border-bottom: 1px solid #e6e7ea;}
.account_tab ul {width:96%;margin: 0px auto;list-style: none;padding: 0px;}
.account_tab li {float: left;}
.account_tab .tab { width: 30%; text-align: center; background-color: #fff; color: #000;cursor:pointer;}
.account_tab .tab.active { background-color: #0093dd; color: #fff; font-weight: 700; border-radius: 5px;}
.notice {width: 92%;margin: 0px auto;margin-top:8px;font-weight:700;}
.module_content_2, .module_content_3 {display: none;}
.module_content table { width: 96%; margin: 0px auto; background-color: #F6F6F6; border-radius: 5px; border: 1px solid #ccc; margin-top: 15px; padding: 10px 0;}
.module_content .title {font-size: 14px;font-weight: 700;}
.module_content th {width: 40%;text-align: right;}
.module_content td { height: 30px;line-height: 30px;}
.module_content input.normal {height: 25px;line-height: 25px;text-indent:3px;}
</style>
<script src="/views/default/javascript/layer/layer.js"></script>

<script language="javascript">
  var _true_name = "{$seller_info['true_name']}";
  var _principal = "{$seller_info['principal']}";
</script>

<article class="module width_full">
	<header>
		<h3>添加结算账户</h3>
	</header>

	<form action="{url:/seller/statements_update}" method="post" name="sellerForm" id="sellerForm" enctype='multipart/form-data'>

    <div class="account_tab">
      <ul>
        <li>类型：</li>
        <li class="tab active" tt="1">企业对公账户</li>
        <li class="tab" tt="2">法人账户</li>
        <li class="tab" tt="3">负责人账户</li>
      </ul>
    </div>

    <div class="notice red">注：所有复印件必须加盖企业公章</div>
		<div class="module_content module_content_1" type="1">
      <table>
        <tr>
          <th>开户银行名称：</th>
          <td><input type="text" class="normal" name="bank_name" pattern="required" alt="开户银行名称不能为空" /></td>
        </tr>
        <tr>
          <th>银行支行名称：</th>
          <td><input type="text" class="normal" name="bank_branch_name" /></td>
        </tr>
        <tr>
          <th>银行帐号：</th>
          <td><input type="text" class="normal" name="bank_account" pattern="required" alt="银行帐号不能为空" /></td>
        </tr>
        <tr>
          <th>工商营业执照复印件：</th>
          <td>
            <input type='file' name='business_license' />
            {if:isset($this->sellerRow['business_license']) && $this->sellerRow['business_license']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['business_license']}"><img src='{webroot:}{$this->sellerRow['business_license']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>对公账户许可证复印件：</th>
          <td>
            <input type='file' name='public_account' />
            {if:isset($this->sellerRow['public_account']) && $this->sellerRow['public_account']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['public_account']}"><img src='{webroot:}{$this->sellerRow['public_account']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>结算确认书：</th>
          <td>
            <input type='file' name='statement_paper' />
            {if:isset($this->sellerRow['statement_paper']) && $this->sellerRow['statement_paper']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['statement_paper']}"><img src='{webroot:}{$this->sellerRow['statement_paper']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
            <a href="http://www.dsanke.com/upload/jsqrs.docx">下载模版</a>
          </td>
        </tr>
      </table>
		</div>

    <div class="module_content module_content_2" type="2">
      <table>
        <tr>
          <th>法人姓名：</th>
          <td><input type="text" class="normal" name="legal_name" /></td>
        </tr>
        <tr>
          <th>法人手机号码：</th>
          <td><input type="text" class="normal" name="legal_mobile" /></td>
        </tr>
        <tr>
          <th>法人账户开户银行名称：</th>
          <td><input type="text" class="normal" name="bank_name" /></td>
        </tr>
        <tr>
          <th>银行支行名称：</th>
          <td><input type="text" class="normal" name="bank_branch_name" /></td>
        </tr>
        <tr>
          <th>银行帐号：</th>
          <td><input type="text" class="normal" name="bank_account" /></td>
        </tr>
        <tr>
          <th>工商营业执照复印件：</th>
          <td>
            <input type='file' name='business_license' />
            {if:isset($this->sellerRow['business_license']) && $this->sellerRow['business_license']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['business_license']}"><img src='{webroot:}{$this->sellerRow['business_license']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>法人身份证正面：</th>
          <td>
            <input type='file' name='identity_card_1' />
            {if:isset($this->sellerRow['identity_card_1']) && $this->sellerRow['identity_card_1']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['identity_card_1']}"><img src='{webroot:}{$this->sellerRow['identity_card_1']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>法人身份证反面：</th>
          <td>
            <input type='file' name='identity_card_2' />
            {if:isset($this->sellerRow['identity_card_2']) && $this->sellerRow['identity_card_2']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['identity_card_2']}"><img src='{webroot:}{$this->sellerRow['identity_card_2']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>结算确认书：</th>
          <td>
            <input type='file' name='statement_paper' />
            {if:isset($this->sellerRow['statement_paper']) && $this->sellerRow['statement_paper']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['statement_paper']}"><img src='{webroot:}{$this->sellerRow['statement_paper']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
            <a href="http://www.dsanke.com/upload/jsqrs.docx">下载模版</a>
          </td>
        </tr>
      </table>
    </div>

    <div class="module_content module_content_3" type="3">
      <table>
        <tr>
          <th>负责人姓名：</th>
          <td><input type="text" class="normal" name="legal_name" /></td>
        </tr>
        <tr>
          <th>负责人账户开户银行名称：</th>
          <td><input type="text" class="normal" name="bank_name" /></td>
        </tr>
        <tr>
          <th>银行支行名称：</th>
          <td><input type="text" class="normal" name="bank_branch_name" /></td>
        </tr>
        <tr>
          <th>银行帐号：</th>
          <td><input type="text" class="normal" name="bank_account" /></td>
        </tr>
        <tr>
          <th>工商营业执照复印件：</th>
          <td>
            <input type='file' name='business_license' />
            {if:isset($this->sellerRow['business_license']) && $this->sellerRow['business_license']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['business_license']}"><img src='{webroot:}{$this->sellerRow['business_license']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>负责人身份证正面：</th>
          <td>
            <input type='file' name='identity_card_1' />
            {if:isset($this->sellerRow['identity_card_1']) && $this->sellerRow['identity_card_1']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['identity_card_1']}"><img src='{webroot:}{$this->sellerRow['identity_card_1']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>负责人身份证反面：</th>
          <td>
            <input type='file' name='identity_card_2' />
            {if:isset($this->sellerRow['identity_card_2']) && $this->sellerRow['identity_card_2']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['identity_card_2']}"><img src='{webroot:}{$this->sellerRow['identity_card_2']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
          </td>
        </tr>
        <tr>
          <th>负责人职位证明：</th>
          <td>
            <input type='file' name='position_certificate' />
            {if:isset($this->sellerRow['position_certificate']) && $this->sellerRow['position_certificate']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['position_certificate']}"><img src='{webroot:}{$this->sellerRow['position_certificate']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
            <a href="http://www.dsanke.com/upload/zwzm.docx">下载模版</a>
          </td>
        </tr>
        <tr>
          <th>授权委托书：</th>
          <td>
            <input type='file' name='attorney_paper' />
            {if:isset($this->sellerRow['attorney_paper']) && $this->sellerRow['attorney_paper']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['attorney_paper']}"><img src='{webroot:}{$this->sellerRow['attorney_paper']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
            <a href="http://www.dsanke.com/upload/sqwts.docx">下载模版</a>
          </td>
        </tr>
        <tr>
          <th>结算确认书：</th>
          <td>
            <input type='file' name='statement_paper' />
            {if:isset($this->sellerRow['statement_paper']) && $this->sellerRow['statement_paper']}
            <p><a target="_blank" href="{webroot:}{$this->sellerRow['statement_paper']}"><img src='{webroot:}{$this->sellerRow['statement_paper']}' style='width:320px;border:1px solid #ccc' /></a></p>
            {/if}
            <a href="http://www.dsanke.com/upload/jsqrs.docx">下载模版</a>
          </td>
        </tr>
      </table>
    </div>

		<footer>
			<div class="submit_link">
        <input type="hidden" name="type" id="type" value="1" />
				<input type="button" class="alt_btn" value="确 定" onclick="check_form()"/>
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>

<script src="/views/sysseller/javascript/statements.js"></script>
