{js:artTemplate}
{js:kindeditor}
{js:my97date}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<style>
.hide { display: none; }
</style>

<article class="module width_full">
	<header>
		<h3>编辑教师资料</h3>
	</header>

	<form action="{url:/seller/teacher_save}" method="post" name="sellerForm" enctype='multipart/form-data'>
		<div class="module_content">
			<fieldset>
				<label>教师姓名：</label>
				{if:$this->brand_info['category_ids'] == 16}
					{$this->seller_info['shortname']}
					<input class="normal" name="name" type="hidden" value="{$this->seller_info['shortname']}" />
				{else:}
				<input class="normal" name="name" type="text" pattern="required" alt="请输入教师姓名" value="{$teacher_info['name']}" /><label>* 教师名称（必填）</label>
				{/if}
			</fieldset>

			<fieldset>
				<label>性别：</label>
				<input type="radio" name="sex" value="1" id="sex_1" {if:!$teacher_info || $teacher_info['sex'] != 2}checked{/if} /><label for="sex_1">男</label>&nbsp; &nbsp; <input type="radio" name="sex" value="2" id="sex_2" {if:$teacher_info['sex'] == 2}checked{/if} /><label for="sex_2">女</label>
			</fieldset>


			<fieldset>
				<label>形象照片：</label>
        <input type='file' name='icon' />
        {if:isset($teacher_info['icon']) && $teacher_info['icon']}
        <p><a target="_blank" href="{webroot:}{$teacher_info['icon']}"><img src='{webroot:}{$teacher_info['icon']}' style='width:100px;border:1px solid #ccc' /></a></p>
        {/if}
			</fieldset>

			<fieldset>
				<label style="float:left;">教师介绍：</label><br />
				<textarea name="description" id="description" style="float:left;width:600px;height:100px;">{$teacher_info['description']}</textarea>
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="hidden" name="id" value="{$teacher_info['id']}" />
				<input type="submit" class="alt_btn" value="确 定" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>
