{js:my97date}

{set:$swfloadObject = new Swfupload();$swfloadObject->show($this->admin['admin_name'],$this->admin['admin_pwd']);}



<script type="text/javascript" src="/plugins/newupload/plupload.full.min.js"></script>

<script language="javascript">

{if:$form['course_imgs_json'] != ''}var _course_imgs_arr = {$form['course_imgs_json']};{else:}var _course_imgs_arr = new Array();{/if}

{if:$form['students_imgs_json'] != ''}var _students_imgs_arr = {$form['students_imgs_json']};{else:}var _students_imgs_arr = new Array();{/if}

</script>

{set:

$site_config=new Config('site_config');

}


<article class="module width_full">

	<header>

		<h3 class="tabs_involved">发布学习券</h3>

	</header>



<div class="content_box">

	<div class="content form_content">

		<form action="{url:/seller/virtual_save}" name="goodsForm" method="post" enctype="multipart/form-data">

			<input type="hidden" name="id" value="" />

			<input type='hidden' name="img" value="" />

			<input type='hidden' name="_imgList" value="" />



			<div id="table_box_1">

				<table class="form_table">

					<col width="150px" />

					<col />



					<tr>

						<th>商品名称：</th>

						<td>

							<input class="normal" name="name" type="text" value="" pattern="required" alt="商品名称不能为空" onblur="wordsPart()" value="{$form['name']}" />

							<label>*</label>

						</td>

					</tr>


					<tr style="display:none">

						<th>商品号：</th>

						<td>

							<input type="text" class="middle" name="goods_no" value="{$form['goods_no']}" disabled="disabled" />

							<label></label>

						</td>

					</tr>

					<tr>

		        		<th>用途：</th>

		            <td>

		            	<textarea name="goods_brief" id="goods_brief" style="width:700px;height:50px;" >{$form['goods_brief']}</textarea>

		            </td>

		          </tr>

					<tr>

						<th>所属分类：</th>

						<td>

							<div id="__categoryBox" style="margin-bottom:8px"></div>

							<button class="btn" type="button" name="_goodsCategoryButton"><span class="add">设置分类</span></button>

							{set:plugin::trigger('goodsCategoryWidget',array("type" => "checkbox","name" => "_goods_category[]","value" => isset($goods_category) ? $goods_category : ""))}

							

						</td>

					</tr>





					<tr>

						<th>图片：</th>

						<td>

							<input class="middle" type="text" disabled style="display: none;" />

							<div class="upload_btn">

								<span id="uploadButton"></span>

							</div>

							<label>&nbsp; 可以上传多张图片，分辨率为800x800像素，大小不得超过{echo:IUpload::getMaxSize()}</label>

						</td>

					</tr>



					<tr>

						<td></td>

						<td id="divFileProgressContainer"></td>

					</tr>



					<tr>

						<td></td>

						<td id="thumbnails"></td>

						<!--图片模板-->

						<script type="text/html" id="picTemplate">

							<span class="pic">

								<img onclick="defaultImage(this);" style="margin:5px; opacity:1;width:100px;height:100px" src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /><br />

								<a class="orange" href="javascript:void(0)" onclick="$(this).parent().remove();">删除</a>

							</span>

						</script>



					   <script type="text/html" id="picTemplate2">

            	<div class="pic">

	              <div class="pic_image"><img src="{webroot:<%=picRoot%>}" alt="<%=picRoot%>" /></div>

                <div class="pic_dels"><a href="javascript:void(0)">删除</a></div>

              </div>

             </script>

					</tr>			


					



					<tr>

          	<th>介绍：</th>

            <td>

            	<textarea name="content" id="content" style="width:700px;height:150px;" >{$form['content']}</textarea>

            </td>

          </tr>



					<!-- <tr>

						<th>交通信息：</th>

						<td>

							<input type="text" class="normal" name="traffic_information" />

						</td>

					</tr> -->


					<tr>

						<th>号码上传：</th>

						<td>

							<input type="file" name="file_stu" id="file_stu" />
          					<input type="button"  value="导入" id="import_accounts" />
							<label id='show_info'>&nbsp; 上传Excel文件，号码一行一个<a href="/upload/sample.xls">样例下载</a></label>
						</td>

					</tr>
				

					<tr>

						<th>限购数量：</th>

						<td>

							<input type="text" class="normal" name="store_nums" pattern="required"/>
							<label>*</label>
						</td>

					</tr>

					<tr>

						<th>价格：</th>

						<td>

							<input type="text" class="normal" name="market_price" pattern="required"/>
							<label>*</label>
						</td>

					</tr>	
					


					<tr>

						<th>限购时间：</th>

						<td>

							

							<input type="text" class="normal" name="limit_end_time" onFocus="WdatePicker()"/>

						</td>

					</tr>



					<tr style="display: none;">

						<th>推荐：</th>

						<td>

							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="1" checked />最新商品</label>

							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="2" />特价商品</label>

							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="3" />热卖商品</label>

							<label class="attr"><input name="_goods_commend[]" type="checkbox" value="4" />推荐商品</label>

						</td>

					</tr>



					<tr style="display: none;">

						<th>是否上架：</th>

						<td>

							<label class='"attr'"><input type="radio" name="is_del" value="0" checked> 是</label>

							<label class="attr"><input type="radio" name="is_del" value="2"> 否</label>

							<label>只有上架的课程才会在前台显示出来，客户是无法看到下架课程</label>

						</td>

					</tr>




				</table>

			</div>





			<div id="table_box_3" cellpadding="0" cellspacing="0" style="display:none">

				<table class="form_table">

					<col width="150px" />

					<col />

					<tr>

						<th>关键词：</th><td><input class="normal" name="keywords" type="text" value="" /></td>

					</tr>

					<tr>

						<th>推广描述：</th><td><textarea name="description"></textarea></td>

					</tr>

				</table>

			</div>



			<table class="form_table">

				<col width="150px" />

				<col />

				<tr>

					<td></td>

					<td>

          	<input type="hidden" name="course_imgs" id="course_imgs" value="{$item['course_imgs']}" />

            <input type="hidden" name="students_imgs" id="students_imgs" value="{$item['students_imgs']}" />

            <input type="hidden" name="model_id" value="9"/>

            <input type="hidden" id="accounts_nums" name='accounts_nums' value=""/>

            <button class="submit" type="submit" onclick="return checkForm()" style="width: 140px;"><span>发&nbsp; &nbsp; 布</span></button>

					</td>

				</tr>

			</table>



		</form>

	</div>

</div>

</article>

<script>
	var formObj = new Form('goodsForm');

var defaultProductNo = '{echo:goods_class::createGoodsNo()}';



$(function()

{

	initProductTable();

	var goods = {echo:JSON::encode($form)};

	formObj.init(goods);

	{if:!$from['model_id']}

	create_attr(1);

	{else:}

	$('[name="model_id"]').change();

	{/if}

	{if:isset($from['goods_no'])}

		$('[name="goods_no"]').val($from['goods_no']);

	{else:}

		$('[name="goods_no"]').val(defaultProductNo);

	{/if}





	{if:isset($goods_commend)}

			formObj.setValue('_goods_commend[]',"{echo:join(';',$goods_commend)}");

	{/if}



	{if:isset($goods_category)}

			{set:$categoryId = join(",",$goods_category)}

			{query:name=category items=$categoryData where=id in ($categoryId)}{/query}

			createGoodsCategory({echo:JSON::encode($categoryData)});

	{/if}



	{if:isset($goods_photo)}

			var goodsPhoto = {echo:JSON::encode($goods_photo)};

			for(var item in goodsPhoto)

			{

				var picHtml = template.render('picTemplate',{'picRoot':goodsPhoto[item].img});

				$('#thumbnails').append(picHtml);

			}

	{/if}



	{if:isset($form['img']) && $form['img']}

			$('#thumbnails img[alt="{echo:$form['img']}"]').addClass('current');

	{/if}



	// 删除图片

	$("body").on("click", ".pic .pic_dels a", function(){



		var _img_src = $(this).parent().parent().find('img').attr('true_src');

		var _parent_id = $(this).parent().parent().parent().attr('id');

		if ( _parent_id == 'thumbnails2')

			var _parent_img_arr = _course_imgs_arr;

		else

			var _parent_img_arr = _students_imgs_arr;



		$(this).parent().parent().remove();



		for( var i = 0; i < _parent_img_arr.length; i++ )

		{

			if( _parent_img_arr[i] == _img_src )

				_parent_img_arr.splice( i, 1 );

		}



		update_pics();

	});



	$('.cost_price').on('keyup',function(){

		calculation_price($(this));

	});



	$('.discount').on('keyup',function(){

		calculation_price($(this));

	});



	$('.market_price').on('keyup',function(){

		calculation_price($(this));

	});



	// 付款方式的切换

	$('input[name=statement]').change(function(){

		if ( $(this).val() == '1')

		{

			$('.statement_td').hide();

		}

		else

		{

			$('.statement_td').show();

		}

	})



	{if:$form['statement'] != 2}

		$('.statement_td').hide();

	{/if}



	$('.dprice_input').on('change', function(){

		var _dprice = $(this).val();

		var _rprice = _dprice * 0.3;

		_rprice = _rprice.toFixed(0);

		$(this).parent().parent().find(".rprice_input").val(_rprice);

	})



	$('#import_accounts').on('click',function(){
		var formData = new FormData();
		var gid = "{$form['id']}";
        formData.append("myfile", $("#file_stu")[0].files[0]);
        formData.append("goods_id", gid); 
		$.ajax({
			type:'post',
			data:formData,
			url:"{url:/goods/import_accounts}",
			contentType: false,
			processData: false,
			success: function (data) {
				var parseData = $.parseJSON(data);

                if (parseData.status == 1) {
                	if(!gid){
                		$('#accounts_nums').val(parseData.nums);
                	}
                    $('#show_info').html('<strong style="color:#0f0">已成功导入'+ parseData.info +'条数据</strong>');
                }else{
                	alert(parseData.info);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus);
            }
		})
	})

});

	function create_attr(model_id)

{

	$.getJSON("{url:/block/attribute_init}",{'model_id':model_id,'random':Math.random()}, function(json)

	{

		if(json && json.length > 0)

		{

			var templateHtml = template.render('propertiesTemplate',{'templateData':json});

			$('#propert_table').html(templateHtml);

			$('#properties').show();

			{if:isset($goods_attr)}

				{set:$attrArray = array();}

				{foreach:items = $goods_attr}

				{set:$valArray = explode(',',$item);}

				{set:$attrArray[] = '"attr_id_'.$key.'[]":"'.join(";",IFilter::act($valArray)).'"'}

				{set:$attrArray[] = '"attr_id_'.$key.'":"'.join(";",IFilter::act($valArray)).'"'}

				{/foreach}

				formObj.init({{echo:join(',',$attrArray)}});

			{/if}

		} else {

			$('#properties').hide();

		}

	});

}
</script>

<script type="text/javascript" charset="UTF-8" src="/views/sysdefault/javascript/goods_edit.js"></script>