{set:

$this->startDate = IFilter::act(IReq::get('startDate'));

$this->endDate   = IFilter::act(IReq::get('endDate'));

$countData = statistics::sellerAmount($this->seller['seller_id'],$this->startDate,$this->endDate);

}

{js:my97date}

{js:chart}

<div class="fanligzbox">
  <div class="fanligz-box">
   <div class="gzbt">商户须知</div>
   <div class="gznr">
     <p>为了更好的使用本平台, 请您务必仔细阅读并透彻理解本须知，本须知可视为本平台服务协议的补充条款，与其构成统一整体。</p>
     
     <p>1、商户的信息均由商户自己上传，商户应保证发布于本平台的所有信息真实、准确，符合相关法律法规及本平台的规则，不侵害任何第三方合法权利。</p>
     
     <p>2、因商户未提供有效信息，导致本平台未能提供服务时，造成的损失及法律后果，由商户自行承担。</p>
     
     <p>3、账户安全是商户的责任，请保管好您的账户信息以及密码，以防被盗，不要相信陌生人的短信不要随意打开陌生链接，工作人员不会以任何形式询问您的账户信息以及密码。因第三方原因或不可抗力等因素造成商户信息泄露或商户无法正常使用相关服务时，我平台不承担任何损失及法律后果。</p>
     
     <p>4、商户所展示产品/课程的定价高于该街区同种（类）产品/课程的售价，但经营状况较合作前没有明显改善的，本平台可以选择终止与商户的合作。</p>
     
     <p>5、消费者在使用返利金完成交易后，商户按交易额的10%向平台交纳结算服务费，该笔费用从商户返利账户内划转。</p>
     
     <p>6、商户应自觉维护本平台的知识产权和企业、产品形象，不得有有损本平台知识产权及企业形象的行为，否则本平台有权取消其合作资格并追究其法律责任。</p>
     
     <p>7、商户应保证课程质量或提供的服务符合国家标准、行业标准；无国家标准、行业标准的，可执行地方标准、经备案的企业标准；商户应对其提供的课程的质量或提供的服务负完全责任，由于课程质量或提供的服务不合格造成人身损害或财产损失的，一切后果由商户自行承担。</p>
   </div>
  </div>
</div>