{js:artTemplate}
<style>
tr,td,th{height: 30px;line-height: 30px;}
.hd th{background-color: #c9d8e4;border-bottom:1px solid #d4d4d4;font-style: normal;}
.bd .title {text-align: left; text-indent: 20px;}
.child .title {text-indent: 40px;}
.operating_btn {float:left;}
.content_box {clear:both;}
table {margin-top:10px;}
tr.over td {background-color: #e3dcdc;}
.tab_bottom {display: none;}
.tab {width: 800px; margin: 0px auto;}
</style>
<div class="headbar">
	<div class="position"><span>系统</span><span>></span><span>网站管理</span><span>></span><span>站点设置</span></div>
	<ul class='tab' name='conf_menu'>
		<li class='li_top'><a href="javascript:select_tab('top');">顶部导航</a></li>
		<li class="li_bottom"><a href="javascript:select_tab('bottom');">底部导航</a></li>
	</ul>
</div>

<div class="content_box">
	<div class="content form_content">
		<div class="tabs tab_top">
			{if:$navigation_list[0]}
				<table width="800" cellpadding="0" cellspacing="1" align="center">
					<colgroup>
						<col width='45px' />
						<col width='60px' />
						<col />
						<col width='60px' />
						<col width='175px' />
						<col width='130px' />
					</colgroup>
					<tr>
						<th colspan="6">
							<button class="operating_btn operating_btn_top" type="button"><span class="addition">添加导航</span></button>
						</th>
					</tr>
					<tr class="hd">
						<th></th>
						<th>序号</th>
						<th>名称</th>
						<th>类型</th>
						<th>链接</th>
						<th>操作</th>
					</tr>
					{foreach:items=$navigation_list[0]}
						<tr class="bd">
							<td></td>
							<td>{$item['sort']}</td>
							<td class="title">{$item['name']}</td>
							<td>{if:$item['type'] == 1}链接{elseif:$item['type'] == 2}菜单{else:}二维码{/if}</td>
							<td>{$item['link']}</td>
							<td>
								{if:$item['type'] == 2}
								<a href="{url:/system/conf_navigation_edit/parent_id/$item['id']}">
									<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_add.gif" alt="添加">
								</a>
								{/if}
								<a href="{url:/system/conf_navigation_edit/id/$item['id']}">
									<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_edit.gif" alt="编辑">
								</a>
								{if:$item['type'] != 2 || ( $item['type'] == 2&& !$item['child'])}
								<a href="javascript:void(0);" id="{$item['id']}" class="del">
									<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_del.gif" alt="删除">
								</a>
								{/if}
							</td>
						</tr>
						{if:$item['type'] == 2 && $item['child']}
							{foreach:items=$item['child'] item=$val}
							<tr class="bd child">
								<td></td>
								<td>{$item['sort']}</td>
								<td class="title">├─ {$val['name']}</td>
								<td>{if:$val['type'] == 1}链接{elseif:$val['type'] == 2}菜单{else:}二维码{/if}</td>
								<td>{$val['link']}</td>
								<td>
									<a href="{url:/system/conf_navigation_edit/id/$val['id']}">
										<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_edit.gif" alt="编辑">
									</a>
									<a href="javascript:void(0);" id="{$val['id']}" class="del">
										<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_del.gif" alt="删除">
									</a>
								</td>
							</tr>
							{/foreach}
						{/if}
					{/foreach}
				</table>
			{/if}
		</div>

		<div class="tabs tab_bottom">
			{if:$navigation_list[1]}
				<table width="800" cellpadding="0" cellspacing="1" align="center">
					<colgroup>
						<col width='45px' />
						<col width='60px' />
						<col />
						<col width='60px' />
						<col width='175px' />
						<col width='130px' />
					</colgroup>
					<tr>
						<th colspan="6">
							<button class="operating_btn operating_btn_bottom" type="button"><span class="addition">添加导航</span></button>
						</th>
					</tr>
					<tr class="hd">
						<th></th>
						<th>序号</th>
						<th>名称</th>
						<th>类型</th>
						<th>链接</th>
						<th>操作</th>
					</tr>
					{foreach:items=$navigation_list[1]}
						<tr class="bd">
							<td></td>
							<td>{$item['sort']}</td>
							<td class="title">{$item['name']}</td>
							<td>{if:$item['type'] == 1}链接{elseif:$item['type'] == 2}菜单{else:}二维码{/if}</td>
							<td>{$item['link']}</td>
							<td>
								{if:$item['type'] == 2}
								<a href="{url:/system/conf_navigation_edit/parent_id/$item['id']}">
									<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_add.gif" alt="添加">
								</a>
								{/if}
								<a href="{url:/system/conf_navigation_edit/id/$item['id']}">
									<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_edit.gif" alt="编辑">
								</a>
								{if:$item['type'] != 2 || ( $item['type'] == 2&& !$item['child'])}
								<a href="javascript:void(0);" id="{$item['id']}" class="del">
									<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_del.gif" alt="删除">
								</a>
								{/if}
							</td>
						</tr>
						{if:$item['type'] == 2 && $item['child']}
							{foreach:items=$item['child'] item=$val}
							<tr class="bd child">
								<td></td>
								<td>{$item['sort']}</td>
								<td class="title">├─ {$val['name']}</td>
								<td>{if:$val['type'] == 1}链接{elseif:$val['type'] == 2}菜单{else:}二维码{/if}</td>
								<td>{$val['link']}</td>
								<td>
									<a href="{url:/system/conf_navigation_edit/id/$val['id']}">
										<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_edit.gif" alt="编辑">
									</a>
									<a href="javascript:void(0);" id="{$val['id']}" class="del">
										<img class="operator" src="/views/sysdefault/skin/default/images/admin/icon_del.gif" alt="删除">
									</a>
								</td>
							</tr>
							{/foreach}
						{/if}
					{/foreach}
				</table>
			{/if}
		</div>
	</div>
</div>



<script type='text/javascript'>
//DOM加载完毕
$(function(){
	//默认系统定义
	select_tab("top");

	$('.operating_btn_top').click(function(){
		window.location.href = '{url:/system/conf_navigation_edit/module_id/1}';
	});

	$('.operating_btn_bottom').click(function(){
		window.location.href = '{url:/system/conf_navigation_edit/module_id/2}';
	});

	$('td').hover(function(){
		$(this).parent().addClass('over');
	}, function(){
		$(this).parent().removeClass('over');
	});

	$('.del').click(function(){
		if ( confirm('您确定要删除此导航吗？（无法恢复）'))
		{
			var id = $(this).attr('id');
			url = '{url:/system/conf_navigation_del/id/@id@}';
			url = url.replace('@id@', id);
			window.location.href = url;
		}
	})
});

function select_tab(indexVal)
{
	$('.tabs').hide();
	$('.tab_' + indexVal).show();

	$('.tab li').removeClass('selected');
	$('.tab .li_' + indexVal).addClass('selected');
}

</script>
