{set:$seller_id = ISafe::get('seller_id');$seller_name = ISafe::get('seller_name');}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset="bga123" />
	<title>教学用户管理后台</title>
	<link rel="stylesheet"href="{skin:css/xl_index.css}"type="text/css">
</head>

<body>
    <div class="headlogo"> 
       <div class="loge">
	        <a href="{url:/seller/seller_edit}"><img src="{skin:images/main/play-music.png}"height="100%"><h4></h4></a>
       </div>	
       <div class="name">
	        <h4>{$seller_name}</h4>
       </div>
	   <div class="headlogo_but"><a href="{url:/systemseller/logout}"><input type="button" value="安全退出"></a></div>
   </div>
	<div class="column">
	   <div class="togglee">
	        <table>
			    <tr>
			        <td><a href="{url:/seller/index}"><img src="{skin:images/main/chrome.png}"></a><h4>首页</h4></td>
					<td><a href="{url:/seller/goods_list}"><img src="{skin:images/main/google-play.png}"></a><h4>课程</h4></td>
					<td><a href="{url:/seller/pro_rule_list}"><img src="{skin:images/main/speaker.png}"></a><h4>活动</h4></td>
					<td><a href="{url:/seller/goods_edit}"><img src="{skin:images/main/nyan-phone.png}"></a><h4>添加</h4></td>
			    </tr><tr>
			        <td><a href="{url:/seller/regiment_list}"><img src="{skin:images/main/contacts.png}"></a><h4>营收</h4></td>
					<td><a href="{url:/seller/refer_list}"><img src="{skin:images/main/play-music.png}"></a><h4>咨询</h4></td>
					<td><a href="{url:/seller/comment_list}"><img src="{skin:images/main/path.png}"></a><h4>评价</h4></td>
					<td><a href="{url:/seller/order_list}"><img src="{skin:images/main/minitube.png}"></a><h4>订单</h4></td>
			    </tr>
				<tr>
			        <td><a href="{url:/seller/refundment_list}"><img src="{skin:images/main/tumblr.png}"></a><h4>退款</h4></td>
					<td><a href="{url:/seller/account}"><img src="{skin:images/main/tumblr-love.png}"></a><h4>收入</h4></td>
					<td><a href="{url:/seller/order_goods_list}"><img src="{skin:images/main/apariencia.png}"></a><h4>明细</h4></td>
					<td><a href="{url:/seller/bill_list}"><img src="{skin:images/main/settings.png}"></a><h4>结算</h4></td>
			    </tr>
				<tr>
			        <td><a href="{url:/seller/spec_list}"><img src="{skin:images/main/instagram.png}"></a><h4>规格</h4></td>
					<td><a href="{url:/seller/ship_info_list}"><img src="{skin:images/main/maps.png}"></a><h4>地址</h4></td>
					
			    </tr>
			</table>
	   </div>
	</div>
	
</body>
</html>