<?php

$seller_id = IFilter::act(IReq::get('id'),'int');
$sellerRow = Api::run('getSellerInfo',$seller_id);
$user_id = $this->user['user_id'];
$member_info = array();
$resultData = search_goods::get_discount_goods_list();
$page_info = $resultData['page_info'];
$list = $resultData['list'];
if ( $user_id )
    $member_info = member_class::get_member_info($user_id);

if ( !$sellerRow['is_system_seller'] )
{
    header("location: " . IUrl::creatUrl('/school/home/id/' . $seller_id));
    exit();
}

if(!$sellerRow)
{
    IError::show(403,'信息不存在');
}

$this->title = $sellerRow['true_name'];
$time = time();

?>
<link href="{skin:css/discount.css}" rel="stylesheet" type="text/css" />
<div class="free_class_content">
  <div class="free_class_hd">
    <img src="{skin:images/discount_img_1.jpg}" />
  </div>
  <div class="free_class_bd">
    {if:$list}
    <ul>
      {foreach:items=$list}
      <li class="{if:$item['limit_end_time'] > 0 && $item['limit_end_time'] <= $time}t2{else:}t1{/if}">
      	<a href="{url:/site/products/id/$item['id']}">
            <div class="class_image">
              <img data-lazyload="{webroot:$item[img]}" />
            </div>
            <div class="class_action">
              <p class="tt">{$item['name']}</p>
              <p class="detail">{$item['goods_brief']}</p>
            </div>
            <div class="class_active_border"></div>
        </a>
      </li>
      {/foreach}
    </ul>

    <div class="page_info">
      {$page_info}
    </div>
    {/if}
  </div>
</div>

<script language="javascript">
Lx.common.lazyload();
</script>
