	<!-- Top Navigation -->
<link href="{skin:css/dsanke.css}" rel="stylesheet" type="text/css" />
            <div class="bd">
            <ul>
							{if:!$ad_list}
	            <li>
	            	<div class="pic"><img src="/upload/2017/04/19/20170419152200862.jpg" width="100%" /></div>
	            </li>
							{else:}
							{foreach:items=$ad_list}
							<li>
	            	<div class="pic"><img src="/upload/2017/04/19/20170419152200862.jpg" width="100%" /></div>
	            </li>
							{/foreach}
							{/if}
            </ul>
          </div>
</div>

<div class="freeclass">

  <div class="freeclassbd">
     <ul>
      <li>
      	<a href="/site/products/id/1755"><img src="/upload/2017/05/15/20170515044406223.png" /></a>
        <div class="classaction">
              <p class="tt">第三课试听课服务</p>
              <p class="detail">第三课为教育培训机构寻找符合要求的客户，并组织客户参加教育培训机构的试听课的学习</p>
			  <p class="detaila"></p>
			  <p class="detailb">为教育培训机构解决招生难的问题</p>
			  <p class="detailb">降低前期营销成本</p>
			  <p class="detailb">专人体验课程，优化课堂效果</p>
			  <p class="detailb">全新的包装和全方位的宣传，让你更受人们的欢迎 </p>
		</div>
      </li>
    </ul>
    <ul>
      <li>
      	<a href="/site/products/id/857"><img src="/upload/2017/04/18/20170418002521178.jpg" /></a>
        <div class="classaction">
              <p class="tt">户外广告众筹</p>
              <p class="detail">户外广告是对外宣传的重要方式，但广告费用太高，一块广告牌没有效果，10块广告牌成本太高，现在第三课推出合作伙伴的户外广告众筹计划，让您一块广告牌的付出，获得十块广告牌的宣传效果！</p>
			  <p class="detaila">众筹规则：</p>
			  <p class="detailb">1.&nbsp;仅限第三课签约商家参加</p>
			  <p class="detailb">2.&nbsp; 每块广告牌划分为10小块，共10份众筹份额，可购买一块广告牌中的1份或多份众筹份额</p>
			  <p class="detailb">3.&nbsp;签约商户支付众筹款，指定广告牌的地段和位置范围，一块广告牌的10份众筹份额全部被认筹人购买后，由第三课负责和广告公司联系广告发布事宜</p>
			  <p class="detailb">4.&nbsp;一块广告牌自有第一人认筹开始，在3个月内未能完成全部份额的认筹，该广告牌筹资失败，已预付的认筹款将退还给已出资的认筹人</p>
		</div>
      </li>
    </ul>
    <ul>
      <li>
      	<a href="/site/products/id/864"><img src="/upload/image/20170423/1492913343823443.png" /></a>
        <div class="classaction">
              <p class="tt">教育培训嘉年华</p>
              <p class="detail">参展单位根据自身情况选择展位，主办方采取不同展位不同价格先到先得的方式对最终展位进行登记划分</p>
			  <p class="detaila">表演时间：</p>
			  <p class="detailb">1.&nbsp;主办方为各参展单位安排大舞台的展示时间</p>
			  <p class="detailb">2.&nbsp; 展示时间内各参展单位可根据自身情况安排演出及活动内容</p>
			  <p class="detailb">3.&nbsp;参展单位在签订展位使用协议时即可选择相关展出时间，演出时间选定后原则上不可修改</p>
			  <p class="detailb">4.&nbsp;特殊情况需要修改的，需在活动前2天提前告知主办方，如有其它空余时间方可进行调整。  </p>
		</div>
      </li>
    </ul>
    <ul>
      <li>
      	<a href="/site/products/id/1815"><img src="/upload/2017/05/17/20170517094051131.jpg" /></a>
        <div class="classaction">
              <p class="tt">美的时代广场二周年庆典</p>
              <p class="detail">1个小时到1个半小时的中心舞台演出展示1次，可与其他参展单位协商演出展示时间，进行多次表演</p>
			  <p class="detaila"></p>
			  <p class="detailb">1.	庆典现场展位一个，为期8天</p>
			  <p class="detailb">2.	以参展单位的名义获得微信公众号同步宣传</p>
			  <p class="detailb">3.	会展现场巨幅电子屏宣传</p>
			  <p class="detailb">4.	会展现场巨幅广告牌宣传 </p>
		</div>
      </li>
    </ul>
  </div>
</div>