<link rel="stylesheet" type="text/css" href="{skin:css/ucenter.css}" />
<link rel="stylesheet" type="text/css" href="{skin:css/ucenter_article.css}" />
{set: $type = $_GET['type'] + 0;}

{set:$callback = IUrl::creatUrl('/ucenter/index');}
{if:$article_list}
{foreach:items = $article_list}
<div class="mui-card">
    <div class="mui-card-header">{$item['title']}</div>
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            <p class="ordbigbt"><span>发布时间：</span>{$item['create_time']}</p>
            <p class="ordbigbt t-left"><span>回复总数：</span><i class="ordbigbt-price">{$item['reply_count']}</i></p>
            <p class="ordbigbt t-right"><span>浏览量：</span><i class="ordbigbt-price">{$item['views']}</i></p>
        </div>
    </div>
    <div class="mui-card-footer">
        <a class="mui-card-link del_btn" href="javascript: void(0);" _id="{$item[id]}">删除</a>
        <a class="mui-card-link" href="{url:/ucenter/article_add2/id/$item[id]}">修改</a>
    </div>
</div>
{/foreach}
{else:}
<div class="mui-card">
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
            暂时没有任何文章
        </div>
    </div>
</div>
{/if}

<div class="mui-card">
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
						<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-add">发布文章</button>
				</div>
		</div>
</div>


<script type="text/javascript">
$(function(){
		mui('body').on('tap', '.mui-add',function(){
			document.location.href = '{url:/ucenter/article_add2}';
		})
    mui('body').on('tap', '.del_btn', function(){
        var id = this.getAttribute('_id');
        mui.confirm('确定删除文章吗？', '删除文章', ['取消', '删除'], function(e) {
            if (e.index == 1) {
                mui.getJSON('{url:/ucenter/article_ajax_del}', {id: id}, function(json){
                    if(json.msg == 1){
                        mui.toast('删除成功');
                        window.location.reload();
                    }else if(json.msg == -1){
                        mui.toast('信息不正确');
                    }else if(json.msg == -2){
                        mui.toast('文章不存在或者已被删除');
                    }else{
                        mui.toast('删除失败');
                    }
                });
            }
        })
    });
});
</script>

