{set:$callback = IUrl::creatUrl('/ucenter/article_list');}
<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="{theme:javascript/jquery.juploader.js}"></script>
<style>
.mui-check-left {width:22%;float:left;}
</style>
<div class="article-add">
    <form method="post" action="{url:/ucenter/article_update_mobile3}" enctype='multipart/form-data' id="articleForm">
        {if:$article['id']}<input type="hidden" name="id" value="{$article['id']}"  />{/if}
        <input type="hidden" name="content" id="content" />
        <input type="hidden" name="formatcontent" id="formatcontent" />
        <h5 class="mui-content-padded">填写报名信息</h5>
        <div class="mui-card">
            <div class="mui-input-group">
                <div class="mui-input-row">
                    <!-- <label>标题</label> -->
                    <input type="text" name="title" id="title" value="{$article['title']}" placeholder="小孩的姓名" />
                </div>
            </div>
        </div>

        <div class="mui-card">
          <div class="mui-input-group">
              <div class="mui-input-row">
                  <!-- <label>标题</label> -->
                  <input type="text" name="age" id="age" value="{$article['age']}" placeholder="小孩的年龄" />
              </div>
          </div>
        </div>

        <div class="mui-card">
          <div class="mui-input-group">
              <div class="mui-input-row">
                  <!-- <label>标题</label> -->
                  <input type="text" name="tel" id="tel" value="{$article['tel']}" placeholder="家长联系电话" />
              </div>
          </div>
        </div>

        <div class="mui-card" style="display:none;">
          <div class="mui-input-group">
              <div class="mui-input-row">
                  <label>是否有教师资格证</label>
                  <div class="mui-radio mui-left mui-check-left">
                    <label class="auto">是</label>
                    <input type="radio" name="is_teacher" value="1">
                  </div>
                  <div class="mui-radio mui-left mui-check-left">
                    <label class="auto">否</label>
                    <input type="radio" name="is_teacher" value="0" checked>
                  </div>
              </div>
          </div>
        </div>






        <!-- <h5 class="mui-content-padded">文章内容</h5> -->
        <div class="mui-input-row mui-textarea-row" id="contentbox">
            <button type="button" class="muiprimary" id="uppic">上传宝宝的图片</button>
            <button type="button" class="muidanger" onclick="addContent('content')" style="display:none;">插入内容</button>
        </div>
        <div class="mui-content-padded">
            <input type="hidden" name="images" value="" />
            <button type="button" id="postarticle" class="mui-btn mui-btn-primary mui-btn-block" data-loading-text = "提交中" data-loading-icon-position="right">提交信息</button>
        </div>
    </form>
</div>



<script>
$(function(){
    document.getElementById('postarticle').addEventListener('tap', function(){
        getContent();
    });
});

$.jUploader({
    button: 'uppic',
    action: '{url:/ucenter/article_upload}',
    allowedExtensions: ['jpg', 'png', 'gif', 'jpeg'],
    onComplete: function(fileName, response){
      if(response.success){
        $('#contentbox').html('<img width="100%" class="format" data-type="image" src="/' + response.fileurl + '" />');
        var img = $("input[name=images]").val();
        if ( img == '')
        {
            $("input[name=images]").val(response.fileurl);
        } else {
            $("input[name=images]").val(img + ',' + response.fileurl);
        }

      }else{
        alert('上传失败');
      }
    }
});
function addContent(type){
    var imgurl = '<input type="file" class="file" name="imgurl[]">',
        content = '<textarea rows="5" class="format" data-type="txt" placeholder="文章内容"></textarea>';
    if(type == 'file'){
        $('#contentbox').append(imgurl);
    }else if(type = 'content'){
        $('#contentbox').append(content);
    }else{
        return;
    }
}

function getContent(){
    if($('#title').val() == ''){
        mui.toast('请输入小孩的姓名');
        return false;
    }
    if($('#age').val() == ''){
        mui.toast('请输入小孩的年龄');
        return false;
    }
    if($('#tel').val() == ''){
        mui.toast('请输入家长联系电话');
        return false;
    }
    var img = $("input[name=images]").val();
    if ( img == '' )
    {
      mui.toast('请上传宝宝的图片');
      return false;
    }
    var content = '', formatcontent = '';
    $('.format').each(function(i, el){
        var type = $(el).attr('data-type');
        var src = $(el).attr('src');
        var txt = $(el).val();
        if(type == 'image'){
            content += '<img src="' + src + '">';
            formatcontent += '<img src="' + src + '">' + '||';
        }else if(type == 'txt'){
            content += txt;
            formatcontent += txt + '||';
        }else{
            content += '';
            formatcontent += '';
        }
    });

    $('#content').val(content);
    $('#articleForm').submit();
}
</script>
