{set:$callback = IUrl::creatUrl('/ucenter/article_list');}
<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<div class="article-add">
    <form method="post" action="{url:/ucenter/booking_update}" enctype='multipart/form-data' id="articleForm">
        {if:$id}<input type="hidden" name="id" value="{$id}"  />{/if}
        <input type="hidden" name="content" id="content" />
        <input type="hidden" name="formatcontent" id="formatcontent" />
        <h5 class="mui-content-padded">发表预定信息</h5>
        <div class="mui-card">
            <div class="mui-input-group">
                <div class="mui-input-row">
                    <input type="text" name="username" id="username" value="{$booking_info['username']}" placeholder="用户名" />
                </div>
                <div class="mui-input-row">
                    <input type="text" name="true_name" id="true_name" value="{$booking_info['true_name']}" placeholder="真实姓名" />
                </div>
                <div class="mui-input-row">
                    <input type="text" name="mobile" id="mobile" value="{$booking_info['mobile']}" placeholder="手机号码" />
                </div>
                <div class="mui-input-row">
                    <input type="text" name="seller_name" id="seller_name" value="{$booking_info['seller_name']}" placeholder="商户名" />
                </div>
                <div class="mui-input-row">
                    <input type="text" name="goods_name" id="goods_name" value="{$booking_info['goods_name']}" placeholder="课程名称" />
                </div>
            </div>
        </div>

        <div class="mui-content-padded">
            <button type="button" id="postarticle" class="mui-btn mui-btn-primary mui-btn-block" data-loading-text = "提交中" data-loading-icon-position="right">发布</button>
        </div>
    </form>
</div>

<script>
$(function(){
    document.getElementById('postarticle').addEventListener('tap', function(){
      var _username = $('#username').val();
      var _true_name = $('#true_name').val();
      var _mobile = $('#mobile').val();
      var _seller_name = $('#seller_name').val();
      var _goods_name = $('#goods_name').val();
      if ( _username == '')
      {
        mui.toast('请输入用户名');
        return false;
      } else if ( _true_name == '')
      {
        mui.toast('请输入真实姓名');
        return false;
      } else if ( _mobile == '')
      {
        mui.toast('请输入手机号码');
        return false;
      } else if ( _seller_name == '')
      {
        mui.toast('请输入商户名称');
        return false;
      } else if ( _goods_name == '')
      {
        mui.toast('请输入课程名称');
        return false;
      } else {
        $('#articleForm').submit();
      }
    });
});
</script>
