<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>康卓商城 我要提现</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script type="text/javascript" src="{theme:javascript/mui2/js/mui.picker.js}"></script>
	<link rel="stylesheet" href="{theme:javascript/weui/weui.css}">
	<link rel="stylesheet" href="{theme:javascript/mui2/css/mui.min.css}">
	<link rel="stylesheet" href="{theme:javascript/mui2/css/icons-extra.css}">
	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/app.css}"/>
	<link rel="stylesheet" type="text/css" href="{theme:javascript/mui2/css/common.css}"/>
	<script type="text/javascript" src="{rs:/scripts/jquery-3.1.1.min.js}"></script>
	<script type="text/javascript" src="{theme:javascript/mui/js/mui.min.js}"></script>
	<script type="text/javascript" src="{rs:/scripts/common.js}"></script>
</head>

<body>
    <nav class="mui-bar mui-bar-tab">
    	<a class="mui-tab-item" href="/">
    		<span class="mui-icon mui-icon-home"></span>
    		<span class="mui-tab-label">首页</span>
    	</a>
    	<a class="mui-tab-item" href="{url:/simple/cart}">
    		<span class="mui-icon mui-icon-extra mui-icon-extra-cart"></span>
    		<span class="mui-tab-label">购物车</span>
    	</a>
    	<a class="mui-tab-item mui-active" href="{url:/ucenter}">
    		<span class="mui-icon mui-icon-contact"></span>
    		<span class="mui-tab-label">个人中心</span>
    	</a>
    </nav>

    <div class="mui-content">
    	<div id="tabbar-with-contact" class="mui-control-content mui-active">
    		<header class="mui-bar mui-bar-nav" style="background-color: #5cc2d0;">
    		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    			<h1 class="mui-title" style="color:#fff">{$this->title}</h1>
    		</header>
            {set:$callback = IUrl::creatUrl('/ucenter/index');}
            <link rel="stylesheet" type="text/css" href="{skin:css/ucenter.css}" />
            <link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
            <link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
            {set:$user_ico = $this->user['head_ico']}
            <div class="mui-card" style="margin-top:52px">
                <form class="mui-input-group" action="{url:/ucenter/info_edit_act}" method="post" enctype='multipart/form-data'>
                	<div class="mui-input-row">
                		<label>姓名</label>
                		<input type="text" placeholder="姓名" value="{$this->memberRow['true_name']}" name="true_name" />
                	</div>
                	<div class="mui-input-row">
                		<label>邮箱</label>
                		<input type="text" placeholder="邮箱" value="{$this->memberRow['email']}" name="email" />
                	</div>
                	<div class="mui-input-row">
                		<label>手机号</label>
                		<input type="text" placeholder="手机号码" value="{$this->memberRow['mobile']}" name="mobile"{if:$this->memberRow['mobile'] != ''} disabled="disabled"{/if} />
                	</div>
                	<div class="mui-input-row" id="region">
                		<label>地区</label>
                		<span id="province">{if:$this->memberRow['provinceval']}{$this->memberRow['provinceval']}{else:}湖南省{/if}</span>
                		<span id="city">{if:$this->memberRow['cityval']}{$this->memberRow['cityval']}{else:}株洲市{/if}</span>
                		<span id="discrict">{if:$this->memberRow['discrictval']}{$this->memberRow['discrictval']}{else:}市辖区{/if}</span>
                		<input type="hidden" name="province" id="provinceval" value="{if:$this->memberRow['areas'][0]}{$this->memberRow['areas'][0]}{else:}430000{/if}" />
                		<input type="hidden" name="city" id="cityval" value="{if:$this->memberRow['areas'][1]}{$this->memberRow['areas'][0]}{else:}430200{/if}" />
                		<input type="hidden" name="area" id="discrictval" value="{if:$this->memberRow['areas'][2]}{$this->brandRow['areas'][2]}{else:}430201{/if}" />
                		<i class="icon-angle-right"></i>
                	</div>
                	<div class="mui-input-row">
                		<label>街道地址</label>
                		<input type="text" name="contact_addr" value="{$this->memberRow['contact_addr']}" placeholder="请填写街道地址" />
                	</div>
                	<div class="mui-content-padded">
                        <button type="submit" class="mui-btn mui-btn-primary mui-btn-block" 
                        style="width: 90%;margin:10px 10px 10px;padding: 10px 15px;border: 1px solid #5cc2d0;background-color: #5cc2d0;">提交</button>
                    </div>
                </form>
            </div>
            <script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.js}"></script>
            <script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
    	</div>
    </div>

<script src="{theme:javascript/mui2/js/mui.min.js}"></script>
<script>
	mui.init({swipeBack:true});
	mui('nav').on('tap','a',function(){document.location.href=this.href;});
</script>
</body>
</html>