<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/ucenter_integral.css}" rel="stylesheet" type="text/css" />
<style>
.mui-table-view-cell p {width:100%;}
</style>

<div class="mui-card">
    <div class="mui-card-content">
        <div class="mui-card-content-inner">
      		<span class="ordbigbt-price"> 您当前的积分：<br /><em>{$this->memberRow['point']}</em><span>分</span></span>
        </div>
    </div>
</div>

<h5 class="mui-content-padded">积分明细</h5>
<div class="mui-card">
    <div class="mui-card-content">
			{set:$user_id = $this->user['user_id']}
			{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
			{set:$queryPointLog = Api::run('getUcenterPointLog',$user_id,$this->c_datetime)}
			{foreach:items = $queryPointLog->find()}
        <ul class="mui-table-view">
            <li class="mui-table-view-cell">
            	<p>
								<div class='t-left'>积分：{$item['value']}分</div>
								<div class='t-right'>{$item['datetime']}</div>
							</p>
            	<p>说明：{$item['intro']}</p>
            </li>
        </ul>
		{/foreach}
    </div>
</div>
