<?php
  $user_ico = $this->user['head_ico'];
  $user_ico = ( !$user_ico ) ? '/views/mobile/skin/blue/images/front/user_ico.gif' : $user_ico;
  $user_t = Api::run('getMemberInfo',$this->user['user_id']);
  $user_info = $this->userRow;
  $member_info = $this->memberRow;
?>

<link href="{skin:css/manual_info.css}" rel="stylesheet" type="text/css" />
<script type='text/javascript' src="{rs:/scripts/layer_mobile/layer.js}"></script>
<div class="mui-content">
  <ul class="mui-table-view">
      {foreach:items=$manual_list}
        {if:$item['is_activation']}
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:void(0);">
            <img class="mui-media-object mui-pull-left" src="<?php echo empty($item['logo'])?'/views/default/skin/default/images/women.jpg':'/' . $item['logo'] ?>">
            <div class="mui-media-body">
              <p>姓名：{$item['name']}</p>
              <p>年龄：{$item['year']}岁</p>
              <p>性别：{echo: get_sex($item['sex'])}</p>
              {foreach:items=$item['category'] item=$it key=$kk}
                <p>{if:!$kk}分类：{/if}
                {foreach:items=$it item=$i}{$i}&nbsp;{/foreach}
                </p>
              {/foreach}
            </div>
          </a>
        </li>
        <li class="mui-table-view-cell mui-media last">
          <div class="mui-media-footer">
            有效期限：{echo:date('Y.m.d', $item['end_time'])}
            <div class="btns">
              <a href="{url:/ucenter/manual_use_list/id/$item['id']}">查看使用记录</a>
              <a href="javascript:void(0);" onclick="active_category('{$item['id']}','{$item['category_id']}')" style="display:none;">扩展分类</a>
            </div>
          </div>
        </li>
        {/if}
      {/foreach}
  </ul>

  {if:sizeof($unactivation)}
  <div class="mui-table-view mui-table-notice">
    <a href="{url:/site/manual_activation/code/$unactivation[0]['activation_code']}">您还有{echo:sizeof($unactivation);}本手册可以激活</a>
  </div>
  {/if}
</div>

<div class="choose_category">
  <div class="choose_category_content">
    <select name="category_id">
      <option value="0">请选择分类</option>
      {foreach:items=$category_list}
        <option value="{$item['id']}">{$item['name']}</option>
      {/foreach}
    </select>
  </div>
</div>

<script type="text/javascript" src="{theme:javascript/manual_info.js}"></script>
