<link href="{skin:css/prolist.css}" rel="stylesheet" type="text/css" />
<input type="hidden" id="pagenum" value="1">
<input type="hidden" id="manual_id" value="{$id}">
<div class="mui-scroll-wrapper list" id="goodslist" style="top:45px;">
	<div class="mui-scroll">
	    <ul class="mui-table-view">

	    </ul>
	</div>
</div>
<script type="text/javascript">
var isrefesh = false;
mui.init({
	pullRefresh: {
        container: '#goodslist',
        up: {
            contentrefresh: '正在加载...',
            callback: pullupRefresh
        }
    }
});

function pullupRefresh() {
    setTimeout(function() {
        var table = document.body.querySelector('.mui-table-view');
        var cells = document.body.querySelectorAll('.mui-table-view-cell');
        var page = document.getElementById('pagenum').value;
        var manual_id = document.getElementById('manual_id').value;
        var params = 'page=' + page + '&id=' + manual_id;

				if(isrefesh){
					table.innerHTML = '';
				}
        mui.get(SITE_URL + 'ucenter/get_manual_use_list_ajax', params, function(json){
            if(json.num < 10){
                mui('#goodslist').pullRefresh().endPullupToRefresh(true);
            }else{
                mui('#goodslist').pullRefresh().endPullupToRefresh();
            }

            for (var i = 0; i < json.num; i++) {
                var li = document.createElement('li');
                li.className = 'mui-table-view-cell mui-media';
                	li.innerHTML = '<a href="{url:/ucenter/manual_use_dqk_info/}/id/' + manual_id + '/dqk_id/' + json[i].dqk_id + '">'+
                            '<img class="mui-media-object mui-pull-left" src="/' + json[i].logo + '">'+
                            '<div class="mui-media-body">'+
                                json[i].name + '-' + json[i].use_times + '课时' +
                                '<p class="mui-ellipsis">已使用' + json[i].c_count + '次</p>'+
                                '<div class="address">' + json[i].shortname + '</div>'+
                            '</div>'+
                        '</a>';
                table.appendChild(li);
            }
            document.getElementById('pagenum').value = json.page;
            isrefesh = false;
        }, 'json');
    }, 500);
}
if (mui.os.plus) {
    mui.plusReady(function() {
        setTimeout(function() {
            mui('#goodslist').pullRefresh().pullupLoading();
        }, 1000);

    });
} else {
    mui.ready(function() {
        mui('#goodslist').pullRefresh().pullupLoading();
    });
}
</script>
