<link href="{theme:javascript/mui/css/mui.picker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.poppicker.css}" rel="stylesheet" type="text/css" />
<link href="{theme:javascript/mui/css/mui.picker.min.css}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{theme:javascript/mui/js/mui.picker.min.js}"></script>
<script type="text/javascript" src="{theme:javascript/mui/js/mui.poppicker.js}"></script>
<script type="text/javascript" src="/views/msysseller/javascript/jquery.juploader.js"></script>

<link href="{skin:css/manual_activation.css}" rel="stylesheet" type="text/css" />
  <form class="mui-input-group" method="post" action="{url:/ucenter/save_manual_activation}">
      <div class="mui-input-row">
          <label>家长姓名</label>
          <input type="text" name="parents_name" class="mui-input-clear" placeholder="请输入家长姓名">
      </div>
      <div class="mui-input-row">
          <label>家长电话</label>
          <input type="number" name="parents_tel" class="mui-input-clear" placeholder="请输入家长电话">
      </div>
      <div class="mui-input-row">
          <label>宝贝姓名</label>
          <input type="text" name="name" class="mui-input-clear" placeholder="请输入宝贝姓名">
      </div>
      <div class="mui-input-row mui-input-birthday">
          <label>宝贝生日</label>
          <input type="text" name="birthday" class="mui-input-clear" placeholder="请选择宝贝生日">
      </div>
      <div class="mui-input-row mui-input-row-sex">
  			<label>宝贝性别</label>
  			<div class="mui-radio mui-left mui-check-left">
  				<label class="auto">男</label>
  				<input type="radio" name="sex" value="1" checked>
  			</div>
  			<div class="mui-radio mui-left mui-check-left">
  				<label class="auto">女</label>
  				<input type="radio" name="sex" value="2">
  			</div>
  		</div>
      <div class="mui-input-row mui-input-row-relation">
        <label>家长关系</label>
        <div class="mui-radio mui-left mui-check-left">
          <label class="auto">妈妈</label>
          <input type="radio" name="guardian" value="1" checked>
        </div>
        <div class="mui-radio mui-left mui-check-left">
          <label class="auto">爸爸</label>
          <input type="radio" name="guardian" value="2">
        </div>
        <label></label>
        <div class="mui-radio mui-left mui-check-left">
          <label class="auto">奶奶</label>
          <input type="radio" name="guardian" value="3">
        </div>
        <div class="mui-radio mui-left mui-check-left">
          <label class="auto">爷爷</label>
          <input type="radio" name="guardian" value="4">
        </div>
        <label></label>
        <div class="mui-radio mui-left mui-check-left">
          <label class="auto">外公</label>
          <input type="radio" name="guardian" value="5">
        </div>
        <div class="mui-radio mui-left mui-check-left">
          <label class="auto">外婆</label>
          <input type="radio" name="guardian" value="6">
        </div>
      </div>
      <div class="mui-input-row" id="category" style="display:none;">
        <label>课程分类</label>
        <span>请选择分类</span>
        <i class="icon-angle-right"></i>
      </div>
      <div class="mui-input-row" style="height: auto;margin: 5px 0;">
        <label>宝贝图片</label>
        <?php
          $default_upload_bg = '/views/mobile/skin/blue/images/upload.png';
        ?>
        <div class="image-item space" id="uppic" style="overflow:hidden;background:url({$default_upload_bg}) no-repeat center center;background-size:100% auto;"></div>
        <input type="hidden" name="logo" id="icon" value="">
      </div>
      <div class="mui-card-content">
          <p>重要说明</p>
          <p>1、手册一旦激活，不可修改信息，请务必认真填写；</p>
          <p>2、宝贝照片一旦上传，不可修改，请务必认真拍摄；</p>
          <p>3、学校只根据宝贝照片核实是否本人，如学校判定不是宝贝本人，其有权拒绝您使用，请知晓；</p>
          <p>4、解释权归第三课所有。</p>
      </div>
      <div class="mui-checkbox mui-left">
        <label class="auto">勾选后代表您已经阅读并同意以上重要声明</label>
        <input type="checkbox" name="is_agree" value="1" checked>
      </div>
      <div class="mui-content-padded">
          <input type="hidden" name="category_id" value="0" />
          <input type="hidden" name="code" value="{$code}" />
          <button type="button" class="mui-btn mui-btn-primary mui-btn-block" id="confirm">提交激活</button>
      </div>
  </form>

  <script language="javascript">
  var catdata = {if:$manual_category_list_json}{$manual_category_list_json}{else:}new Array(){/if};
  var _upload_url = '{url:/ucenter/pic_upload}';
  </script>

  <script type="text/javascript" src="{theme:javascript/manual_activation.js}"></script>
