{set:$callback = IUrl::creatUrl('/ucenter/info');}
<link rel="stylesheet" type="text/css" href="{skin:css/ucenter.css}" />
<form class="mui-input-group" action="{url:/ucenter/password_edit}" method="post" enctype='multipart/form-data' id="passwordForm">
	<div class="mui-input-row">
		<label>原密码</label>
		<input type="password" placeholder="原密码" value="" name="fpassword" id="fpassword" />
	</div>
	<div class="mui-input-row">
		<label>新密码</label>
		<input type="password" placeholder="新密码，长度6-32位" value="" name="password" id="password" />
	</div>
	<div class="mui-input-row">
		<label>确认新密码</label>
		<input type="password" placeholder="确认新密码" value="" name="repassword" id="repassword" />
	</div>
	<div class="mui-content-padded">
        <button type="button" id="postpassword" class="mui-btn mui-btn-primary mui-btn-block">确定修改</button>
    </div>
</form> 

<script language="javascript">
$(function(){
    document.getElementById('postpassword').addEventListener('tap', function(){
    	var _passwd_reg = /^\S{6,32}$/;
        var _fpassword = $('#fpassword').val();
		var _password = $('#password').val();
		var _repassword = $('#repassword').val();

		if ( !_passwd_reg.test( _fpassword ) ) {
			mui.toast('原始密码必须为6-32位');
			return false;
		} else if ( !_passwd_reg.test( _password ) ) {
			mui.toast('新密码必须为6-32位');
			return false;
		} else if ( _password != _repassword ) {
			mui.toast('两次输入密码不正确');
			return false;
		} else {
			$('#passwordForm').submit();
			return false;
		}
    });
});
</script>