<style>
html,body {width:100%;height:100%;}
.mui-content {width:100%;height:100%;}
.mui-content .promote_bg {width:100%;height:100%;overflow:hidden;position:relative;background:url(/views/mobile/skin/blue/images/promote_qrcode.jpg) 0 0 no-repeat;background-size:100%;}
.mui-content .promote_bg img {max-width:100%;}
.mui-content .promote_bg .qrcode {width:32%;position:absolute;left:34%;top:63%;}
</style>
  <div class="promote_bg">
    <img src="http://www.dsanke.com/plugins/phpqrcode/index.php?data=http://www.dsanke.com/site/index/promote/{$my_promote_code}" class="qrcode" />
  </div>
