{set:
    $title = '代金券组合详情';
    $callback = IUrl::creatUrl('/ucenter/redpacket_zuhe');
}

<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/ucenter_order_zuhe_detail.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/manual_info.css}" rel="stylesheet" type="text/css" />
<style>
.mui-table-view > li > div {width: 100%;}
.qrcode {width:300px;height:300px;}
.mui-table-view:after {height:0px;}
</style>
<div class="mui-card student_info">
    <div class="mui-card-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><span>学员姓名：</span>{$this->order_info['accept_name']}</li>
            <li class="mui-table-view-cell"><span>联系电话：</span>{$this->order_info['mobile']}</li>
        </ul>
    </div>
</div>

<div class="mui-content">
  <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media last">
          <div class="mui-media-footer">
            验证机构：{$seller_info['shortname']}<br />
            有效期限：{echo:date('Y-m-d',strtotime("+1 years",strtotime($this->order_info['pay_time'])))}
          </div>
        </li>
        <li class="mui-table-view-cell">
          <center>核销验证码
          <img src="http://{echo:$_SERVER['SERVER_NAME']}/plugins/phpqrcode/index.php?data=http://www.dsanke.com/site/brand_chit_check_use/id/{$id}/use_id/{$use_id}" class="qrcode" />
          <br />请将此页面展示给前台人员
          </center>
        </li>
  </ul>
</div>
