{set:
    $title = '代金券组合详情';
    $callback = IUrl::creatUrl('/ucenter/redpacket_zuhe');
}

<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/ucenter_order_zuhe_detail.css}" rel="stylesheet" type="text/css" />
<div class="mui-card student_info">
    <div class="mui-card-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><span>学员姓名：</span>{$this->order_info['accept_name']}</li>
            <li class="mui-table-view-cell"><span>联系电话：</span>{$this->order_info['mobile']}</li>
        </ul>
    </div>
</div>
<div class="mui-card">
    <div class="mui-card-header">
      <div class='t-left'>第三课</div>
      <div class='t-right'>{echo:Order_Class::orderStatusText($orderStatus)}</div>
    </div>
    <div class="mui-card-content">
        <ul class="mui-table-view">
            {if:$detail_list}
              <li>
                <div class="pname"><b>短期课名称</b></div>
                <div class="pprice"><b>价格</b></div>
                <div class="ptime"><b>剩余课时</b></div>
                <div class="ptime"><b>操作</b></div>
              </li>
              {foreach:items=$detail_list}
              <li class="mui-table-view-cell mui-media">
                  <div class="pname">{$item['name']}</div>
                  <div class="pprice">{$item['max_price']}</div>
                  <div class="ptime">{if:$item['availeble_use_times'] > 0 }{echo:floor($item['availeble_use_times'] / $item['each_times'])}次{$item['availeble_use_times']}课时{else:}0课时{/if}</div>
                  <div class="ptime">{if:$item['availeble_use_times'] > 0}<a href="javascript:void(0);" class="confirm_dqk" id="{$item['use_list_id']}">确认使用</a>{else:}已完成{/if}</div>
              </li>
              {/foreach}
            {/if}

            <div class="mui-media-info">
              共{echo:sizeof($detail_list);}个课程 合计：<span class='price'>&yen;{$this->order_info['order_amount']}</span>
            </div>

            {if:!in_array($orderStatus,array(3))}
            <div class="mui-input-group">
                <div class="mui-button-row">
                    {if:in_array($orderStatus,array(1,2))}
                    <a href="javascript:void(0);" class="mui-btn mui-btn-primary cancel">取消</a>
                    {/if}
                    {if:$orderStatus == 2 && $this->order_info['order_role'] == 1}
                        <a href="javascript:void(0);"  class="mui-btn mui-btn-danger" onclick="javascript:window.location.href = '{url:/block/doPay/order_id/$this->order_info[order_id]}'">付款</a>
                    {/if}
                </div>
            </div>
            {/if}

        </ul>
    </div>
</div>

<div class="mui-card order_log">
    <div class="mui-card-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><span>订单编号</span>：{$this->order_info['order_no']}</li>
            {foreach:items=$this->orderStep item=$stepData key=$eventTime}
            <li class="mui-table-view-cell"><span>{$eventTime}</span>{$stepData}</li>
            {/foreach}
        </ul>
    </div>
</div>

<script language="javascript">
var _order_id = {$order_id};
var _update_dqk_ajax = '{url:/ucenter/update_dqk_status}';
$(document).ready(function(){
    $('.confirm_dqk').click(function(){
  		var _id = $(this).attr('id');
      var btnArray = ['取消','确定'];
      var use_id = $(this).attr('id');
      mui.confirm('您确定已经使用了短期课吗？', '提示信息', btnArray, function(e) {
          if (e.index == 1)
          {
            location.href = '{url:/ucenter/redpacket_use/id/$this->order_info[order_id]}/use_id/' + use_id;
          }
      });
  	});
})
</script>
