<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/ucenter_order_detail.css}" rel="stylesheet" type="text/css" />
<div class="mui-card student_info">
    <div class="mui-card-content">
        <ul class="mui-table-view">
            <li class="mui-table-view-cell"><span>课程名称：</span>{$goods_info['name']}</li>
            <li class="mui-table-view-cell"><span>代金券可抵用：</span>{$brand_chit_info['max_order_chit']}元</li>
            <li class="mui-table-view-cell"><span>线下需支付：</span>{$rest_price}元</li>
            <li class="mui-table-view-cell"><span>姓名：</span>{$order_info['accept_name']}</li>
            <li class="mui-table-view-cell"><span>手机号：</span>{$order_info['mobile']}</li>
        </ul>
    </div>
</div>
{if:$order_info['status'] != 5}
<div class="mui-card">
    <div class="mui-card-content">
        <ul class="mui-table-view">
            <div class="mui-input-group">
                <div class="mui-button-row">
                      <a href="javascript:void(0);" class="mui-btn mui-btn-primary confirm">确认线下使用</a>
                </div>
            </div>
        </ul>
    </div>
</div>
{/if}

<script language="javascript">
$(document).ready(function(){
    $('.confirm').click(function(){
        mui.confirm('你确认已在线下使用了此代金券吗？', '确认使用', ['取消', '确定'], function(e){
            if(e.index == 1){
                var _post_url = '{url:/ucenter/redpacket_confirm_use_ajax}';
                Lx.common.loading();
                mui.post( _post_url, {order_id: {$order_info['id']}, id: {$brand_chit_info['id']}}, function(data){
                    if ( data == '1'){
                        location.href = '{url:/ucenter/order_detail/id/$order_info[id]}';
                    } else if ( data == '-1'){
                        mui.toast('操作不正确');
                    } else {
                      mui.toast(data);
                    }
                })
            }else{
            }
        });
    });
})
</script>
