{set:$callback = IUrl::creatUrl('/ucenter/index');}
<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<link href="{skin:css/ucenter_tutor.css}" rel="stylesheet" type="text/css" />

  {if:$tutor_list}
  {foreach:items = $tutor_list}
  <div class="mui-card">
      <div class="mui-card-content">
          <div class="mui-card-content-inner">
              <p class="ordbigbt"><span>性别：</span>{echo: get_gender_title($item['gender'])}</p>
              <p class="ordbigbt"><span>年级：</span>{echo:category_class::get_category_title($item['grade_level'])}</p>
              <p class="ordbigbt"><span>分类：</span>{echo:category_class::get_category_title($item['grade'])}</p>
              <p class="ordbigbt"><span>最近考分：</span>{$item['lastest_scores']}</p>
              <p class="ordbigbt"><span>期望考分：</span>{$item['expected_scores']}</p>
              <p class="ordbigbt"><span>最低报酬：</span>{$item['lowest_reward']}</p>
              <p class="ordbigbt"><span>状态：</span>{echo:tutor_class::get_tutor_status_title($item['status'], $item['is_publish'])}
                  {if:$item['contract_addr']}<span><a href="{webroot:$item['contract_addr']}" target="_blank">查看合同</a></span>{/if}
              </p>

              <p class="ordbigbt"><span>发布日期：</span>{echo:date('Y-m-d',$item['create_time'])}</p>
          </div>
      </div>
      <div class="mui-card-footer">
          <a href="{url:/ucenter/tutor_add/id/$item[id]}" class="mui-card-link">查看详情</a>
          <a href="{url:/ucenter/tutor_del/id/$item[id]}" class="mui-card-link">删除</a>
      </div>
  </div>
  {/foreach}
  {else:}
  <div class="mui-card">
      <div class="mui-card-content">
          <div class="mui-card-content-inner">
              没有任何家教信息
          </div>
      </div>
  </div>
  {/if}

	<div class="mui-card">
	    <div class="mui-card-content">
	        <div class="mui-card-content-inner">
							<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined mui-add">发布家教</button>
					</div>
			</div>
	</div>

	<script type="text/javascript">
		$(function(){
				mui('body').on('tap', '.mui-add',function(){
					document.location.href = '{url:/ucenter/tutor_add}';
				});
		});
	</script>
