<link rel="stylesheet" href="{theme:javascript/mui/css/mui.picker.min.css}">
<script type='text/javascript' src="{theme:javascript/mui/js/mui.picker.min.js}"></script>
<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<style>
input[type=radio] {margin-top: 13px;}
.add_teaching_time_td {background-color: #f4f4f4;}
.add_teaching_time_td, .add_teaching_time_td select {color: #666;font-size: 90%;}
.add_teaching_time_td select {width: auto;border:1px solid #666; line-height: 30px;text-align: center;}
.add_teaching_time_td td {padding-left: 15%; height: 25px;line-height: 25px;}
.add_teaching_time {font-size: 90%; height: 30px; line-height: 30px;}
</style>

<script language="javascript">
var _tutor_cate_list = {if:$tutor_cate_list_json}{$tutor_cate_list_json}{else:}new Array(){/if};
</script>

<h5 class="mui-content-padded">发布家教信息</h5>
<div class="mui-content-padded" style="margin:0;">
	<form class="mui-input-group" action="{url:/ucenter/tutor_update}" method="post" enctype='multipart/form-data'>

    <div class="mui-input-row">
      <label>性别</label>
      <input type="radio" name="gender" value="1" id="gender_1" style="float: none;width:auto;" checked/>
      <label style="width: auto;float: none;padding: 0">男</label>&nbsp; &nbsp;
      <input type="radio" name="gender" value="0" id="gender_0" style="float: none;width:auto;" {if:$tutor_info['gender'] == 0}checked{/if}/>
      <label style="width: auto;float: none;padding: 0">女</label>
    </div>

		<div class="mui-input-row">
			<label>年龄</label>
			<input type="text" name="age" value="{$tutor_info['age']}" placeholder="请输入年龄" />岁
		</div>

    <div class="mui-input-row mui-input-row-grade">
      <label>年级</label>
			<select name="grade_level" class="grade_level" pattern="required" alt="请选择年级">
				<option value="">请选择分类</option>
				{foreach:items=$tutor_cate_list}
					<option value="{$item['id']}" {if:$tutor_info['grade_level'] == $item['id']}selected{/if}>{$item['name']}</option>
				{/foreach}
			</select>
    </div>
		<div class="mui-input-row mui-input-row-category">
			<label>分类</label>
			<select name="grade" class="grade" pattern="required" alt="请选择分类">
				{foreach:items=$tutor_cate_list}
					{if:$item['id'] == $tutor_info['grade_level']}
						{foreach:items=$item['child'] item=$it}
							<option value="{$it['id']}" {if:$tutor_info['grade'] == $it['id']}selected{/if}>{$it['name']}</option>
						{/foreach}
					{/if}
				{/foreach}
			</select>
		</div>

    <div class="mui-input-row">
      <label>最近一次考分</label>
      <input type="text" name="lastest_scores" value="{$tutor_info['lastest_scores']}" placeholder="请输入最近一次考分" />
    </div>

		<div class="mui-input-row">
			<label>期望的考分</label>
			<input type="text" name="expected_scores" value="{$tutor_info['expected_scores']}" placeholder="请输入期望的考分" />
		</div>

    <div class="mui-input-row">
      <label>支付的最低报酬</label>
      <input type="text" name="lowest_reward" value="{$tutor_info['lowest_reward']}" placeholder="支付的最低报酬" />
    </div>

    <div class="mui-input-row">
      <label>支付的最高报酬</label>
      <input type="text" name="highest_reward" value="{$tutor_info['highest_reward']}" placeholder="支付的最低报酬" />
    </div>

    <div class="mui-input-row">
      <label>预计补课的课时</label>
      <input name="expected_hours" type="text" value="{$tutor_info['expected_hours']}" />
    </div>

    <div class="mui-input-row">
      <label>接受补课的时间</label>
			<a href="javascript:void(0);" class="add_teaching_time">增加一行</a>
    </div>

		<div class="mui-input-row" style="height: auto;">
			<table border="0" class="add_teaching_time_td" width="96%">
				{foreach:items=$tutor_info['teaching_time'] item=$it}
				<tr>
					<td>
						<select name="time1[]">
							{foreach:items=$teaching_time_arr key=$key}
								<option value="{$key}" {if:$it['time1'] == $key}selected{/if}>{$item}</option>
							{/foreach}
						</select>

						从<select name="time2[]">
							{foreach:items=$teaching_time_arr3 key=$key}
								<option value="{$key}" {if:$it['time2'] == $key}selected{/if}>{$item}</option>
							{/foreach}
						</select>点至
						<select name="time3[]">
							{foreach:items=$teaching_time_arr3 key=$key}
								<option value="{$key}" {if:$it['time3'] == $key}selected{/if}>{$item}</option>
							{/foreach}
						</select>点
						&nbsp; <a href="javascript:void(0);" class="del_teaching_time">删除</a>
					</td>
				</tr>
				{/foreach}
			</table>
		</div>

    <div class="mui-input-row">
      <label>是否提供交通费</label>
      <input type="radio" name="is_provide_transportation_fee" value="1" style="float: none;width:auto;" checked />
      <label style="width: auto;float: none;padding: 0">是</label>&nbsp; &nbsp;
      <input type="radio" name="is_provide_transportation_fee" value="0" style="float: none;width:auto;" {if:$tutor_info['is_provide_transportation_fee'] == 0}checked{/if}/>
      <label style="width: auto;float: none;padding: 0">否</label>
    </div>

    <div class="mui-input-row">
      <label>是否提供就餐</label>
      <input type="radio" name="is_provide_repast" value="1" style="float: none;width:auto;" checked />
      <label style="width: auto;float: none;padding: 0">是</label>&nbsp; &nbsp;
      <input type="radio" name="is_provide_repast" value="0" style="float: none;width:auto;" {if:$tutor_info['is_provide_repast'] == 0}checked{/if}/>
      <label style="width: auto;float: none;padding: 0">否</label>
    </div>

    <div class="mui-input-row mui-input-row-region">
      <label>补课区域</label>
      <input type="text" name="region_id_str" id="region_id_str" value="{$tutor_info['region_name']}" />
    </div>

    <div class="mui-input-row">
      <label>详细地址</label>
      <input type="text" name="address" id="address" value="{$tutor_info['address']}" />
    </div>

		<div class="mui-button-row">
		  <input type="hidden" name="id" value="{$tutor_info['id']}" />
      <input type="hidden" name="expected_hours" id="expected_hours" value="{$tutor_info['expected_hours']}" />
      <input type="hidden" name="region_id" id="region_id" value="{$tutor_info['region_id']}" />
			<button type="submit" class="mui-btn mui-btn-primary"> 保 存 </button>
			<br /><br /><br />
		</div>

	</form>
</div>

<table class="add_teaching_time_html" style="display:none;">
	<tr>
		<td>
			<select name="time1[]">
				{foreach:items=$teaching_time_arr key=$key}
					<option value="{$key}">{$item}</option>
				{/foreach}
			</select>

			从<select name="time2[]">
				{foreach:items=$teaching_time_arr3 key=$key}
					<option value="{$key}">{$item}</option>
				{/foreach}
			</select>点至
			<select name="time3[]">
				{foreach:items=$teaching_time_arr3 key=$key}
					<option value="{$key}">{$item}</option>
				{/foreach}
			</select>点
			&nbsp; <a href="javascript:void(0);" class="del_teaching_time">删除</a>
		</td>
	</tr>
</table>

<script language="javascript">
mui('.mui-input-row-category').on('tap','input', function(e) {
  var picker = new mui.PopPicker();
  picker.setData({$tutor_cate_list_json});
  picker.show(function(rs){
      $('#category_name').val(rs[0].text);
      $('#category_id').val(rs[0].value);
  });
});

// mui('.mui-input-row-grade_level').on('tap','input', function(e){
//   var picker = new mui.PopPicker();
//   picker.setData({$grade_arr_json});
//   picker.show(function(rs){
//       $('#grade_level_str').val(rs[0].text);
//       $('#grade_level').val(rs[0].value);
//   });
// });
//
// mui('.mui-input-row-grade').on('tap','input', function(e){
//   var picker = new mui.PopPicker();
//   picker.setData({$grade_level_arr_json});
//   picker.show(function(rs){
//       $('#grade_str').val(rs[0].text);
//       $('#grade').val(rs[0].value);
//   });
// });

mui('.mui-input-row-expected-hours').on('tap','input', function(e){
  var picker = new mui.PopPicker();
  picker.setData({$teaching_time_json});
  picker.show(function(rs){
      $('#expected_hours_str').val(rs[0].text);
      $('#expected_hours').val(rs[0].value);
  });
});

mui('.mui-input-row-region').on('tap','input', function(e){
  var picker = new mui.PopPicker();
  picker.setData({$region_list_json});
  picker.show(function(rs){
      $('#region_id_str').val(rs[0].text);
      $('#region_id').val(rs[0].value);
  });
});

$(document).ready(function(){
	$(document).on('change', '.grade_level',function(){
		set_category($(this),$(this).val());
	});

	$('.add_teaching_time').click(function(){
		var _html = $('.add_teaching_time_html').html();
		$('.add_teaching_time_td').append(_html);
	})

	$(document).on('click', '.del_teaching_time', function(){
		$(this).parent().parent().remove();
	})
})

function set_category(obj, grade_level, grade, cate_id)
{
	var _grade_html = '';
	var _cate_id_html = '';
	if ( obj && grade_level )
	{
			for( var i in _tutor_cate_list )
			{
				if ( _tutor_cate_list[i]['id'] == grade_level && _tutor_cate_list[i]['child'] )
				{
						for( var j in _tutor_cate_list[i]['child'] )
						{
							var _selected = (grade && _tutor_cate_list[i]['child'][j]['id'] == grade ) ? 'selected' : '';
							_grade_html += "<option value='" + _tutor_cate_list[i]['child'][j]['id'] + "' " + _selected + ">"  + _tutor_cate_list[i]['child'][j]['name'] + "</option>";

							if ( _tutor_cate_list[i]['child'][j]['id'] == grade && _tutor_cate_list[i]['child'][j]['child'])
							{
								for ( var k in _tutor_cate_list[i]['child'][j]['child'] )
								{
									var _selected = (cate_id && _tutor_cate_list[i]['child'][j]['child'][k]['id'] == cate_id ) ? 'selected' : '';
									_cate_id_html += "<option value='" + _tutor_cate_list[i]['child'][j]['child'][k]['id'] + "' " + _selected + ">"  + _tutor_cate_list[i]['child'][j]['child'][k]['name'] + "</option>";
								}

								obj.parent().find('.cate_id').html(_cate_id_html);
								obj.parent().find('.cate_id').show();
							}
						}

						$(".grade").html(_grade_html);
						$(".grade").show();
				}
			}
	}
}
</script>
