<link rel="stylesheet" type="text/css" href="{skin:css/ucenter.css}" />
<h5 class="mui-content-padded">修改交易密码</h5>
<form class="mui-input-group" action="{url:/ucenter/update_trade_password_edit}" method="post" enctype='multipart/form-data' id="passwordForm">
	<div class="mui-input-row">
		<label>交易密码</label>
		<input type="password" placeholder="请输入交易密码" value="" name="password" id="password" />
	</div>
	<div class="mui-input-row">
		<label>确认密码</label>
		<input type="password" placeholder="请确认交易密码" value="" name="repassword" id="repassword" />
	</div>
	<div class="mui-content-padded">
		<input type="hidden" name="order_id" value="{$this->order_id}" />
        <button type="button" id="postpassword" class="mui-btn mui-btn-primary mui-btn-block">确定修改</button>
    </div>
</form> 

<script language="javascript">
$(function(){
    document.getElementById('postpassword').addEventListener('tap', function(){
    	var _password = $('#password').val();
		var _repassword = $('#repassword').val();

		if ( _password == '' ) {
			mui.toast('交易密码不能为空');
			return false;
		} else if ( _repassword == '' ) {
			mui.toast('确认交易密码不能为空');
			return false;
		}else if ( _password != _repassword ) {
			mui.toast('两次输入密码不一致');
			return false;
		}else {
			$('#passwordForm').submit();
			return false;
		}
    });
});
</script>
