{js:artTemplate}
{js:areaSelect}

<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>商户管理</span><span>></span><span>商户属性</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/member/seller_add2}" method="post" name="sellerForm">

			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>

				<tbody>
					<tr>
						<th>商户名称：</th>
						<td>
							<select class="auto selectpicker show-tick form-control" name="seller_id" id="basic" data-live-search="true">
								<option value="">请选择商户</option>
								{query:name=seller where=is_del eq 0 order=id desc}
								<option value="{$item['id']}"{if:$item['id'] == $this->sellerRow['id']} selected{/if}>{$item['true_name']}-{$item['seller_name']}</option>
								{/query}
							</select>
						</td>
					</tr>
					<tr>
						<th>商户真实全称：</th>
						<td><input class="normal" name="true_name" type="text" value="" pattern="required" /></td>
					</tr>
						<tr>
						<th>支付宝服务商</th>
						<td>
							<label class='attr'><input type='radio' name='is_support_zfb' value='0' checked='checked' />不支持</label>
							<label class='attr'><input type='radio' name='is_support_zfb' value='1' />支持</label>
						</td>
					</tr>

					<tr>
						<th>微信服务商</th>
						<td>
							<label class='attr'><input type='radio' name='is_support_wechat' value='0' checked='checked' />不支持</label>
							<label class='attr'><input type='radio' name='is_support_wechat' value='1' />支持</label>
						</td>
					</tr>
					<tr>
						<th>支持股权分配</th>
						<td>
							<label class='attr'><input type='radio' name='is_equity' value='0' checked='checked' />不支持</label>
							<label class='attr'><input type='radio' name='is_equity' value='1' />支持</label>
						</td>
					</tr>
					<tr>
						<th>是否推广人</th>
						<td>
							<label class='attr'><input type='radio' name='is_promotor' value='0' checked='checked' />否</label>
							<label class='attr'><input type='radio' name='is_promotor' value='1' />是</label>
						</td>
					</tr>
					<tr>
						<th>上级推广人：</th>
						<td><input type='text' class='small' name='promo_code' /></td>
					</tr>

					<tr>
						<td></td><td><button class="submit" type="submit"><span>确 定</span></button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script language="javascript">
//DOM加载完毕
$(function()
{
	$('select[name=seller_id]').change(function(){
		var seller_id = $(this).val();
		$.getJSON('{url:/member/get_seller_info}',{seller_id:seller_id},function(res){
			if(res.status == 1){
				var data = res.data;
				$('input[name=true_name]').val(data.true_name);
				$('input[name=promo_code]').val(data.promo_code);
				$('input[name=is_support_zfb][value='+data.is_support_zfb+']').attr('checked','checked').siblings('label').removeAttr('checked');
				$('input[name=is_support_wechat][value='+data.is_support_wechat+']').attr('checked','checked').siblings('label').removeAttr('checked');
				$('input[name=is_equity][value='+data.is_equity+']').attr('checked','checked').siblings('label').removeAttr('checked');
				$('input[name=is_promotor][value='+data.is_promotor+']').attr('checked','checked').siblings('label').removeAttr('checked');
			}
		})
	})

	//修改模式
	{if:$this->sellerRow}
	var formObj = new Form('sellerForm');
	formObj.init({echo:JSON::encode($this->sellerRow)});

	//锁定字段一旦注册无法修改
	if($('[name="id"]').val())
	{
		var lockCols = ['seller_name'];
		for(var index in lockCols)
		{
			$('input:text[name="'+lockCols[index]+'"]').addClass('readonly');
			$('input:text[name="'+lockCols[index]+'"]').attr('readonly',true);
		}
	}
	{/if}

	//地区联动插件
	var areaInstance = new areaSelect('province');
	areaInstance.init({echo:JSON::encode($this->sellerRow)});
});
</script>
