{js:artTemplate}
{js:kindeditor}
{js:my97date}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<script type="text/javascript" src="/plugins/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/plugins/ueditor/ueditor.all.min.js"></script>
<style>
.hide { display: none; }
input.normal, select.normal { height: 30px; }
.form_table { width: 60%; }
#allmap { width: 700px; height: 400px; }
</style>

<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>教师管理</span><span>></span><span>编辑教师</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/member/teacher_save}" method="post" name="teacherForm" enctype='multipart/form-data'>
			<input name="id" value="" type="hidden" />

			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>

				<tbody>
          <tr>
            <th>所属学校：</td>
            <td>
								<select class="auto selectpicker show-tick form-control" name="seller_id" data-live-search="true" pattern="required" alt="请选择所属学校">
                  <option value="">请选择所属学校</option>
                  {foreach:items=$seller_list}
                    <option value="{$item['id']}" {if:$teacher_info['seller_id'] == $item['id']}selected{/if}>{$item['true_name']}</option>
                  {/foreach}
                </select>
            </td>
          </tr>
					<tr>
						<th>教师姓名：</th>
						<td><input class="normal" name="name" type="text" pattern="required" alt="请输入教师姓名" value="{$teacher_info['name']}" /><label>* 教师名称（必填）</label></td>
					</tr>

          <tr>
              <th>性别：</th>
              <td><input type="radio" name="sex" value="1" id="sex_1" {if:!$teacher_info || $teacher_info['sex'] != 2}checked{/if} /><label for="sex_1">男</label>&nbsp; &nbsp; <input type="radio" name="sex" value="2" id="sex_2" {if:$teacher_info['sex'] == 2}checked{/if} /><label for="sex_2">女</label></td>
          </tr>
					<tr>
						<th>手机号码：</th>
						<td><input type="text" class="normal" name="mobile" pattern="mobi" empty alt="请输入正确的手机号码" value="{$teacher_info['mobile']}" /></td>
					</tr>
          <!-- <tr>
            <th>出生年月：</td>
            <td><input type="text" class="normal" name="birth_date" pattern="date" empty alt="请选择出生年月" onFocus="WdatePicker()" value="{$teacher_info['birth_date']}" /></td>
          </tr> -->
          <tr>
            <th>Logo：</th>
            <td>
							<input type='file' name='icon' />
							{if:isset($teacher_info['icon']) && $teacher_info['icon']}
							<p><a target="_blank" href="{webroot:}{$teacher_info['icon']}"><img src='{webroot:}{$teacher_info['icon']}' style='width:100px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
          </tr>
          <tr>
            <th>毕业院校：</th>
            <td><input type="text" class="normal" name="graduate" value="{$teacher_info['graduate']}" /></td>
          </tr>
          <tr>
            <th>学习专业：</th>
            <td><input type="text" class="normal" name="major" value="{$teacher_info['major']}" /></td>
          </tr>
          <!-- <tr>
            <th>授课方向：</th>
            <td><input type="text" class="normal" name="teaching_direction" value="{$teacher_info['teaching_direction']}" /></td>
          </tr>
          <tr class="hide">
            <th>教学经历：</td>
            <td>
                <textarea name="teaching_experience" id="teaching_experience" style="width:600px;height:300px;">{$teacher_info['teaching_experience']}</textarea>
            </td>
          </tr> -->
          <tr>
            <th>教师介绍：</td>
            <td>
                <textarea name="description" id="description" style="width:600px;height:300px;">{$teacher_info['description']}</textarea>
            </td>
          </tr>
          <!-- <tr>
            <th>获奖荣誉：</td>
            <td>
                <textarea name="awards" id="awards" style="width:600px;height:300px;">{$teacher_info['awards']}</textarea>
            </td>
          </tr> -->
					<tr>
						<td></td>
						<td>
              <input type="hidden" name="id" value="{$teacher_info['id']}" />
							<button class="submit" type="submit" ><span>确 定</span></button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script language="javascript">
//DOM加载完毕
$(function(){
	UE.getEditor('description');
	//初始化地域联动
	//template.compile("areaTemplate",areaTemplate);

	//编辑器载入
	/*KindEditor.ready(function(K){
		K.create('#teaching_experience');
    K.create('#description');
    K.create('#awards');
	});*/

});

/**
 * 生成地域js联动下拉框
 * @param name
 * @param parent_id
 * @param select_id
 */
function createAreaSelect(name,parent_id,select_id)
{
	//生成地区
	$.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)
	{
		$('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
	});
}



</script>
