<script type='text/javascript' src='/resource/public/assets/js/amazeui.min.js'></script>
<link href="/resource/public/assets/css/amazeui.min.css" rel="stylesheet" type="text/css" />
<link href="/resource/public/css/style.css" rel="stylesheet" type="text/css" />

<div id="intro" style="background-color:#fff;">
    <div class="intro_top"></div>
    <div class="intro_content">
        <div class="part part_info">
            <div class="part_tit">
                <div class="t_con">
                    <h3>企业<em>简介</em></h3>
                    <p>COMPANY PROFILE</p>
                </div>
            </div>
            <div class="company">
                <div class="company_left"></div>
                <div class="company_right">
                    <p>“第三课”是教育培训资源聚集的”互联网+教育培训”网络平台，具有教育资讯发布、信息交流、教育培训课程展示和文化产品交易的功能，以创新和多元的线上线下活动，为教育培训机构和家长、学生的互动交流创造积极的互动环境，协助合作教育培训机构宣传和招生，帮助家长和学生找到满意的教育培训机构与课程并参与学习。我们的目标是让做教育的人专心做教育，让受教育的人能更方便的受到良好的教育，形成一个教育培训机构、受教育者、教育网络平台三赢的局面。</p>
                    <p>“第一课”来自家庭，古有孟母育子，今有家庭教育，家庭给了孩子在这个世界的第一次学习机会，家庭教育对孩子未来的成长和今后的性格养成起到重要影响。</p>
                    <p>“第二课”来自校园，古有家学私塾，今有菁菁校园，学校教育可以让教育变得具有目的性，计划性，组织性和系统性。确保孩子的教育发展行在主路子上。</p>
                    <p>“第三课”来自社会，三生万物，社会教育提供比家和学校更加多元化的教学理念，更细分的课程设置，更精准的课堂训练，可以让学生学到家庭和课堂中学不到知识和技能，是家庭和课堂之外不可替代的必要补充。</p>
                    <p>“第三课”伴随每个人的成长。幼儿阶段，“第三课”是智慧启蒙，让你茁壮成长！学生年代，“第三课”是升学助力，让你升学无忧！成年时期，“第三课”是素质培养，让你卓尔不群！</p>
                    <p>“第三课”让你的人生与众不同！</p>
                </div>
            </div>
        </div>
        <div class="part part_train">
            <div class="part_tit">
                <div class="t_con">
                    <h3>培训<em>课程</em></h3>
                    <p>TRAINING COURSE</p>
                </div>
            </div>
            <div class="train">
            </div>
        </div>
        <div class="part part_advantage">
            <div class="part_tit">
                <div class="t_con">
                    <h3>平台<em>优势</em></h3>
                    <p>PLATFORM ADVANTAGE</p>
                </div>
            </div>
            <div class="advantage">
                <p>教育信息交流、和教育产品交易</p>
                <p>学校广告宣传和招生平台</p>
                <p>帮助家长和学生找到最合适的学校学习</p>
                <div class="img_advantage"></div>
            </div>
        </div>
        <div class="part part_partner">
            <div class="part_tit">
                <div class="t_con">
                    <h3>合作<em>伙伴</em></h3>
                    <p>COOPERATIVE PARTNER</p>
                </div>
            </div>
            <div class="partner">
                <div data-am-widget="slider" class="am-slider am-slider-default" data-am-slider='{"animation":"slide","animationLoop":true,"itemWidth":167,"itemMargin":34,"slideshow": true,"move":1,"directionNav":false,"controlNav":false,"slideshowSpeed":3000,"pauseOnHover":true}' >
                    <ul class="am-slides">
                        <li>
                            <a href="{url:/site/brand_zone/id/303}" target="_blank">
                                <img src="{rs:}/public/logo/pic_ctl.jpg">
                                <p>春天里艺术学校</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/282}" target="_blank">
                                <img src="{rs:}/public/logo/pic_mt.jpg">
                                <p>梦田艺术教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/241}" target="_blank">
                                <img src="{rs:}/public/logo/pic_ql.jpg">
                                <p>启乐棒球</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/249}" target="_blank">
                                <img src="{rs:}/public/logo/pic_qcjy.jpg">
                                <p>奇创乐高</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/253}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jdjy.jpg">
                                <p>君道教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/338}" target="_blank">
                                <img src="{rs:}/public/logo/pic_yzs.jpg">
                                <p>艺至善</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/317}" target="_blank">
                                <img src="{rs:}/public/logo/pic_aswd.jpg">
                                <p>艾尚舞蹈艺术工作室</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/279}" target="_blank">
                                <img src="{rs:}/public/logo/pic_byjz.jpg">
                                <p>百艺艺术家政</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/222}" target="_blank">
                                <img src="{rs:}/public/logo/pic_cgtqd.jpg">
                                <p>承贵跆拳道</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <img src="{rs:}/public/logo/pic_dfyx.jpg">
                                <p>东方艺校</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/290}" target="_blank">
                                <img src="{rs:}/public/logo/pic_dwjy.jpg">
                                <p>大卫美术教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/226}" target="_blank">
                                <img src="{rs:}/public/logo/pic_ffxn.jpg">
                                <p>非凡新娘</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/233}" target="_blank">
                                <img src="{rs:}/public/logo/pic_hc.jpg">
                                <p>汉成教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/219}" target="_blank">
                                <img src="{rs:}/public/logo/pic_hyptz.jpg">
                                <p>弘宇葡萄籽教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/196}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jht.jpg">
                                <p>金话筒</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/301}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jjg.jpg">
                                <p>杰杰高教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/308}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jjyj.jpg">
                                <p>伽镜瑜伽</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url/site/brand_zone/id/323}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jsyl.jpg">
                                <p>金色雨林</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/230}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jtyzy.jpg">
                                <p>京田幼稚园</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/235}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jypx.jpg">
                                <p>建业培训</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/227}" target="_blank">
                                <img src="{rs:}/public/logo/pic_jytqd.jpg">
                                <p>技艺跆拳道</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/262}" target="_blank">
                                <img src="{rs:}/public/logo/pic_khjy.jpg">
                                <p>科汉教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/314}" target="_blank">
                                <img src="{rs:}/public/logo/pic_klnm.jpg">
                                <p>柠檬c快乐成长教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/229}" target="_blank">
                                <img src="{rs:}/public/logo/pic_klry.jpg">
                                <p>快乐日语</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/252}" target="_blank">
                                <img src="{rs:}/public/logo/pic_ldwd.jpg">
                                <p>灵动舞蹈</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/238}" target="_blank">
                                <img src="{rs:}/public/logo/pic_lmsx.jpg">
                                <p>龙门尚学</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/310}" target="_blank">
                                <img src="{rs:}/public/logo/pic_mjys.jpg">
                                <p>美匠艺术</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/294}" target="_blank">
                                <img src="{rs:}/public/logo/pic_mxjy.jpg">
                                <p>明呈教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/295}" target="_blank">
                                <img src="{rs:}/public/logo/pic_myyy.jpg">
                                <p>魔音现代音乐俱乐部</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/234}" target="_blank">
                                <img src="{rs:}/public/logo/pic_ppys.jpg">
                                <p>蓬皮儿国际创想艺术馆</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/296}" target="_blank">
                                <img src="{rs:}/public/logo/pic_qyss.jpg">
                                <p>青云私塾</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/221}" target="_blank">
                                <img src="{rs:}/public/logo/pic_rb.jpg">
                                <p>润贝成长探索中心</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/309}" target="_blank">
                                <img src="{rs:}/public/logo/pic_sks.jpg">
                                <p>萨克斯之家</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/292}" target="_blank">
                                <img src="{rs:}/public/logo/pic_vv.jpg">
                                <p>薇薇流行舞蹈</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/86}" target="_blank">
                                <img src="{rs:}/public/logo/pic_wt.jpg">
                                <p>湾堂</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/291}" target="_blank">
                                <img src="{rs:}/public/logo/pic_wxsy.jpg">
                                <p>文心书院</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/287}" target="_blank">
                                <img src="{rs:}/public/logo/pic_xwg.jpg">
                                <p>小王国</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/69}" target="_blank">
                                <img src="{rs:}/public/logo/pic_xwl.jpg">
                                <p>新未来（国际）教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/330}" target="_blank">
                                <img src="{rs:}/public/logo/pic_xxlys.jpg">
                                <p>西西里艺术中心</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/85}" target="_blank">
                                <img src="{rs:}/public/logo/pic_xxx.jpg">
                                <p>小新星国际教育</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/68}" target="_blank">
                                <img src="{rs:}/public/logo/pic_yhys.jpg">
                                <p>炎黄艺术培训学校</p>
                            </a>
                        </li>
                        <li>
                            <a href="{url:/site/brand_zone/id/280}" target="_blank">
                                <img src="{rs:}/public/logo/pic_zl.jpg">
                                <p>众乐学堂</p>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>

        <a name="contact_us"></a>
        <div class="part part_contact">
            <div class="part_tit">
                <div class="t_con">
                    <h3>联系<em>我们</em></h3>
                    <p>CONTACT US</p>
                </div>
            </div>
            <div class="contact">
                <div class="map">
                    <div data-am-widget="map" class="am-map am-map-default" data-name="第三课" data-address="湖南省株洲市中心广场大汉希尔顿1栋2601号" data-longitude="" data-latitude="" data-scaleControl="" data-zoomControl="true" data-setZoom="17" data-icon="">
                        <div id="bd-map"></div>
                    </div>

                </div>
                <div class="contact_us">
                    <p class="position"><i class="am-icon-map-marker"></i> 地址：湖南省株洲市中心广场大汉希尔顿1栋2601号</p>
                    <p><i class="am-icon-qq"></i> QQ：2821518520</p>
                    <p><i class="am-icon-envelope "></i> 邮箱：disanke@dsanke.com</p>
                    <p><i class="am-icon-volume-control-phone"></i> 0731-28308258</p>
                    <p><i class="am-icon-weixin"></i> 微信：hnlxsh2017</p>
                    <p><i class="am-icon-bus"></i> 乘车线路：T2路、T18路、T21路、T17路、T48路、T68路、T42路、T28路、T35路、D168路、T40路、67路、T60路到中心广场下车，或乘公交T1路/T5路/T9路到口腔医院下车</p>
                </div>
            </div>
        </div>
    </div>
</div>
