{if:$resultData}

<ul class="display_list clearfix m_10">

	{foreach:items=$resultData}

	<li class="clearfix {echo:search_goods::getListShow(IFilter::act(IReq::get('show_type')))}">

		<div class="pic">

			<a href="{url:/site/products/id/$item[id]}" target="_blank"><img src="{url:/pic/thumb/img/$item[img]/w/175/h/175}"  alt="{$item['name']}" title="{$item['name']}" /></a>

		</div>

		<h3 class="title"><a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}" target="_blank">{$item['name']}</a><span>总报名数：{$item['sale']}<a class="blue" href="{url:/site/comments_list/id/$item[id]}">( {$item['comments']}人评论 )</a></span><span class='grade'><i style='width:{echo:Common::gradeWidth($item['grade'],$item['comments'])}px'></i></span></h3>

		<div class="handle">

			<label class="btn_gray_m"><img src="{skin:images/front/ucenter/shopping.gif}" width="15" height="15" /><input type="button" value="加入课表" onclick="joinCart_list({$item['id']});"></label>

			<label class="btn_gray_m"><img src="{skin:images/front/ucenter/favorites.gif}" width="15" height="14" /><input type="button" value="收藏" onclick="favorite_add_ajax('{url:/simple/favorite_add}','{$item['id']}',this);"></label>

		</div>

		<div class="price">￥{$item['sell_price']}<s>￥{$item['market_price']}</s></div>

	</li>

	{/foreach}

</ul>

{$page_bar}



{else:}

<p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>

	<strong class="gray f14">对不起，没有此课程</strong>

</p>

{/if}

<script language="javascript">
$(document).ready(function(){
	$('.display_list li .pic').hover(function(){
		$(this).addClass('active');	
	}, function(){
		$(this).removeClass('active');	
	});	
});
</script>