<link rel="stylesheet" href="{rs:}/scripts/layer/skin/layer.css"/>
	<link rel="stylesheet" href="{rs:}/public/assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="{rs:}/public/css/seats.css"/>
<script type="text/javascript" src="{rs:}/scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{rs:}/scripts/layer/layer.js"></script>
<script type="text/javascript" src="{rs:}/public/js/jquery.seat-charts.min.js"></script>
	<script type="text/javascript" src="{rs:}/public/assets/js/amazeui.min.js"></script>

<div class="am-container">
	<h1>在线订票系统</h1>
	<div class="am-g">
		<div class="am-u-sm-8">
			<div class="seat_inner">
	   			<div id="seat-map">
					<div class="front">前台</div>					
				</div>
	   		</div>
		</div>
		<div class="am-u-sm-4">
			<div class="booking-details">
				<p>影片：<span class="s_name">{$name}</span></p>
				<p>时间：<span class="s_time">{$time}</span></p>
				<p>座位：</p>
				<ul id="selected-seats"></ul>
				<p>票数：<span id="counter">0</span></p>
				<p>总计：<b>￥<span id="total">0</span></b></p>
				<input type="hidden" name='id' value="{$id}"/>
				<button class="checkout-button" data-ab='1'>确定购买</button>
						
				<div id="legend"></div>
			</div>
		</div>
	</div>

</div>


<div class="test"></div>

<script type="text/javascript">
$(function(){
	var $cart = $('#selected-seats'), //座位区
	$counter = $('#counter'), //票数
	$total = $('#total'); //总计金额
	var sc;
	
	//初始化数据
	initchart({$map},{$grade},{$legend},{$sold});	

	$('.checkout-button').on('click',function(){
		var id = $('input[name=id]').val();		
		var seats = '';
		$('#selected-seats').children('li').each(function(i){
			var seatid = $(this).data('seatid');
			if(i != 0){
				seats += '-';
			}
			seats += seatid;			
		})

		if(seats == ''){
			layer.alert('未选择座位！',{icon:2});
			return false;
		} 
		window.location.href = '{url:/simple/cart2/id/'+id+'/seats/'+seats+'/statement/5/type/goods}';				
	})

})


//计算总金额
function recalculateTotal(sc) {
	var total = 0;
	sc.find('selected').each(function () {
		total += this.data().price;
	});
			
	return total;
}

function initchart(map,grade,legend,sold){	

	var $cart = $('#selected-seats'), //座位区
	$counter = $('#counter'), //票数
	$total = $('#total'); //总计金额

	sc = $('#seat-map').seatCharts({
		map: map,
		seats:grade,
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			}
		},
		legend : { //定义图例
			node : $('#legend'),
			items : legend			
		},
		click: function () { //点击事件
			if (this.status() == 'available') { //可选座
				$('<li>'+(this.settings.row+1)+'排'+this.settings.label+'座<br/>￥<span>'+this.data().price+'</span></li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.attr('data-seatId', this.settings.id)
					.attr('data-level', this.data().category)
					.appendTo($cart);					
				$counter.text(sc.find('selected').length+1);
				$total.text(recalculateTotal(sc)+this.data().price);
							
				return 'selected';
			} else if (this.status() == 'selected') { //已选中
					//更新数量
					$counter.text(sc.find('selected').length-1);
					//更新总计
					$total.text(recalculateTotal(sc)-this.data().price);
						
					//删除已预订座位
					$('#cart-item-'+this.settings.id).remove();
					//可选座
					return 'available';
			} else if (this.status() == 'unavailable') { //已售出
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});
	//已售出的座位
	if(sold != ''){
		sc.get(sold).status('unavailable');
	}
}



</script>

