<link href="{skin:css/tutor.css}" rel="stylesheet" type="text/css" />
<link href="{rs:/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

<div class="w main_cont" style="overflow:hidden;">
    <div class="card_cont">
      <div class="card-body student_info">
        <div class="">
            <h2>基本资料</h2>
            <div>
                <div class="s_left">
                    <img src="{webroot:$tutor_info['head_icon']}" alt="">
                </div>
                <div class="s_right">
                    <span class="name">{$tutor_info['true_name']}</span>
                    <span class="sex">{echo:get_gender_title($tutor_info['gender'])}</span>
                    <span class="kc">需补课程：<strong>{echo:category_class::get_category_title($tutor_info['grade'])}</strong></span>
                </div>
                <div class="cb"></div>
            </div>
            <p>性别：<span>{echo:get_gender_title($tutor_info['gender'])}</span></p>
            <p>年龄：<span>{echo:$tutor_info['age']}岁</span></p>
            <p>补课类目：<span>{echo:category_class::get_category_title($tutor_info['grade_level'])} {echo:category_class::get_category_title($tutor_info['grade'])}</span></p>
            {if:$tutor_info['lastest_scores'] > 0}<p>最近一次考分：<span>{echo:$tutor_info['lastest_scores']}分</span></p>{/if}
            {if:$tutor_info['expected_scores'] > 0}<p>期望的考分：<span>{echo:$tutor_info['expected_scores']}分</span></p>{/if}
            {if:$tutor_info['lowest_reward'] > 0}<p>最低的报酬：<span>{echo:$tutor_info['lowest_reward']}</span>元/时</p>{/if}
            {if:$tutor_info['highest_reward'] > 0}<p>最高的报酬：<span>{echo:$tutor_info['highest_reward']}</span>元/时</p>{/if}
            {if:$tutor_info['expected_hours'] > 0}<p>预计补课的课时：<span>{echo:$tutor_info['expected_hours']}</span>时</p>{/if}
            {if:$tutor_info['teaching_time']}<p>预计补课的时间：<span>每{foreach:items=$tutor_info['teaching_time'] key=$key}{if:!$key}{$teaching_time_arr[$item['time1']]}{else:}、{$teaching_time_arr[$item['time1']]}{/if}{/foreach}</span></p>{/if}
            {if:$tutor_info['is_provide_transportation_fee']}<p>是否提供交通费用：<span>{if:$tutor_info['is_provide_transportation_fee']}是{else:}否{/if}</span></p>{/if}
            {if:$tutor_info['is_provide_repast']}<p>是否提供就餐：<span>{if:$tutor_info['is_provide_repast']}是{else:}否{/if}</span></p>{/if}
            <p>地址：<span>{echo:area::getName($tutor_info['region_id'])} {$tutor_info['address']} {$tutor_info['address2']}</span></p>
            {if:$tutor_info['test_reward']}
            <p><b style="color:red;">奖励机制</b>：<span>
                    <table width="500" class="border_table" style="margin-left: 130px;">
                      <tr>
                        <td></td>
                        <td>关键考试时间</td>
                        <td>关键考试类型</td>
                        <td>关键考试的分数</td>
                        <td>关键考试的奖励金额</td>
                      </tr>

                      {foreach:items=$tutor_info['test_reward']}
                      <tr>
                        <td>{$i}</td>
                        <td>{$item['test_time']}</td>
                        <td>{$item['test_type']}</td>
                        <td>{$item['test_condition']}分</td>
                        <td>{$item['test_money']}</td>
                      </tr>
                      {set:$i++}
                      {/foreach}
                    </table>

            </span></p>
            {/if}
        </div>
      </div>
    </div>

    <div class="card_sidebar">
        <div class="card_sidebar">

          <div class="tutor_menu" style="width: 334px;">
              <a href="{url:/site/tutor}">我是学生</a>
              <a href="{url:/site/user_tutor_list}" class="active">我是家教</a>
          </div>

          <div class="sidebar_box order_submit">
              <input type="button" class="btn-zx" value="我要试讲">

          </div>

            <div class="sidebar_box">
                <h3 class="tab-nav-default"><i class="icon-user"></i> 推荐教师</h3>

                <div class="t_list_sbox">
                    <ul>
                      {foreach:items=$intro_tutor_seller_list}
                      <li><a href="{url:/site/tutor_info/id/$item['id']}" class="t_simg"><img src="{webroot:$item['logo']}"></a>
                          <div class="fl"><a href="{url:/site/tutor_info/id/$item['id']}" class="t_sname">{$item['true_name']}</a><span>教龄：{$item['experience']}年</span>
                              <p>{echo:tutor_class::get_tutor_category_title($item['seller_tutor_list'][0])}</p>
                          </div>
                      </li>
                      {/foreach}
                    </ul>
                </div>

            </div>
    </div>
    <div class="cb"></div>
  </div>

<script language="javascript">
$(document).ready(function() {

    //试讲
    $('.btn-zx').click(function(){
        location.href = '/seller2/cart2/id/{$id}';
    })
});

</script>
