<?php

$seller_id = IFilter::act(IReq::get('id'),'int');
$page = IFilter::act(IReq::get('page'),'int');
$page = max($page, 1);
$page_size = 10;
$sellerRow = Api::run('getSellerInfo',$seller_id);
$user_id = $this->user['user_id'];
$member_info = array();
$resultData = search_goods::get_special_seller_goods_list($seller_id, $page, $page_size);
$page_info = $resultData['page_info'];
$page_count = $resultData['page_count'];
$list = $resultData['list'];
if ( $user_id )
    $member_info = member_class::get_member_info($user_id);

if ( !$sellerRow['is_system_seller'] )
{
    header("location: " . IUrl::creatUrl('/school/home/id/' . $seller_id));
    exit();
}

if(!$sellerRow)
{
    IError::show(403,'信息不存在');
}

$this->title = $sellerRow['true_name'];
$time = time();

?>
<link href="{skin:css/mlmm.css}" rel="stylesheet" type="text/css" />
<script language="javascript">
var _page_count = {$page_count};
var _curr_page = {$page};
var _page_size = {$page_size};
var _loading = false;
var _ajax_data_url = 'http://{echo:get_host()}{url:/school/get_special_seller_goods_list_ajax}';
</script>
<div class="free_class_content">
  <div class="free_class_hd">
    <img src="{skin:images/mlmm_img_1.jpg}" />
  </div>
  <div class="free_class_bd">
    <div class="free_class_search">
      <input type="text" name="key" placeholder="请输入选手的名称/编号" /><input type="button" name="btn" value="搜索">
    </div>
    {if:$list}
    <ul class="mlmm_content">
      {foreach:items=$list}
      <li>
        <div class="class_image">
          <a href="{url:/site/products3/id/$item['id']}"><img src="{webroot:$item[img]}" /></a>
        </div>
        <div class="class_action">
          <div class='t-left'>姓名：{$item['name']}</div>
          <div class='t-right'>排名：{echo:discussion_class::get_vote_range($item['id'])}</div>
        </div>
        <div class="class_action">
          <div class='t-left'>编号：{$item['sort']}</div>
          <div class='t-right'>票数：{echo:discussion_class::get_vote_count($item['id'])}</div>
        </div>
      </li>
      {/foreach}
    </ul>
    <div id="cc"></div>
    {/if}
  </div>
</div>

<script language="javascript">
$(document).ready(function(){
  $('.mui-title').html('{$this->title}');

  $('.free_class_search input[name=btn]').click(function(){
    var key = $("input[name=key]").val();
    if ( key == '请输入选手的名称/编号' || key == '')
    {
      layer.alert('请输入选手的名称/编号');
    } else {
      window.location.href =  'http://{echo:get_host()}/school/search_mlmm/id/{$seller_id}/search_mlmm?key=' + key;
    }
  })
})

var loadi;
$(window).scroll(function(){
	var a = $(window).scrollTop();
	var load_position = $('#cc').offset().top;
	if( a + $(window).height() > load_position -10 && _loading == false && _curr_page < _page_count )
	{
		_loading = true;
		_curr_page = _curr_page + 1;
		$.get( _ajax_data_url, {page: _curr_page,id:{$seller_id}}, function( result ){
			$('.mlmm_content').append( result );
			$('#cc').html('');
			_loading = false;
		});
	}
});
</script>
