<!-- Top Navigation -->
<link href="{skin:css/dsanke.css}" rel="stylesheet" type="text/css" />
 <div class="bd">
            <ul>
							{if:!$ad_list}
	            <li>
	            	<div class="pic"><img src="/upload/2017/04/19/20170419152200862.jpg" /></div>
	            </li>
							{else:}
							{foreach:items=$ad_list}
							<li>
	            	<div class="pic"><img src="/upload/2017/04/19/20170419152200862.jpg" /></div>
	            </li>
							{/foreach}
							{/if}
            </ul>
          </div>

  <div class="freeclassbd">
 	    <ul>
      <li>
      	<a href="/site/products/id/1755"><img src="/upload/2017/05/15/20170515044406223.png" /></a>
        <div class="classaction">
              <p class="tt">第三课试听课服务</p>
              <p class="detail">为教育培训机构降低前期营销成本，解决招生难的问题</p>
		</div>
      </li>
    </ul>
    <ul>
      <li>
      	<a href="/site/products/id/857"><img src="/upload/2017/04/18/20170418002521178.jpg" /></a>
        <div class="classaction">
              <p class="tt">户外广告众筹</p>
              <p class="detail">第三课合作伙伴户外广告众筹计划，让您一块广告牌的付出，获得十块广告牌的宣传效果！</p>
		</div>
      </li>
    </ul>
    <ul>
      <li>
      	<a href="/site/products/id/864"><img src="/upload/image/20170423/1492913343823443.png" /></a>
        <div class="classaction">
              <p class="tt">教育培训嘉年华</p>
              <p class="detail">展位和大舞台的展示时间先到先得，示时间内各参展单位可根据自身情况安排演出及活动内容</p>
		</div>
      </li>
    </ul>
	    <ul>
      <li>
      	<a href="/site/products/id/1815"><img src="/upload/2017/05/17/20170517094051131.jpg" /></a>
        <div class="classaction">
              <p class="tt">美的时代广场二周年庆典</p>
              <p class="detail">为期8天大型欢乐嘉年华，预计30万人流</p>
		</div>
      </li>
    </ul>
  </div>
</div>



