<?php    $site_config=new Config('site_config');	$dcommission = $site_config->dcommission;?>
<link rel="stylesheet" href="{skin:css/product.css}">
<link rel="stylesheet" href="{skin:css/home.css}">
<link rel="stylesheet" href="{rs:/scripts/swiper/swiper.min.css}">
<link rel="stylesheet" href="{theme:javascript/mui/css/mui.picker.min.css}">
<script type="text/javascript" charset="UTF-8" src="/runtime/_systemjs/artTemplate/artTemplate.js"></script>
<script type="text/javascript" charset="UTF-8" src="/runtime/_systemjs/artTemplate/artTemplate-plugin.js"></script>
<script type='text/javascript' src="{rs:/scripts/swiper/swiper.min.js}"></script>
<script type='text/javascript' src="{rs:/scripts/layer_mobile/layer.js}"></script>
<script type='text/javascript' src="{theme:javascript/mui/js/mui.picker.min.js}"></script>
<script type="text/javascript" src="{theme:javascript/openqq.js}"></script>
<script type="text/javascript">
	var _goods_list = {$seller_info['goods_list_json']};
	var _goods_id = 0;
	var _spec_id = 0;
	var _action = '';
	var _seller_id = {$seller_info['id']};
</script>
<input type='hidden' id='product_id' alt='课程ID' value='' />
<div class="shop-nav-bot{if:$seller_info['is_authentication'] == 1}{if:$discount <= 0} cxd-1{/if}{else:} cxd-2{/if}">
		{if:$seller_info['is_authentication'] == 1}
			<a{if:$seller_info['nextid']} href="{url:/school/home/id/$seller_info['nextid']}"{else:} href="javascript:;" onclick="alert('没有其他学校')"{/if} class="shopbtn" {if:$chit_list}style="width:50%;"{/if}>下一学校</a>
			{if:!$chit_list}<a href="javascript: void(0);" onclick="joinCart();" class="add-shop" id="joinCarButton">加入课表</a>{/if}
			<a href="javascript: void(0);" onclick="buy_now();" class="buy-btn" id="buyNowButton" {if:$chit_list}style="width:50%;"{/if}>立即报名</a>
		{else:}
		<a href="javascript:;" class="shopbtn">学校未认证</a>
		{/if}
</div>
<div class="swiper-container">
	<div class="swiper-wrapper">
		{if:$seller_info['photo']}
  		{foreach:items = $seller_info['photo']}
  		<div class="swiper-slide">
  			<img width="100%" src="{webroot:$item}" />
  		</div>
  		{/foreach}
		{/if}
	</div>
	<div class="swiper-pagination"></div>
</div>
<div class="shop_name">{$seller_info['shortname']}</div>
<div class="mui-content-padded">
	<h5>{$name}</h5>
	<div class="pro-price goodsprice" {if:$seller_info['price_level'] == '0'}style="display:none;"{/if}>
		{if:$promo == ''}
		&yen;<i>{$seller_info['price_level']}</i>
		{else:}
		&yen;{if:$minSellPrice != $maxSellPrice}{$minSellPrice} - {$maxSellPrice}{else:}{$sell_price}{/if}
		{/if}
		{if:$promo == 'time'}
			{if:isset($promotion) && $promotion}
			{set:$item=Api::run('getPromotionRowById',array('#id#',$active_id))}
			{set:$free_time = ITime::getDiffSec($item['end_time']);}
			<div class="pro-discount">抢购价：<span>&yen;{$promotion['award_value']}</span></br> <p id="rtime" endtime="{$item['end_time']}"><i>距离抢购结束还有</i><i class="discount-time">{echo:floor($free_time/3600);}</i>时<i class="discount-time">{echo:floor(($free_time%3600)/60);}</i>分<i class="discount-time">{echo:$free_time%60;}</i>秒</p>
			{/if}
			<script type="text/javascript">var promo = 'time';getRTime();</script>
		{/if}
		{if:$promo == 'groupon'}
			{if:isset($regiment) && $regiment}
			{set:$item=Api::run('getRegimentRowById',array('#id#',$active_id))}
			{set:$free_time = ITime::getDiffSec($item['end_time']);}
			<div class="pro-discount">团购价：<span>&yen;{$regiment['regiment_price']}</span></br> <p id="rtime" endtime="{$item['end_time']}"><i>距离团购结束还有</i><i class="discount-time">{echo:floor($free_time/3600);}</i>时<i class="discount-time">{echo:floor(($free_time%3600)/60);}</i>分<i class="discount-time">{echo:$free_time%60;}</i>秒</p>
			{/if}
			<script type="text/javascript">var promo = 'groupon';getRTime();</script>
		{/if}
	</div>
</div>

{if:$statement == 2 && $max_cprice >= $this->min_cprice && $max_order_chit > $this->min_order_chit && !$promo && !$active_id}
<div class="mui-content-padded">
	<div class="card clearfix" id="data_dprice" onclick="buy_now_ding('{$statement}');">
		<span>优惠</span>
		<div class="cardbox">
			<p class="card-info-1">购券<em class="buy">￥{$max_cprice}</em> 可抵扣<em class="chit">￥{$max_order_chit}</em></p>
		</div>
		<i class="icon-chevron-right"></i>
	</div>
</div>
{/if}

<div class="mui-content-padded">
		{if:$seller_info['goods_list']}
			<ul class="spec_list clearfix" id="spec_list_mao">
				<li name="specCols">
					{foreach:items=$seller_info['goods_list']}
						<a href="javascript:void(0);" onclick="sele_goods(this);" _id={$item['id']}>
							{$item['name']}
						</a>
					{/foreach}
				</li>
			</ul>
		{/if}

    <p class="spec_list_row">
      属性：<div class="specs"></div>
    </p>

		<p class="numberbox clearfix">
			<span>人数：</span>
			<a class="reduce" onclick="setAmount.reduce('#qty_item_1')" href="javascript:void(0)">
			-</a>
			<input type="text" name="qty_item_1" value="1" id="qty_item_1" onkeyup="setAmount.modify('#qty_item_1')" class="text">
			<a class="add" onclick="setAmount.add('#qty_item_1')" href="javascript:void(0)">
			+</a>
			人
		</p>
		<p class="selected_spec"><span></span></p>
</div>

{if:$seller_stk_list}
	<div class="mui-content-padded">
		<p style="color:#5a0000;font-size:13px;">试听课：{$seller_stk_list['relative_goods_name']}，<a href="javascript:void(0);" onclick="location.href = '{url:/site/products/id/$seller_stk_list['relative_goods_id']}'" style="color:#f5f5f5;background-color:#ff7733;border-radius:3px;margin-left: 8px;padding: 0 8px;">报名试听课</a></p>
	</div>
{/if}

<div class="mui-content-padded" style="padding: 10px 0;">


  <div class="desc_content">
    <div class="module">

      <div class="module_bd">

        <div class="shop_info">
          <div class="shop_info_list">
            <ul>
              <li class="times_list">上课时间：<br />
                {foreach:items=$attrArr}
                <div>{$item}</div>
                {/foreach}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="module">
      <div class="module_hd module_hd2">
          课程介绍
      </div>
      <div class="module_bd module_bd2">
        {if:$seller_info['brand_info']['class_desc_img']}
        <div class="class_desc_img">
          {foreach:items=$seller_info['brand_info']['class_desc_img']}
            <img src="{webroot:$item}" />
          {/foreach}
        </div>
        {/if}
        <div class="class_list">
          <div class="class_list_hd">
            <img src="{skin:images/class_list_top_bg.png}" />
          </div>
          <div class="class_list_bd">
            <table cellspacing="0">
              <tr>
                <th width="30%">课程</th>
                <th>简介</th>
              </tr>
              {foreach:items=$seller_info['goods_list']}
              <tr>
                <td>{$item['name']}</td>
                <td>{$item['goods_brief']}</td>
              </tr>
              {/foreach}
            </table>
          </div>
        </div>
        {if:$seller_info['brand_info']['shop_desc_img'][1]}
        <div class="shop_desc">
            <img src="{webroot:$seller_info['brand_info']['shop_desc_img'][1]}" />
        </div>
        {/if}
        <div class="content">
          {$seller_info['content']}
        </div>
        <div class="class_list_desc">
          <div class="class_list_desc_hd">
            <img src="{skin:images/class_list_desc.jpg}" />
          </div>
          {if:$seller_info['goods_list']}
            {set:$index = 1}
            {foreach:items=$seller_info['goods_list']}
              <div class="class_list_desc_bd class_list_style_{$index}">
                <div class="class_title">
                  {$item['name']}<span>{$item['class_target']}</span>
                </div>
                <div class="clear"></div>
                {if:$item['content']}
                <div class="class_description">
                  {$item['content']}
                </div>
                {/if}

                {if:$item['class_details']}
                <div class="class_description_list">
                  <ul>
                    {foreach:items=$item['class_details'] item=$it}
                    {set:$i++;}
                    {set:$j = $i % 4;}
                    <li class="{if:$j == 1 || $j == 0}t1{else:}t2{/if}">
                        <div class="desc_image"><!-- <img src="{skin:images/class_description_$j.png}" /> --></div>
                        <div class="desc_str">
                          {$it}
                        </div>
                    </li>
                    {/foreach}
                  </ul>
                </div>
                {/if}
              </div>
              {if:$index == 9}
                {set:$index = 1}
              {else:}
                {set:$index++}
              {/if}
            {/foreach}
          {/if}
        </div>
      </div>
    </div>

    {if:$seller_info['teacher_list']}
    <div class="module">
      <div class="module_hd module_hd3">
        名师介绍
      </div>
      <div class="module_bd">
        <div class="teacher_list">
          <ul>
            {foreach:items=$seller_info['teacher_list']}
            <li>
              <div class="teacher_logo">
                <img src="{webroot:$item['icon']}" onerror="javascript:this.src='/views/default/skin/default/images/avatar.jpg';" />
              </div>
              <div class="teacher_desc">
								<div style="font-size:16px;font-weight:600;">{$item['name']}</div>
                <p>{$item['description']}</p>
              </div>
            </li>
            {/if}
          </ul>
        </div>
      </div>
    </div>
    {/if}

    {if:$seller_info['album']}
    <div class="module">
      <div class="module_hd module_hd4">
        学校展示
      </div>
      <div class="module_bd">
        <div class="shop_image_list">
          <ul>
            {foreach:items=$seller_info['album']}
              <li><img src="{webroot:$item}" /></li>
            {/foreach}
          </ul>
        </div>
      </div>
    </div>
    {/if}

	<div class="module">
    <div class="module_hd">
        商家位置
    </div>
  </div>
	{if:$seller_info['address']}
	 <div class="shop_map">
	   <div id="container"></div>
	   </div>
	{/if}
	<div class="font">
	<li>地址：{echo:join(' ',area::name($seller_info['province'],$seller_info['city'],$seller_info['area']))} {$seller_info['address']}</li>
  </div>
 </div>
</div>

<div class="pop_content">
	<div class="pop_contents">
        <div class="goods_info">
            <div class="goods_image">
                <img src="{webroot:$seller_info['photo'][0]}" />
            </div>
            <div class="goods_price">
	            <i>{$seller_info['price_level']}</i><br />
                交易：{$seller_info['sale']}<br />
                评价：{$seller_info['comments']}<br />
            </div>
        </div>
        <div class="goods_list">
        	<div class="hd">课程类型:</div>
            <div class="bd">
                {foreach:items=$seller_info['goods_list']}
                    <a href="javascript:void(0);" onclick="sele_goods(this);" _id={$item['id']}>
                        {$item['name']}
                    </a>
                {/foreach}
            </div>
        </div>
        <div class="spec_list">
        	<div class="hd">课程属性:</div>
            <div class="bd"><br  /></div>
        </div>
        <div class="input_num">
            <p class="numberbox clearfix">
                <span>人数：</span>
                <a class="reduce" onclick="setAmount.reduce('#qty_item_1')" href="javascript:void(0)">
                -</a>
                <input type="text" name="qty_item_2" value="1" id="qty_item_2" onkeyup="setAmount.modify('#qty_item_1')" class="text">
                <a class="add" onclick="setAmount.add('#qty_item_1')" href="javascript:void(0)">
                +</a>
                人
            </p>
        </div>
        <div class="pay_btn">
        	<input type="button" value="确定" onclick="save();" />
        </div>
    </div>
</div>

<!-- 弹窗 -->
<div class="quan" style="display:none;">
  <div class="quan_inner">
    <div class="card_left">
      <input type="hidden" class="prop" name="prop" {if:$chit_list}id="{$seller_info['id']}"{/if} />
      <p class="full">满<span>{$ticket['amount']}</span>元可用</p>
      <p class="tochit"><em>￥</em><span>{$ticket['prop']}</span></p>
    </div>
    <div class="card_right">
      <p class="totip"><em>通用券</em><span class="tobuy"><span>{$ticket['prop']}</span>元抢券</span></p>
      <p class="tospec limittime">有效期至 <span>2023-03-29</span></p>
      <p class="tospec chit_info">满{$ticket['amount']}可用，限新学员在指定商家使用，线下线上通用，与其他优惠叠加</p>
      <a class="buycard" onclick="buy_now_ding_card('90', '25')">点击购买</a>
    </div>
  </div>
</div>

<script type='text/html' id='spec_list_template'>
	<a href="javascript:void(0);" onclick="sele_spec(this)" _spec="<%=id%>">
		<%if(cusval != ''){%><%=cusval%><%}%> <%if(classnum){%><%=classnum%>课时<%}%> <%if(month){%><%=month%>个月<%}%>
	</a>
</script>

{if:$seller_info['address']}
<script type="text/javascript">
var _shop_address = "{echo:join('',area::name($seller_info['province'],$seller_info['city'],$seller_info['area']))}{$seller_info['address']}";
</script>
<script src="http://webapi.amap.com/maps?v=1.3&key=2cd83299402829a3177894489a4cf556" type="text/javascript"></script>
<script type='text/javascript' src="/views/default/javascript/school_show_map.js"></script>
{/if}
<script type='text/javascript' src="{theme:javascript/home.js}"></script>
