<link href="{skin:school/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{skin:school/css/lightbox.css}" type="text/css" media="all" />
<link href="{skin:school/css/style.css}" rel="stylesheet" type="text/css"/>
<script src="{skin:school/js/bootstrap.js}"></script>
<script type="text/javascript" src="{skin:school/js/easing.js}"></script>
<script type="text/javascript" src="{skin:school/js/responsiveslides.min.js}"></script>
<script type="text/javascript" src="{skin:school/js/TouchSlide.1.1.js}"></script>
<div class="header" id="home">
	<div class="container">
		<div class="navigation">
				<span class="menu"><img src="{skin:school/images/menu.png}" alt=""/></span>
				<div class="clearfix"> </div>
				<a href="/index.php" class="index_logo">
					<img src="/views/default/skin/default/school/images/logo.png" alt="" title="" style="">
				</a>
				<ul class="nav1">
					<li><a href=" ">专题首页</a></li>
					<li><a class="" href="#school_desc">专题介绍</a></li>
					{if:$brand_attr_list}
						{foreach:items=$brand_attr_list key=$kk}
							<li><a class="" href="#module_{$kk}">{$item['navtitle']}</a></li>
						{/foreach}
					{/if}
					{if:$goods_list}<li><a class="" href="#school_classes">专题活动</a></li>{/if}
					{if:$teacher_list}<li><a class="" href="#school_teachers">教师资质</a></li>{/if}
					<li><a class="" href="#contact_us">联系我们</a></li>
				</ul>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="header-banner">
	<!-- Top Navigation -->
		<div class="slider">
				   <div class="callbacks_container" id="slideCell">
						 <div class="hd">
             	<ul>
								{if:!$ad_list}
								<li></li>
								<li></li>
								<li></li>
								<li></li>
								{else:}
								{foreach:items=$ad_list}
								<li></li>
								{/foreach}
								{/if}
							</ul>
						</div>
            <div class="bd">
            <ul>
							{if:!$ad_list}
	            <li>
	            	<div class="pic"><img src="/views/default/skin/default/school/images/slide_1.jpg" /></div>
	            </li>
	            <li>
	            	<div class="pic"><img src="/views/default/skin/default/school/images/slide_2.jpg" /></div>
	            </li>
	            <li>
	            	<div class="pic"><img src="/views/default/skin/default/school/images/slide_3.jpg" /></div>
	            </li>
	            <li>
	            	<div class="pic"><img src="/views/default/skin/default/school/images/slide_4.jpg" /></div>
	            </li>
							{else:}
							{foreach:items=$ad_list}
							<li>
	            	<div class="pic"><img src="{webroot:$item['content']}" /></div>
	            </li>
							{/foreach}
							{/if}
            </ul>
          </div>
				</div>
		</div>
		<script type="text/javascript">
					TouchSlide({slideCell:"#slideCell",mainCell:".bd ul",titCell:".hd li",effect:"leftLoop",autoPlay:true, delayTime:500,titOnClassName:'on'});
		</script>
</div>
{if:$seller_chits}
{foreach:$items=$seller_chits item=$chit}
<div class="card-list-box">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell mui-media">
            <div class="mui-media-object mui-pull-left" id="{$chit['id']}">
                <p class="tochit"><em>￥</em>{$chit['max_order_chit']}</p>
                <p class="tobuy">购券{$chit['max_price']}可抵扣</p>
            </div>
            <div class="mui-media-body">
                <p><em class="totip">通用券</em>{if:$chit['type'] == 2}<em class="totip totip-1">免费赠送</em>{/if}<span class="mui-seller">{$this->seller['true_name']}</span></p>
                <p class="tospec">
                    {if:$chit['limittime']}有效期至 {echo:date('Y-m-d', $chit['limittime']);}{else:}无限制时间{/if}
                </p>
                <p class="tospec">
                	{if:$chit['limitinfo']}
                	{$chit['limitinfo']}
                	{else:}
                    {if:$chit['limitnum']}每人限购{$chit['limitnum']}张{else:}无限制数量{/if}
                	{/if}
                </p>
                <a class="buycard" onclick="buy_now_ding_card('{$chit['id']}', '{$chit['max_price']}')">{if:$chit['type'] == 2}点击领券{else:}点击购买{/if}</a>
            </div>
        </li>
    </ul>
</div>
{/foreach}
{/if}
<script type="text/javascript">
function imageResize(obj, width, height){
	width = width == '' ? $(obj).parent().width(): width;
	var heights = [];
	$('.imgbrand').each(function(){
		heights.push($(this).height());
	});
	var minHeight = Math.min.apply(null, heights);
	height = height == '' ? minHeight : height;
	$('.imgbrand').css('height', height);
    var hRatio;
    var wRatio;
    var Ratio = 1;
    var w = $(obj).width();
    var h = $(obj).height();
    var t = width / height;
    wRatio = width / w;
    hRatio = height / h;
    if (width ==0 && height==0){
        Ratio = 1;
    }else if (width==0){
        if (hRatio<1) Ratio = hRatio;
    }else if (height==0){
        if (wRatio<1) Ratio = wRatio;
    }else if (wRatio<1 || hRatio<1){
        Ratio = (wRatio<=hRatio?wRatio:hRatio);
    }
    if (Ratio<1){
        w = w * Ratio;
        h = h * Ratio;
    }
    if(h < height && w < width){
        $(obj).height(Math.round(w));
        $(obj).width(Math.round(h));
        $(obj).css('margin-left', Math.round((width - $(obj).width()) / 2));
        $(obj).css('margin-top', Math.round((height - $(obj).height()) / 2));
    }
    if(h < height){
        if($(obj).width() >= width){
            $(obj).height(Math.round(height));
            $(obj).css('margin-left', Math.round((width - $(obj).width()) / 2));
        }
    }
    if(w < width){
        if($(obj).height() >= height){
            $(obj).width(Math.round(width));
            $(obj).css('margin-top', Math.round((height - $(obj).height()) / 2));
        }
    }
    if(h >= height && w >= width){
        $(obj).height(Math.round(h));
        $(obj).width(Math.round(w));
        $(obj).css('margin-left', Math.round((width - $(obj).width()) / 2));
        $(obj).css('margin-top', Math.round((height - $(obj).height()) / 2));
    }
}
</script>
<a name="school_desc"></a>
		<div class="container">
				<style type="text/css">
				.imgbrand{ margin-bottom: 20px;overflow: hidden;}
				.brief{ color: #999; line-height: 24px;padding: 0 5px; }
				</style>
				<!-- <div class="about-bottom"> -->
					<!-- <div class="about-left"> -->
						<!-- <h4>{$this->seller['true_name']}</h4> -->
						<!-- <div class="brief">{$seller_info['content']}</div> -->
					<!-- </div> -->
					<!-- <div class="clearfix"> </div> -->
				<!-- </div> -->
				{if:$seller_info['brandimg']}
				{foreach:$items=$seller_info['brandimg']}
				<div class="imgbrand"><img width="100%" src="/{$item['imgurl']}" /></div>
				{/foreach}
				{/if}
		</div>
{if:$brand_attr_list}
	{foreach:items=$brand_attr_list key=$key}
		<a name="module_{$key}"></a>
		<div class="classList">
			<div class="containe">
				<span class="biaoti">{$item['navtitle']}</span>
					{foreach:items=$item['img'] item=$val key=$kk}
					{set: $count = sizeof( $val );}
					<?php
						if ( $count == 3)
							$width = 342;
						else if ( $count == 2 )
							$width = 513;
						else
							$width = 377;
					?>
						<ul class="classBo clearfix">
								{foreach:items=$val item=$vv key=$k}
								<li class="classCon0{$count} clearfix">
									<a href="javascript:;" class="classList-img"><img src="{url:/pic/thumb/img/$vv/w/$width/h/$width}" alt="{$val['name']}" class=""></a>
									<div class="classDe clearfix">
										<h4>{$item['imgtitle'][$kk][$k]}</h4>
										<p class="f12 c9">{$item['imgbrief'][$kk][$k]}</p>
									</div>
								</li>
								{/foreach}
							</ul>
					{/foreach}
			</div>
		</div>
	{/foreach}
{/if}
{if:$goods_list}
<a name="school_classes"></a>
<div class="classList">
	<div class="containe">
		<span class="biaoti">课程介绍</span>
			{foreach:items=$goods_list}
			{set: $count = sizeof( $item );}
			<?php
				if ( $count == 3)
					$width = 342;
				else if ( $count == 2 )
					$width = 513;
				else
					$width = 377;
			?>
				<ul class="classBox clearfix">
						{foreach:items=$item item=$val}
						<li class="classCon0{$count} clearfix">
							<a href="{url:/site/products/id/$val['id']}" class="classList-img"><img src="{url:/pic/thumb/img/$val[img]/w/$width/h/$width}"></a>
							<div class="classDet clearfix">
								<h4>{$val['name']}</h4>
								<p class="f12 c9">{echo:strip_tags($val['content'])}</p>
								<h2 class="jiage">价格：<span class="jiage">{if:$val['minprice'] != $val['maxprice']}{$val['minprice']}元 - {$val['maxprice']}元{else:}{$val['sell_price']}元{/if}</span></h2>
								<a href="javascript:;" class="btn-green" title="{$val['name']}" onclick="buy_now('{$val['id']}', '{$val['minprice']}', '{$val['maxprice']}')">立即购买</a>
							</div>
						</li>
						{/foreach}
					</ul>
			{/foreach}
	</div>
</div>
<input type="hidden" name="product_id" id="product_id" />
<div class="product-bg"></div>
<div class="product-box">
	<div class="box" id="attrbox">
	</div>
	<a class="gobuy" href="javascript:;">确认提交</a>
</div>
<script type="text/javascript">
function buy_now(id, minprice, maxprice){
	if(minprice != maxprice){
		mui.getJSON('{url:/school/product/goods_id}/' + id + '/id/{$this->seller_id}', {}, function(json){
			var products = json.products;
			var html = '<div class="thumb"><img src="{webroot:' + json.img + '}" width="60" height="60" /></div>';
			html += '<div class="info" id="market_price">' + json.minprice + ' - ' + json.maxprice + '元</div>';
			html += '<h5>课程属性</h5>';
			html += '<div class="attrbox">';
			for(var i in products){
				var spec = '';
				if(products[i].cusval){
					spec += products[i].cusval;
					if(products[i].classnum){
						spec += '/';
					}
				}
				if(products[i].classnum){
					spec += products[i].classnum + '课时';
					if(products[i].month){
						spec += '/';
					}
				}
				if(products[i].month){
					spec += products[i].month + '个月';
				}
				html += '<a href="javascript:;" class="childer" data-id="' + products[i].id + '">' + spec + '</a>';
			}
			html += '</div>';
			$('#attrbox').html(html);
			$('.childer').each(function(){
				$(this).click(function(){
					$(this).siblings().removeClass('active');
					$(this).addClass('active');
					var productid = $(this).attr('data-id');
					mui.getJSON('{url:/school/getproduct/goods_id}/' + id + '/id/{$this->seller_id}/productid/' + productid, {}, function(json){
						$('#product_id').val(productid);
						$('#market_price').html(json.market_price + '元');
					});
				});
			});
		});
		$('.product-bg').show();
		$('.product-box').animate({bottom: 0}, 300);
		mui(document.body).on('tap', '.product-bg', function(){
			$('.product-box').animate({bottom: '-100%'}, 300);
			$('.product-bg').hide();
		});
		mui(document.body).on('tap', '.product-close', function(){
			$('.product-box').animate({bottom: '-100%'}, 300);
			$('.product-bg').hide();
		});
		mui(document.body).on('tap', '.gobuy', function(){
			if($('#product_id').val() == ''){
				mui.toast('请选择属性');
				return false;
			}
			var buyNums  = 1;
			var type = 'goods';
			if($('#product_id').val())
			{
				id = $('#product_id').val();
				type = 'product';
			}
			var url = SITE_URL + '{url:/simple/cart2/id/@id@/num/@buyNums@/type/@type@}';
			url = url.replace('@id@',id).replace('@buyNums@',buyNums).replace('@type@',type);
			//页面跳转
			window.location.href = url;
		});
	}else{
		var buyNums  = 1;
		var type = 'goods';
		if($('#product_id').val())
		{
			id = $('#product_id').val();
			type = 'product';
		}
		var url = SITE_URL + '{url:/simple/cart2/id/@id@/num/@buyNums@/type/@type@}';
		url = url.replace('@id@',id).replace('@buyNums@',buyNums).replace('@type@',type);
		//页面跳转
		window.location.href = url;
	}
}
</script>
{/if}
{if:$teacher_list}
<a name="school_teachers"></a>
<div class="classList">
	<div class="containe">
		<span class="biaoti">教师团队</span>
			{foreach:items=$teacher_list}
			{set: $count = sizeof( $item );}
			<?php
				if ( $count == 3)
					$width = 342;
				else if ( $count == 2 )
					$width = 513;
				else
					$width = 377;
			?>
			<ul class="classBox clearfix">
				{foreach:items=$item item=$val}
				<li class="classon0{$count}{if:$count == 1} clearfix{/if}">
					<a href="javascript:void(0);" class="classimg"><img src="{url:/pic/thumb/img/$val[icon]/w/$width/h/$width}" alt=" " class="classimg"></a>
					<div class="classDt clearfix">
						<h4>{$val['name']}</h4>
						<p class="f12 c9">{echo: strip_tags($val['description'])}</p>
						{if:$val['graduate'] != ''}
							<p class="f12 c6"><b>毕业于：</b>{$val['graduate']}</p>
						{/if}
						{if:$val['teaching_direction'] != ''}
							<p class="f12 c6"><b>授课方向：</b>{$val['teaching_direction']}</p>
						{/if}
					</div>
				</li>
				{/foreach}
			</ul>
			{/foreach}
	</div>
</div>
{/if}
<a name="contact_us"></a>
	     <li class="footers">
						<a href="tel:4001155477"><img src="/upload/pic/tel.jpg"></a>

					  <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2821518520&site=qq&menu=yes"><img src="/upload/pic/qq.jpg"></a>
		</li>
				 <div class="clearfix"></div>
<script type="text/javascript">
mui('body').on('tap', '.mui-pull-left', function(){
    window.location.href = SITE_URL + 'site/chit_show/id/' + this.id;
});
mui('body').on('tap', '.mui-seller', function(){
    window.location.href = SITE_URL + 'school/show/id/' + this.id;
});
function buy_now_ding_card(id, _input_dprice){
	var buyNums  = 1;
	//var type = 'chit';
	var url = '{url:/simple/cart2/id/5280/num/@buyNums@/type/product/statement/2/ischit/1/chitid/@chitid@}';
		url = url.replace('@chitid@',id).replace('@buyNums@',buyNums);
	var _input_stime = 1;
	url += '/stime/' + _input_stime;
	url += '/dprice/' + _input_dprice;
	window.location.href = 'http://www.lelele999.com' + url;
}
</script>
{if:$this->seller['address']}
<script src="http://webapi.amap.com/maps?v=1.3&key=2cd83299402829a3177894489a4cf556" type="text/javascript"></script>
<script type="text/javascript">
var map = new AMap.Map('container', {
  	resizeEnable: true,
    resizeEnable: true,
    center: [116.397428, 39.90923],
    zoom: 13,
    keyboardEnable: false
});
function geocoder() {
	AMap.service('AMap.Geocoder',function(){
	    var geocoder = new AMap.Geocoder();
	    geocoder.getLocation("{echo:join('',area::name($this->seller['province'],$this->seller['city'],$this->seller['area']))}{$this->seller['address']}", function(status, result) {
	        if (status === 'complete' && result.info === 'OK') {
	            geocoder_CallBack(result);
	        }
	    });
	});
}
function addMarker(i, d) {
    var marker = new AMap.Marker({
        map: map,
        position: [ d.location.getLng(),  d.location.getLat()]
    });
    var infoWindow = new AMap.InfoWindow({
        content: d.formattedAddress,
        offset: {x: 0, y: -30}
    });
    marker.on("mouseover", function(e) {
        infoWindow.open(map, marker.getPosition());
    });
}
function geocoder_CallBack(data) {
    var geocode = data.geocodes;
    for (var i = 0; i < geocode.length; i++) {
        addMarker(i, geocode[i]);
    }
    map.setFitView();
}
geocoder();
</script>
{/if}