#content {padding-top: 0px;}
.invalid-msg { font-size: 80%; }
.notice { font-size: 80%; height: 30px; line-height: 30px; text-align: center; color: red; }
.switch_method { width: 100%; text-align: center; }
.switch_method a { text-decoration: none; font-size: 80%; }
#mobileWay input { width: 55%; height: 25px; line-height: 25px;}
.form_table input.send_sms {
	padding: 0 10px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	background-color: #f2f2f2;
	color: #000;
	border-radius: 3px;
	text-decoration: none;
	border: 1px solid #c5c5c5;
	cursor: pointer;
	width: auto;
	font-size: 80%;
	width: auto;
}

#mobileWay input.send_sms {
	width: auto;
}

.form_table input.disable {
	color: #ccc;
}

.form_table .send_sms_notice {
	margin-top: 10px;
	background: url(/views/mobile/skin/blue/images/right.png) 0 3px no-repeat;
	background-size: 13px 13px;
	padding-left: 18px;
	display: none;
}

.t-left {
	float: left;
}

.t-right {
	float: right;
}

.fa-envelope-o, .fa-mobile-code {
	width: 12px;
	height: 16px;
	background: url(/views/mobile/skin/blue/images/mobile.png) center center no-repeat;
	background-size: 16px 16px;
}

.fa-mobile-code {
	background: url(/views/mobile/skin/blue/images/code.png) center center no-repeat;
	background-size: 16px 16px;
}

.fa-envelope-o:before, .fa-mobile-code:before {
	content: '';
}
