@charset "utf-8";
.pro-tab{background: #fff;height: 40px;border-bottom: 1px solid #c8c7cc;z-index:3;position:fixed;width:100%;height:39px;top:44px;left:0px;}
.pro-tab a{ line-height: 40px; text-align: center; width: 33%; font-size: .875rem; color: #666; display: block; float: left; }
.pro-tab a:last-child{width: 34%;}
.pro-tab-brand a,.pro-tab-brand a:last-child{ width: 20%; }
.mui-scroll-wrapper{ top: 90px; bottom: 51px; }
.mui-chit.mui-scroll-wrapper{ top: 44px; }
.mui-table-view{background:#f8f1e1;}
.mui-table-view-cell p{/* height: 40px; */line-height: 40px;width: 100%;/* white-space: normal; */color:#452300;}
.mui-table-view-cell .goodsprice{ color: #f60; margin-top: 5px; float:left;}
.card-list-box{}
.card-list-box .box{padding: 10px 15px;}
.card-list-box h5{padding: 0 0 10px 0;margin: 0;border-bottom: 1px solid #ddd;}
.card-list-box .mui-table-view{margin-top: 0;}
.card-list-box .mui-table-view:before{background: none;}
.card-list-box .mui-table-view-cell{position: relative;}
.card-list-box .mui-table-view-cell p{ height: auto; line-height: normal; }
.card-list-box .mui-media-object{ text-align: center; line-height: normal;background:url(../images/card.png); background-size:100px 100px;color: #fff; width: 80px;height: 80px;max-width: 100px; }
.card-list-box .mui-media-object .tochit{ font-size: 1.3rem; color: #fff; padding-top: 5px; }
.card-list-box .mui-media-object .tochit em{ font-size: 12px; margin-right: 2px; }
.card-list-box .mui-media-object .tobuy{ font-size: 12px; color: #fff; padding-top: 15px; }
.card-list-box .totip{ padding: 1px 3px; background: #ff8508; color: #fff; margin-right: 5px; font-size: 12px; border-radius: 3px; }
.card-list-box .totip-1{ background: #f23030;}
.card-list-box .mui-table-view-cell .tospec{ padding-top: 6px; color: #452300; font-size: 12px; }
.card-list-box .mui-table-view-cell .tospec-1{ color: #f23030; }
.card-list-box .mui-table-view-cell .buycard{ position: absolute; bottom: 20px;right: 20px;font-size: 12px; padding: 0 8px; border-radius: 10px; color: #de4002; border:1px solid #de4002; }
.card-list-box .mui-table-view-cell.mui-active .buycard{background: #08c;color: #fff; border:1px solid #08c;}
.card-list-box .mui-table-view-cell .limitnum{padding:10px 0;}
.card-list-box .mui-table-view-cell .maxprice{color:#f23030;}
.goods_image {float:left;width:30%;}
.goods_image img {max-width:100%;}
.mui-media-body{color:#0b2956;float:right;width:65%;}
.mui-media-body .goods_name {height:22px;color:#0b2956;font-size:.9rem;}
.mui-media-body .goods_keywords {font-size:.7rem;color:#472300;height:20px;}
.mui-media-body .goods_price {clear:both;padding-top:3px;padding-bottom:3px;}
.mui-media-body .goods_price .t-left {float:left;color:#ff9538;font-size:1rem;}
.mui-media-body .goods_price .t-right {float:right;font-size:.7rem;color:#472300;}
.mui-media-body .address {clear:both;line-height:20px;max-height:38px;font-size:.7rem;color:#472300;white-space:normal;}
.mui-seller { color: #825c3d; }
