@media only screen and (min-width:320px) and (orientation:portrait){  
    html{font-size:100%;}  
}  
@media only screen and (min-width:360px) and (orientation:portrait){  
    html{font-size:120%;}  
}  
@media only screen and (min-width:400px) and (orientation:portrait){  
    html{font-size:130%;} 
}  
  
@media only screen and (min-width:600px) and (orientation:portrait){  
    html{font-size:150%;}  
}
body{background:#fffae2;}
.mui-content{background:none;}
.service_warp{background:url(../images/service_bg.jpg) center top no-repeat;width:100%;background-size:100%;}
.service{width:100%;height:100%;padding-top:20px;background:url(../images/service_b_bg.jpg) center bottom no-repeat;background-size:100%;padding-bottom: 70px;}
.service h2{text-align: center;padding:10px 0;}
.service h2 img{width:50%;margin:0 auto;}
.service p{width:80%;margin:0 auto;padding:10px 0;color:#300000;font-size: 0.8rem;text-indent: 11%; }
.service p a{color:#a7064e;text-decoration: underline;}
.service p.position{background:url(../images/icon_position.png) left center no-repeat;background-size:8%;}
.service p.qq{background:url(../images/icon_qq.png) left center no-repeat;background-size:8%;}
.service p.email{background:url(../images/icon_mail.png) left center no-repeat;background-size:8%;}
.service p.tel{background:url(../images/icon_phone.png) left center no-repeat;background-size:8%;}
.service p.wx{background:url(../images/icon_weixin.png) left center no-repeat;background-size:8%;}
.service p.bus{background:url(../images/icon_bus.png) left 18px no-repeat;background-size:8%;line-height:180%;}
.service ul{width:80%;margin:0 auto;height:1%;overflow:hidden;}
.service ul li{ width:50%;float:left;text-align:center; }
.service ul li img{width:80%;}
.mui-bar .mui-btn-link{ color: #fff; }
.mui-bar .mui-icon-my{ font-size: 1.2rem; position: relative;top: 3px;width: 24px;height: 24px;padding-top: 0;padding-bottom: 0;font-style: normal;line-height: 1;z-index: 20;}
.mui-bar-tab .mui-tab-item .mui-icon-my~.mui-tab-label {font-size: 14px;display: block;overflow: hidden;text-overflow: ellipsis;}
.mui-bar-tab .mui-tab-item.mui-hot{ color: #ff3c00; }
.mui-bar-tab .mui-tab-item.mui-hot.mui-active{ color: #08c; }
.mui-bar-tab {padding-top:3px;}
.mui-bar-nav{ background:-webkit-linear-gradient(left,#ff9638,#ff4b2b);background:-o-linear-gradient(right,#ff9638,#ff4b2b);background:-moz-linear-gradient(right,#ff9638,#ff4b2b);background:linear-gradient(to right,#ff9638,#ff4b2b); color: #fff; box-shadow: none; }
.mui-bar-nav a.mui-action-back{ color: #fff; }
.mui-bar-nav .mui-title{ color: #fff; }
.mui-scroll-wrapper{ top: 50px; bottom: 51px; }
.mui-input-row label{font-family: "Microsort YaHei", "微软雅黑", 'Helvetica Neue',Helvetica,sans-serif; color: #666; font-size: .875rem;}
.mui-btn-block{ padding: 8px 0; }
.mui-checkbox input[type=checkbox],.mui-radio input[type=radio]{top: 10px;width: 20px;height: 20px;}
.mui-checkbox input[type=checkbox]:before,.mui-radio input[type=radio]:before{ font-size: 1.2rem; }
.mui-checkbox.mui-left label,.mui-radio.mui-left label{ padding-left: 38px; }
.mui-checkbox.mui-left input[type=checkbox],.mui-radio.mui-left input[type=radio]{left: 14px;}
.mui-textarea-row{ margin: 10px; }
.mui-table-view .mui-media-object{height: 80px;line-height: 80px;max-width: 80px;width: 80px;}

.lx-loading{ position: fixed; top: 50%; left: 50%; z-index: 999; width: 80px; height: 80px; margin-left: -40px; margin-top: -40px; border-radius: 10px;background: rgba(23, 23, 23, 0.6); text-align: center; line-height: 80px; }
.lx-loading i{ font-size: 2rem; color: #fff; }

.article-content{ padding-bottom: 40px; }
.reply-box{background-color: #ccc;padding: 8px 13px;position: fixed;bottom: 50px;left: 0px;z-index: 9999;width: 100%;}
.reply-box input[type=text] {width: 60%;border-radius: 8px;border: 0px;height: 25px;line-height: 25px;text-indent: 8px;outline: none;}
.reply-box input[type=submit]{height: 25px;line-height: 25px;color: #fff;background-color: #0093dd;text-align: center;padding: 0 15px;border: 0px;margin-left: 12px;border-radius: 5px;}
.mui-icon-my {width:45px;height:45px;display:block;text-align:center;}
.mui-tab-item {padding-top: 28px;padding-bottom: 2px;font-size:15px;}
.mui-bar-tab .home {background:url(/views/mobile/skin/blue/images/index_menu_home_0.png) center 3px no-repeat;background-size:22px 22px;}
.mui-bar-tab .gift {background:url(/views/mobile/skin/blue/images/index_menu_coupon_0.png) center 3px no-repeat;background-size:22px 22px;}
.mui-bar-tab .money {background:url(/views/mobile/skin/blue/images/index_menu_props_0.png) center 3px no-repeat;background-size:22px 22px;}
.mui-bar-tab .user {background:url(/views/mobile/skin/blue/images/index_menu_user_0.png) center 3px no-repeat;background-size:22px 22px;}
.mui-bar-tab .service {background:url(/views/mobile/skin/blue/images/index_menu_service_0.png) center 3px no-repeat;background-size:22px 22px;}
.mui-bar .mui-icon-my {margin-bottom:5px;}
.mui-bar-tab .mui-hot-home {background:url(/views/mobile/skin/blue/images/index_menu_home_1.png) center 3px no-repeat;background-size: 22px 22px;}
.mui-bar-tab .mui-hot-gift {background:url(/views/mobile/skin/blue/images/index_menu_coupon_1.png) center 3px no-repeat;background-size: 22px 22px;}
.mui-bar-tab .mui-hot-money {background:url(/views/mobile/skin/blue/images/index_menu_props_1.png) center 3px no-repeat;background-size: 22px 22px;}
.mui-bar-tab .mui-hot-user {background:url(/views/mobile/skin/blue/images/index_menu_user_1.png) center 3px no-repeat;background-size: 22px 22px;}
.mui-bar-tab .mui-hot-service {background:url(/views/mobile/skin/blue/images/index_menu_service_1.png) center 3px no-repeat;background-size: 22px 22px;}
.mui-bar-tab .mui-hot-home, .mui-bar-tab .mui-hot-gift, .mui-bar-tab .mui-hot-money, .mui-bar-tab .mui-hot-user,.mui-bar-tab .mui-hot-service {
  color: #ff3c00;
}