<style>
.ucenter .new-box dt {width: 120px;}
.ucenter .new-box .ntxt {width: 100px;}
.tabbox input {float: left;}
label.btn, label.btn_orange, label.btn_green, label.btn_gray, label.btn_gray_m, label.btn_gray_s, label.btn_orange2, label.btn_orange3 {margin-top:1px;}
</style>
<div class="main f_r">
	<div class="new-box">
		<div class="nt">
			<i class="icon-lock"></i>验证交易密码
		</div>
		<div class="tabbox">
			<form action='{url:/ucenter/check_trade_password_update}' method='post'>
      <dl class="clearfix">
        <dt>请输入交易密码：</dt>
        <dd>
          <input type='password' class="ntxt" name="trade_password" />
          <input type="hidden" name="order_id" value="{$this->order_id}" />
          <label class="btn"><input type="submit" value="确认" /></label>
        </dd>
      </dl>
			<dl class="clearfix">
				<dt>&nbsp;</dt>
				<dd></dd>
			</dl>
			</form>
		</div>
	</div>
</div>
