<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<script language="javascript">
var _send_sms_url = '{url:/ucenter/send_password_sms}';
</script>

<div class="main f_r">
	<div class="new-box">
		<div class="nt">
			<i class="icon-lock"></i>手机验证
		</div>

		<div class="menu">
			<ul>
				<li><a href="{url:/ucenter/info}"><i class="icon-user"></i>个人信息</a></li>
				<li><a href="{url:/ucenter/authentication}"><i class="icon-user"></i>实名认证</a></li>
				<li class="active"><a href="{url:/ucenter/passwordver}"><i class="icon-lock"></i>修改密码</a></li>
				<li><a href="{url:/ucenter/update_trade_password_ver}"><i class="icon-lock"></i>修改交易密码</a></li>
			</ul>
		</div>
		<div class="tabbox">
			<form action='{url:/ucenter/password_ver}' method='post'>
			<dl class="clearfix">
				<dt><span class="red">*</span> 手机号：</dt>
				<dd>
					<input class="ntxt" type="text" name='mobile' id="mobile" />
					<a href="javascript:;" class="nbtn" id="sendsms" onclick="sendMessage();">发送验证码</a>
                </dd>
			</dl>
			<dl class="clearfix">
				<dt><span class="red">*</span> 验证码：</dt>
				<dd><input type='text' class="ntxt" name="mobile_code" id="mobile_code" /></dd>
			</dl>
			<dl class="clearfix">
				<dt>&nbsp;</dt>
				<dd><label class="btn"><input type="submit" value="验证" /></label></dd>
			</dl>
			</form>
		</div>
	</div>
</div>
<script type='text/javascript' src="{theme:javascript/ucneter_passwordver.js}"></script>
