<link href="{skin:css/ucenter.css}" rel="stylesheet" type="text/css" />
<style>
.ucenter .new-box dt {width:120px;}
</style>
<div class="main f_r">
	<div class="new-box">
		<div class="nt">
			<i class="icon-lock"></i>修改交易密码
		</div>

		<div class="menu">
			<ul>
				<li><a href="{url:/ucenter/info}"><i class="icon-user"></i>个人信息</a></li>
				<li><a href="{url:/ucenter/authentication}"><i class="icon-user"></i>实名认证</a></li>
				<li><a href="{url:/ucenter/passwordver}"><i class="icon-lock"></i>修改密码</a></li>
				<li class="active"><a href="{url:/ucenter/update_trade_password_ver}"><i class="icon-lock"></i>修改交易密码</a></li>
			</ul>
		</div>

		<div class="tabbox">
			<form action='{url:/ucenter/update_trade_password_edit}' method='post'>
      <input type="hidden" name="order_id" value="{$this->order_id}" />
			<dl class="clearfix">
				<dt><span class="red">*</span> 交易密码：</dt>
				<dd>
					<input type='password' class="ntxt" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='repassword' />
					<label>密码由英文字母、数字组成，长度6-32位</label>
        </dd>
			</dl>

			<dl class="clearfix">
				<dt><span class="red">*</span> 确认交易密码：</dt>
				<dd>
					<input type='password' class="ntxt" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' />
					<label>密码由英文字母、数字组成，长度6-32位</label>
        </dd>
			</dl>

			<dl class="clearfix">
				<dt>&nbsp;</dt>
				<dd><label class="btn"><input type="submit" value="修改交易密码" /></label></dd>
			</dl>
			</form>
		</div>
	</div>
</div>
