<link href="{skin:css/cart.css}" rel="stylesheet" type="text/css" />
<style>
body,.mui-content,.mui-media {background-color:#fff;}
.mui-table-view-cell {border-bottom:8px solid #e2e2e2;}
.mui-table-view-cell p {color:#000;height:22px;line-height:22px;}
.mui-table-view-cell p.spec {color:#8c8c8c;}
.mui-table-view-cell .mui-media {padding-bottom: 10px;}
.mui-table-view .mui-media-object {width:65px;height:65px;margin-left: 5%;border:1px solid #ccc;}
.mui-table-view-cell p.price .market_price {margin-left:5%;color:#8f8f8f;text-decoration:line-through;}
.mui-media-footer {font-size:.8rem;color:red;padding: 0 5%;border-top: 1px solid #e4e4f0;line-height:30px;height:30px;text-align:right;}
</style>
{if:$cart_list}
<div class="list">
	<ul class="mui-table-view">
		{foreach:items=$cart_list}
	    <li class="mui-table-view-cell mui-media">
				<div class="mui-media-header">
					<div class='t-left'>{$item['shortname']}</div>
				</div>
	    	<img class="mui-media-object mui-pull-left" src="{url:/pic/thumb/img/$item[seller_logo]/w/60/h/60}">
    		<div class="mui-media-body" id="{$item['seller_id']}">
					<p>{$item['name']}</p>
					<p class="spec">{if:$item['use_times']}{$item['use_times']}课时{/if}</p>
					<p class="price">
						<span class="price" id="sum_{$item['goods_id']}_{$item['product_id']}">&yen;{$item['max_price']}</span>
						{if:$item['market_price']}<span class="market_price">{$item['market_price']}</span>{/if}
					</p>
    		</div>
    		<div class="cart-box">
    			<a href='javascript:removeCart("{$item[id]}");'><i class="icon-trash"></i></a>
    		</div>
				{if:sizeof($cart_list) > 1 && $item['max_price'] > $item['tc_price']}
				<div class="mui-media-footer">
					搭配其它课程一起购买，减{echo:$item['max_price'] - $item['tc_price']}元
				</div>
				{/if}
	    </li>
	    {/foreach}
	</ul>
</div>
{else:}
<div class="mui-content-padded">
	没有短期课，<a href="{url:/site/chit1}">去看看</a>
</div>
{/if}
{if: $cart_list}
<div class="cart-checkout">
		<div class="cart-checkbox">

		</div>
		<div class="cart-counter">
			  <p class="total-price">合计 : <em class="">&yen; {$count}</em></p>
		</div>
	  <a href="javascript:check_finish();" id="M_Checkout" class="ui-btn-pink">结算({$cart_count})</a>
 </div>
 {/if}

<script language="javascript">
//移除购物车
function removeCart(id)
{
	if ( id <= 0 )
	{
		mui.toast('参数不正确');
		return false;
	}

	var btnArray = ['否', '是'];
	mui.confirm('您确定要删除此短期课吗？', '提示信息', btnArray, function(e) {
			if (e.index == 1)
			{
				$.get("{url:/simple/remove_dqk_cart}",{"id":id,"random":Math.random()},function(result)
				{
					if ( result == '1')
						window.location.reload();
					else {
						mui.toast(result);
					}
				});
			}
	})
}

function check_finish()
{
	var ids = '{$ids}';
	if ( ids == '')
	{
		mui.toast('请先加入短期课');
		return false;
	} else {
		var _url = '{url:/site/create_brand_chit_zuhe/ids/@ids@}';
		_url = _url.replace('@ids@', ids);
		location.href = _url;
	}
}

$(document).ready(function(){
	$('.mui-media-body').click(function(){
		var _seller_id = $(this).attr('id');
		var url = '{url:/site/chit1_detail/id/@id@}';
		url = url.replace('@id@',_seller_id);
		location.href = url;
	})
})
</script>
