<link rel="stylesheet" type="text/css" href="{skin:css/simple.css}" />
<form id='login-form' class="mui-input-group">
    <div class="mui-input-rows">
        <input type="text" class="mui-input-clear mui-input" name="username" id="username" placeholder="用户名/手机号/邮箱">
    </div>
    <div class="mui-input-rows">
        <input type="text" class="mui-input" name="mobile" id="mobile" placeholder="请输入手机号">
        <a href="javascript:;" id="sendcode" class="sendcode">发送验证码</a>
    </div>
    <div class="mui-input-rows">
        <input type="text" class="mui-input-clear mui-input" name="mobile_code" id="mobile_code" placeholder="请输入手机验证码">
    </div>
</form>
<div class="mui-content-padded">
    <button id='find' class="mui-btn mui-btn-block mui-btn-primary">提交</button>
    </div>
</div>
<script language="javascript">
var default_time = 60;
var s_count = 60;
var send_status = true;
document.getElementById('sendcode').addEventListener('tap', function(){
    var mobile = document.getElementById('mobile').value;
    var username = document.getElementById('username').value;
    if ( s_count == default_time && send_status ){
        mui.get('{url:/simple/send_message_mobile}', {mobile: mobile, username: username}, function(res){
            if(res == 'success'){
                updateState();
                timer = setInterval(function(){
                    updateState();
                }, 1000);
            }else{
                mui.toast(res);
            }
        });
    }
});

function updateState(){
    if ( s_count > 0 ){
        s_count--;
        send_status = false;
        document.getElementById('sendcode').innerText = s_count + ' s后重新发送';
    } else {
        s_count = default_time;
        send_status = true;
        clearInterval(timer);
        document.getElementById('sendcode').innerText = '重新发送验证码';
    }
}

document.getElementById('find').addEventListener('tap', function(){
    var username = document.getElementById('username').value,
        mobile = document.getElementById('mobile').value,
        mobile_code = document.getElementById('mobile_code').value;
    if(username == ''){
        mui.toast('请输入用户名');
        return false;
    }
    if(mobile == ''){
        mui.toast('请输入密码');
        return false;
    }
    if(mobile_code == ''){
        mui.toast('请输入手机验证码');
        return false;
    }
    mui.post('{url:/simple/find_password_mobile_ajax}', {username: username, mobile: mobile, mobile_code: mobile_code}, function(json){
        if(json.status == 1){
            window.location.href = json.str;
        }else{
            mui.toast(json.message);
        }
    }, 'json');
});
</script>
