<link rel="stylesheet" type="text/css" href="{skin:css/simple.css}" />
<form id='reg-form' class="mui-input-group">
    <div class="mui-input-row">
        <label>密码</label>
        <input type="password" class="mui-input-clear mui-input" name="password" id="password" placeholder="请输入密码">
    </div>
    <div class="mui-input-row">
        <label>确认密码</label>
        <input type="password" class="mui-input-clear mui-input" name="repassword" id="repassword" placeholder="再次输入密码">
    </div>
</form>
<div class="mui-content-padded">
    <button id='restore' class="mui-btn mui-btn-block mui-btn-primary">提交</button>
</div>
<script language="javascript">
document.getElementById('restore').addEventListener('tap', function(){
    var password = document.getElementById('password').value,
        repassword = document.getElementById('repassword').value;
    if(password != repassword){
        mui.toast('两次密码不一致');
        return false;
    }
    mui.post('{url:/simple/do_restore_password_ajax}', {user_id: '{$user_id}',password: password, repassword: repassword, hash: '{$hash}', type: '{$type}'}, function(json){
        if(json == '1'){
            window.location.href = '{url:/simple/login}' + '?&callback={url:/ucenter/index}';
        }else{
            mui.toast(json.message);
        }
    }, 'json');
});
</script>
