html,body{height:100%;background-color:#fff;}
.mui-content {background-color:#fff;}
.card-list-box .mui-media-object {background:url(/views/mobile/skin/blue/images/cart_bg.png) 0 0 no-repeat;background-size:100% 100%;}
.card-list-box .mui-media-object .tochit,.card-list-box .mui-media-object .tobuy {color:#de2b02;}
.card-list-box .totip {background-color:#ff8508;padding-left: 5px;padding-right:5px;}
p {color:#de2b02;}
.card-list-box .mui-table-view-cell .delcart {background-color:#fff;border:1px solid #ff4b2b;color:#ff4b2b;right:70px;padding: 0px 12px;}
.card-list-box .mui-table-view-cell .editcard {background:linear-gradient(to right,#ff9638,#ff4b2b);border:1px solid #ff4b2b;color:#fff;padding: 0px 12px;}
.mui-btn-primary {width:90%;background-color:#fff;border:1px solid #ff4b2b;color:#df4102;border-radius:5px;}
.mui-btn-blue.mui-active:enabled, .mui-btn-blue:enabled:active, .mui-btn-primary.mui-active:enabled, .mui-btn-primary:enabled:active, input[type=submit].mui-active:enabled, input[type=submit]:enabled:active {background-color:#fff;border:1px solid #ff4b2b;color:#df4102;}
