{js:artTemplate}
{js:kindeditor}
{js:my97date}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=QDA0aO9Dw8tVx22vuULQuGXOGFV5a5ZD"></script>
<style>
.hide { display: none; }
input.normal, select.normal { height: 30px; }
.form_table { width: 60%; }
#allmap { width: 700px; height: 400px; }
</style>

<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>学校管理</span><span>></span><span>学校认证</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/member/seller_add}" method="post" name="sellerForm" enctype='multipart/form-data'>
			<input name="id" value="" type="hidden" />

			<table class="form_table" id="mobileWay">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>

				<tbody>
					<tr>
						<th>所属学校：</th>
						<td>
							<select class="auto" name="seller_id">
								{query:name=seller where=is_del eq 0}
								<option value="{$item['id']}"{if:$item['id'] == $this->sellerRow['id']} selected{/if}>{$item['true_name']}-{$item['seller_name']}</option>
								{/query}
							</select>
						</td>
					</tr>
					<tr>
						<th>登录密码：</th>
						<td><input class="normal" name="password" type="password" value="" />
							<label>*</label>
						</td>
					</tr>
					<!--<tr>
						<th>登陆用户名：</th>
						<td><input class="normal" name="seller_name" type="text" value="" pattern="required" alt="用户名不能为空" /><label>* 用户名称（必填）</label></td>
					</tr>
					<tr>
						<th>商户真实全称：</th>
						<td><input class="normal" name="true_name" type="text" value="" pattern="required" /><label>* 用户名称（必填）</label></td>
					</tr> -->

					<tr>
						<th>营业执照：</th>
						<td>
							<input type='file' name='paper_img' />
							{if:isset($this->sellerRow['paper_img']) && $this->sellerRow['paper_img']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['paper_img']}"><img src='{webroot:}{$this->sellerRow['paper_img']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>营业执照号码：</th>
						<td><input class="normal" name="papersn" type="text" value="" /></td>
					</tr>
					<tr>
						<th>法人代表：</th>
						<td><input type="text" class="normal" name="legal" value="{$this->sellerRow['legal']}" /></td>
					</tr>
					<tr>
						<th>法人身份证号码：</th>
						<td><input type="text" class="normal" name="cardsn" value="{$this->sellerRow['cardsn']}" /></td>
					</tr>
					<tr>
						<th>法人身份证正面：</th>
						<td>
							<input type='file' name='upphoto' />
							{if:isset($this->sellerRow['upphoto']) && $this->sellerRow['upphoto']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['upphoto']}"><img src='{webroot:}{$this->sellerRow['upphoto']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>法人身份证背面：</th>
						<td>
							<input type='file' name='downphoto' />
							{if:isset($this->sellerRow['downphoto']) && $this->sellerRow['downphoto']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['downphoto']}"><img src='{webroot:}{$this->sellerRow['downphoto']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>联系人：</th>
						<td><input type="text" class="normal" name="contacter" value="{$this->sellerRow['contacter']}" /></td>
					</tr>
					<tr>
						<th>联系人身份证号码：</th>
						<td><input type="text" class="normal" name="contactcardsn" value="{$this->sellerRow['contactcardsn']}" /></td>
					</tr>
					<tr>
						<th>联系人身份证正面：</th>
						<td>
							<input type='file' name='cupphoto' />
							{if:isset($this->sellerRow['cupphoto']) && $this->sellerRow['cupphoto']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['cupphoto']}"><img src='{webroot:}{$this->sellerRow['cupphoto']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>联系人身份证背面：</th>
						<td>
							<input type='file' name='cdownphoto' />
							{if:isset($this->sellerRow['cdownphoto']) && $this->sellerRow['cdownphoto']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['cdownphoto']}"><img src='{webroot:}{$this->sellerRow['cdownphoto']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>账户：</th>
						<td>
							<select name="accounttype" onchange="getAu(this)">
								<option value="1"{if:$this->sellerRow['accounttype'] == 1} selected{/if}>法人账户</option>
								<option value="2"{if:$this->sellerRow['accounttype'] == 2} selected{/if}>负责人账户</option>
								<option value="3"{if:$this->sellerRow['accounttype'] == 3} selected{/if}>机构账户</option>
							</select>
						</td>
					</tr>
					<tr id="authorization" style="{if:$this->sellerRow['accounttype'] != 2}display:none;{/if}">
						<th>授权书：</th>
						<td>
							<input type='file' name='authorization' />
							{if:isset($this->sellerRow['authorization']) && $this->sellerRow['authorization']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['authorization']}"><img src='{webroot:}{$this->sellerRow['authorization']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>账户类型：</th>
						<td>
							<select name="bank" onchange="getBank(this)">
								<option value="1"{if:$this->sellerRow['bank'] == 1} selected{/if}>银行</option>
								<option value="2"{if:$this->sellerRow['bank'] == 2} selected{/if}>支付宝</option>
							</select>
						</td>
					</tr>
					<tbody id="bank" style="{if:$this->sellerRow['bank'] != 1}display:none;{/if}">
						<tr>
							<th>开户行：</th>
							<td><input type="text" class="normal" name="bankname" value="{$this->sellerRow['bankname']}" /></td>
						</tr>
						<tr>
							<th>姓名：</th>
							<td><input type="text" class="normal" name="accountname" value="{$this->sellerRow['accountname']}" /></td>
						</tr>
						<tr>
							<th>卡号：</th>
							<td><input type="text" class="normal" name="account" value="{$this->sellerRow['account']}" /></td>
						</tr>
					</tbody>
					<tbody id="alipay" style="{if:$this->sellerRow['bank'] != 2}display:none;{/if}">
						<tr>
							<th>姓名：</th>
							<td><input type="text" class="normal" name="alipayname" value="{$this->sellerRow['alipayname']}" /></td>
						</tr>
						<tr>
							<th>支付宝帐号：</th>
							<td><input type="text" class="normal" name="alipaysn" value="{$this->sellerRow['alipaysn']}" /></td>
						</tr>
					</tbody>
					{if:$this->sellerRow['mobile']}
					<tr>
						<th>安全手机号码：</th>
						<td>{$this->sellerRow['mobile']}</td>
					</tr>
					{/if}
					<tr>
						<th>是否开通：</th>
						<td>
							<label class='attr'><input type='radio' name='is_lock' value='0' checked='checked' />开通</label>
							<label class='attr'><input type='radio' name='is_lock' value='1' />锁定</label>
							<label>锁定后商户无法登陆进行管理</label>
						</td>
					</tr>
					<tr>
						<th>是否VIP：</th>
						<td>
							<label class='attr'><input type='radio' name='is_vip' value='0' />否</label>
							<label class='attr'><input type='radio' name='is_vip' value='1' checked='checked' />是</label>
						</td>
					</tr>
					<tr>
						<th>是否认证：</th>
						<td>
							<label class='attr'><input type='radio' name='is_authentication' value='1' checked />是</label>
							<label class='attr'><input type='radio' name='is_authentication' value='0' />否</label>
							<label>未认证商户无法上架课程</label>
						</td>
					</tr>
					<tr>
						<th>认证锁定：</th>
						<td>
							<label class='attr'><input type='radio' name='is_auth' value='1' checked />锁定</label>
							<label class='attr'><input type='radio' name='is_auth' value='2' />取消</label>
							<label>认证完成以后商家不能再修改资料</label>
						</td>
					</tr>
					<tr>
						<td></td><td><button class="submit" type="submit"><span>提交认证</span></button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script language="javascript">
//DOM加载完毕
$(function()
{
//修改模式
{if:$this->sellerRow}
var formObj = new Form('sellerForm');
formObj.init({echo:JSON::encode($this->sellerRow)});

//锁定字段一旦注册无法修改
if($('[name="id"]').val())
{
	var lockCols = ['seller_name'];
	for(var index in lockCols)
	{
		$('input:text[name="'+lockCols[index]+'"]').addClass('readonly');
		$('input:text[name="'+lockCols[index]+'"]').attr('readonly',true);
	}
}
{/if}

//地区联动插件
var areaInstance = new areaSelect('province');
areaInstance.init({echo:JSON::encode($this->sellerRow)});
});

function getAu(obj){
	if($(obj).val() == 2){
		$('#authorization').show();
	}else{
		$('#authorization').hide();
	}
}

function getBank(obj){
	if($(obj).val() == 1){
		$('#bank').show();
		$('#alipay').hide();
	}else if($(obj).val() == 2){
		$('#bank').hide();
		$('#alipay').show();
	}else{
		return;
	}
}

var default_time = 60;
var s_count = 60;
var send_status = true;

//发送短信码
function sendMessage()
{
	var username = $('#mobileWay [name="username"]').val();
	var mobile   = $('#mobileWay [name="mobile"]').val();
	var myreg = /^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/;

	if ( username == '' )
	{
		$('#mobileWay').submit();
		return false;
	}
	if(!myreg.test(mobile))
	{
		$('#mobileWay').submit();
		return false;
	}

	if ( s_count == default_time && send_status )
	{
		$.get("{url:/simple/send_reg_sms}",{"mobile":mobile,"type":2},function(content){
			if(content == 'success')
			{
				update_sms_status();
				time = setInterval(function(){
					update_sms_status();
				}, 1000);
				$('#mobileWay .send_sms').addClass('disable');
				$('.form_table .send_sms_notice').show();
			}
			else
			{
				alert(content);
				return;
			}
		});
	}
}

function update_sms_status()
{
	if ( s_count > 0 )
	{
		s_count--;
		send_status = false;
		$('#mobileWay .send_sms').attr('disabled',"true");
		$('#mobileWay .send_sms').val('重新发送验证码(' + s_count + ' s)');
		$('#mobileWay .send_sms').css('cursor', 'wait');
	} else {
		s_count = default_time;
		send_status = true;
		clearInterval(time);

		$('#mobileWay .send_sms').val('重新发送验证码');
		$('#mobileWay .send_sms').removeAttr("disabled");
		$('#mobileWay .send_sms').removeClass('disable');
		$('#mobileWay .send_sms').css('cursor', 'pointer');
	}
}
</script>
