<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div class="headbar">
	<div class="position"><span>提现管理</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="{url:/member/withdraw_recycle/type/del}"><button onclick="location='{url:/member/withdraw_recycle/type/del}';" class="operating_btn" type="button"><span class="recycle">回收站</span></button></a>
	</div>
</div>
<div class="content">
	<form action="{url:/member/withdraw_update/type/del}" method="post">
		<table class="list_table">

			<thead>
				<tr>
					<th>选择</th>
					<th>用户名</th>
					<th>余额</th>
					<th>提现金额</th>
					<th>时间</th>
					<th>户名</th>
					<th>状态</th>
					<th>验证</th>
					<th>操作</th>
				</tr>
			</thead>

			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=withdraw as w join=left join member as m on w.user_id eq m.user_id left join user as u on u.id eq w.user_id where=is_del eq 0 page=$page order=id desc fields=w.*,u.username,m.balance}
				<tr>
					<td><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td>{$item['username']}</td>
					<td>{$item['balance']}</td>
					<td>{$item['amount']} 元</td>
					<td>{$item['time']}</td>
					<td>{$item['name']}</td>
					<td>{echo:AccountLog::getWithdrawStatus($item['status'])}</td>
					<td>{if:$item['is_sign']}<b class="blue">已验证</b>{else:}<b class="orange">未验证</b>{/if}</b></td>
					<td>
						<a href='{url:/member/withdraw_detail/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="查看" title="查看" /></a>
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/member/withdraw_update/type/del/id/$item[id]}',msg:'确定要把此信息放入到回收站么？'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
